[2021-12-27 08:21] vijay-singh-16 commented on #11793
Yes, we have tried this.
Even we tried to create fresh quasar v2 project and only added authentication module (having  @openid/appauth dependency)  to it, still we get the same build error.

[2021-12-27 10:37] TobyMosque commented on #11793
The new electron versions disable the node modules in the renderer process, in this case u'd two options:

1 - enable the nodeintegration (not recommended).
https://www.electronjs.org/docs/latest/tutorial/security#2-do-not-enable-nodejs-integration-for-remote-content

2 - move any service who relies in node modules to the preload script
https://quasar.dev/quasar-cli/developing-electron-apps/electr

[2021-12-27 13:57] florin-rotaru opened #11794 "QBtn type button => submit"
**QBtn of type button should or shouldn't trigger the QForm submit action ?**

Seems that with version 2.4.1 (possible even earlier ones after 2.3.4) by clicking a QBtn of type button will trigger the QForm submit action.

**Codepen**
[https://codepen.io/florin-rotaru/pen/yLzparG](https://codepen.io/florin-rotaru/pen/yLzparG)

**Platform (please complete the following information):**
Quasar Versio

[2021-12-27 15:23] rstoenescu commented on #11794
Hi,

Whatever the browser behavior is with native `<button>`s so is Quasar's. At its base, QBtn's type prop is set as attribute to the native rendered `<button>`. The only comment I have with your codepen is that QBtn has implicit type="button", so specifying it as "button" is redundant.

[2021-12-27 15:27] rstoenescu commented on #11794
And what I mean by "native behavior" is:

[code]

[2021-12-27 15:34] rstoenescu commented on #11793
Toby is spot on. Approach no. 2 is recommended. This is a change in behavior done by the Electron team, and we're just following their recommendations.

[2021-12-27 15:34] #11793 closed, assigned to nobody

[2021-12-27 15:48] rstoenescu commented on #11794
Hmm, missed one important thing in regards to the native behavior. That if we render the redundant `type="button"` then the browser actually hinders the submit behavior. So Quasar should actually add the type=button attribute.

[2021-12-27 15:50] rstoenescu commented on #11794
Enhancement will be available in Quasar v2.4.2.

[2021-12-27 15:50] #11794 closed, assigned to nobody

[2021-12-27 16:24] rstoenescu commented on #9829
Enhancement will be available in Quasar v2.4.2 and v1.17

[2021-12-27 16:24] #9829 closed, assigned to pdanpdan

[2021-12-27 18:54] rstoenescu commented on #11754
Fix will be available in Quasar v2.4.2.
Not a docs one. `options-value` should not care about the value being `null`, so leave it as is and upgrade to v2.4.2 (to be released shortly).

[2021-12-27 18:54] #11754 closed, assigned to nobody

[2021-12-28 01:39] joshbuker opened #11801 "Add Vue 3 to Github Topics"
The Github topics include `vue2` but not `vue3`. With Quasar v2, it now supports Vue 3 so it would make sense to add `vue3` and `vuejs3` as topics as well.

![Repo Metadata](https://user-images.githubusercontent.com/1802598/147518324-1c057bd6-9083-49f0-9c3e-e62c5aa3e062.png)

Doesn't matter all that much, but it should also take only a few seconds to update.

[2021-12-28 04:05] kevinsimm commented on #11564
Can anyone help. I also faced the same situation :(

[2021-12-28 05:56] vijay-singh-16 commented on #11793
Thanks @TobyMosque and @rstoenescu.
Your replies made us try some other options which finally got the app working again with Quasar v2. Though we will be doing more testing of the app but I want to share the thing we currently opted to make the app work.

In the quasar.conf.js we added

`chain.resolve.alias.set('child_process', false);`

like this:

[code]

@TobyMosque, currently we are not target

[2021-12-28 08:41] freakzlike commented on #11654
What is the error message you are facing?

Maybe this issue https://github.com/quasarframework/quasar/issues/11683?

[2021-12-28 10:38] Tofandel commented on #6775
I don't think this issue should be closed, there really isn't a lot of conflicts and they could easily be fixed by dropping the `!important` keyword on the display helpers
Adding a prefix to all tailwind classes is a painful solution and having quasar and tailwind complete each other would really be nice

[2021-12-28 10:41] CamilleDrapier opened #11804 "Potential memory leak when hiding components early."
**Describe the bug**

When toggling the visibility of some quasar component's parent just after/while they are rendered, we see that the memory used by said component is not freed after un-render. This seems to be affecting at least q-menu and q-img and especially when they are rendered under "keep-alive", but might affect more components/scenarios.

**Codepen/jsFiddle/Codesandbox (required or you

[2021-12-28 10:49] Tofandel commented on #6775
I have found that a workaround is possible with tailwind by adding `!` in front of the class to apply the important keyword

Like `!hidden md:!block`

Might be worth documenting somewhere

[2021-12-28 10:56] pdanpdan commented on #11753
Cannot this be already done using the inner classes of QToggle?
https://codepen.io/pdanpdan/pen/XWeVPbY

[2021-12-28 12:47] Aerkante opened #11809 "rules span broke template"
When you put a rule to a label, it reversed a space below input. If you working with flex box, they are broke other inputs and misalign entire form

[2021-12-28 12:50] MilosPaunovic commented on #11809
Please use [Discussions](https://github.com/quasarframework/quasar/discussions) for this kind of stuff, and, even more importantly, provide a Codepen reproduction so someone could help with your issue.

[2021-12-28 12:50] pdanpdan commented on #11809
Hello, please check the docs, and use discord or discussions for help requests.
And when you seek for help please provide info and a reproduction

[2021-12-28 12:50] #11809 closed, assigned to nobody

[2021-12-28 14:05] iliubinskii opened #11810 "Tooltip does not hide when you open menu or start dragging item"
**Describe the bug**

Tooltip does not hide when you open menu or start dragging item

**Codepen/jsFiddle/Codesandbox (required or your issue may be closed)**

https://codepen.io/ilyalyu/pen/YzrYRJB

**To Reproduce**
Steps to reproduce the behavior:
1. Go to above link
2. Wait for tooltip
3. Click on the button
4. See that tooltip did not disapper and even more - it is above menu

**Expected behav

[2021-12-28 14:49] hawkeye64 commented on #11801
Unfortunately, discussions only allow 10 topics and we are at the limit.

[2021-12-28 14:49] #11801 closed, assigned to nobody

[2021-12-28 14:49] pdanpdan commented on #11810
There is no relation between the tooltip and a menu that will show up. There is no logical generic rule that we can think of that could create a relationship between them.
An tooltips have a higher z-index than menus, that is by design.
What you can do, if you know your specific case, is to use a model for the tooltip and hide it when the menu shows.

[2021-12-28 14:49] #11810 closed, assigned to nobody

[2021-12-28 14:50] hawkeye64 commented on #11801
Oops, I see what you mean. Will add momentarily.

[2021-12-28 14:52] hawkeye64 commented on #11801
I had to remove the Vue2 and Vuejs2 as only 20 topics are allowed. :(
I added the Vue3 and Vuejs3 equivalents.

[2021-12-28 15:01] joshbuker commented on #11801
Didn't realize they capped it at 20, but I suppose otherwise you'd run into the same issues SEO did with keyword spam...

I wonder if it would be worth the time and effort min-maxing the keywords for optimal discoverability? 🤔 Probably not, tbh...

Anyway, thanks for updating that!

[2021-12-28 17:13] amitgur opened #11814 "capacitor can't work with secure context because of quasar overide of https to http"
**Describe the bug**
When working with capacitor with [Secure Context](https://developer.mozilla.org/en-US/docs/Web/Security/Secure_Contexts) , for example navigator.getUserMedua, capacitor should be served through localhost/https. As this configuration cannot run though localhost, webpack-dev-server is created with the phone ip to serve the application from the connected mobile phone.
devServer d

[2021-12-28 17:28] fabriste opened #11816 "Misleading statement in upgrade guide"
I've started to upgrade my app to v2 and i found something in the documentation that could be misleading, right [here](https://quasar.dev/start/upgrade-guide#introduction) :  the text about composition API & option API says : `"[...]This does NOT mean that you can’t use the legacy Options API" `
Actually it have been said by the Vuejs team that the Option API is not a legacy nor will be deprecated

[2021-12-28 17:32] pdanpdan commented on #11816
PR's are welcome

[2021-12-28 17:32] #11816 closed, assigned to nobody

[2021-12-28 17:35] damms005 commented on #6775
@Tofandel I think you did not check the document linked [in my comment](https://github.com/quasarframework/quasar/issues/6775#issuecomment-997511258)

I don't know what your use-case is, but for the standard Tailwind deployment, simply adding the `prefix` option to your Tailwind config does the magic

[2021-12-28 18:27] Tofandel commented on #6775
It's not about adding the option, it's about developping with a prefix, it makes it a lot more error prone because you never know which prefix to put where. It also very hard to do for an existing app (imagine having to replace 5000 classes...)

[2021-12-28 18:39] damms005 commented on #6775
Sorry. My bad. I linked the wrong article but gave the wrong explanation! Well, your bad too, you should read the linked documentation :)

Anyways. You are not prefixing anything. The linked article clearly states that you specify a CSS selector that is used automatically for your generated Tailwind CSS file

[2021-12-28 18:43] damms005 commented on #6775
So, usually, the selector will wrap your document root. E.g. `.container`, `.tailwind-container` or even `body` tag. Whatever wraps your Tailwind comfortably for your use-case. Then you put the Selector for this same wrapper into your Tailwind config file. Then when your CSS is generated, [Tailwind's shiny brand new JIT engine](https://v2.tailwindcss.com/docs/just-in-time-mode) will intelligently

[2021-12-28 18:44] Tofandel commented on #6775
Well in that case that doesn't solve the issue, specificity doesn't solve the fact that quasar uses !important and tailwind doesn't in the conflicting selectors

[2021-12-28 18:46] damms005 commented on #6775
Please note that my response to OP is directed at solving OP's specific use case and also adding my voice to the solutions already provided on this page; and they all achieve OP's aim perfectly well.

You may need to open another issue if your aim is not to have Tailwind CSS' style applied to your components instead of Quasar's (which is what my suggested approach provides, together with other app

[2021-12-28 18:50] Tofandel commented on #6775
And I just highlighted that your suggested solution exactly doesn't do what OP is asking
See
[code]

Notice how quasar uses important and tailwind doesn't. Hence your solution cannot work for those cases which is exactly what we are after, and that I also gave a workaround that does just that by adding a `!` in front of conflicting classes

[2021-12-28 20:24] iliubinskii opened #11818 "Add "disable" prop to q-tooltip"
**Is your feature request related to a problem? Please describe.**

I want to disable all tooltips during drag operation.

I don't like to use v-if for this because it will destroy and create tooltip components each time.
I get error if I add v-show.
If I use v-model it will break default mechanism of showing tooltip, which is not desired.
Keep alive also did not work - with keep alive tooltip con

[2021-12-28 20:35] rstoenescu commented on #11816
@fabriste Once in a while there is a ticket that boils my blood. This is one of them.

How is it not legacy since if you read Vue 3's source code and look through its history you will see that the Options API was added after the Composition API. There are also code comments in Vue 3 which clearly state "legacy Options API". Furthermore, the Options API is the one being "additive" on top of the Com

[2021-12-28 20:41] rstoenescu commented on #11818
Hi,

You've got nothing to worry about the component being destroyed and recreated. The component itself is very smart and does not renders the content when it's closed anyway. The "overhead" is really negligible, especially with Vue 3. Which is why we haven't added the "disable" prop...

[2021-12-28 20:41] #11818 closed, assigned to nobody

[2021-12-28 21:24] fabriste commented on #11816
Hi @rstoenescu first of all chill out i've came with my arguments to the discussion, you bring yours and i'm open to the discussion, you learned me multiple thing about vue3 source code that i haven't read yet. I'm aware of the possibilities that bring Composition API, but i did not saw any announcements by the official vuejs team, saying that Option API would be legacy in the future so my stateme

[2021-12-29 07:10] damms005 commented on #6775
Are you aware that your example above is inconsequential because a selector with a higher specificity overrides `!important` declarations? It does not matter that Quasar uses `!important` in their style declarations, because the higher specificity introduced by prefixing your Tailwind classes overrides Quasar's `!important` declarations.

If you choose to argue instead of getting results, then I'l

[2021-12-29 08:02] rstoenescu commented on #11767
Fix will be available in Quasar v2.4.3 & v1.17.0

[2021-12-29 08:02] #11767 closed, assigned to nobody

[2021-12-29 08:46] rstoenescu commented on #11804
I believe this is a Vue 3 issue in regards to the keep alive component, because I can reproduce the issue without using any Quasar components.

Would you be so kind to report this to the Vue repository? In the reproduction repo for them, avoid using any Quasar components (so as to demonstrate the problem is indeed in Vue).

[code]

[code]

[code]

[2021-12-29 08:46] rstoenescu commented on #11804
Please feel free to reopen if I missed something.

[2021-12-29 08:48] zhanlizhu530 opened #11824 "use q-select in q-dialog, select option throw error: Uncaught RangeError: Maximum call stack size exceeded"
detail error:
Uncaught RangeError: Maximum call stack size exceeded.
    at eval (quasar.esm.prod.js?9b77:5)
    at addFocusFn (quasar.esm.prod.js?9b77:5)
    at F (quasar.esm.prod.js?9b77:5)
    at Array.H (quasar.esm.prod.js?9b77:5)
    at HTMLBodyElement.trigger$1 (quasar.esm.prod.js?9b77:5)
    at eval (QDialog.js?24e8:260)
    at addFocusFn (focus-manager.js?f6ba:23)
    at focus (QDialog.js?

[2021-12-29 08:53] pdanpdan commented on #11824
Please read this and fill more details: https://github.com/quasarframework/quasar/issues/8469

[2021-12-29 08:56] rstoenescu commented on #11824
https://codepen.quasar.dev https://jsfiddle.quasar.dev https://codesandbox.quasar.dev -- Pick one pls

[2021-12-29 10:25] Tofandel commented on #5787
Could we maybe have something natively in quasar that implements this behavior, like a open-on-hover prop ?
I feel this is something worth adding

[2021-12-29 13:53] rstoenescu commented on #11481
Fix will be available in Quasar v1.17.0

[2021-12-29 13:53] #11481 closed, assigned to nobody

[2021-12-29 14:40] rstoenescu commented on #11585
The example is not correct. Quasar works correctly.
Fix for the docs example will be available on next docs deployment.

[2021-12-29 14:40] #11585 closed, assigned to nobody

[2021-12-29 17:18] MatthewSH opened #11830 "PWA iOS - Fast clicking on QInput with native date or time type can lock application."
This bug occurred originally when our QA was swapping back and forth between fields doing some testing. The entire page locked up except for that single field. It wouldn't let us hit any buttons, swipe, or anything. No other events fired.
We could replicate it by filling in some dummy info on the field above it and/or below it and clicking it over and over, sometimes it will work with a continuous

[2021-12-29 21:43] joshbuker opened #11832 "QLinearProgress animation-speed default doesn't match actual value"
The animation speed default value in the docs is `300ms`, but the actual value is `2100`.

I looked at how the defaults are being loaded in, and it's some witchcraft that I would need more time to unravel. I figure it would be faster to just show whats going on and let someone more familiar with the project take a stab.

- https://quasar.dev/vue-components/linear-progress#qlinearprogress-api
- htt

[2021-12-29 22:03] rstoenescu commented on #11832
Thanks for reporting!
Fix will be available in Quasar v2.4.3

[2021-12-29 22:03] #11832 closed, assigned to nobody

[2021-12-29 23:28] CamilleDrapier commented on #11804
Thanks a lot for looking into this!

I tried reproducing the problem with only simple HTML components, but couldn't see the same memory increase I could observe with q-menu or q-img.

For example, if I compare the memory snapshots with Chrome on the `keep-alive-span` (based on your suggestion) and `keep-alive-menu` branches of the repo I created for this issue, here is what I observe when measurin

[2021-12-30 00:26] angelhdzmultimedia opened #11837 "[BUG?] Data not deleted in QTable's "Handling Bottom Layer" section in Quasar Website"
### Link
[https://quasar.dev/vue-components/table#handling-bottom-layer](url)

### Description
Toggling the **Fill with data** QToggle in the _"Handling Bottom Layer"_ section of the QTable documentation in Quasar website, fails to delete the data to test the "Hide No data" toggle to hide the No Data Slot.

[2021-12-30 01:54] #11837 closed, assigned to nobody

[2021-12-30 01:55] rstoenescu commented on #11837
Fix to docs example will be available on next deployment.

[2021-12-30 01:58] rstoenescu commented on #11804
I understand your concerns, but like I said, I can reproduce it without using any Quasar components too...
Don't have anything actionable here unless someone has any ideas.

[2021-12-30 02:48] dajuanmao0224 opened #11839 "How do I close the drawer during initialization"
Dear author:
I am a beginner and am using  framework, the version is Quasar Framework v2.3.4.

I tried to build a drawer，Very smooth.
But when I want it to be closed by default in the initial state, it will not take effect anyway.
confirm that I will "const drawerright = Vue.ref(flase)" is set to false, it will still be changed to true.

Finally, I changed "v-model="drawerRight"" to "v-if="drawerR

[2021-12-30 02:50] #11839 closed, assigned to nobody

[2021-12-30 04:40] avesus commented on #4641
What is the purpose of Quasar doing this?

[2021-12-30 07:39] CamilleDrapier commented on #11804
Thank you, I tried running this on my Windows computer, just in case it was showing different results, but it seemed to behave the same way as I have described this so far.

Just in case I have not been explaining some part of the reproduction steps well, I made a small recording of what I did to show the problem when running the small project in both the "keep-alive-span" branch (no quasar compon

[2021-12-30 09:18] CodeSengel opened #11845 "TypeError: Cannot read properties of undefined (reading 'version')"
when i type quasar dev in order to launch my quasar project  i am getting this error :

[userpath]\node_modules\@quasar\app\lib\helpers\banner.js:5
const quasarVersion = getPackageJson('quasar').version
[  TypeError: Cannot read properties of undefined (reading 'version') ...

[2021-12-30 09:21] CodeSengel commented on #11845
Solved the issue by :

1 - deleting the content of node_modules folder inside my project folder
2 - running the command : npm install quasar

and the command will work again.

[2021-12-30 09:22] #11845 closed, assigned to nobody

[2021-12-30 10:28] rstoenescu commented on #4641
@avesus Quasar doing what exactly?

[2021-12-30 14:08] hawkeye64 commented on #4641
@avesus Seems self-explanatory in the reasoning of the ticket.

[2021-12-30 17:54] Seanitzel commented on #11654
The error message is
`SassError: Undefined variable.`

And I don't think it is related to the issue you tagged

[2021-12-31 05:59] hspaay commented on #4218
@rstoenescu, thank you for fixing this. Interestingly, in version 2.4.2 of the docs for QInput and QSelect both mention 'embedded validation rules' without explaining what that is. It also isn't explained what the 'val' parameter is.
Is this a regression?

[2021-12-31 06:17] vijay-singh-16 commented on #11793
We have found the real reason of the build errors reported in the main question.
We were using a class 'NodeRequestor' from '@openid/appauth'. This class had many node based dependencies like 'http' and 'https' which further had other node based dependencies. When we replaced 'NodeRequestor' by another class 'FetchRequestor' from '@openid/appauth', all the errors went away, even when we removed th

[2021-12-31 09:27] yangjiafu opened #11851 "q-form captures all click events of q-btn"
**Describe the bug**
A clear and concise description of what the bug is.

**Codepen/jsFiddle/Codesandbox (required or your issue may be closed)**
Fork a Codepen (https://codepen.quasar.dev) or a jsFiddle (https://jsfiddle.quasar.dev) or a Codesandbox (https://codesandbox.quasar.dev) and hit save then copy-paste link here.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click o

[2021-12-31 09:44] yangjiafu commented on #11851
q-form should not capture all click events of q-button and button (not type) for verification

[2021-12-31 09:52] pdanpdan commented on #11851
Hello. Please fill the issue template (especially the quasar version) and add a reproduction.
Because I suppose it's a duplicate of https://github.com/quasarframework/quasar/issues/11794

[2021-12-31 09:52] #11851 closed, assigned to nobody

[2021-12-31 10:01] rstoenescu commented on #11851
This has been adressed in the next Quasar version (to be released next week).

[2021-12-31 10:03] rstoenescu commented on #4218
@hspaay Of course it details them. Check the validation > internal validation section.

[2021-12-31 10:04] yangjiafu commented on #11851
quasar version 2.4.2

[2021-12-31 10:04] yangjiafu commented on #11851
thanks

[2021-12-31 11:50] IlCallo commented on #8690
Seems like Vue team on this regard stopped due to the major docs rewrite they're doing
Pinged them to get some info

Last time I heard them they told me it's possible to use `RenderComponent` interface to declare a JSX-compatible component, but that interface doesn't seem exist anymore

[2021-12-31 12:02] IlCallo commented on #11509
Fixed in 766cc763f00d404f930798addc0216b694335350
Will be available into next release (2.4.3)

[2021-12-31 12:02] #11509 closed, assigned to yusufkandemir, IlCallo

[2021-12-31 16:46] hspaay commented on #4218
@rstoenescu ah I see what you are referring to now. Originally I looked at QSelect which has no such section but I understand that duplicating this is not ideal. Maybe a reference to QInput validation rules would be helpful to people that are new to this.

For others that might stumble here, this line in the QInput internal validation section refers to the embedded rules:

... where 'full list' is

[2022-01-01 10:50] mark134340 commented on #8350
This is required for nested tables！

[2022-01-01 15:59] Quimy opened #11854 "ValidationRule typescript error"
I added promise as a validation rule on q-input and type check returns error:

`Type '(((val: string) => string | true) | ((val: string) => Promise<string | boolean>))[]' is not assignable to type 'ValidationRule<any>[]'.
  Type '((val: string) => string | true) | ((val: string) => Promise<string | boolean>)' is not assignable to type 'ValidationRule<any>'.
    Type '(val: string) => Promise<strin

[2022-01-02 00:01] devXpro commented on #7947
In Capacitor 3 there is a new configuration option you can use if you changed your scheme.

In your capacitor.config.json/.ts file add a scheme property inside the ios object. Something like this for .ts
`ios: {
    scheme: "yourAppName"
}`

[2022-01-02 08:59] ivanjaros opened #11860 "QScrollArea cannot programmatically scroll to bottom when contents change"
When content in the q-scroll-area changes with v-for loop, it is impossible to scroll down to the bottom to see the last item when the data for the v-loop changes(items are added).

[code]

Component above can use the area or simple div as example. The div will work but the scroll-area will not. It is important to use the $nextTick to invoke the scrolling behavior, or use flush:post on the watcher

[2022-01-02 09:00] pdanpdan commented on #11860
Make a codepen showing the problem

[2022-01-02 09:01] ivanjaros commented on #11860
i don't know how i can create vue component in these services

[2022-01-02 09:02] pdanpdan commented on #11860
I don't think you need components - it looks like all content is quasar components

[2022-01-02 11:25] maneljove commented on #11564
same problem!! please help!!

[2022-01-02 13:22] pdanpdan commented on #11564
In the case of server side data with external pagination you need to call `requestServerInteraction`
https://codepen.io/pdanpdan/pen/PoJRdMz?editors=1010

[2022-01-02 13:22] #11564 closed, assigned to nobody

[2022-01-02 13:37] maneljove commented on #11564
It works!!
Thank you very much!!

[2022-01-02 13:50] #11860 closed, assigned to nobody

[2022-01-02 16:20] bartduisters opened #11862 "QTable - rows per page option dropdown 'snaps' on first time opening"
**Describe the bug**
When clicking on the 'rows per page option' of a QTable, the popup initially renders 'too low', then it 'snaps' to the correct covered position.

**Codepen/jsFiddle/Codesandbox (required or your issue may be closed)**
This can be reproduce din any of the provided js fiddles on the documentation page: https://quasar.dev/vue-components/table#introduction

**To Reproduce**
Steps

[2022-01-02 17:43] Kanglinwu commented on #6917
@arthur55
Hi, I just get the same issue, and i use the custom css to achieve this.

[code]

[code]

hope this can help you

[2022-01-02 20:20] husseinjahan commented on #11564
Thank you @pdanpdan .

I think the documentation needs to change, and mention to this method in q-table or pagination documentation.

[2022-01-02 20:33] pdanpdan commented on #11564
It is in the methods list in QTable API docs

[2022-01-02 23:04] yvhr commented on #2709
I'm experiencing a related issue in v2.4.2. I'm also displaying a prompt dialog when the user clicks on a route-tab item that requires authentication, prompting them to log in first, when they hit cancel, I prevent the route navigation. Router works as expected, QRouteTabs on the other hand, displays the wrong active state.

Does the `QRouteTab` track a different active state other than the curren

[2022-01-03 04:42] test4appdev1 opened #11868 "Module not found: Can't resolve imported dependency "fs""
I got this error below:

[code]

Then I installed "fs" but there is still the error.

`yarn add fs`

Then, to solve the error, I installed "node-polyfill-webpack-plugin":

`yarn add -D node-polyfill-webpack-plugin`

Then, I configured the plugin in quasar.conf.js:

[code]

But there is still the error. Are there any solutions to solve the error?

[2022-01-03 05:39] #11868 closed, assigned to nobody

[2022-01-03 11:56] hendrik-schneider commented on #2709
Hello to all, we have the same problem that @namespace-github wrote with Quasar 2.3.4.

[2022-01-03 13:20] amirsafaricg opened #11875 "Problem with select component"
whenever im using the https://quasar.dev/vue-components/select#customizing-menu-options select input

when i click it, it looks like https://quasar.dev/vue-components/select#options-list-display-mode
the dialog coming from top

[2022-01-03 14:32] Razi91 commented on #8350
I had it done for Quasar V1, since we are migrating to V2, I'll do it for V2, this time properly

[2022-01-03 21:01] rfox12 opened #11883 "Avoid adding spacing for empty slots"
Sometimes in Quasar, when you have conditional slot content (v-if), quasar will still apply extra slot spacing, causing UI quirks...
Here's an example of QInput using conditional content in the `#before` template:
https://codepen.io/robert123789/pen/VwMxpoJ

I would recommend adding some rules using a css :empty selector.
For the codepen example, the following code helps default Quasar behave nice

[2022-01-03 21:11] pdanpdan commented on #11883
That is because you use the slots in the wrong way.
As you use them you create slots with no content.
Move the condition on the template and you will have no slots.

[2022-01-03 21:11] #11883 closed, assigned to nobody

[2022-01-04 01:34] pdanpdan commented on #11741
Sorry, the point of the component is to allow picking and uploading files. For an uploader I can see no point in reordering the files.

[2022-01-04 01:34] #11741 closed, assigned to nobody

[2022-01-04 01:36] pdanpdan commented on #11862
Duplicate of https://github.com/quasarframework/quasar/issues/11247

[2022-01-04 01:36] #11862 closed, assigned to nobody

[2022-01-04 01:43] #11753 closed, assigned to nobody

[2022-01-04 10:33] matthiasmoier commented on #11753
Thanks for your reply, @pdanpdan.

In your example, the class is not changed depending on the state of the toggle? (Also, there does not seem to be a `inner-class` prop on `q-toggle` and `q-btn-toggle`.)

I created a quick pen with some examples: https://codepen.io/moier/pen/LYzmmaX
Could you explain it again using this pen?

[2022-01-04 10:49] joppehoekstra opened #11889 "Accessibility documentation"
The current documentation is [very limited](https://forum.quasar-framework.org/topic/6134/accessibility-web-content-accessibility-guidelines-wcag/12) regarding the accessibility of Quasar. All it says is "Accessibility features" on the [Why Quasar](https://quasar.dev/introduction-to-quasar#best-practices-integrated-by-default) page.

Since the rest of the Quasar documentation is very extensive, ev

[2022-01-04 13:33] joppehoekstra opened #11894 "Add 'title' prop for QVideo (accessibility)"
**Is your feature request related to a problem? Please describe.**
Currently, the [QVideo](https://quasar.dev/vue-components/video) component does not add a title to the iframe of the video that is being loaded. This causes [issues](https://web.dev/frame-title/?utm_source=lighthouse&utm_medium=lr#how-the-lighthouse-frame-title-audit-fails) for some screen readers.

**Describe the solution you'd li

[2022-01-04 14:32] rstoenescu commented on #11894
New prop (title) will be available in Quasar v2.4.3 and v1.17.

[2022-01-04 14:32] #11894 closed, assigned to nobody

[2022-01-04 14:35] joppehoekstra commented on #11894
Awesome, love the speedy response!

[2022-01-04 14:43] pdanpdan commented on #11753
I updated my example with another case: https://codepen.io/pdanpdan/pen/XWeVPbY
What I meant by inner classes are the ones applied by default on QToggle based on state (`.q-toggle__inner--falsy`, `.q-toggle__inner--indet`, `.q-toggle__inner--truthy`)
Also applied to your codepen: https://codepen.io/pdanpdan/pen/XWeqyMW
Quasar would do the exactly same thing, except than it would do more work for a

[2022-01-04 15:59] joppehoekstra opened #11895 "Increase opacity QTimelineEntry Subtitle for accessibility purposes"
**Is your feature request related to a problem? Please describe.**
Currently, the opacity of the `.q-timeline__subtitle` class of the [QTimelineEntry](https://quasar.dev/vue-components/timeline#qtimelineentry-api) is set to 0.4. This causes the text to have too little contrast according to the [Web Content Accessibility Guidelines](https://webaim.org/resources/contrastchecker/).

**Describe the so

[2022-01-04 21:40] CodeSengel opened #11897 "How to add charts to Quasar project with chart.js ?"
Hello,

I would like to add charts to my quasar project. I tried to use chart.js, but I can't make it.
I've done a lot of research on the internet, but I haven't found anything interesting wich explains clearly how it works.
so please, if you have a document or a link to a tutorial, please share it.

thank you in advance,
CodeSengel

[2022-01-04 21:42] #11897 closed, assigned to nobody

[2022-01-04 22:11] test4appdev1 opened #11899 "App • WARNING • UI in ./node_modules/keyv/src/index.js Critical dependency: the request of a dependency is an expression"
I got this error:

[code]

How can I solve it?

[2022-01-04 22:17] pdanpdan commented on #11899
The first step would be to make the minimal effort to use google and find this:
https://github.com/jaredwray/keyv/issues/45

Btw, read this: https://github.com/quasarframework/quasar/issues/8469

[2022-01-04 22:17] #11899 closed, assigned to nobody

[2022-01-04 22:29] test4appdev1 commented on #11899
I've already tried to do your way but couldn't solve it. It's better you show how to implement your way to quasar.conf.js.

[2022-01-04 22:40] test4appdev1 opened #11900 "App • WARNING • UI in ./node_modules/keyv/src/index.js Critical dependency: the request of a dependency is an expression"
I got this error:

[code]

Then, I tried to implement this method [jaredwray/keyv#45](https://github.com/jaredwray/keyv/issues/45#issuecomment-755814594) to quasar.conf.js but I couldn't solve the problem.
Are there any ways to solve it?

[2022-01-04 22:41] #11900 closed, assigned to nobody

[2022-01-05 00:05] denovodavid opened #11903 "QBtn missing role="button" attribute"
**Describe the bug**
QBtn is missing the `role="button"` attribute by default since **v2.4.0**.

**Codepen**
https://codepen.io/denovodavid/pen/yLzELeG

**To Reproduce**
Steps to reproduce the behavior:
1. Make a `<QBtn />`
2. Inspect source
3. No `role="button"` attribute

**Expected behavior**
Expected to behave like **v2.3.4**, and have `role="button"` attribute.

**Platform**
Quasar Version: `

[2022-01-05 00:07] pdanpdan commented on #11903
It was fixed in the just released 2.4.3 version
https://github.com/quasarframework/quasar/releases/tag/quasar-v2.4.3

Sorry, it was fixed before, in 2.4.2
And if it is rendered as a button it does not need the button role. The problem was that it was missing the type

[2022-01-05 00:07] #11903 closed, assigned to nobody

[2022-01-05 07:58] Tofandel commented on #6775
@damms005 Sorry but you're 100% wrong a higher specificity doesn't override `!important` that's exactly the point of `!important`

I'm not the one doing that, but maybe go learn something about the basics of css before picking a fight

https://www.w3schools.com/css/css_important.asp

[code]

[2022-01-05 09:10] damms005 commented on #6775
Oops! That went sideways quickly. Lol.

First, I apologize for sounding like an arse in my last comment. Just pretend that I didn't use that tone now, shall we 😜 ?

So, apart from not wanting to be an arse, the reason I am replying you again is because I want current and future readers of this thread to not be misinformed.

Now, there are two important (pun intended) things you need to understand

[2022-01-05 09:19] Tofandel commented on #6775
Apologies accepted, you can then ignore my tone as well

But I still think there is a misunderstanding in what we're talking about because in your link there is the same warning again

So I don't understand how could tailwind which doesn't use important but has a higher specificity override quasar which uses important and a lower specificity, because `!important` always gets the last word

PS: Sor

[2022-01-05 09:45] damms005 commented on #6775
It is simply because of Tailwind's higher specificity. For example, let's take `.flex` as an example. By default, Quasar and Tailwind have selectors for `.flex`, hence, conflicts.

However, when you use Tailwind's important selector prefix, say `.tw`, then the original `.flex` becomes `.tw .flex`. This means that while Quasar applies the CSS flex styles to `.flex`, you are now _implicitly_ overrid

[2022-01-05 10:07] Tofandel commented on #6775
Then I did understand correctly and can give you examples of where it doesn't work

[code]

When you use the class `hidden lg:flex` you will see that it doesn't behave as expected and it's always hidden even on a large screen because of the `!important`  in quasar

But if you use `hidden lg:!flex` then you'll get the correct behavior because you get the `!important` keyword with tailwind

So while

[2022-01-05 10:24] damms005 commented on #6775
Oh. Nice. Now I get your point!

Perhaps, solving this holistically will still involve the Quasar team allowing seamless integration/use of the framework with other CSS tools, aye?

[2022-01-05 10:39] Shayan-To opened #11906 "Dependency warnings on `yarn install`"
**Describe the bug**
I'm using yarn 3 with `node-modules` linker for my project, and everything is working fine. The only problem is every time I run `yarn install` or `yarn add`, some warnings are emitted that I think at most of them can be fixed by you.

[code]

If I understand correctly, the first one is saying there is a deprecated and now unnecessary dependency (it is a dependency of `@quasar

[2022-01-05 11:22] fisher030712 opened #11909 "The background of Dialog plugin is transparent 100% on some phone."
On HuaWei phone, the background of Dialog plugin is transparent 100%.

.q-dialog__backdrop {
    background: #0006;
}

change to : background: rgba(0,0,0,0.6)，is OK。

and the q-btn, has same issue.

[2022-01-05 11:31] pdanpdan commented on #11909
Sorry, but you should use another browser (I don't know what browser is used by Huawei)
In case you need it then you should override the styles as it fits you, but we cannot change for everybody.

[2022-01-05 11:31] #11909 closed, assigned to nobody

[2022-01-05 12:03] rstoenescu commented on #11895
Will be available in Quasar v2.4.4 and v1.17.1

[2022-01-05 12:03] #11895 closed, assigned to nobody

[2022-01-05 13:42] rstoenescu commented on #11824
Closing due to the lack of response.

[2022-01-05 13:42] #11824 closed, assigned to nobody

[2022-01-05 13:43] rstoenescu commented on #11521
Closing due to lack of response.

[2022-01-05 13:43] #11521 closed, assigned to nobody

[2022-01-05 13:46] rstoenescu commented on #11355
This should work correctly in latest Qv2 and Qv1.

[2022-01-05 13:46] #11355 closed, assigned to nobody

[2022-01-05 18:19] gaw89 opened #11917 "No slot available in q-icon when using custom image"
**Describe the bug**
When using `name="img:<url>"`, in a q-icon, the default slot does not get rendered.

**Codepen/jsFiddle/Codesandbox (required or your issue may be closed)**
[codepen](https://codepen.io/gaw89/pen/LYzreQd)

**To Reproduce**
1. Hover over the X icon - you see a tooltip
2. Hover over the Quasar icon - you don't see a tooltip

**Expected behavior**
I expect to see a tooltip when h

[2022-01-05 18:23] pdanpdan commented on #11917
Duplicate of https://github.com/quasarframework/quasar/issues/5967

[2022-01-05 18:23] #11917 closed, assigned to nobody

[2022-01-05 18:25] gaw89 commented on #11917
Oops, sorry @pdanpdan !  I did search for an existing issue but failed to find this #5967.

Thanks so much!!

[2022-01-05 18:26] gaw89 commented on #5967
Another good option for those who arrive here is to place the `q-icon` and the `q-tooltip` next to each other inside a `<span>`.  This worked for me!

[2022-01-05 19:05] jra11 opened #11919 "Q-select with @filter, "use-input" and "multiple" properties let the search string in the field after closing options list"
**Describe the bug**
Q-select with @filter and "multiple" properties has unusual behaviour.

**Codepen/jsFiddle/Codesandbox (required or your issue may be closed)**
See this [Codepen](https://codepen.io/ju22/pen/LYzrQxq) which is forked from the official doc.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Codepen above
2. Focus on the select filed
3. Enter "Face" without typing en

[2022-01-05 19:19] pdanpdan commented on #11919
Hello.
The behavior you describe is the expected one: being multiple the filter is kept in case you want to select some other option.

But what is not right is that when you unfocus the QSelect/close the popup the filter is not cleaned.

So please change the title in `Q-select with @filter, "use-input" and "multiple" properties let the search string in the field after closing options list` so we c

[2022-01-05 23:51] MichaelJCole opened #11921 "Typescript error in boot files using store"
**Describe the bug**

[code]

or if I pass a type to the template

[code]

**Codepen/jsFiddle/Codesandbox (required or your issue may be closed)**

**To Reproduce**
quasar new boot newfile --format ts

then uncomment parameters and add 'store'

Here is as close as I could get it:

[code]

Here's a version I got to work without boot()
[code]

[2022-01-06 01:56] tohagan opened #11922 "Feature/Heads up: ViteEdge - CDN Edge SSR rendering."
**Is your feature request related to a problem? Please describe.**

Just a friendly "heads up" about a new project [Vite Egde](https://vitedge.js.org/) that may be of interest to the Quasar / Vite roadmap.

**Describe the solution you'd like**

- Test Vite Edge with Quasar's Vite and document a method to integrate with Quasar Vite & Quasar SSR.

--

## What is Vite Edge?

Vite Edge points to a new

[2022-01-06 02:22] PowerWeb5 opened #11923 "V-Ripple animation fails in iOS 3rd party browsers"
**Describe the bug**
V-Ripple animation (and possible others) is extremely choppy, about 2 frames total for most 3rd party mobile browsers for iOS (iCab Mobile, Firefox, Edge, etc. apps), confirmed on all those browsers for both iPad and iPhone.

After tapping any element with v-ripple, it then goes straight to showing a single dark shaded touch indicator circle in 1st frame, then seems to go stra

[2022-01-06 02:23] metalsadman commented on #11921
same with https://github.com/quasarframework/quasar/issues/8794

[2022-01-06 08:39] pdanpdan commented on #11923
By 3rd party browsers you mean Safari (the only browser engine on iPhone/iPad)?
Anyway, I cannot reproduce with Firefox skin, neither with Chrome skin.

A reproduction case would have helped a lot in that case, and maybe a video capture?

[2022-01-06 11:36] ddnexus commented on #2233
Working one-liner:

[code]

[2022-01-06 13:29] suneab opened #11924 "Bottom sheet action is missing property "id""
**Describe the bug**
The "id" property is missing on the actions type for Bottom Sheet. The API shows no "id" field under actions https://quasar.dev/api-explorer#api--bottomsheet

**Codepen/jsFiddle/Codesandbox (required or your issue may be closed)**
Everything works if you ignore the typescript warnings https://jsfiddle.net/pm4v0jg9/1/

**To Reproduce**
Steps to reproduce the behavior:
Copy past

[2022-01-06 13:36] pdanpdan commented on #11924
Please change the title to request changes in TS definition to allow extra properties in actions objects
The `id` key is an extra property, so it is not specified in the definition

[2022-01-06 16:12] vlombardifiters commented on #9933
Confirmed my side

[2022-01-07 00:48] zhangguoxin opened #11933 "<q-page> has no updated beforeUpdate event"
<template>
  <q-page>
    <select v-model="sceneIndex" style="width: 200px" placeholder="scene" @change="choseScene">
      <option v-for="item in sceneList" :value="item.id" :key="item.id">{{ item.value }}</option>
    </select>
    <p>{{ val }} | edited {{ count }} times</p>
    <button @click="val = Math.random(0, 100)">Click to Change</button>
  </q-page>
</template>

as above, the issue is ,

[2022-01-07 05:17] #11933 closed, assigned to nobody

[2022-01-07 06:51] PowerWeb5 commented on #11923
See below how choppy the ripple animation is in iCab Mobile on iPad in this video, especially noticeable with how long the touch circle on right side of clickable item remains.

https://user-images.githubusercontent.com/4053734/148602071-33fde5f2-8382-4005-941e-a77f725b7e3f.mp4

Compare to the smooth animation shown below in Safari Mobile on iPad.

https://user-images.githubusercontent.com/4053734

[2022-01-07 06:53] PowerSheetAI commented on #11923
Here is issue occurring in iCab Mobile posted again as didn't preview in above comment.
https://user-images.githubusercontent.com/4053734/148502680-6183c3f5-d5f8-45e4-b0e3-43116a4c736b.MOV

[2022-01-07 07:02] PowerWeb5 commented on #11923
I tried using same User Agent string from Safari on iPad in iCab Mobile on iPad and issue still remained, for user agent:
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/15.1 Safari/605.1.15

Though possibly other browser sniffing differences could remain.

[2022-01-07 07:19] pdanpdan commented on #11923
It looks like iCab mobile is pay to play wrapper of the WebView :)
From the reviews it looks like you might try "use the modern Web engine, not classic"
The ripple code and css has no ios device version, so playing with user agent does not matter
Just for fun, can you reproduce it on this? https://pdanpdan.github.io/quasar-docs/vue-components/list-and-list-items#basic
But more than that I cannot h

[2022-01-07 10:59] jra11 opened #11936 "QCarousel: add an option to unselect the current image by clicking on the thumbnail already selected"
I suppose that many developers use the QCarousel component as an optional Image selector. Unfortunately, there is no native mean to "unselect" an image by clicking the selected thumbnail, except selecting another one.

An easy alternative is to make a "reset" or unselect button, but it would be more practical to click on the selected thumbnail to empty the model.

A props called: "thumbnail-unsele

[2022-01-07 11:16] pdanpdan commented on #11936
You just need to manage your model
https://codepen.io/pdanpdan/pen/KKXBZXP?editors=101

[2022-01-07 11:16] #11936 closed, assigned to nobody

[2022-01-07 12:26] rstoenescu commented on #11924
There's no need for the `id` prop.

[2022-01-07 13:12] suneab commented on #11924
Labels aren't necessarily unique. A unique identifier for each option would be valuable.

[2022-01-07 14:03] rstoenescu commented on #11924
Will be available in Quasar v2.4.4

[2022-01-07 14:03] #11924 closed, assigned to nobody

[2022-01-07 14:19] Greenscreen23 opened #11941 "Add to property to QTable rows"
**Is your feature request related to a problem? Please describe.**
For a QTable, I would like to turn every row into link. Currently, QTables only support a "row-clicked" event, and it is not possible to turn every row of a QTable into a link. It is possible to add `router.push` to the row-clicked function, but this doesn't add the usual options to open a link in a new tab, like normal links. (So

[2022-01-07 14:21] pdanpdan commented on #11941
You cannot have links as tr in table

[2022-01-07 14:21] #11941 closed, assigned to nobody

[2022-01-07 14:22] Greenscreen23 commented on #11941
Please take a look at my jsfiddle, I think it is possible, using `display: contents`

[2022-01-07 14:30] pdanpdan commented on #11941
Yes, sorry, you cannot have a link as a child of tr and parent of td - even if chrome or some browsers allow it
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tr#technical_summary
It would break at least in SSR if not in a lot of browsers

[2022-01-07 14:40] Greenscreen23 commented on #11941
Hm, I was hoping that because it appeared to be working on chrome and firefox (which are the majority of engines used if I'm correct), desktop as well as mobile, (and safari on macos as far as I've heard) that this was something that might be experimental, but possible.

[2022-01-07 17:34] rstoenescu commented on #11510
hasError is still needed @yusufkandemir

[2022-01-07 17:42] rstoenescu commented on #10281
Fixed it in Quasar v2.4.4 & v1.17.1 (to be released)

[2022-01-07 17:42] #10281 closed, assigned to nobody

[2022-01-07 17:42] rstoenescu commented on #10120
Fixed it in Quasar v2.4.4 & v1.17.1 (to be released)

[2022-01-07 17:42] rstoenescu commented on #11319
Fixed it in Quasar v2.4.4 & v1.17.1 (to be released)

[2022-01-07 17:42] rstoenescu commented on #11318
Fixed it in Quasar v2.4.4 & v1.17.1 (to be released)

[2022-01-07 17:42] rstoenescu commented on #11169
Fixed it in Quasar v2.4.4 & v1.17.1 (to be released)

[2022-01-07 20:12] PowerWeb5 commented on #11923
I've reproduced on 5 out of 5 iPads and iPhones now.
It isn't specific to iCab Mobile, as I reproduced in Edge and Firefox apps too on iOS.
iCab Mobile has since 2020 only used the modern browser engine, with classic option removed.

If I clear cache in iCab or Edge (occurs for both), after closing all tabs, and then kill the app, relaunch then visit https://pdanpdan.github.io/quasar-docs/vue-comp

[2022-01-07 20:20] PowerWeb5 commented on #11923
Here are the compatible MP4 versions of videos:

See below how choppy the ripple animation is in iCab Mobile on iPad in this video, especially noticeable with how long the touch circle on right side of clickable item remains.

https://user-images.githubusercontent.com/4053734/148602071-33fde5f2-8382-4005-941e-a77f725b7e3f.mp4

Compare to the smooth animation shown below in Safari Mobile on iPad.

[2022-01-07 20:33] PowerWeb5 commented on #11923
If I open the v2.x ripple-using page 1st after clearing iCab/Edge edge on iOS, then it even ripple/animation on other pages like Vuetify at https://vuetifyjs.com/en/directives/ripple/#usage causing the animation issue to affect them too, until I clear the cache, so seems like it might be an issue with a dependency in common between Quasar and Vuetify (eg Animate.css, etc.?).

However, just with th

[2022-01-07 20:43] pdanpdan commented on #11923
Can you also try with these 2 (exclude oficial Quasar v2):
- https://pdanpdan.github.io/quasar-docs/vue-components/list-and-list-items#basic
- https://v1.quasar.dev/vue-components/list-and-list-items#basic
See if official v1 generates the same problems (because my v1 branch uses other algo)
That way we can detect if it's a regression in Qv2 or a problem in original algo

[2022-01-07 20:47] PowerWeb5 commented on #11923
No issue with those 2 links

[2022-01-07 21:01] PowerWeb5 opened #11948 "Docs Outline Sidebar Double Scrollbar Popping Jitter"
When viewing the documentation site like at https://quasar.dev/video-tutorials there the inner panel has a second nested vertical and horizontal scrollbar that keeps appearing and disappearing several times a second, just to show a few pixels worth of scrolling, causing a very distracting jittering effect like seen in this video.

It seems like the scrollbar may be appearing/disappearing for div w

[2022-01-07 21:08] pdanpdan commented on #11948
duplicate of #10281
Fixed in Quasar v2.4.4 & v1.17.1 (to be released)

[2022-01-07 21:08] #11948 closed, assigned to nobody

[2022-01-07 21:12] PowerWeb5 commented on #11923
I tested outside context of Codepen embedding/hosting, with ripple animation on tabs and hamburger menu buttons for https://quasar.dev/layout-builder and the issue did not occur for it at first. However, like Vuetify and v1 pages, once you open up a v2 docs page (with the buggy animation resource version?), then it introduces the bug into that Layout Builder page too when switching back to it, unt

[2022-01-07 21:19] PowerWeb5 commented on #11923
What is especially problematic with this bug is the viral nature of it. Once you visit a Quasar page with this buggy resource, it corrupts that resource or breaks animation across the web - for other Quasar sites/domains and even non-Quasar sites like  https://vuetifyjs.com/en/directives/ripple/#usage - ever afterwards (consistently or intermittently) until clearing browser cache.

[2022-01-07 23:45] rstoenescu commented on #11923
@PowerSheetAI
1. I cannot tell for other frameworks, but Quasar does NOT use ANY external dependencies for the UI package.
2. There is no such thing as one website influencing another one, unless that specific browser is really buggy.

[2022-01-08 00:01] rstoenescu commented on #11923
Can you reproduce the issue by first visiting https://quasar.dev/layout-builder ?

[2022-01-08 04:14] PowerWeb5 commented on #11923
No, when visiting [quasar.dev/layout-builder](https://quasar.dev/layout-builder) first, the issue does not occur.

However, if I clear cache and then visit https://quasar.dev/vue-components/list-and-list-items#basic first the issue occurs there, then if I open https://quasar.dev/layout-builder or else Quasar v1.x  pdanpdan.github.io/quasar-docs/vue-components/list-and-list-items#basic in a new tab

[2022-01-08 04:21] PowerWeb5 commented on #11923
What libraries are involved in ripple animation (even if bundled together)? Just animate.css primarily? Is it possible there is some compatibility issue between a newer version of animate.css and certain Safari-based iOS browser apps?

It seems like other drastically reduced framerate or no interpolation at all, though animation duration remains the same.

[2022-01-08 04:36] PowerWeb5 commented on #11923
1. Kill iCab Mobile (or similar browser app) process on iPhone/iPad
2. Open https://quasar.dev/vue-components/list-and-list-items#basic and see ripple animation issue
3. Open https://quasar.dev/layout-builder in new tab and see animation issue
4. Kill iCab Mobile (when left https://quasar.dev/layout-builder as last open tab)
5. Launch iCab Mobile so reopens last active tab (https://quasar.dev/layo

[2022-01-08 05:03] gkraser commented on #11169
Thank you, it works correctly!

[2022-01-08 05:03] #11169 closed, assigned to nobody

[2022-01-08 08:49] francoism90 opened #11952 "Loadingbar - disable per component/allow-list?"
**Is your feature request related to a problem? Please describe.**
I really like the loadingbar plugin, however it doesn't play nicely when doing a lot of API requests.

For instance, I'm running a VOD app which receives segments every X seconds, leading to the loadingbar being activated all the time.

**Describe the solution you'd like**
Allow to disable the loadingbar per component or allow/bloc

[2022-01-08 08:55] pdanpdan commented on #11952
The loading bar does not hook to components but to xhr requests, which could come from whatever code started them. You cannot filter by components.

[2022-01-08 10:16] #11470 closed, assigned to nobody

[2022-01-08 10:57] pdanpdan commented on #11175
Yes, in all Qv2 and the recent Qv1 the QScrollArea can work both horizontally and vertically.
If you don't want to have horizontal scroll you should get the (left side) size from the splitter and apply a max-width style on the table so that id does not extend more than you want.

[2022-01-08 10:57] #11175 closed, assigned to nobody

[2022-01-08 11:04] pdanpdan commented on #10923
The page is `.column.no-wrap` so by default the children are placed vertically, full-width and their native height.
Then you have some things on top and bottom (toolbars in this case) that keep their native height
In the middle you have something (scroll area) that has a `.col` class and this tells it should fill all available vertical space and no more than that.

[2022-01-08 11:04] #10923 closed, assigned to nobody

[2022-01-08 11:07] pdanpdan commented on #10720
Sorry but these are mostly covered in the docs, and we cannot add all examples :)
But they are good here so somebody can look at them.
You may also take a look here: https://github.com/quasarframework/quasar/issues/10923

[2022-01-08 11:07] #10720 closed, assigned to nobody

[2022-01-08 11:12] pdanpdan commented on #10626
That is too specific and strange use case, sorry.
You should change the model based on your desired rules when you end up in that region.
For visual aspect use the markers slots available from v2.4.0/v1.17.0

[2022-01-08 11:12] #10626 closed, assigned to nobody

[2022-01-08 11:14] pdanpdan commented on #10625
Sorry, it is too complex and non-standard case.
If you can think of any criteria to select one or another of the ranges you can try placing 2 QRange over each other and bring to front the one you want, but I cannot think of any such criteria

[2022-01-08 11:14] #10625 closed, assigned to nobody

[2022-01-08 11:24] pdanpdan commented on #10639
In Qv2 the QScrollArea scrolls both vertically and horizontally - so if you want to not have horizontal scroll you should limit the width of the content

[2022-01-08 11:24] #10639 closed, assigned to nobody

[2022-01-08 11:29] pdanpdan commented on #11889
To be honest I don't know what we should write there.
[code]
I cannot write a novel with the subject: we didn't break native TAB navigation

[2022-01-08 11:41] joppehoekstra commented on #11889
Well, there's a lot more to web accessibility than that. I don't know that much about it myself either I'm afraid, but perhaps the [A11Y Project](https://www.a11yproject.com) could be of help here.

As a start, I would recommend checking all components using the [Lighthouse](https://developers.google.com/web/tools/lighthouse/) accessibility analysis tool.

I found issues #11895 and #11894 because

[2022-01-08 12:55] CrawfordW commented on #10639
Problem for me is the page with the scroll area lives in a splitter pane which the user can resize horizontally. So the width is not known and hard to get dynamically. It would be better if QScrollArea had an option to only scroll vertically like it used to.

[2022-01-08 12:56] pdanpdan commented on #10639
You can put a v-model on QSplitter
Or if you make a codepen I can show you

[2022-01-08 13:08] CrawfordW commented on #10639
Sounds interesting...
But I have pages on tabs in splitters, so quite a few levels to get to the scroll-area. I need to somehow get the current dynamic width of the splitter pane - how can a v-model help? It would be much easier if I could just set the scroll-area for vertical only scrolling.

[2022-01-08 13:30] pdanpdan commented on #10639
It would have spared a lot of time if you creted a codepen
https://codepen.io/pdanpdan/pen/oNGPgwW?editors=1010

[2022-01-08 14:02] francoism90 commented on #11952
@pdanpdan Thanks for the explanation. :)

It cannot be done filtering on XHR requests? Like with a custom callback.

[2022-01-08 14:03] CrawfordW commented on #10639
Sorry, I'm slow and building a codepen never seems to work for me with a complex setup.
Thanks for your help - I really appreciate the excellent support!

[2022-01-08 14:52] linvsendian opened #11955 "The 'val' prop of the 'q-radio' component does not accept the 'undefined' type"
**Describe the bug**
The 'val' prop of the 'q-radio' component does not accept the 'undefined' type but the 'model-value' does accept. I can really ignore it but the typescript error warning is quite annoying.

**Expected behavior**
The 'val' prop should accept the 'undefined' value.

**Screenshots**
Type 'undefined' is not assignable to type 'string | number':
<img width="1013" alt="Screenshot 20

[2022-01-08 14:57] pdanpdan commented on #11955
Not commenting on the main request, but what would be the point on a radio with undefined value?
I understand null, but undefined?

[2022-01-08 15:17] linvsendian commented on #11955
I can really have an interface or object with an optional property, and this property is the param which I wanna pass to the 'val' property of the 'q-radio', and when the radio is checked, I need the property can be assigned with 'undefined' value.

[2022-01-08 15:43] pdanpdan commented on #11952
Now there is no way, I'm sorry.

[2022-01-08 17:59] francoism90 commented on #11952
@pdanpdan No worries! :)

[2022-01-08 19:05] CrawfordW commented on #11175
Dan, OK I understand. But can I request a feature?
If QScrollArea had an option to only scroll vertically, it would work as before and save a lot of fiddling. Getting a splitter pane width and then passing it down through a tabstrip component to a page on a tab seems like it should be unnecessary.
Thanks for listening, and for your continued support!

[2022-01-08 19:07] pdanpdan commented on #11175
You can put full-width class or width 100% on the content like in the example and have no horizontal scroll
https://github.com/quasarframework/quasar/issues/10639#issuecomment-1007990576

[2022-01-08 19:43] CrawfordW commented on #11175
Dan, I've tried to make a codepen to show my issue, but it's not showing the table for some reason. Probably because I don't really grok composition API. Anyway here's the link if you feel up to having a look...
https://codepen.io/crawfordw/pen/Exweyxd

[2022-01-08 20:43] pdanpdan commented on #11175
You cannot use self closing tags in codepen :)
And you messed up the indenting
https://codepen.io/pdanpdan/pen/dyVqXEX?editors=1000

[2022-01-08 21:12] CrawfordW commented on #11175
Oh sorry I forgot that limitation of codepen.
OK, so it's working now and shows the table. As you can see, the section above the table but within the scroll area needs to scroll vertically, but NOT horizontally because it's responsive.
Only the table content should scroll horizontally. This used to work in version 1, but now the table forces the entire scroll area to be wider than the window width

[2022-01-08 21:22] pdanpdan commented on #11175
Something like this https://codepen.io/pdanpdan/pen/dyVqXEX?editors=1010
See the class on QScrollArea and the definition in CSS section

[2022-01-08 21:24] pdanpdan commented on #11175
Something like this https://codepen.io/pdanpdan/pen/dyVqXEX?editors=1010
See the class on QScrollArea and the definition in CSS section

[2022-01-08 21:24] pdanpdan commented on #11175
Something like this https://codepen.io/pdanpdan/pen/dyVqXEX?editors=1010
See the class on QScrollArea and the definition in CSS section

[2022-01-08 21:50] CrawfordW commented on #11175
It works! Dan you are my hero!

[2022-01-09 01:13] rstoenescu commented on #11955
I don't agree with val being undefined, but regardless, it will be available in Quasar v2.4.5

[2022-01-09 01:13] #11955 closed, assigned to nobody

[2022-01-09 01:24] rstoenescu commented on #9650
Hi,

You're supplying an invalid value to the "lang" prop. It's not a string.

Should be:

[code]

[2022-01-09 01:24] #9650 closed

[2022-01-09 01:25] rstoenescu commented on #11335
Fix will be available in Quasar v2.4.5

[2022-01-09 01:25] #11335 closed, assigned to nobody

[2022-01-09 03:47] PowerWeb5 commented on #11923
Even worse, it seems **all animations are completely broken** when this occurs with Quasar v2.x, until killing the browser app.
Like seen in below video, even transition animations no longer shown at all (not just low FPS or lack of interpolation).
With same steps to reproduce as in previous reply, but on page https://quasar.dev/vue-components/menu#transitions

Video of when animation stops workin

[2022-01-09 04:07] PowerWeb5 commented on #11923
Video of transition & ripple animation always working fine always in Safari for iOS (and Chrome for iOS):

https://user-images.githubusercontent.com/4053734/148668988-7e6b5417-0778-428e-b482-da696a73b656.mp4

[2022-01-09 12:45] CrawfordW commented on #11175
Dan, it works great in the codepen, but when I added it to my app, I still have the problem. I wonder if it has something to do with structures that contain the page... in my app, each splitter pane contains a tab-strip and tab-panels. So I tried to add a containing tab-panel to our codepen, but now nothing shows in the right splitter pane so I can't experiment further.
If you have time, could you

[2022-01-09 13:28] tmotagam commented on #11759
@hawkeye64 I am opening this issue again as the electron people is saying that since the error cannot be generated without the quasar framework.
They are asking for the demonstration that the issue is with the electron and not within the configuration of quasar.

[2022-01-09 13:29] tmotagam commented on #11759
https://github.com/electron/electron/issues/32280#issuecomment-1006646606

[2022-01-09 14:13] Zefau opened #11958 "QToggle - slot for `checked-icon` / `unchecked-icon` / `indeterminate-icon`"
**Is your feature request related to a problem? Please describe.**
Currently it is not possible to use a customized icon which is not part of the Quasar imported icon sets, e.g from Iconify.

**Describe the solution you'd like**
I would appreciate a slot to customize the icon on the QToggle (https://quasar.dev/vue-components/toggle#with-icons).

**Describe alternatives you've considered**
None.

*

[2022-01-09 14:16] TobyMosque commented on #11759
u said that works in a electron app without quasar, but didn't uploaded that anywhere.

Do u can upload your electron app with sandbox and context isolation where the preload scripts are working as expected in a repo?

[2022-01-09 15:52] tmotagam commented on #11759
@TobyMosque this is the example if you run it with the latest electron (16.0.6) it will work as expected

https://github.com/tmotagam/sqlite-electron/tree/master/example

[2022-01-09 15:53] laferte-tech opened #11959 "Qbreadcrumbs not coloring when active navigation"
Hello,
before upgrading to 2.4, Qbreadcrumbs elements where coloring (based on active-color) when they were active (using to for navigation)

Please check example below:

[https://codesandbox.io/s/nostalgic-parm-hb6we?file=/src/components/bread.vue](https://codesandbox.io/s/nostalgic-parm-hb6we?file=/src/components/bread.vue)

When navigating between Index, page2 and page3, the breadcrumb element

[2022-01-09 22:18] PowerWeb5 commented on #11923
Since Quasar v1.x pages like https://pdanpdan.github.io/quasar-docs/vue-components/list-and-list-items#basic and also other non-Quasar implementations of ripple etc animations like https://vuetifyjs.com/en/directives/ripple/#usage do not cause this issue, can you rollback Animate.css or whatever dependencies might be relevant (and/or try updating them to newer or beta version, if relevant) and see

[2022-01-09 23:14] rstoenescu commented on #11923
This is getting tiresome. How many times do I have to repeat myself that Quasar does not uses any external dependencies. Ripple does not uses animate.css nor any other external stuff. There's nothing to roll back to. The only difference of Quasar v2 vs Quasar v1 is that Quasar v2 uses Vue 3 and Quasar v2 uses Vue 2. **_The Ripple in v2 and v1 is EXACTLY the same_**. This and only this: https://git

[2022-01-09 23:35] #11440 closed, assigned to nobody

[2022-01-09 23:36] rstoenescu commented on #11440
Fix will be available in Quasar v2.4.5

[2022-01-10 00:34] rstoenescu commented on #11959
Thanks for reporting.
Fix will be available in Quasar v2.4.5

[2022-01-10 00:34] #11959 closed, assigned to nobody

[2022-01-10 00:40] rstoenescu commented on #11958
Hi,

This is not needed. You can use whatever icon set you want by providing a custom mapping: https://quasar.dev/vue-components/icon#custom-mapping

Please reopen if I missed anything.

[2022-01-10 00:40] #11958 closed, assigned to nobody

[2022-01-10 00:45] rstoenescu commented on #11952
I wanted to implement some filters for a long time (for QAjaxBar and implicitly for LoadingBar), so reopening. Will work on them.

[2022-01-10 02:05] PowerWeb5 commented on #11923
I mentioned that after noticing that Quasar **Extras** has Animate.css as a dev dependency (seen here https://www.npmjs.com/package/@quasar/extras), in case that it was bundled in some alternative way at build-time, and wasn't sure if you were referring to just not being used in Quasar core or not referenced in any way as a runtime dependency that could be cached (since my last post asked whether

[2022-01-10 07:48] francoism90 commented on #11952
@rstoenescu Great news! Take your time, it's not a must, more a nice to have. :)

[2022-01-10 08:40] pxDot opened #11967 "Initial button hover transition not working in chrome"
### What happened?

The initial hover transition is not working correctly in Chrome (96.0.4664.110). It seems to be missing the transition on first hover. It has a slight delay until the hover style gets applied. This is creating a feel of "lag". After the initial hover the transition is working correctly on subsequent mouseovers.

See this screen capture for clarification:
![quasar_hover_transiti

[2022-01-10 08:40] GitNomster commented on #8354
Any fixes?

[2022-01-10 11:04] angelhdzmultimedia commented on #11967
Working fine on 97.0.4692.71.

https://user-images.githubusercontent.com/10191085/148755719-92bae13e-c772-4d6f-a932-b5b8155d8070.mp4

[2022-01-10 11:35] pxDot commented on #11967
Just updated Chrome to 97.0.4692.71 (windows) and disabled all browser extensions. Sadly still with the same behaviour.

[2022-01-10 11:50] MilosPaunovic commented on #11967
Can confirm that new Chrome `Version 97.0.4692.71 (Official Build) (x86_64)` on Mac `BigSur 11.4 (20F71)` still has the same issue on official docs page.

[2022-01-10 12:11] angelhdzmultimedia commented on #11967
What operating system?

[2022-01-10 13:11] yusufkandemir commented on #11491
Hi 👋 You didn't follow the issue template, it makes it harder for us to investigate and solve the issue. Also, since your issue is directly and only about Vue CLI Plugin, please use the correct repository: https://github.com/quasarframework/vue-cli-plugin-quasar

I went ahead and try to reproduce the issue, and confirmed that there is a problem. To solve it, you need to rename the file `/src/quasa

[2022-01-10 13:11] #11491 closed, assigned to nobody

[2022-01-10 13:54] petr-panek commented on #8008
I'd like to add my wish for this functionality.

vue-treeselect doesn't work properly on Vue 3 (generate some warnings) and it's also not maintained anymore. Due this we have currently big issue to upgrade to Quasar 2/Vue 3.

[2022-01-10 14:35] MichaelJCole commented on #11921
@metalsadman Thanks for the reference.  Unfortunately, I verified the file and am still having the problem.

This time trying to make a navigation guard that uses store in /router/index.ts

My file looks like this file I [found on github to verify against](https://github.com/midorlo/k12/blob/f16872ef0854f01438a2e538ffbf4364e70bce91/src/main/webapp/src/store/store-flag.d.ts).

I also can't get the

[2022-01-10 16:03] darkopetreski opened #11970 "Hover on menu items has lag"
### What happened?

When I hover over some q-items, example select, navigation... there is a lag - the hover effect appears with delay when I hover over the items. This is happening on Chrome version 97 on KUbuntu. This lag/hover delay only happens on quasar components and does not occur on other components/pages. I have also tried other frameworks like vuetify the hover works fine. Just the quasa

[2022-01-10 16:04] pxDot commented on #11970
Duplicate of https://github.com/quasarframework/quasar/issues/11967

[2022-01-10 17:04] darkopetreski commented on #11970
Additional info, on my other workstation, KUbuntu 20.04, chrome 97, same as the test case with the bug above it works fine. The only difference is that on the pc with the bug I do not have any graphics card attached.

[2022-01-10 17:41] ivanjaros opened #11971 "QMenu breaks input field"
### What happened?

I am working on autocomplete search input where I have search input and qmenu to display results via list.
The problem I have observed is that the input's focus is not working properly. The behavior is that when I click into the search input, it immediately defocuses so I have to click for the second time. Another case is when I click once, then click away and click back into t

[2022-01-10 18:17] pdanpdan commented on #11971
Check QMenu props related to focus

[2022-01-10 18:17] #11971 closed, assigned to nobody

[2022-01-10 20:02] ivanjaros commented on #11971
no-focus/no-refocus seem to be working in that jsfiddle. I will test it tomorrow in my code but is seems to fix the problem. Thanks.

[2022-01-11 00:18] rstoenescu commented on #6303
Will be available through new prop (hijack-filter Function) in Quasar v2.4.5

[2022-01-11 00:18] #6303 closed

[2022-01-11 00:18] rstoenescu commented on #11952
Will be available through new prop (hijack-filter Function) in Quasar v2.4.5

[2022-01-11 00:18] #11952 closed, assigned to rstoenescu

[2022-01-11 07:40] metalsadman commented on #11967
not happening on my mac HS 10.13.6
chrome Version 97.0.4692.71 (Official Build) (x86_64)

[2022-01-11 08:55] pxDot opened #11975 "Inconsistent and duplicated focus opacity on q-focus-helper"
### What happened?

q-focus-helper has some duplicated and inconsistent styles which causes a incoherent behaviour in style and additionally making it hard to override:
https://github.com/quasarframework/quasar/blob/0e856ac41d8c3430debea209c84ad4fab8196da7/ui/src/css/core/visibility.sass#L151-L162

### What did you expect to happen?

Styles should be concise and consistent to ensure a smooth and c

[2022-01-11 08:56] Evertvdw opened #11976 "QBreadcrumbsEl has `.q-breadcrumbs--last` applied to all but the last element"
### What happened?

The last class is applied incorrectly.

### What did you expect to happen?

The last class should only be on the last item.

### Reproduction URL

https://codepen.io/Mett-codepens/pen/BawqrZz

### How to reproduce?

1. Open the element inspector and check the elements classes

### Flavour

Quasar CLI (@quasar/cli | @quasar/app)

### Areas

Components (quasar), Style & Identity

[2022-01-11 09:41] francoism90 commented on #11952
@rstoenescu Great stuff! :D

Could you please give more examples?

What if I want to exclude a path: `https://my-service.com/api/v1/ignore`
From the looks of it, I can parse the given URL and simple return false/true to use the loadingbar? :)

[2022-01-11 09:52] MilosPaunovic commented on #11952
As the new sample code states:

[code]

You could filter the path in question however you like and eventually return `false` if you don't want `LoadingBar` to show.

[2022-01-11 10:37] pdanpdan commented on #11975
Hello. What do you think is wrong with that definition?
The opacity is different for `.q-focusable:focus, .q-manual-focusable--focused ` and for `.q-hoverable:hover`
What you did in the PR is remove that difference

[2022-01-11 11:14] yusufkandemir opened #11980 "11976 GitHub Actions test"
### What happened?

.

### What did you expect to happen?

.

### Reproduction URL

https://codepen.io/Mett-codepens/pen/BawqrZz?editors=101

### How to reproduce?

1. a

### Flavour

Quasar CLI (@quasar/cli | @quasar/app)

### Areas

Components (quasar), Style & Identity (quasar)

### Platforms/Browsers

Chrome

### Quasar info output

_No response_

### Relevant log output

_No response_

### Ad

[2022-01-11 11:14] #11980 closed, assigned to nobody

[2022-01-11 12:06] OfekA-IAI commented on #5432
@rstoenescu This is happening to me with Quasar 2.4.4 - any fix for this?

[2022-01-11 12:49] yusufkandemir opened #11984 "Issue workflow test"
### What happened?

.

### What did you expect to happen?

.

### Reproduction URL

https://codepen.io/Mett-codepens/pen/BawqrZz?editors=101

### How to reproduce?

1. a

### Flavour

Quasar CLI (@quasar/cli | @quasar/app)

### Areas

Components (quasar), Style & Identity (quasar)

### Platforms/Browsers

Chrome

### Quasar info output

_No response_

### Relevant log output

_No response_

### Ad

[2022-01-11 12:50] yusufkandemir commented on #11984
🎉

[2022-01-11 12:50] #11984 closed, assigned to nobody

[2022-01-11 12:56] radiantone opened #11985 "@input-value on q-select does not work"
### What happened?

@input-value on q-select does not invoke method when select is changed

### What did you expect to happen?

Callback method is to be invoked when select is changed

### Reproduction URL

https://codepen.io/dgovoni/pen/abLRpvj

### How to reproduce?

Self explanatory

### Flavour

Quasar CLI (@quasar/cli | @quasar/app)

### Areas

Components (quasar)

### Platforms/Browsers

Chr

[2022-01-11 13:00] pdanpdan commented on #11985
Please read the documentation on what `@unput-value` does.
I'm sure you want `@update:model-value`, so I suggest you should read Vue3 documentation

[2022-01-11 13:00] #11985 closed, assigned to nobody

[2022-01-11 13:40] radiantone commented on #11985
Ok, well, I got the advice to use @input-value from the discord, from a team member, so that's what I used.

[2022-01-11 13:41] radiantone commented on #11985
@update:model-value works, thanks.

[2022-01-11 14:19] pxDot commented on #11975
You are right, it should have some difference between a hovered state and a focussed state.
My confusion comes from a `QItem` in a `QList` which has `manual-focus` and `focused` property. When enabled it ignores hover state though and is only manually focusable but not hoverable.

I guess I just override the styles for this component in my application to have the same style for hover and focus sta

[2022-01-11 14:31] darkopetreski commented on #11967
I have the same issue, Chrome 97, Kubuntu 20.04, no external graphic card.

![148795180-e3dbd457-6e92-4630-9b75-c5eeb53b9d26](https://user-images.githubusercontent.com/4987585/148961658-ab254d86-1d5f-4a1f-bafb-7ce18af9324e.gif)

[2022-01-11 14:32] darkopetreski commented on #11970
Since it is duplicate, I will close this one.

[2022-01-11 14:32] #11970 closed, assigned to nobody

[2022-01-11 15:00] #11976 closed, assigned to nobody

[2022-01-11 15:00] rstoenescu commented on #11976
Fix will be available in Quasar v2.4.5

[2022-01-11 15:38] wsw70 commented on #5954
Is this still the case? `document.execCommand()` is now [deprecated](https://developer.mozilla.org/en-US/docs/Web/API/Document/execCommand).

[2022-01-11 21:14] KINGER404 opened #11997 "QEditor fullscreen mode in QStepper bug"
### What happened?

After turning off fullscreen mode in a QEditor placed in a QStepper, the current QStep disappears

### What did you expect to happen?

Expected normal QStepper operation

### Reproduction URL

https://codepen.io/kinger404/pen/MWEzWqQ?editors=1010

### How to reproduce?

1. Click on fullscreen mode in QEditor
2. Turn off fullscreen mode in QEditor
3. See the bug

### Flavour

Qu

[2022-01-12 07:44] pdanpdan commented on #11975
Can you please make a codepen with your code sample to understand exactly what you need?

[2022-01-12 07:59] pxDot commented on #11975
See here: https://codepen.io/squareloop1/pen/qBPQROK

Notice how the middle list item with `:focused="false"` doesn't have any hover effects?

[2022-01-12 08:19] pdanpdan commented on #11975
You can try adding the `q-hoverable` class to QItem with `manual-focus` if you need
https://codepen.io/pdanpdan/pen/xxXQgXa?editors=1010

But `manual-focus` is sort of a special use case where you want to control the focus with events happening in another place

Tell me if there are still problems

[2022-01-12 08:22] pxDot commented on #11975
Thank you very much. Seems like that was the piece I was missing.

[2022-01-12 08:22] #11975 closed, assigned to nobody

[2022-01-12 08:40] rsasum opened #11998 "Timers are stopped when scrolling due to scroll-observer"
### What happened?

When scrolling timers that have been started via `setInterval` suddenly stop.

### What did you expect to happen?

Timers should not stop until clearTimeout is called.

### Reproduction URL

none

### How to reproduce?

1. Create a new quasar project.
2. Start a timer in `created` or `mounted` function of e.g. MainLayout and let it print some text.
3. Add some content to make i

[2022-01-12 08:51] pdanpdan commented on #11998
:) nice one

[2022-01-12 10:03] eric-burel commented on #6256
You should probably build this file alongside the renderer process, instead of using the main process build, but to be confirmed

The problem is that the preload script need to access Node API but be built for the web, so I am not sure how to handle it correctly. Using `electron-preload` target like here doesn't work: https://stackoverflow.com/questions/43796358/how-do-i-compile-a-preload-script-w

[2022-01-12 11:28] tomlukman opened #12002 "q-icon doesn't properly resize SVG images since 1.17+"
### What happened?

q-Icons that come from a svg source don't get properly scaled
Preview: https://www.screencast.com/t/ygkg2trx

I noticed this on buttons first, but other slots using q-icon seem to be affected with this.

### What did you expect to happen?

Before 1.7 update: https://www.screencast.com/t/CQTLq7r2DNu

### Reproduction URL

https://codepen.io/tom_lukman/pen/yLzQXrv

### How to rep

[2022-01-12 11:35] MilosPaunovic commented on #12002
PR (for `Q2`) is here, #12001, should be backported to `Q1`, as well.

[2022-01-12 12:03] darkxanter opened #12005 "Electron build failed with Yarn Berry"
### What happened?

Electron build failed with message `YN0050: The --production option is deprecated on 'install'; use 'yarn workspaces focus' instead`.

Yarn 3.1.1.

### What did you expect to happen?

Successful build.

### Reproduction URL

none

### How to reproduce?

quasar build -m electron

### Flavour

Quasar CLI (@quasar/cli | @quasar/app)

### Areas

Electron Mode

### Platforms/Browser

[2022-01-12 12:53] rstoenescu commented on #11998
Fix will be available in Quasar v2.4.8

[2022-01-12 12:53] #11998 closed, assigned to nobody

[2022-01-12 13:12] rstoenescu commented on #12002
Fixed it for Quasar v2.4.8 and v1.17.3 (will be released soon)

[2022-01-12 13:12] #12002 closed, assigned to nobody

[2022-01-12 14:35] hawkeye64 commented on #12005
Quasar does not yet support that version of Yarn you are using (this would cause breaking changes).
Try downgrading it (yarn 1.22.7)

[2022-01-12 14:35] #12005 closed, assigned to nobody

[2022-01-12 15:14] rsasum commented on #11998
Thanx a lot 👍

[2022-01-12 18:31] super-seo commented on #7701
Hi.
Example
1.https://codepen.io/superseo/pen/XWeyBpz
2.https://codepen.io/superseo/pen/oNGQMQO?editors=101

Taken from the manual https://quasar.dev/vue-components/tree

The second click on the selected element always resets the selection. That is, click on the element for the first time - the corresponding Tab Panel opens, click again on the same element - it closes.
But it is necessary that the

[2022-01-12 20:32] thdoan opened #12015 "BEX opens with vertical scrollbar in Chrome"
### What happened?

On my Windows 10 PC with 1920x1080 resolution, I see a vertical scrollbar when opening the default BEX app:

![image](https://user-images.githubusercontent.com/4110567/149216844-b741251d-da0d-4d66-9a6c-deebd780febd.png)

The scrollbar goes away when you resize the window and maximize it again, but the page is still scrollable, as evident here:

https://www.loom.com/share/89c1ac

[2022-01-12 20:57] jaybo opened #12016 "QBtn with QIcon doesn't render properly as of V2.4.8"
### What happened?

I know a bug was fixed in V2.4.8 which had caused icons to be oversized (which I tested and verified),  but there is a new issue where it appears that buttons with icons are still not displaying their full content.

![SvgBug](https://user-images.githubusercontent.com/1607323/149209784-e2628069-4d65-4d51-8ff4-6d818180ada6.png)
None of my code in this area has changed in years, b

[2022-01-12 21:08] pdanpdan commented on #12016
It looks like QIcon needs a `flex-shrink: 0`
https://codepen.io/pdanpdan/pen/NWaEeba

[2022-01-12 21:21] leonardorafael commented on #11139
Hello my friends, if you need MATERIAL DESIGN 3 how about https://www.beercss.com?

![Screenshot_4](https://user-images.githubusercontent.com/12979016/188708647-119ebc69-b1a4-41f4-8518-a5de7b1b2ed9.png)

[2022-01-12 21:31] pdanpdan commented on #11139
@leonardorafael close but no cigar

[2022-01-12 21:39] leonardorafael commented on #11139
@pdanpdan no cigar only beer, do you like it?

[2022-01-12 21:44] pdanpdan commented on #11139
Honestly? It looks like my level of design :)

[2022-01-13 02:20] thexeos opened #12018 "QScrollArea mouse press in the area next to thumb causes undesirable scroll jump"
### What happened?

When scroll bar is slightly wider than thumb (almost always), if you miss the thumb with your mouse even by 1 pixel, the scroll position will jump, so that mouse is in the middle of the thumb, and only then thumb pan activates.

Relevant lines:

https://github.com/quasarframework/quasar/blob/b10202d94579e42269ea74e812c2ddc8ab71b46f/ui/src/components/scroll-area/QScrollArea.js#L

[2022-01-13 07:43] francoism90 commented on #11952
@MilosPaunovic I another way to parse the path:
[code]
https://developer.mozilla.org/en-US/docs/Web/API/URL/URL

You can use different kind of matches as well, like the hostname. :)

[2022-01-13 09:13] MilosPaunovic commented on #11952
You can use whatever your heart desires, as long as you return a `Boolean` value 🙂

[2022-01-13 11:08] rstoenescu commented on #12018
Fix will be available in Quasar v2.4.9 and v1.17.4

[2022-01-13 11:08] #12018 closed, assigned to nobody

[2022-01-13 11:21] rstoenescu commented on #12016
Fix will be available in Quasar v2.4.8 and v1.17.4.
No changes to your code required.

[2022-01-13 11:21] #12016 closed, assigned to nobody

[2022-01-13 11:36] rstoenescu commented on #12016
Please also note that QIcon does not have any "round" or "center" props.

[2022-01-13 12:57] nseb commented on #9159
interesting , not want officially merge ?

[2022-01-13 12:58] yusufkandemir commented on #11814
Hi @amitgur 👋 Make sure you set `quasar.conf.js > devServer > server > type = 'https'`(_It is not yet supported for Capacitor v3, not sure if anything got changed_) for HTTPS on the dev server. When you do that, the `url` property will be set as `https://....`. By the way, `https` is not a valid value for `iosScheme` as stated in the documentation link you've sent.

So, please use `quasar.conf.js

[2022-01-13 12:58] #11814 closed, assigned to nobody

[2022-01-13 22:07] hawkeye64 opened #12031 "QSelect text is not vertically centered"
### What happened?

The text within a QSelect is not vertically centered.

![image](https://user-images.githubusercontent.com/10262924/149416746-db354b38-b06b-465a-81ec-e702b941fd04.png)

### What did you expect to happen?

The text is to be vertically centered.

### Reproduction URL

https://codepen.io/Hawkeye64/pen/abLPVmL

### How to reproduce?

1. Go to CodePen link
2. Look at the QSelect

###

[2022-01-14 02:38] HyeongRae opened #12032 "q-date navigation-min-year-month error"
### What happened?

q-date components make error if set default-view='Months', emit-immediately='true' and navigation-min-year-month '2019/12' or '2021/8' or '2020/11' or etc.
In these months, the first day is on a Sunday.

### What did you expect to happen?

not make error.

### Reproduction URL

https://codepen.io/hyeongrae/pen/poWqLaN

### How to reproduce?

1. click date
2. click '<' btn until

[2022-01-14 03:14] zjqf2021 opened #12033 "quasar.config.js 中 build项参数配置在执行 quasar dev时不生效"
### What happened?

quasar.config.js中配置htmlFilename项时，自定义index文件名时带上路径，在quasar dev时页面白屏，找不到资源文件，浏览器控制台显示访问的资源文件路径与build中不一致。
[code]
浏览器中报错：
`GET http://localhost:8080/edu/dist/vendor.js net::ERR_ABORTED 404 (Not Found)`
注意这里的：GET http://localhost:8080/edu/**_dist/_**vendor.js net::ERR_ABORTED 404 (Not Found)
在dev模式下这个dist路径还是默认追加在后面，并没有采用build中的设置，但是 浏览器地址栏 _http://localhost:8080/static/edu/_却采用了b

[2022-01-14 05:17] #12033 closed, assigned to nobody

[2022-01-14 07:50] PowerWeb5 opened #12035 "Intersection Directive Sample Ambiguity"
In samples at https://quasar.dev/vue-directives/intersection there is no indication that each sample is scrollable in that page on mobile devices (as there is no scrollbar), hence the confusion. Even with the Tip instructions, it seems as if supposed to scroll down page until each red box is in view (scroll down to additional samples), as opposed to scrolling down to the sample and then scrolling

[2022-01-14 08:02] pdanpdan commented on #12035
It is working just fine

[2022-01-14 08:02] #12035 closed, assigned to nobody

[2022-01-14 09:55] pdanpdan commented on #12032
Please reduce this to a minimal reproduction case

[2022-01-14 13:19] HyeongRae commented on #12032
https://codepen.io/hyeongrae/pen/poWqLaN
i modified the code

[2022-01-14 14:53] rstoenescu commented on #12032
It's erroring out because you're not using it as it's meant to be used. Meaning with a full date (year + month + day).
But regardless, fixed this case in Quasar v2.4.10 (to be released).

[2022-01-14 14:53] #12032 closed, assigned to nobody

[2022-01-14 15:22] IlCallo commented on #11906
We cannot fix this into Qv2 lifecycle since it would require to change how we manage transitional deps (which is what q/app is based on)
It will be addressed into Qv3 release

The deprecation notice will be solved with the PR I just created

[2022-01-14 20:07] Evertvdw opened #12046 "QSelect method `isOptionDisabled` returns the option when the disable option is not specified"
### What happened?

Considering options like this:
`[ { label: '1', value: 1, disable: true }, { label: '2', value: 2 }, { label: '3', value: 3 } ]`
When calling the `isOptionDisabled` method on the first option it returns `true`.
When calling it on the second and third option it return the option itself which will also evaluate to true.

### What did you expect to happen?

The docs state that it

[2022-01-14 20:41] pdanpdan commented on #12046
Maybe for performance reasons it is better to leave it as it is?
We have 3 uses, but each one can use a custom function to extract the value:
1. getOptionValue (can return anything)
2. getOptionLabel (should in theory return a string - or at least a non-object)
3. isOptionDisabled (should return boolean)

In the case of 3. the easiest way would be to just check it against true ( `=== true`)

[2022-01-14 21:09] Evertvdw commented on #12046
@pdanpdan Would it not be just as easy to return `false` here instead of `opt` at the end here: https://github.com/quasarframework/quasar/blob/3e9f39a441b395d939527a4644763755cc818cc6/ui/src/components/select/QSelect.js#L605

Or atleast undefined and cast it to a boolean in https://github.com/quasarframework/quasar/blob/3e9f39a441b395d939527a4644763755cc818cc6/ui/src/components/select/QSelect.js#L

[2022-01-14 22:04] PowerWeb5 commented on #12035
There is no indication that each sample is scrollable in that page on mobile devices (as there is no scrollbar), hence the confusion. Even with the Tip instructions, it seems as if supposed to scroll down page until each red box is in view (scroll down to additional samples), as opposed to scrolling down to the sample and then scrolling within it to the Observed Element. It seemed as if the red di

[2022-01-14 23:27] miquels opened #12049 "Virtual Scroller loads 9x as much as is visible at any one time."
### What happened?

I've built a 'ThumbWall' component. It shows movie posters. Each row is 8 movie posters. The screen can show a maximum of 3 rows, so 24 posters on the screen. But QVirtuaScroll insists on loading 30 rows, that's 240 images. [The documentation](https://quasar.dev/vue-components/virtual-scroll#usage) states:

Hoever, the component does not seem to calculate this correctly and app

[2022-01-14 23:55] pdanpdan commented on #12049
The computation is a bit more complicated:
- the base (on screen) minimum number of rows is 10
- then we use `virtualScrollSliceRatioBefore` and `virtualScrollSliceRatioAfter` to add more rows before of after

So you can reduce the number of rows by setting these props to a smaller ratio (like 0.2)
https://codepen.io/pdanpdan/pen/zYEeqwY?editors=1111
About the minimum base size I have to think, so

[2022-01-15 11:33] #11906 closed, assigned to nobody

[2022-01-15 11:59] rstoenescu commented on #7701
New prop (no-selection-unset) will be available in Quasar v2.4.10 & v1.17.5

[2022-01-15 12:06] rstoenescu commented on #12031
Fix will be available in Quasar v2.4.10 & v1.17.5

[2022-01-15 12:06] #12031 closed, assigned to nobody

[2022-01-15 12:40] StefanoMantero commented on #4071
Is the `isActive` prop usable now? I can't find a way to correctly listen to the isActive prop of the global component, or just `start` and `stop` events without actually instance the component!  😭

[2022-01-15 20:20] francoism90 opened #12054 "[TS] Platform broken since 2.4.10"
### What happened?

[code]
This causes issues when doing something like this:
[code]
Why has this been changed? What should it return?

### What did you expect to happen?

Return platform type as seen in https://quasar.dev/options/platform-detection#introduction

### Reproduction URL

https://quasar.dev/options/platform-detection#introduction

### How to reproduce?

[code]

### Flavour

Quasar CLI

[2022-01-16 06:24] diadal commented on #12054
Yes same issue

[2022-01-16 08:29] yusufkandemir commented on #11309
This has been fixed by #12045 and got released on Quasar v2.4.10.

[2022-01-16 08:29] #11309 closed, assigned to yusufkandemir

[2022-01-16 08:30] yusufkandemir commented on #11309
Quasar v2.4.10 also introduced a new type called `QTableColumn` which supports generics. It can be used instead of `QTableProps['columns']` now, like this:
[code]

[2022-01-16 08:50] lxmfly123 opened #12058 "Zoomed in doc pages won't scroll properly on mac"
### Description

OS: macOS 11.6.1
Browser: Chrome 97~98 / Safari 15.1

After I use the pinch gesture to zoomed in a doc page, once I scroll the page down enough to cause the focused top-right toc navigation title get changed, the scroll position flashes back to the new navigation item, and unable to scroll down any more.

### Documentation Section URL

https://quasar.dev/layout/layout

### Flavour

[2022-01-16 10:18] yvhr commented on #12054
Experiencing the same issue after issuing `quasar upgrade -i`

[2022-01-16 10:39] yusufkandemir commented on #12054
This is a side-effect of #12045. It previously was a loose object type, but it's now `any`, which causes this error.

I am working on providing something that will both fix the error and provide better types than before.
[code]

[2022-01-16 14:25] StefanoMantero opened #12059 "Global LoadingBar component does not have isActive reactive prop."
### What happened?

Currently, the global `loadingBar` component does not have a correctly implemented `isActive` reactive property. This has been asked [in this issue](https://github.com/quasarframework/quasar/issues/4071).

### What did you expect to happen?

In `loadingbar.vue` global file, the field `Status: active/idle` should update depending on the isActive prop that the global component ha

[2022-01-16 15:23] StefanoMantero commented on #12059
I have created the following pull request #12062

[2022-01-17 01:26] DanieloFleming commented on #11424
I had the same issue, but this seems to be a bug in quasar. i am using "quasar": "^2.4.10" and got:

[code]

after going to the source i saw 2 things.
1. line 13696: `var installQuasar = function (e, t = {}, o) {...` It seemed to me like `o` was missing a default value `{}`;
i change it to `var installQuasar = function (e, t = {}, o = {}) {...`  and go the next error
[code]
going over there i saw:

[2022-01-17 06:13] yusufkandemir commented on #11424
https://next.vue-test-utils.vuejs.org/migration/#no-more-createlocalvue

...

Some stuff got updated in `@vue/test-utils`, and `@quasar/testing-unit-jest` provides [`installQuasarPlugin(options)`](https://github.com/quasarframework/quasar-testing/tree/next/packages/unit-jest#installquasarpluginoptions) for handling the initialization stuff correctly.

@rimijn is using `@quasar/app` which is the lo

[2022-01-17 06:13] #11424 closed, assigned to nobody

[2022-01-17 08:50] #11854 closed, assigned to yusufkandemir

[2022-01-17 09:04] IlCallo commented on #11424
Correct, CJS exported version is optimized for SSR, so it will give you all kind of weird issues while testing
You need to add these lines to your jest config to use and transform the ESM build version:
- https://github.com/quasarframework/quasar-testing/blob/5a761b2d8f25656d09d237a525e96cf60e5401ae/packages/unit-jest/src/templates/typescript/jest.config.js#L1
- https://github.com/quasarframework/

[2022-01-17 11:47] rstoenescu commented on #11967
Can someone that reproduces this issue try Chrome 98 (beta/next) and see if this is still happening? Or with other browsers?
Seems like there is a bug in Chrome that might have been fixed in the next Chrome version.

Thanks for the feedback in advance.

[2022-01-17 11:56] MilosPaunovic commented on #11967
Tried on Chrome `Version 98.0.4758.55 (Official Build) beta (x86_64)` for Mac `BigSur 11.4 (20F71)`, seems to be working okay; screen recording attached.

https://user-images.githubusercontent.com/62475782/149765294-86eee836-efe7-4582-8add-ea280a1db097.mov

[2022-01-17 14:10] Tofandel commented on #5787
I made myself a headless wrapper component:
[code]

Usage:
[code]

Inspiration can be taken to integrate this into the core

[2022-01-17 14:16] #11526 closed, assigned to nobody

[2022-01-17 16:00] maggie44 opened #12076 "Bump webpack-dev-server to resolve security vulnerability"
### What happened?

GitHub reports a package with a security vulnerability. webpack-dev-server needs updating to resolve it.

### What did you expect to happen?

Further details here: https://github.com/webpack/webpack-dev-server/issues/4167

### Reproduction URL

[code]

https://github.com/webpack/webpack-dev-server/issues/4167

### How to reproduce?

Push a Quasar app to GitHub with dependabot e

[2022-01-17 16:43] GuilhermeErmel opened #12078 "Input visibility problem"
### What happened?

Hello,

I'm having a behave problem using a set of Quasar components (in current Chrome 97.0.4692.71). I have a 'sign in' page where the password input allows change the value visibility and it also has a button to clear its value... Well, is very simple.

https://codepen.io/ermel/pen/vYebBoR?editors=1011
https://cdpn.io/ermel/debug/vYebBoR/GnAnbXDDOdeA

However, when the user

[2022-01-17 16:57] rstoenescu commented on #12049
Fix will be available in Quasar v2.4.11 and v1.17.6

[2022-01-17 16:57] #12049 closed, assigned to nobody

[2022-01-17 17:20] rstoenescu commented on #12059
Fix will be available in Quasar v2.4.11 and v1.17.6

[2022-01-17 17:20] #12059 closed, assigned to nobody

[2022-01-17 17:21] pdanpdan commented on #12078
Works for me
https://codepen.io/pdanpdan/pen/MWExzPK?editors=1011

[2022-01-17 17:56] #12054 closed, assigned to yusufkandemir

[2022-01-17 18:14] #12076 closed, assigned to nobody

[2022-01-17 18:14] rstoenescu commented on #12076
Will be available in "@quasar/app" v3.2.7

[2022-01-17 18:32] rstoenescu commented on #11804
Can this be tested again? (Upgrade q/app) Some memory leaks have been fixed in Vue 3.2.27 and 3.2.25.
https://github.com/vuejs/core/commit/2e3e183b4f19c9e25865e35438653cbc9bf01afc
https://github.com/vuejs/vue-next/commit/ed9eb62e5992bd575d999c4197330d8bad622cfb

Please reopen if it's still happening. It means the root cause is another mem leak in Vue.

[2022-01-17 18:32] #11804 closed, assigned to rstoenescu

[2022-01-17 18:33] rstoenescu commented on #11923
Can this be tested again? (Upgrade q/app) Some memory leaks have been fixed in Vue 3.2.27 and 3.2.25.
https://github.com/vuejs/core/commit/2e3e183b4f19c9e25865e35438653cbc9bf01afc
https://github.com/vuejs/vue-next/commit/ed9eb62e5992bd575d999c4197330d8bad622cfb

Please reopen if it's still happening. It means the root cause is another mem leak in Vue.

[2022-01-17 18:33] #11923 closed, assigned to nobody

[2022-01-17 20:34] dinesh-chander opened #12080 "TS Syntax error in app/types/app-extension.d.ts line (14,15)"
### What happened?

On running quasar dev, TS is throwing syntax errors for lines 14 and 15 in
app/types/app-extension.d.ts

https://github.com/quasarframework/quasar/blob/05f407a70ee9c6d916a4e557562d3ff6e0c3bbf1/app/types/app-extension.d.ts#L14

### What did you expect to happen?

Not required

### Reproduction URL

Not required

### How to reproduce?

use @quasar/app package version 3.2.7 and ru

[2022-01-17 21:09] yusufkandemir commented on #12080
Result of #9758.

[2022-01-18 01:27] CamilleDrapier commented on #11804
Thank you, I have tested this again and could at least reproduce the problem with q-img. I tried digging a bit deeper in that component and comment out some part of the code (in the `node_modules`'s quasar QImg.js file) that could be leading to the memory leak, after a while I could identify that the `loading: "lazy"` seems to be the trigger of the problem.

I pushed two new branches to the reposi

[2022-01-18 03:09] luoxin164 opened #12082 "ExportFile"
### What happened?

Hello, I want to ask about the exportFile tool in Quasar framework when exporting table data, when there is 0 in the front of the table data, the table display will remove 0, I would like to know what might be causing the problem? Or the tool doesn't cover this feature in the first place?

### What did you expect to happen?

I want to export data in a format like 0007

### Repr

[2022-01-18 05:21] #12082 closed, assigned to nobody

[2022-01-18 09:27] yusufkandemir commented on #12080
Fixed in https://github.com/quasarframework/quasar/commit/2ba8fcfd6ae09a17d95ae400e78d15413d7d4ca9

[2022-01-18 09:27] #12080 closed, assigned to IlCallo

[2022-01-18 09:28] IlCallo commented on #12080
Definitely my fault, haven't catched those commas from GH GUI after last review iteration
Seems like GH automerge also messed up with q/app devDeps and had to re-add those too 😅

Will be fixed into upcoming @quasar/app v3.2.8
Thanks for reporting :)

[2022-01-18 13:33] GuilhermeErmel commented on #12078
Did you access in debug mode (on codepen)?

After click in 'Show login', Chorme autocompletes the inputs. Then, if I click to see the password, its value isn't displayed.

_Remembering: First you need to fill the user and password and submit the form to Chrome to suggest saveing these informations._

[2022-01-18 14:25] babalubas090 commented on #12078
I'm having the same issue here...  I put the code of the CodePen sandbox that @GuilhermeErmel did in the CodeSandbox and the problem can be simulated more easily.

https://codesandbox.io/s/laughing-rubin-00nyi

Noting that Chrome's autofill doesn't work in the iframe mode that is exhibited in the CodeSandBox. With that in mind, you need to open the link that is displayed in the URL bar above the i

[2022-01-18 14:55] fyeeme opened #12094 "Any plan that tree support drag and drop"
### What happened?

Currently tree does not supported  drag and drop

### What did you expect to happen?

Offically supported  drag and drop

### Reproduction URL

https://codepen.io/fyeeme/pen/rNGbzoJ?editors=101

### How to reproduce?

1. click the tree and try to drag and drop

### Flavour

Vite Plugin (@quasar/vite-plugin)

### Areas

Components (quasar)

### Platforms/Browsers

Chrome

### Qu

[2022-01-18 14:57] fyeeme commented on #12094
link has been updated

[2022-01-18 14:57] pdanpdan commented on #12094
duplicate of #6044, #7299, #5890, #6959

[2022-01-18 14:57] #12094 closed, assigned to nobody

[2022-01-18 17:26] ibrainventures commented on #11952
Great feature.
Tested and works fine. May for the docs:
If the api call is inside your webroot, there is no webserver adress inside the url param.

And for a more "programmatic" way, i soluted it by a "contains not" regex and so
i can add e.g. a ?q=tpisd to my calls (which means, this is a silent request):

[code]

[2022-01-18 21:16] jakobnoergaard commented on #11967
I can confirm that the bug has been fixed in Chrome 98 (beta).

[2022-01-19 09:33] sluedecke commented on #10934
@yusufkandemir such a solution would be great!  One might need to make the changes in the native bridge, too.

**My alternative solution mentioned in the initial post (prefetching) does work properly on Android!**  BUT: if the installation of the service worker fails in any way (in my case the __WB_MANIFEST contained an entry for `.gitignore` which is an error), the service worker will silently be

[2022-01-19 11:57] rstoenescu commented on #11804
The "loading" prop is assigned as an attribute to the native rendered image. So if I understood correctly and there's a memory leak by using it then it means the browser itself is at fault because it does not releases the memory when the native img is removed from DOM. So not sure how any framework can help because it's not their fault (Quasar or Vue).

In any case, until this is fixed in browser(

[2022-01-19 14:22] DanieloFleming commented on #11424
@yusufkandemir First of all thank you for the feedback.

Fair enough. I am in deed not using the quasar/Vue cli, but vite with typescript.

i simply added this to my `setupFilesAfterEnv` in `jest.config.js`
[code]
i now see the `installQuasarPlugin` is basically doing the same, but probably more effective.
my jest.config is nothing more then this:
[code]

Ill take a look at the provided solutions

[2022-01-19 14:36] jakobnoergaard commented on #11967
I think the bug is still there when using: Chrome Version 98.0.4758.55 (Official Build) beta (arm64). In Safari everything works as expected.

https://user-images.githubusercontent.com/20745759/150151756-c3ddaee4-611a-4504-a141-4efeb87f43e0.mov

[2022-01-19 15:37] IlCallo commented on #11424
We'd love that, even if we currently don't have much time to work on it
If you find a solution in the meantime, please report back here

[2022-01-19 18:50] IlCallo opened #12109 "Document QScrollArea interaction with fixed position child elements after v2.4.4"
### Description

Recently QScrollArea got a new attribute set: `contain: strict` https://github.com/quasarframework/quasar/commit/79f7eb9600caf21f6a340f116a5545c6fd06fe39

This makes any fixed-position element into a QScrollArea to behave as relative positioned with respect to the QScrollArea
This could be a problem since Safari [doesn't support `contain` yet](https://caniuse.com/mdn-css_propertie

[2022-01-19 20:49] hawkeye64 commented on #12109
FYI, this was added to fix the "flashing" scrollbar seen on Chrome. This only occurred when a QScrollArea was put inside of a drawer and under certain other circumstances (display settings > 100% on hi-res monitors).

Perhaps a prop that would have added this would be a better fix, then devs have the option. The other fix to this was that both QDrawer and QScrollArea both have the `.scroll` class.

[2022-01-19 20:55] hawkeye64 commented on #12109
Another idea is to have a new component that bakes QDrawer and QScrollArea together. Then the outer QDrawer can have its `.scroll` class removed. (QDrawScrollArea)

[2022-01-19 22:02] Vchekryzhov opened #12113 "can't edit select field after reopen browser page on mobile"
### What happened?

I can't edit my input in select with autocomplete on mobile device after reopen page. all my input is highlight and i can only delete it.
https://quasar.dev/vue-components/select#filtering-and-autocomplete
![select](https://user-images.githubusercontent.com/29312284/150220284-6709a022-2afb-442b-9c84-9c4d8891822e.jpg)

### What did you expect to happen?

i expect that i can edit

[2022-01-20 07:53] rstoenescu commented on #12109
Other aproaches have been considered. But the problem with all of them is that it requires extra work from all devs. First, you need to identify that there's a problem (which is not obvious because you require a certain setup), then you need to identify the obscure prop in the API card on docs which deals with this problem, then apply it to all required scenarios. This is far from ideal.

To close

[2022-01-20 08:23] shiouming opened #12116 "QTime minute-options"
### What happened?

Steps to reproduce:
1. Visit QTime documentation page: https://quasar.dev/vue-components/time
2. Open Codepen from the docs page (version info displayed: QTime: Basic - Quasar v2.4.11).
3. Append minute-options to restrict minute selector to 4 options: 0, 15, 30, 45
`<q-time v-model="time" minute-options="[0, 15, 30, 45]"></q-time>`

Expected result:
The minute selector should

[2022-01-20 08:28] pdanpdan commented on #12116
It's `:minute-options="[0, 15, 30, 45]"`
You are passing a string ("[0, 15, 30, 45]") and 5 is included in the string :)

[2022-01-20 08:28] #12116 closed, assigned to nobody

[2022-01-20 08:33] rstoenescu commented on #12113
Tap around the text to unset the selected text.

This is by design as the vast majority of use cases require user to type something different.

[2022-01-20 11:51] shiouming commented on #12116
Ah! I missed the colon. Thanks.

[2022-01-20 12:29] pdanpdan commented on #12113
related: #11919

[2022-01-20 13:39] jmroon commented on #3262
@pdanpdan I see this change has been ready to go for about 1.5 years now. Is there a reason it's committed every day but never merged? Does it have to go through an approval process?

This is a small, but very nice to have feature.

[2022-01-20 14:06] rstoenescu commented on #11997
Fix will be available in Quasar v2.4.12 & v1.17.7

[2022-01-20 14:06] #11997 closed, assigned to nobody

[2022-01-20 14:06] rstoenescu commented on #8533
Fix will be available in Quasar v2.4.12 & v1.17.7

[2022-01-20 19:00] smakinson opened #12126 "QInnerLoading size attribute ignored after upgrade"
### What happened?

After upgrade to Quasar ^1.17.6, the q-inner-loading doesn't seem to be respecting the size attribute.

### What did you expect to happen?

The size attribute to continue to work as it has.

### Reproduction URL

https://codepen.io/smakinson/pen/vYeqKKK

### How to reproduce?

Add a <q-inner-loading size="500px"/> and notice it does not change the size.

### Flavour

Quasar CLI

[2022-01-20 21:41] jmroon opened #12132 "QSelect cursor issue with use-input"
### What happened?

When using the use-input property for QSelect, the input field has a cursor: pointer style applied to it.

![image](https://cdn.discordapp.com/attachments/806171748046733332/933834283452366848/q-select-input.gif)

### What did you expect to happen?

The input field should have a cursor: text style applied to it.

As the action is the same no matter where you click, changing to

[2022-01-20 21:48] jmroon commented on #12132
Well that was fixed in record time. :o

[2022-01-21 08:21] leonbuild opened #12137 "q-icon doesn't resize SVG images"
### What happened?

Firstly I want to thank you for your great work!

I do see the issue #12002, but this one seems to behave differently.

I used to resize the svg images within q-icons by putting heights and widths in the style tag:
` <q-icon name="img:https://cdn.quasar.dev/logo-v2/svg/logo.svg" style="width:200px; height: 200px;"></q-icon>`

Previously it works fine, but after upgrading to 2.4

[2022-01-21 09:59] pdanpdan commented on #12137
I would say you should better use `:size="200px"`
https://codepen.io/pdanpdan/pen/yLzdvEz

[2022-01-21 10:24] J3m5 commented on #3262
As @hmon said, there is a small issue about the background of the label: https://github.com/quasarframework/quasar/issues/3262#issuecomment-838176852
And @rstoenescu commented about performance: https://github.com/quasarframework/quasar/issues/3262#issuecomment-496661674

[2022-01-21 10:50] #12137 closed, assigned to nobody

[2022-01-21 10:56] rstoenescu commented on #12132
Fix will be available in Quasar v2.4.12 & v1.17.7

[2022-01-21 10:56] #12132 closed, assigned to nobody

[2022-01-21 10:58] rstoenescu commented on #12113
Fix will be available in Quasar v2.4.12 & v1.17.7

[2022-01-21 10:58] #12113 closed, assigned to nobody

[2022-01-21 10:58] rstoenescu commented on #11919
Fix will be available in Quasar v2.4.12 & v1.17.7

[2022-01-21 10:58] #11919 closed, assigned to nobody

[2022-01-21 11:00] rstoenescu commented on #12126
Fix will be available in Quasar v1.17.7

[2022-01-21 11:00] #12126 closed, assigned to nobody

[2022-01-21 11:02] Vchekryzhov commented on #12113
thanks guys you are best

[2022-01-21 14:42] CamilleDrapier commented on #11804
Thank you, indeed using `loading="eager"` could be a temporary solution for this problem for us, until the underlying issue may be fixed. I tried using `loading="lazy"` on my project that is still using quasar1 (our migration to v2 is more or less blocked by this memory issue), and couldn't see the same memory increase, I also tried with a stock `img(loading="lazy")`, so I'm not sure if this is a

[2022-01-21 15:02] laferte-tech opened #12144 "Meta script tag with defer, async : not possible to set boolean value"
### What happened?

Hello,

When using the Meta Plugin with SSR and when we want to add a script tag, it's impossible to give boolean values to attributes like defer or async.
So the result is something like this:

`<script src="//url" defer="" data-qmeta="google"></script>`

We can just pass string so we can pass something like : defer: 'defer" or defer: '' but not defer: true

### What did you e

[2022-01-21 15:38] laferte-tech opened #12145 "Capacitor and webpack devserver : allowedHosts seems to be not taken into account"
### What happened?

Hello,

When building a Capacitor App in dev mode, i would like to have a host like :

`host: 'mysubdomain.eu.ngrok.io'`

This host config goes to the devServer block of Quasar.conf.js and it's used by the capacitor.config.json in the android folder to start the app.

I want to have this because i found no better way to test my app on my phone and having  secureContext enabled.

[2022-01-21 16:01] sinbino opened #12146 "QSelect's Dropdown is broken."
### What happened?

When I first open QSelect's Dropdown, it is broken.
Perhaps the virtual scrolling used in the dropdown is not working properly.
![Peek 2022-01-21 11-45](https://user-images.githubusercontent.com/22654430/150558175-092a358b-e8b4-4289-b033-215079a577cb.gif)

### What did you expect to happen?

The dropdown will be drawn correctly.

### Reproduction URL

https://codepen.io/sinbino

[2022-01-21 16:20] chaosKP commented on #12146
Had the same problem, but seems to be fixed with quasar 2.4.12

[2022-01-21 16:33] #10856 closed, assigned to nobody

[2022-01-21 16:43] sinbino opened #12150 "Inconsistent behavior of QVirtualScroll's virtual-scroll-slice-ratio-after property by type"
### What happened?

If the QVirtualScroll virtual-scroll-slice-ratio-after or virtual-scroll-slice-ratio-before property is given a value of type number, it will behave as expected, but if it is given a value of type string property with a value of type string, it behaves strangely.

There seems to be a problem with the calculations involving virtualScrollSliceRatioBefore and virtualScrollSliceRat

[2022-01-21 16:53] sinbino commented on #12146
I just checked. Thanks for letting me know!

[2022-01-21 16:53] #12146 closed, assigned to nobody

[2022-01-21 18:38] rstoenescu commented on #12150
Fix will be available in Quasar v2.4.13 and v1.17.8

[2022-01-21 18:38] #12150 closed, assigned to nobody

[2022-01-22 00:11] twktue commented on #11967
I am experiencing this lag issue as well: `Version 97.0.4692.71 (Official Build) (arm64)` on `macOS 12.1 (21C52)`.

I installed [Chrome Beta](https://www.google.com/chrome/beta/) `Version 98.0.4758.66 (Official Build) beta (arm64)` and the **lag disappeared**.

I told my IT admin about this and he said that we are using the "Enterprise" version of Chrome, so I installed [Chrome Beta Enterprise](ht

[2022-01-22 00:17] murilolivorato opened #12154 "refresh page, gives error"
### What happened?

I am using quasar 2.0.0

Hello, I am using Quasa2 , with vue 3 .
it is giving a lot this error , when I refresh the page -
[vuex] do not mutate vuex store state outside mutation handlers.
image of the error -
https://ibb.co/Xp2pw36

Before in quasar 1 , it didn't had this problem . but in Quasar 2.0.0 with vue 3 , it is a pain . I refresh the page , and gives this error .
I saw

[2022-01-22 00:18] #12154 closed, assigned to nobody

[2022-01-22 03:05] leonbuild commented on #12137
Thanks @pdanpdan , that's helpful!
Using a `class="inherit-icon-size"` is new to me.

[2022-01-22 06:22] rstoenescu commented on #12137
Stick with the 'size' prop, as QIcon is intended to be used.

The class approach is a custom class (not Quasar) in that example which overrides the width and height to the appropriate values.

[2022-01-22 06:44] rstoenescu commented on #11804
Thank you for the comment above. Hope that the Vue hook will be fixed soon. Would you be so kind to drop a message here when it does, so that others that read this ticket also know?

[2022-01-22 06:55] rstoenescu commented on #11967
Thank you all for commenting. All we can do is hope that the Chrome team fixes this soon.

If not, or as is the case with Chrome "Enterprise", please raise a bug ticket to them. There is nothing that we can do from within Quasar other than remove the focusing feature, which would be absurd.

[2022-01-22 06:55] #11967 closed, assigned to nobody

[2022-01-22 16:14] pxDot commented on #11510
To chime in on this: Sometimes you don't want to use `validate()` to check if the input has any validation errors as this would trigger the validation again even if it happened before and you don't want to fire it again. `hasError` provides a way to check for validation errors without triggering validation itself which is very useful and needed in some cases. The current `error` prop is not filled

[2022-01-22 18:39] irux commented on #7006
@lmm-git do you delete the source-maps after you upload them ?

[2022-01-22 21:39] lmm-git commented on #7006
Exactly, otherwise the source code would be publicly available, which is not always wanted.

[2022-01-23 13:46] aessig opened #12162 "Cannot build quasar in docker image (node:12.22-alpine)"
### What happened?

[code]

### What did you expect to happen?

Build ok

### Reproduction URL

No url to share

### How to reproduce?

RUN quasar build

### Flavour

Quasar CLI (@quasar/cli | @quasar/app)

### Areas

SPA Mode

### Platforms/Browsers

_No response_

### Quasar info output

_No response_

### Relevant log output

_No response_

### Additional context

Run on OSX Docker Desktop 4.4.

[2022-01-23 15:06] rstoenescu commented on #12162
Please remove the IconGenie AE with the IconGenie CLI. [Upgrading to IconGenie v2](https://v1.quasar.dev/icongenie/installation#upgrading-to-icon-genie-v2)
Seems like the build in your case fails while running the `beforeBuild` hook of the legacy IconGenie App Extension.

[2022-01-23 15:06] #12162 closed, assigned to nobody

[2022-01-23 20:21] hawkeye64 commented on #7006
Did anyone try the `--debug` flag to create your source maps with a production build?

[2022-01-24 08:27] jeremyjone opened #12164 "QRange marker-labels property has some type error"
### What happened?

I'm using the `marker-labels` property of `q-range` with `TypeScript`, but I always have a type error.

![image](https://user-images.githubusercontent.com/37676231/150745096-b9efbcca-b1d3-48ab-9065-4a5d9e039551.png)

I looked at the type source code, they look like they're the same.

![image](https://user-images.githubusercontent.com/37676231/150745524-12a05c54-0a0e-4ce7-88c9-2

[2022-01-24 08:51] MilosPaunovic commented on #12164
Maybe @yusufkandemir can take a look at this when he gets a chance.

[2022-01-24 10:42] Getz85 opened #12165 "Dialog: background doesn't fit 100vh when safari's address bar is minimized on iOS 15.x"
### What happened?

The address bar of safari on iOS 15.2.1 can be in a minimized state which affect the display of the shadow background when a Dialog is opened: the background doesn't take all the height of the viewport:

![ios-15-minimized](https://user-images.githubusercontent.com/5981479/150767136-d3387494-4161-4a90-86ef-8a83f2aa4f2d.png)

As we can see, the background doesn't take 100vh, but

[2022-01-24 10:56] rstoenescu commented on #12164
Taking care of it.

[2022-01-24 11:12] Getz85 commented on #12165
I can't reproduce the issue on a jsFiddle (https://jsfiddle.net/0sep4drt/show), probably because the page is included in a iframe.
But this is can be easily reproduce on the documentation page.

[2022-01-24 12:00] rstoenescu commented on #12164
Fix will be available in Quasar v2.4.13.

[2022-01-24 12:00] #12164 closed, assigned to rstoenescu

[2022-01-24 14:51] GuilhermeErmel commented on #12078
@pdanpdan

[2022-01-24 15:23] namespace-github commented on #7581
@rstoenescu Will Quasar support yarn 2 with webpack in the future? We rely on webpack and cannot switch to vite for various reasons.

[2022-01-24 17:26] pxDot opened #12172 "QInput dark mode error message transition"
### What happened?

The transition for the error message on `QInput` with enabled dark mode has a weird transition bug where it seems to not keep the color or loosing anti-aliasing in the transitory state. I'm not sure if this is happening without dark mode too as it might be hard to see there.

This issue is showing up in Chrome for me. In Firefox the same is happening but not as extreme as in Ch

[2022-01-24 18:39] gaoliang commented on #8822
Any progress?

[2022-01-24 18:41] gaoliang commented on #8822
According to https://developer.chrome.com/blog/mv2-transition/

- January 17, 2022: New Manifest V2 extensions will no longer be accepted by the Chrome Web Store. Developers may still push updates to existing Manifest V2 extensions, but no new Manifest V2 items may be submitted.

- January 2023: The Chrome browser will no longer run Manifest V2 extensions. Developers may no longer push updates to

[2022-01-24 20:23] lfaires commented on #4702
Thanks a lot, you save my life

[2022-01-24 21:54] cwittenb opened #12174 "Quasar language pack should have consistent i18n keys"
### What happened?

The Quasar language pack uses different i18n key naming schemes for English (some other Countries), ie. 'en-US'/'en-GB', than for most of the other countries, ie. 'de' or 'es'.
This is quite confusing to use for developers.
In particular when different countries use different dialects, like spanish speaking countries, or different countries differ in other locale related aspect

[2022-01-24 22:07] rasc-br opened #12175 "Updated versions is causing 22 warnings about not finding 'vue' into quasar source"
### What happened?

I updated almost all my libraries to remove deprecated warnings and security flaws, but now I see 22 warnings of the same thing into Quasar's code:
[code]

### What did you expect to happen?

Update packages and see no warnings in Quasar's code.

### Reproduction URL

https://github.com/rasc-br/AVuePaulista/blob/main/ui/package.json

### How to reproduce?

Update packages from:

[2022-01-24 22:14] pdanpdan commented on #12175
Please read the migration guide from Quasar v1 to Quasar v2

[2022-01-24 22:14] #12175 closed, assigned to nobody

[2022-01-25 07:57] darkopetreski commented on #11967
I have reported the bug here https://bugs.chromium.org/p/chromium/issues/detail?id=1290371

The problem is, it cannot animate currentColor. If instead of current color, specific color is provided, example gray, it works.
[code]

[2022-01-25 09:21] darkopetreski commented on #11967
If someone needs a quick fix for this, the following css can be used in the app.css

[code]

[2022-01-25 10:32] sluedecke commented on #10934
And I made it work in iOS, too!

The IMPORTANT difference is: data included in the native app (all the JavaScript logic, pages, etc.) is loaded by capacitor itself, everything else (e.g. resources from the backend server) is handed over to the fetch mechanism of the platforms webview implementation. BUT:

* On **Android** these included resources are configured to have `http://localhost/service-wo

[2022-01-25 11:20] pxDot commented on #11967
Awesome, tyvm for tracking this down. I will keep a close look to your issue on the chromium issue tracker.

[2022-01-25 11:29] pdanpdan commented on #12165
This is a bug in iOS, we hope it'll be fixed in the next few years :)
https://stackoverflow.com/questions/68094609/ios-15-safari-floating-address-bar
For the moment they are changing the behavior on most of the releases

[2022-01-25 12:20] rstoenescu commented on #9235
Under the hood change in q/app v3.3 will make this work correctly.

[2022-01-25 12:20] #9235 closed

[2022-01-26 13:24] mpavlase opened #12201 "missing touch repeat directive related links"
### Description

Touch repeat seems to be added recently, there is missing link to other touch directives and vice versa.

### Documentation Section URL
https://quasar.dev/vue-directives/touch-repeat

### Flavour

_No response_

### Areas

Directives (quasar)

[2022-01-26 13:28] rstoenescu commented on #12201
TouchRepeat was added years ago.
Can you be more specific pls on what you think is missing and where? Thanks in advance.

[2022-01-26 13:29] #12201 closed, assigned to nobody

[2022-01-26 16:08] preetamslot commented on #11402
this bug also happens with the q-drawer component.

[2022-01-26 16:10] preetamslot commented on #12165
https://github.com/quasarframework/quasar/issues/11402

[2022-01-26 16:41] preetamslot commented on #11402
it seems to be related to the .q-body--prevent-scroll

If you force the body to be relative position on IOS, the space at the bottom will not be visible. it is not a fix but maybe it helps.

[code]

[2022-01-27 05:59] thexeos commented on #12165
We have a chat with Quasar Layout and `<q-footer>` with message composer "working" in Safari and WKWebView.

It can never be perfect until they fix Safari, but this may (or may not) help:

[code]

This was not the only change I've made, but without this, anything else I did had no effect.

[2022-01-27 06:06] thexeos opened #12214 "Potential AM flag inconsistency in QTime implementation with 24-hour clock enabled"
I've noticed that the code to update the AM/PM in QTime differs between `updateClock` and `model-value` watch handler:

- In `updateClock`, the AM is selected only when 24-hour clock is **enabled**
- In watch handler, the AM is always selected, even if 24-hour clock format is **currently disabled**

https://github.com/quasarframework/quasar/blob/c1205680f53447f802053ccfa714c83934b4cee2/ui/src/comp

[2022-01-27 07:59] pdanpdan commented on #12214
Hello

`updateClock` is called from user interactions

When you are using 12h clock:
- you always send a 1-12 hour value (so the AM/PM state cannot be inferred from it)
- you can set the AM/PM from interface

When you are using 24h clock:
- you send a 0-23 hour value (and the AM/PM is inferred from it)

In the model watcher the hour is always normalized to 0-23, so the AM/PM is inferred from it.

[2022-01-27 07:59] #12214 closed, assigned to nobody

[2022-01-27 08:02] iliubinskii opened #12215 "Vetur errors after upgrading @quasar/app from 3.2.6 to 3.2.7"
### What happened?

This is screenshot from Visual Studio Code with Vetur:
![image](https://user-images.githubusercontent.com/70687432/151315087-30a1a451-b1d5-4a78-8c95-2c9c5d846a8e.png)
I started seeing this error after upgrading @quasar/app from 3.2.6 to 3.2.7

I have created fresh project using "quasar create" command with "typescript" enabled. Here is a repo:
https://github.com/ilyub/repro-qua

[2022-01-27 11:08] Rolanddoda opened #12220 "QDrawer cannot be initially set to true"
### What happened?

QDrawer initial value to `true` doesn't work.

### What did you expect to happen?

I expected the Drawer to stay open after refresh

### Reproduction URL

https://codesandbox.io/s/qdrawer-cannot-be-set-to-true-3k0fg?file=/src/App.vue

### How to reproduce?

1. Go the the reproduction link
2. Refresh the view
3. Observe that the Drawer auto-closes when instead should stay open

[2022-01-27 11:12] pdanpdan commented on #12220
`show-if-above`

[2022-01-27 11:37] yusufkandemir commented on #12215
I couldn't reproduce the problem.
The project correctly builds, Vetur doesn't show any error.
![image](https://user-images.githubusercontent.com/6266078/151350537-570d6f04-b7b6-4e3f-8e9e-16a7fd3fa79f.png)
I even tried enabling Vetur and Volar at the same time to break things, but it still worked.

A side note: Volar works much better, both Vue team and we recommend using Volar. We will update our

[2022-01-27 11:37] #12215 closed, assigned to nobody

[2022-01-27 12:17] Rolanddoda commented on #12220
@pdanpdan thank you for closing another issue without even trying to investigate, comment a good response or see if your solution actually works.

But guess what, it doesn't work!

### So can you please open the issue again?

[2022-01-27 12:24] pdanpdan commented on #12220
You have it as `overlay` - it cannot be open by default

[2022-01-27 12:31] yureckey commented on #10120
Not sure should I post a new bug report or it's a continuation of this one.
I've spent quite some time trying to figure out why on Chrome browser on a brand new blank project I see a scrollbar and 1-pixel wide bar near footer.
It is gone when I changed the windows10-recommended scale from 125% to 100% (but it's quite uncomfortable for eyes now)
here is codesandbox (but there is really nothing besi

[2022-01-27 12:36] pdanpdan commented on #10120
I've reopened - https://mdn7e.sse.codesandbox.io/ reproduces it even with HiDPI 100% but a browser zoom of 125% on linux Chrome

[2022-01-27 12:36] Rolanddoda commented on #12220
Nowhere do the docs say that `overlay` cannot be opened by default. So maybe something should be added in the docs if you are right?

@rstoenescu if you think it's not a bug that `overlay` cannot be opened on initially render, then it's a bug that on refresh the Drawer appears opened and then closes by itself. Am I wrong ?

[2022-01-27 12:49] pdanpdan commented on #12220
You made a mess with the props:
- you have it as `container`
- - overlay
- `behavior="mobile"`
In you case the problem is it is `container` - my bad, `overlay` works to show on load

[2022-01-27 12:52] yureckey commented on #10120
yes, on windows10 Chrome with browser zoom 125% I see scrollbar and 1-pixel bar. with browser zoom 110% I see only 1-pixel bar, no scrollbar. But I wasn't sure if browser zoom level differences in look are considered as bugs

[2022-01-27 13:11] Rolanddoda commented on #12220
@pdanpdan I don't know what is your problem but you certainly don't want me to open bugs. I am trying to help Quasar by investing my time in reporting the bug. And you seem to just add random comments.

There is no mess with the props. [Here is a "no mess with the props" version](https://codesandbox.io/s/fancy-hill-qnw2y?file=/src/App.vue) with only these props:

[code]

You went from "You have it

[2022-01-27 13:54] rstoenescu commented on #12220
This seems like a bug in Vue. A watcher in QDrawer is erroneously called.
Will investigate.

[2022-01-27 14:09] rstoenescu commented on #12220
@Rolanddoda

1. Workaround until I'll sort this out: use "persistent" prop on the QDrawer. Ruled out Vue as a root cause. It might actually be a regression in vue-router because it all starts from a route watcher. Will keep this thread up to date as I progress.
2. Thanks for reporting and for your time! Please do not take Dan's comments in a negative fashion. We're all dealing with lots of stuff o

[2022-01-27 14:17] iliubinskii commented on #12215
Thank you for the hint,

Switching to Volar solves the problem for me.

Regarding Vetur, I can additionally note that errors depend on this setting:
![Screen1](https://user-images.githubusercontent.com/70687432/151376270-f4ae0259-2214-4ca1-b0db-04774d746d77.jpg)
but other than that I don't know what influences this.

[2022-01-27 14:19] jraez opened #12221 "QSelect loose injected class in interactive mode"
### What happened?

I'm trying to create a default configuration for components. I've started to extends the ones I need and inject into my project.

For QSelect, there is no css class available at the field level (as props). Only "input-class" but you have to use a select with input, and that is not my case. So I pass the class into the vm attrs.

When the QSelect loose focus, the injected class

[2022-01-27 17:44] #12221 closed, assigned to nobody

[2022-01-27 17:59] GuilhermeErmel opened #12223 "Input content is not shown"
### What happened?

I wrote the issue here: [12078](https://github.com/quasarframework/quasar/issues/12078), but I didn't receive answer anymore :(

### What did you expect to happen?

The value shoud be displayed

### Reproduction URL

https://codesandbox.io/s/laughing-rubin-00nyi

### How to reproduce?

Read in issue [12078](https://github.com/quasarframework/quasar/issues/12078)

### Flavour

Q

[2022-01-27 18:05] gilvansfilho opened #12224 "Unexpected behavior between versions 1.16.3 and 1.17.0 break layout"
### What happened?

Between versions 1.16.3 and 1.17.0 there is a unexpected behavior when using `q-input` component and `:rules` directive.

When using `:rules` directive in 1.16.3 there is a bottom padding no matter component state (enabled/disabled).
When using `:rules` directive in >=1.17.0 the bottom padding only is present when component is enabled.

Without `:rules` directive the behavior i

[2022-01-27 20:16] rstoenescu commented on #12220
@Rolanddoda

So it seems that Vue Router issues a route change when page is first loaded. This triggers a drawer hide() call (unless the QDrawer is set to be `persistent`).
Now, since App.vue is the root component, the route watcher gets to be triggered by this initial route change.

There is no technical solution to: a) start the watcher after Vue Router's first initial route change or even b) de

[2022-01-27 20:16] #12220 closed, assigned to rstoenescu

[2022-01-27 20:20] rstoenescu commented on #12220
Pushed a perf improvement on route watching though. It'll go into Quasar v2.4.14.
A side-effect will be that if your app is started from the root route, it won't trigger the drawer hide() call described earlier (even if you put QDrawer directly under App.vue). But if starting your app with another route, the problem will still happen.

Bottom line: get your layout out of App.vue or use `persistent

[2022-01-27 20:55] rstoenescu commented on #12224
Fix will be available in Quasar v1.17.9 & v2.4.14.

[2022-01-27 20:55] #12224 closed, assigned to nobody

[2022-01-27 22:50] BenJackGill opened #12226 "Need to add the very helpful "flex-center" CSS class to the docs"
### Description

I commonly use `flex flex-center` CSS classes to center things.

It's much simpler then trying to remeber `flex items-center justify-center items-center`.

And I might be wrong, but I think `flex-center` is a special Quasar created class because I can't find it documented anywhere else.

The problem is that Quasar also hasn't documented it.

So it would be great to add `flex-cente

[2022-01-28 00:53] avesus commented on #21
Was that issue solved somewhere somehow? Really uncomfortable to fill up all 50 form fields on 10 steps of the stepper component again after every change. Have to add manually `localStorage` etc.

[2022-01-28 06:25] Rolanddoda commented on #12220
Thanks for the detailed explanation @rstoenescu.

[2022-01-28 08:21] MilosPaunovic commented on #12226
It is mentioned in the docs, as part of this:
[https://quasar.dev/layout/grid/introduction-to-flexbox#flex-addons](https://quasar.dev/layout/grid/introduction-to-flexbox#flex-addons)

[2022-01-28 12:08] rstoenescu commented on #12144
Will be available in Quasar v2.4.14.

[2022-01-28 12:08] #12144 closed, assigned to nobody

[2022-01-28 12:08] GuilhermeErmel commented on #12223
You can simulate the problem accessing https://codesandbox.io/s/laughing-rubin-00nyi and clicking in "open in new window".

![image](https://user-images.githubusercontent.com/32545608/151544419-6921c607-975a-41fb-962c-f66c32844363.png)

[2022-01-28 12:16] rstoenescu commented on #12226
It's not part of the addons, so it makes sense to explicitly mention it.
Will be available on next docs deployment.

[2022-01-28 12:16] #12226 closed, assigned to nobody

[2022-01-28 12:26] rstoenescu commented on #12046
Fix will be available in Quasar v2.4.14.

[2022-01-28 12:26] #12046 closed, assigned to nobody

[2022-01-28 12:38] rstoenescu commented on #12223
Cannot reproduce...
What browser are you using?

[2022-01-28 12:40] rstoenescu commented on #12223
Ah. Scratch that. Reproduced it.

[2022-01-28 12:40] yusufkandemir commented on #12223
I'd say the repro steps were quite obscure, and having two issues for the same problem, where the description is spread out is making it even harder. But, I reproduced the problem Microsoft Edge v97.0.1072.69.

[2022-01-28 12:41] rstoenescu commented on #12223
We'll continue on #12078

[2022-01-28 12:41] #12223 closed, assigned to nobody

[2022-01-28 13:09] rstoenescu commented on #12078
Fix will be available in Quasar v2.4.14.

[2022-01-28 13:09] #12078 closed, assigned to nobody

[2022-01-28 13:46] ParsonsProjects commented on #9157
I have not fully tested this solution but I have found a way of tree shaking quasar when using Vue CLI. In fact this should work with any setup not just Vue CLI.

### Step 1
Where you are currently importing the quasar library, likely to be in your main.js or ts file. The below line:
`export { Quasar } from 'quasar';`
Can be replaced with:
`export { Quasar } from 'quasar/src/index.all';`

### Step

[2022-01-28 14:09] rstoenescu opened #12233 "QCheckbox and QRadio - with custom icons"
### Discussed in https://github.com/quasarframework/quasar/discussions/12232

<div type='discussions-op-text'>

<sup>Originally posted by **dsl101** January 28, 2022</sup>
I have a need to create a set of controls that look and behave in a very similar way, but need custom icons for checkbox-type controls, which will sit right next to a regular QCheckbox. Emulating the look and behaviour of QCheck

[2022-01-28 15:19] rstoenescu commented on #9157
This is a non-issue.

For Quasar CLI -> nothing to be done. Works out of the box.
For Vue CLI -> use "vue-cli-plugin-quasar" https://quasar.dev/start/vue-cli-plugin
For Vite -> use "@quasar/vite-plugin" https://quasar.dev/start/vite-plugin

[2022-01-28 15:19] #9157 closed

[2022-01-28 15:42] ParsonsProjects commented on #9157
@rstoenescu The Vue CLI plugin does not tree shake quasar and you end up with the bundled file all 500kb in the build output. Unless I am missing something?!

[2022-01-28 19:28] PetrPy commented on #7076
Implementing the slot would turn the QDate almost into a full-featured calendar component that is missing in Quasar.

[2022-01-28 22:57] rstoenescu commented on #12233
QCheckbox & QRadio with custom icons will be available in Quasar v2.5.0.

[2022-01-28 22:57] #12233 closed, assigned to rstoenescu

[2022-01-29 04:42] BenJackGill commented on #5432
I'm having the same problem.

When my input has an async rule validation the form will submit even though it should throw an error.

[2022-01-29 07:17] OfekA-IAI commented on #5432
@BenJackGill I wasn't able to find the cause of the issue, but in my case I was able to "solve" it like this:

I had a parent and a child component.
The parent had the form components and the `.validate()` call.
The child had a loading indicator which was triggered by a prop from the parent.

After removing that prop that was changed before and after validation ,`.validate()`  seems to work correc

[2022-01-29 09:20] iliubinskii opened #12243 "QTime: "options" prop has incorrect type"
### What happened?

![image](https://user-images.githubusercontent.com/70687432/151655313-a4123063-9597-4596-8576-357648096537.png)

"options" prop has the following type:
[code]

### What did you expect to happen?

The type should be:
[code]
because "min" param can be null. See console here:
https://codepen.io/ilyalyu/pen/VwrvaKe?editors=1111

### Reproduction URL

https://codepen.io/ilyalyu/pen/

[2022-01-29 10:18] rstoenescu commented on #12243
Thanks for reporting.
Fix will be available in Quasar v2.5

[2022-01-29 10:18] #12243 closed, assigned to nobody

[2022-01-29 16:16] rstoenescu commented on #10120
Fix will be available in Quasar v2.5.0 and v1.18.0

[2022-01-29 16:16] #10120 closed, assigned to nobody

[2022-01-29 16:21] ParsonsProjects commented on #11424
Hi All,

I was having a similar issue using Vue CLI and Quasar I manged to resolve it with the below jest config.

[code]

The only additional bit I had to add was the below snippet
[code]

[2022-01-29 16:30] yusufkandemir commented on #11424
Here is a solution that is based on a Vite setup: https://github.com/quasarframework/quasar/discussions/12177#discussioncomment-2046577.

I am hoping to create an example repo and write a tutorial/article about Vue CLI and Vite setups.

[2022-01-29 18:32] eddelplus opened #12252 "UMD configuration: Native Line Awesome, not Font Awesome mig"
### Description

I managed to include Quasar.iconSet.set(Quasar.iconSet.lineAwesome) but still didn't get icons on the color picker. This was caused by using the URL to the Font Awesome replacement version of Line Awesome. To get the **_las la-..._** icons, the link marked with "If you are starting a new project..." on the [Line Awesome home page](https://icons8.com/line-awesome/howto) is needed.

[2022-01-29 19:34] mayankkataria commented on #5270
I'm facing the same error. Did anybody found any solution??

[2022-01-29 22:37] rstoenescu commented on #5270
@mayankkataria

<img width="483" alt="image" src="https://user-images.githubusercontent.com/4665641/151679800-629fdccc-b0d8-45d8-b419-6035faa98323.png">

[2022-01-30 00:15] rstoenescu commented on #12252
Thanks for providing a PR and fixing the link!

[2022-01-30 00:15] #12252 closed, assigned to nobody

[2022-01-30 17:17] holtalanm commented on #5432
I ended up 'solving' this issue by rolling my own validation, in the end.

[2022-01-31 01:40] BenJackGill commented on #5432
In my case the QForm was submitting before the QInput async validation had finished.

So I used the async validation inside the `@submit` of the form instead. Now it works.

This bug still needs looking at though.

@rstoenescu Can we reopen this issue?

[2022-01-31 09:03] AlphaJuliettOmega opened #12270 "Date utils Month subtraction fails on the 31st of Jan 2022"
### What happened?

[code]

Today, this loop creates the dates January, December AND DECEMBER
As if subtracting a month subtracts 30 days, instead of the calendar month length.

### What did you expect to happen?

I expected the date.subtractFromDate to subtract a month accurately, as Momentjs does it because that's what's said in the documentation:

### Reproduction URL

...

### How to reproduce

[2022-01-31 09:08] AlphaJuliettOmega commented on #12270
A reproduction URL is not needed for this issue, the code is clear

[2022-01-31 09:15] AlphaJuliettOmega commented on #12270
Related perhaps (but closed):
https://github.com/quasarframework/quasar/issues/9704

Also related:
https://github.com/quasarframework/quasar/issues/12032

[2022-01-31 10:39] yusufkandemir commented on #12270
There is no such thing as repro URL is not needed. Also, the code is not very clear considering we don't know the value of `this.monthsBack`, but with a guess, it must be 0.

Here is a small and clear reproduction of the issue:
https://codepen.io/yusufkandemir/pen/yLPeJyr?editors=1010

[2022-01-31 12:08] rstoenescu commented on #5432
This works correctly. Just checked it.
Please fill a codepen so I can help.

[2022-01-31 12:36] rstoenescu commented on #12270
Fix will be available in Quasar v2.5.0

[2022-01-31 12:36] #12270 closed, assigned to rstoenescu

[2022-01-31 22:32] BenJackGill commented on #5432
**Describe the bug:** A form with async rules will submit even if it has validation errors. This only happens on first page load and when pressing the enter key. All subsequent form submits work as expected.

**Codepen/jsFiddle/Codesandbox (required)**
I could not get it working on codepen, so I spun up a brand new Quasar CLI app and tested on that instead. Full details below.

**To Reproduce**
St

[2022-02-01 13:38] rstoenescu commented on #5432
Thank you for supplying the detailed explanation!
Fix will be available in Quasar v2.5.1 and v1.18.1

[2022-02-01 14:33] gittrolo opened #12296 "URGENT : publicPath bug"
### What happened?

I created an app with quasar cli, without making any changes to the code. I launched it by calling a url with a parameter a=c , and everything works fine:
![1](https://user-images.githubusercontent.com/52664193/151984583-6e902ddc-8bac-4c5a-b8c9-ba0b0e59a446.JPG)

if I add the parameter   publicPath: "b" in quasar.conf.js and launch the app
I am immediately redirected from the a

[2022-02-01 15:01] MilosPaunovic commented on #12296
Isn't that what `publicPath` is for:
[https://quasar.dev/quasar-cli/quasar-conf-js#:~:text=to%20%2DP%20parameter.-,publicPath,-String](https://quasar.dev/quasar-cli/quasar-conf-js#:~:text=to%20%2DP%20parameter.-,publicPath,-String)

or am I missing something?

[2022-02-02 05:27] carueda commented on #11058
Great to see this has been back-ported to Qv1!!

[2022-02-02 09:14] rstoenescu commented on #12172
Thanks for PRing!
Fix will be available in Quasar v2.5.1 and v1.18.1

[2022-02-02 09:14] #12172 closed, assigned to nobody

[2022-02-02 09:50] rstoenescu commented on #12296
There's nothing wrong with Quasar. At best, it would be something wrong with vue-router.
This should have been opened as a discussion. It's also rude to open with the terminology "URGENT". This is not how opensource works. At least being a donator would put you higher up in line.

[2022-02-02 09:50] #12296 closed, assigned to nobody

[2022-02-02 10:51] AnnaZot commented on #9779
@philfontaine try adding autofocus="false" property on the q-popup-proxy and q-date. That worked for me and the input stays focused

[2022-02-02 18:24] ibrainventures opened #12311 "(V1 / V2) Screen.js plugin since update 1.18.1 gives wrong Height (Ios 15.x / Safari )"
### What happened?

The new Screen.js viewport Calculation delivers to high "height" pixel viewport Calculations
on Ios / Iphone and Ipad (higher than the vendor viewport) . (did not tested on Android)

https://yesviz.com/devices/iphone-xr/

Iphone XR - Offical max Viewport 414 x 896

**With new Viewport Calculation / V.1.18.1.**

**with Adressbar on Top:**
715 px (with Adressbar)
**949 px** (scro

[2022-02-02 18:36] ibrainventures commented on #12311
Saw the existing issue to late ..

give those informations into the comments

[2022-02-02 19:04] mrleblanc101 opened #12312 "Updated content is available. Please refresh the page."
### Description

<img width="2032" alt="Capture d’écran, le 2022-02-02 à 13 57 29" src="https://user-images.githubusercontent.com/17392251/152220581-c2c9108d-8be3-4b93-b774-dbf41a5b0ba8.png">

I don't understand why I get this everytime I come to check the documentation.
Shouldn't the data be up-to-date the first time I load it ?  I just came from a Google Search link.
I would understand if it d

[2022-02-02 19:08] ibrainventures commented on #12165
Btw: this Blue footer area on the image from the Issue-Opener is actually not really solvable

With / since iOS 15, Safari makes this "block element" if the
`body` gets the `position: fixed` attribute          (EDITED)

So actually the prevent background-scroll process for iOS in quasar is working.

(i am working with a not really nice patch, and instead of the position relative i am
using the FL3

[2022-02-02 19:39] pdanpdan commented on #12165
@ibrainventures In fact the other issue was correct :(
For this one the solution is to use `<meta name="viewport" content=".., viewport-fit=cover">` on iOS

[2022-02-02 20:01] ibrainventures commented on #12165
After reading a second time, i saw the difference ... :-/

[2022-02-02 21:14] ibrainventures commented on #12165
@pdanpdan
but if the issue-opener means that blue block area, this is afik independent of the viewport-fit meta
/ inset safe-area. This happens on the actual Safari with QDialog / all body-position-fixed scrollpreventer.
No adressbar -> iOS 15 - "position fixed" on body -> blocked area on the bottom.

[2022-02-02 21:33] pdanpdan commented on #12165
The blue zone problem can be observed in a simple page (scrollable) that has a fixed positioned element on it:
- child on address bar in iOS and make sure it is on bottom, and then select `hide toolbar`
- without `viewport-fit=cover` you can scroll up and show the blue zone
- with `viewport-fit=cover` you cannot scroll up and show the blue zone

When the address bar on bottom is hidden iOS behaves

[2022-02-02 22:13] ibrainventures commented on #12165
Tested and the scroll fullheight dialog without the safari-sliding-bottom-and-top-bars-effect
looks very nice. :-)

But for this issue... and to understand it right, the given Link and the solution is not the classic quasar
"body-position-fixed" scrollprevent usage? The body position looks on the first view "un-fixed" ..

On the first tryouts it sometimes scrolls to top, but this is controllable o

[2022-02-02 22:41] rstoenescu commented on #12312
It means exactly what the banner says. That we made an update to the docs. Is this such a bad thing that we care for the docs being up to date with the latest releases? :)

[2022-02-02 22:41] #12312 closed, assigned to nobody

[2022-02-02 22:43] mrleblanc101 commented on #12312
I still don't understand why I get this almost every time I go to the doc... Shouldn't the doc be up to date when I load the page ? 🙃

[2022-02-02 22:44] rstoenescu commented on #12311
Fix will be available in Quasar v2.5.2 and v1.18.2

[2022-02-02 22:44] #12311 closed, assigned to nobody

[2022-02-02 23:02] rstoenescu commented on #12312
No. Because that's not how PWAs work. When you open the page it uses the PWA cache and checks if there's a newer version. If it detects a newer version it downloads it and then it shows the banner that it's been updated. Only a refresh of the page would then use the updated version. We could do this page refresh automatically but it would mean that the docs refresh WHILE you are already browsing i

[2022-02-02 23:06] mrleblanc101 commented on #12312
I thought this was related to PWA. Vue also does something like this I believe. (Or VuePress ?)

I guess I don't see the attractiveness of a PWA if you land on an outdated page and get nagged by yet another banner.

But I understand some people might like that the doc is available offline. I just wish PWA handled this differently.

Thanks for the reply

[2022-02-02 23:23] rstoenescu commented on #8327
Fix will be available in Quasar v2.5.2 and v1.18.2

[2022-02-02 23:23] #8327 closed

[2022-02-02 23:30] rstoenescu commented on #12312
The whole point is to get that page up and running instantly. Then check for updates in the background. If it would check and also update when you start the page that would be (for the most part) equivalent to not running a PWA at all :)

[2022-02-03 03:32] maparent opened #12318 "Recent changes to Screen plugin fail in a testing environment"
### What happened?

Updating quasar from 1.17.8 to 1.18.2.
Running a test using `@quasar/quasar-app-extension-testing-unit-jest`.
I get new errors upon calling mountQuasar. (See log section)

Upon analyzing the backtrace, this corresponds to the change in at line 53 of ui/src/plugins/Screen.js introduced in  3c22bb35be4e5059127532d1c8b84f94a5846c46

The new calculation assumes the scrollingElement

[2022-02-03 06:40] pdanpdan commented on #12165
"body-position-fixed" scrollprevent usage? The body position looks on the first view "un-fixed" ..

No, it's an experiment with using a static window and relative/overflow-hidden/size-and-position-specified body

I don't understand, but I think we should not pollute this issue - please open an issue or discussion in https://github.com/pdanpdan/quasar/issues

[2022-02-03 07:13] GerritKuilder opened #12322 "Improve the q-icon basic examples"
### Description

The basic examples for q-icon do not use the size and color properties:
[code]

It would be better if these examples just use size and color properties:
[code]

### Documentation Section URL

https://quasar.dev/vue-components/icon#example--basic

### Flavour

Quasar CLI (@quasar/cli | @quasar/app)

### Areas

Style & Identity (quasar)

[2022-02-03 08:33] Mihai-github commented on #9780
Hi,

     I'm having this issue and cannot make this work... everything I try does nothing just downgrading the react-scripts to version 4.

ERROR:

[code]

[2022-02-03 08:44] iliubinskii opened #12323 "<q-input type="number"> allows non-numeric input"
### What happened?

1.

<q-input type="number"> allows non-numeric input.

Adding ### mask does not help.

2.

Also, up/down buttons on the right are too small.
I think they are unusable on mobile devices.

### What did you expect to happen?

1.

It should not accept non-numeric input.

2.

There should be style with bigger arrows

### Reproduction URL

https://codepen.io/ilyalyu/pen/VwrjMXO

###

[2022-02-03 09:10] MilosPaunovic commented on #12323
Check this out: [https://stackoverflow.com/a/31706796](https://stackoverflow.com/a/31706796).

[2022-02-03 09:16] MilosPaunovic commented on #12322
There are examples for sizes:
[https://quasar.dev/vue-components/icon#example--standard-sizes](https://quasar.dev/vue-components/icon#example--standard-sizes)

But you were right about a `color` prop, so I've submitted a PR with minor docs improvement.

[2022-02-03 10:05] iliubinskii commented on #12323
Thx, I have checked your link.

I see that numeric input should accept floating-point-related characters: "e", "." etc.

But I still see problem with <q-input type="number">:
1. It accepts all characters, not just "e", "." etc.
2. It does not respect mask
3. Up/down arrows are so small that they are unusable on mobile devices

I would also suggest to add prop to allow either (a) only natural numbe

[2022-02-03 10:14] MilosPaunovic commented on #12323
1. I could not reproduce - could input only `e` and numbers in your codepen
2. Mask is not supproted for that input type, as stated in the `Warning` card in the docs:
[https://quasar.dev/vue-components/input#mask](https://quasar.dev/vue-components/input#mask)
3. Arrows are standard browser ones, not affected by any of the Quasar styling

[2022-02-03 10:30] gregadro commented on #12323
The input uses browser validation, also the increment/decrement buttons are browser native controls. And Firefox unfortunatelly lets you type all the alpha characters.

[2022-02-03 10:38] iliubinskii commented on #12323
1. I see issue in Firefox 96.0.3 on Windows 10. After your comment I tried in Google Chrome and Microsoft Edge - they work fine. So, I guess this is browser issue rather than Quasar issue.
2. Ok, this makes sense if browser makes validation
3. Ok, clear

Finally, I see that there is no bug with QInput.

But I have suggestion to add separate component for natural numbers.
It is very common to have

[2022-02-03 10:48] iliubinskii opened #12326 "Numerc value does not update in QInput with mask"
### What happened?

1. Open codepen https://codepen.io/ilyalyu/pen/RwjRxKM
2. Click on "Inc" button several times
3. See that input value updates only on each second click

### What did you expect to happen?

1. ...
2. ...
3. It shoud update on each click

### Reproduction URL

https://codepen.io/ilyalyu/pen/RwjRxKM

### How to reproduce?

1. Open codepen https://codepen.io/ilyalyu/pen/RwjRxKM
2.

[2022-02-03 11:12] rstoenescu commented on #12322
The example shows how you can use both props or native classes/style.
But regardless, left only one example with class and style.

[2022-02-03 11:12] #12322 closed, assigned to nobody

[2022-02-03 11:48] rstoenescu commented on #12318
Thanks for reporting.
Fix will be available shortly in Quasar v2.5.3 and v1.18.3

[2022-02-03 11:48] #12318 closed, assigned to nobody

[2022-02-03 14:02] namespace-github commented on #2709
@rstoenescu The Problem still exists in Quasar 2.5.2

[2022-02-03 16:49] ibrainventures commented on #12165
wohoo :-) programmatic setting a overflow-y auto on the **html**  and a height 110vh* on
**body** also made the trick on my QDialogPlus (my good-old non body-position:fixed solution) component.
So iOS15 safari stops his footer and adress bars slide-in/out and i have a 100 % viewport height
full sized dialog with extensive-scrolling possibilites. (and btw. also the pull-to-refresh is away .. :-)))

[2022-02-03 21:29] JeRabix commented on #12326
If comment this lines - bug fixed :)
![image](https://user-images.githubusercontent.com/46298617/152432012-faf0c39b-5304-4ac2-9ed4-58edb57ad297.png)
QInput.js file in src/components/input/

[2022-02-04 02:29] maico910 opened #12340 "Vite - How to use boot files and boot function's type"
### Description

From the document exist example to add [boot file](https://quasar.dev/quasar-cli/boot-files#usage-of-boot-files) but did not make it clear how to use for Vite project, where doesn't exist `quasar.conf.js`

And for Quasar project with Typescript, exist `BootCallback` type for boot files inside `@quasar/app package`, but for Vite project (project not created by quasar CLI) how to us

[2022-02-04 17:40] rstoenescu commented on #12326
Fix will be available in Quasar v2.5.4 and v1.18.4

[2022-02-04 17:40] #12326 closed, assigned to nobody

[2022-02-04 17:45] rstoenescu commented on #12323
~~Fix will be available in Quasar v2.5.4 and v1.18.4~~
Correction. This was intended for another ticket.
Still, this ticket should be closed for reasons in comments above.

[2022-02-04 17:45] #12323 closed, assigned to nobody

[2022-02-04 17:45] rstoenescu commented on #12015
Should be fixed in Quasar v2.5.3 and v1.18.3

[2022-02-04 17:45] #12015 closed, assigned to nobody

[2022-02-05 03:43] Dylan190774 opened #12358 "Q-Select : pressing TAB-key or ENTER-KEY after clicking on an option, sometimes picks the wrong value"
### What happened?

While using a Q-select with `use-input` set, I noticed that sometimes after pressing the `TAB`-key or '`ENTER`'-key the wrong value is picked.

I'm guessing it has something to do with the hovering over the options-list, which is apparently still active somehow, after clicking on an option. Even with `transition-hide` set tot 'none' this happens.

When you hold the mouse-pointe

[2022-02-05 07:13] alexrififi commented on #12340
Maybe like this?

[code]

[2022-02-05 08:44] rstoenescu commented on #12340
Boot files are a feature of Quasar CLI. It has nothing to do with our plugin for Vite. Also notice that boot files are under the root "Quasar CLI" category in the docs menu.

PS: a Quasar CLI with Vite under the hood is scheduled in the near future.

[2022-02-05 08:44] #12340 closed, assigned to nobody

[2022-02-05 09:30] rstoenescu commented on #2709
@namespace-github @vycoder
A new ticket should have been opened for this on Qv2.
Regardless, fix will be available in Quasar v2.5.4

[2022-02-05 09:32] rstoenescu commented on #12358
The value that is currently highlighted when pressing TAB because the selected one.

[2022-02-05 09:32] #12358 closed, assigned to nobody

[2022-02-05 10:22] Dylan190774 commented on #12358
No, the value that was clicked on appears correctly as the value of the select,  but CHANGES (even minutes later!) after pressing TAB or ENTER to an option that was maybe hovered on,  while the options-list was not even visible!

[2022-02-05 11:37] namespace-github commented on #2709
Yes sir, thanks a lot 👍

[2022-02-06 11:28] francoism90 opened #12368 "Android Studio (IDE) not launching anymore on latest version"
### What happened?

[code]

### What did you expect to happen?

Launch Android Studio IDE

### Reproduction URL

https://codepen.io/rstoenescu/pen/xxEvBLR

### How to reproduce?

1. Install Android Studio 2021.1.1.21-1
2. Run `quasar build -m capacitor -T android --ide`
3. Nothing happens

### Flavour

Quasar CLI (@quasar/cli | @quasar/app)

### Areas

Quasar CLI Commands/Configuration (@quasar/cl

[2022-02-06 15:02] Codebreaker101 opened #12369 "Performance issues while rendering a lot of q-input components"
### What happened?

When having a lot of q-input components on a page it takes a while to render, especially if you have label and hint enabled.

Here are some screenshots from vue dev tools:
![Screenshot from 2022-02-06 15-58-29](https://user-images.githubusercontent.com/16204269/152686864-5ffe3708-b2eb-4334-973f-b73df34b926c.png)
![Screenshot from 2022-02-06 15-59-04](https://user-images.githubu

[2022-02-06 15:04] npsyhos opened #12370 "On a q-card component, when the view width is an even/odd number of pixels, the q-img component is off by 1 pixel on the right edge"
### What happened?

On a q-card component, when the view width is an even/odd number of pixels, the q-img component is off by 1 pixel on the right edge

### What did you expect to happen?

I expect the q-img/q-card to not have an extra 1 pixel on the right side when there's an odd/even number of pixels in the view width.

### Reproduction URL

https://codepen.io/npsyhos/pen/dyZOdGJ

### How to rep

[2022-02-06 16:40] jeroenqui opened #12371 "QSelect - Selecting option after filtering example doesn't work"
### Description

The second example (Autoselect after filtering) is not working.
This is because `ref.optionIndex` in the code (see below) returns `undefined`

[code]

### Documentation Section URL

https://quasar.dev/vue-components/select#example--selecting-option-after-filtering

### Flavour

Quasar CLI (@quasar/cli | @quasar/app)

### Areas

Components (quasar)

[2022-02-06 17:22] maico910 commented on #12340
@medvinator That`s works, thanks for the help.

[2022-02-06 17:22] maico910 commented on #12340
@rstoenescu Thanks for the reply.

[2022-02-06 18:56] iliubinskii opened #12372 "QKnob: toggling "disable" prop leads into dragging still working"
### What happened?

Disabled Knob is editable by hand-dragging

### What did you expect to happen?

Should not be editable

### Reproduction URL

https://codepen.io/ilyalyu/pen/YzEpvZv

### How to reproduce?

1. Go to codepen https://codepen.io/ilyalyu/pen/YzEpvZv
2. Click "Disable" toggle
3. Try to edit Knob by dragging

### Flavour

Quasar CLI (@quasar/cli | @quasar/app)

### Areas

Components (

[2022-02-06 22:50] rstoenescu commented on #12372
Fix will be available in Quasar v2.5.4

[2022-02-06 22:50] #12372 closed, assigned to rstoenescu

[2022-02-06 22:52] rstoenescu commented on #12358
Fix will be available in Quasar v2.5.4

[2022-02-06 23:11] rstoenescu commented on #12371
Thanks for reporting this.
New method will be available for QSelect -> getOptionIndex()

[2022-02-06 23:11] #12371 closed, assigned to rstoenescu

[2022-02-07 02:25] Dylan190774 commented on #12358
Thank you! Love the framework!

[2022-02-07 03:09] ldiebold commented on #5378
@tanthammar @sheecegardezi @innominata @HendrikJan @SacDin @ghost @euphemism

Here's an iteration of an AE for this:
`quasar ext add auto-routing`

[Source Code](https://github.com/ldiebold/quasar-app-extension-auto-routing)

I don't have a lot of time, so would love feedback/PRs if anything is missing!

It's built on top of [vue-auto-generator](https://github.com/ktsn/vue-route-generator) and [vu

[2022-02-07 11:00] gregadro commented on #12372
@rstoenescu I also worked on this yesterday and tried with the same `hDir` solution, but after toggling back to the enabled state, the dragging didn't work as it should (couldn't drag to more than 5 or less than 3 in the provided example). Then I tried your code from [8be5585](https://github.com/quasarframework/quasar/commit/8be5585dbcb810a82f881f7e57851ec9f56eff40) and the behavior is the same.

[2022-02-07 12:52] vanillamasonry opened #12383 "q-field - custom atributes are removed"
### What happened?

q-field rendering remove custom attributes

### What did you expect to happen?

ex:
`<q-field  custom_att="test">  </q-field>
is processed as
<label class="q-field row no-wrap items-start q-field--standard q-field--auto-height" for="f_9e49ae40-33e9-490e-ad07-70dfcbdc5323"><div class="q-field__inner relative-position col self-stretch"><div class="q-field__control relative-positi

[2022-02-07 14:30] rstoenescu commented on #12372
Hi,

The fix I pushed is the correct one. Let me explain. There is a fundamental problem with directives lifecycle in Vue 3. Directives are attached to VNodes and their lifecycle matches the VNode's. When using render functions, once a directive is attached to a VNode it cannot be removed by simply not using withDirectives() on the same node on next render tick.

render() -> withDirectives(node, .

[2022-02-07 15:48] soulsam480 commented on #12383
Hey, I think it's expected as `inheritAttrs` is set to false in QField. https://github.com/quasarframework/quasar/blob/160e7247e204ffe3988b422837cdcd08542b35ef/ui/src/components/field/QField.js#L8 . Are you aware of this ?

[2022-02-07 19:01] Kylyi opened #12385 "QBtn - event prevention"
### What happened?

I have a chat component where you can fill an input with text and send the message via button.
On mobile device, I would like to keep focus inside the input element after I click the button so the virtual keyboard does not hide.

Without Quasar, I would use a very simple button with `@mousedown.prevent` but that doesn't seem to work for `QBtn`.

Note: Refocusing the input on bt

[2022-02-07 19:43] vanillamasonry commented on #12383
Yes, but I do not think that this is the normal behavior. In fact I think  that ALL components must inherit custom attributes

[2022-02-08 01:05] nicholaszuccarelli commented on #10523
@rstoenescu Any chance the breaking changes to Electron could be backported to v1?

[2022-02-08 03:28] soulsam480 commented on #12383
That's true, but it definitely works for me when I pass custom attrs, as I can see `data-cy` attrs in the DOM in my app

[2022-02-08 06:06] rstoenescu commented on #10523
@nicholaszuccarelli It's all a matter of Electron specs. If you follow them and do the necessary changes, it'll work with no problems. The most important change that Electron team implemented is the contextIsolation which is enabled by default. You could disable it, although we don't recommend it (for security reasons).

[2022-02-08 06:12] rstoenescu commented on #12370
Although I could not reproduce, it's at best a bug of the browser rather than a bug in Quasar. There are some more scenarios with same root cause and we're also waiting for a fix (at least in Chrome).
In the mean time, you could try to play with the other values of the `fit` prop.

[2022-02-08 06:12] #12370 closed, assigned to nobody

[2022-02-08 06:33] MohsinJamadar09 commented on #9116
@diadal
could you please elaborate more on this solution?

I am getting the same error

[2022-02-08 06:35] diadal commented on #9116
@MohsinJamadar09  delete `node_modules` folder

[2022-02-08 09:03] Teo27 commented on #12368
Can confirm that I have the same issue.

This is applicable for both `quasar build -m capacitor -T android --ide` and `quasar dev -m capacitor -T android`.

On command execution, android studio does not open. Instead the folder where the capacitor project is placed is opened.

I tried with Android version 2020.3.1 Patch 3 and 2021.1.1 Patch 1. This does not seem to make a difference.

I did an upg

[2022-02-08 09:36] gregadro commented on #12372
Thank you for a great explanation! My commit is the one I was referring to as the wrong one since I knew it is not ok to have an empty and not-needed dir. But I was clueless about where is the problem coming from after enabling back the knob. :bow:

[2022-02-08 09:41] Codebreaker101 opened #12392 "Memory not released when removing components with v-if"
### What happened?

When toggling `q-input` with `v-if`, for example, the memory is not released.

(on-off)

![Screenshot from 2022-02-08 10-15-17](https://user-images.githubusercontent.com/16204269/152955613-92c59399-d0de-45b1-a27f-b81fd095663a.png)

(3x on-off)

![Screenshot from 2022-02-08 10-18-00](https://user-images.githubusercontent.com/16204269/152956036-f3098047-a2b8-482f-872c-38805246b5e

[2022-02-08 10:57] sluedecke opened #12393 "Meta plugin does not update <html> or <body> when using Options API"
### What happened?

Following the documentation for the [meta plugin](https://quasar.dev/quasar-plugins/meta#introduction) in an options API based project, I added the respective code to a sample project: https://github.com/sluedecke/sl-quasar-metamixin

### What did you expect to happen?

I expect the html, body and meta tags to be set accordingly (when viewing the source code of the generated pa

[2022-02-08 11:29] Codebreaker101 commented on #12392
It seems this happens only during development so I'm gonna close this.

[2022-02-08 11:29] #12392 closed, assigned to nobody

[2022-02-08 11:54] TuringJest opened #12395 "Difficulties handling custom keyboard navigation with QSelect"
### What happened?

I'm using QSelect in conjunction with another library and additional handling for keyboard navigation.
Right now it is very difficult to implement advanced use-cases.

See [Codesandbox](https://codesandbox.io/s/thirsty-dream-o89yr?file=/src/pages/Select.vue) for demonstration.

My main problems are:
1. opening the popup immediately on focus. If I use `@focus` to show the popup

[2022-02-08 12:36] rabalyn opened #12396 "QDate with range and custom locale has no value for $pluralDay"
### What happened?

QDate with range option and custom locale shows "undefined" for `pluralDay`

### What did you expect to happen?

`pluralDay` should be mentioned in the QDate docs and should use the quasar default locale value of `pluralDay` if missing in the custom `locale` object

### Reproduction URL

https://jsfiddle.net/x2q0dLjv/2/

### How to reproduce?

Go to jsfiddle

Rendered Calendar

[2022-02-08 14:29] rstoenescu commented on #12372
Thanks for testing and finding the other issue!

[2022-02-08 19:32] rstoenescu commented on #12393
Works just fine....

<img width="669" alt="image" src="https://user-images.githubusercontent.com/4665641/153061230-50854f4c-b460-4a27-91d4-508d3cb08b94.png">

Only thing that is not configured correctly is that you're already specifying `<title>...` and `<meta name="description" content="<%= productDescription %>" />` in /src/index.template.html
When using Meta plugin and specifying them there, re

[2022-02-08 19:32] #12393 closed, assigned to nobody

[2022-02-08 20:14] babalubas090 opened #12403 "QUploader throwing warnings on console when using 'factory' prop"
### What happened?

When uploading in QUploader using the 'factory' prop, the component throws some warnings on console
![image](https://user-images.githubusercontent.com/16084368/153067677-d0b79d1b-4933-40c6-b498-b6f9ef31dc13.png)
![image](https://user-images.githubusercontent.com/16084368/153067765-6f6d8584-e1c5-42aa-ac05-891f520d507b.png)

### What did you expect to happen?

Do not throw warnin

[2022-02-09 07:40] rabalyn commented on #12396
Thanks for immediatly fixing the fallback translation @MilosPaunovic!

Any chances to add the `pluralDay` config property to the [QDate locale docs](https://github.com/quasarframework/quasar/blob/dev/ui/src/components/date/use-datetime.json#L17)?

[2022-02-09 07:59] sluedecke commented on #12393
Thanks for looking into it!  Apparently neither Chrome nor Firefox show the updated tags when viewing the page source, but in the web development tools inspector section, the modifications show just fine.

[2022-02-09 09:02] MilosPaunovic commented on #12396
Absolutely! Thanks for pointing that out; it's added to existing PR.

[2022-02-09 09:21] rstoenescu commented on #12403
Thanks for reporting!
This revealed an under the hood problem with the detection of plain Objects. Fix will be available in Quasar v2.5.5

[2022-02-09 09:21] #12403 closed, assigned to rstoenescu

[2022-02-09 09:25] rstoenescu commented on #12393
"View page source" shows what the webserver supplies to the client when fetching the page. But a SPA or PWA is JS code that runs and renders your page. Whatever changes are applied will not be visible with "View page source" because the source changed from what is currently rendered :)

Any web dev nowadays should use the devtools.

[2022-02-09 10:12] dsl101 opened #12409 "Bug report codepen has bugs"
### What happened?

I was going to submit a bug report, but the code pen link has bugs :) See the error in the console in codepen:

![image](https://user-images.githubusercontent.com/900542/153176765-23be9d0e-9dd0-4353-a62e-a4cbeda1bda4.png)

### What did you expect to happen?

To submit a different kind of bug report.

### Reproduction URL

https://codepen.io/rstoenescu/pen/VgQbdx

### How to rep

[2022-02-09 10:24] sluedecke commented on #12393
Yeah, "years in business" and I am still learning something new on a daily basis - even the basics:)

[2022-02-09 10:42] gregadro commented on #12409
Your pen is referencing Quasar v1 and Vue v3 (which is now the default Vue version). Quasar v1 is not compatible with Vue 3.

[2022-02-09 10:44] rstoenescu commented on #12396
Went with a better route: merge Quasar Language Pack with the supplied locale. This way it improves usability as you need to supply only what you actually need. Updated docs also.

Will be available in Quasar v2.5.5.

[2022-02-09 10:44] #12396 closed, assigned to nobody

[2022-02-09 10:59] rstoenescu commented on #12409
Fixed the jsfiddle and codepen link on the docs Playground page: https://v1.quasar.dev/start/playground
Thanks for reporting this.

[2022-02-09 10:59] #12409 closed, assigned to rstoenescu

[2022-02-09 12:37] rstoenescu commented on #8640
Feature will be available in Quasar v2.5.5.
Use `done-icon="none" active-icon="none" error-icon="none"` and your prefix.

[2022-02-09 12:37] #8640 closed

[2022-02-09 15:06] hawkeye64 commented on #12392
@Codebreaker101 Also, if this is a `v-if` issue, then you would put an issue against the Vue repo, not Quasar. :)

[2022-02-09 15:37] Codebreaker101 commented on #12392
@hawkeye64 True, but in my case when using native _input_ or other components like QCard, QIcon or other _simple_ components it is not a problem, only with QInput (and _I'm guessing_ other QFields, not tested).

On further testing this seems to happen only when I have Vue Devtools extension enabled. Disabling Vue Devtools extension reduces memory usage for that tab.

![Screenshot from 2022-02-09 1

[2022-02-09 16:06] piperone opened #12414 "Autogrow q-input inside q-menu grows too much"
### What happened?

Using a q-input with autogrow inside a q-menu produces some undesirable effects once the input-field receives a value with 5-6+ characters and the q-menu is hidden then re-summoned. The height of the input element seems to have grown too much.

### What did you expect to happen?

As long as the string in the q-input is one line, the element should not appear to be multiline whe

[2022-02-09 16:36] Setuini commented on #8755
Hi
I am currently having the same use case as [Melchyore](https://github.com/Melchyore) and also solved it by adding my q-input to the before-options and no-options slot.<br>
It is a working but it's not pretty.

- Duplication of the input
- When the filter input returns no options the focus is lost because the other input is displayed

Would it be feasible to add a additional slot (something like

[2022-02-09 16:47] amfine-soft-msouissi opened #12415 "q-editor - Editor (WYSIWYG): undo and redo have propagated outside the q-editor"
### What happened?

The undo/redo buttons of the Q-editor component affect the value (model) of other q-input component

### What did you expect to happen?

Undo/Redo buttons should only update the model of the q-editor component and not the model of other components(such as q-input)

### Reproduction URL

https://codepen.io/msouissi/pen/abVJMLE

### How to reproduce?

1. Go to the provided reprod

[2022-02-09 19:40] francoism90 commented on #12368
@Teo27 How do you build now using Android Studio?

[2022-02-09 20:14] hawkeye64 commented on #12392
Have you checked the actual node in dev tools? Vue does some caching and I believe their cache variables start with $.
However, with the node gone via `v-if`, that should also be gone.

[2022-02-10 13:31] WillianPadilha opened #12430 "cssAddon: true with Vite not working"
### What happened?

When activating
cssAddon:true, in src/main.js
Quasar does not import file **quasar/src/css/flex-addon**
Example of config in main.js

[code]

### What did you expect to happen?

```import 'quasar/src/css/flex-addon.<%= __css.quasarSrcExt %>'```

### Reproduction URL

https://github.com/quasarframework/quasar/blob/dev/app/templates/entry/client-entry.js#L38

### How to reproduce

[2022-02-10 14:17] focarion commented on #12368
I had the same problem and i fixed it by downgrading quasar/app to 3.2.9 and now its working, its probably something related to a new update on quasar/app

[2022-02-10 14:18] Teo27 commented on #12368
I am building android in the pipelines @francoism90

So the simplified version looks something like this:

First you build up the project but skip the gradlew part with the following command: `npx quasar build -m capacitor -T android -s`

Then, depending on your target and wanted result, you can use one of the following:
`cd /src-capacitor/android/`

-  ./gradlew assembleRelease
- ./gradlew bundle

[2022-02-10 15:13] smakinson opened #12431 "QInput clearable does not work with v-model.trim"
### What happened?

When the clearable button is pressed, the text is not cleared. In the devtools console you will see an error: `Cannot read properties of null (reading 'trim')`. This is because the clearable button sets the model to null.

### What did you expect to happen?

The text to clear with no error.

### Reproduction URL

https://codepen.io/smakinson/pen/MWOmVaw

### How to reproduce?

[2022-02-10 15:14] rstoenescu commented on #12430
We've made it clear in docs that setting cssAddons is a Quasar CLI feature, so it doesn't works with the flavours.

<img width="834" alt="image" src="https://user-images.githubusercontent.com/4665641/153436636-486b9e60-f61e-4dd1-94f4-e64c53b429e0.png">

Notice "quasar.conf.js" there. That's available in Quasar CLI only.

For adding the cssAddons with our Vite or Vue CLI plugin, you need to manuall

[2022-02-10 15:14] #12430 closed, assigned to nobody

[2022-02-10 15:14] francoism90 commented on #12368
I think something else is going on, maybe the gradle version is out-of-date?

After upgrading to the latest one (not recommended), it produces a working build.
Maybe the old one isn't compatible with the latest Android Studio?

[2022-02-10 15:18] Teo27 commented on #12368
Ok, I found the exact issue. I debugged a bit and saw that both the target folder and studio path are correct for me. The issue is with the "open" library and specifically this commit for quasar - https://github.com/quasarframework/quasar/commit/6b977a836f7d0c9a1279002b065f23ab99b52820

In the file [@quasar/app/lib/helpers/open-ide.js](https://github.com/quasarframework/quasar/blob/dev/app/lib/hel

[2022-02-10 15:27] rstoenescu commented on #12368
@Teo27  Why not PR it? It helps as we have so much on our plate to handle and we love to see community contributions!

Fix will be available in "@quasar/app" v3.3.3

[2022-02-10 15:27] #12368 closed, assigned to rstoenescu

[2022-02-10 15:27] MilosPaunovic commented on #12431
Duplicate [https://github.com/quasarframework/quasar/issues/11423](https://github.com/quasarframework/quasar/issues/11423), [https://github.com/quasarframework/quasar/issues/10376](https://github.com/quasarframework/quasar/issues/10376), [https://github.com/quasarframework/quasar/discussions/10362](https://github.com/quasarframework/quasar/discussions/10362)

[2022-02-10 17:33] #12431 closed, assigned to nobody

[2022-02-10 18:52] francoism90 opened #12433 "Cannot find module 'autoprefixer'"
### What happened?

$ quasar upgrade -i

  Quasar CLI · Gathering information with yarn...

 quasar: 2.5.3 → 2.5.5
 @quasar/app: 3.3.2 → 3.3.3

### What did you expect to happen?

Process the CSS

### Reproduction URL

https://codepen.io/rstoenescu/pen/xxEvBLR

### How to reproduce?

1. Upgrade to latest versions
2. Run quasar build -m spa

### Flavour

Quasar CLI (@quasar/cli | @quasar/app)

###

[2022-02-10 22:49] iXyles opened #12434 "Q-Select options filter issue"
### What happened?

When having a computed method, or a list of items that changes as "options" for the q-select as a filter to prevent some combinations, the content is not always updating/expanding as expected if the q-select has a "value" in the model when being opened. It however works just fine if no value is selected before you open the q-select the first time.

### What did you expect to ha

[2022-02-11 02:03] kamalsprasad commented on #12433
I get the following error since upgrading to the latest version

[code]

[2022-02-11 06:56] muhamadamin1992 commented on #12433
For me it's working after deleting yarn.lock and reinstall dependencies

[2022-02-11 07:30] francoism90 commented on #12433
@muhamadamin1992 This fixes the issues, thanks. :)

[2022-02-11 07:30] #12433 closed, assigned to nobody

[2022-02-11 09:16] gittrolo opened #12440 "Quasar app bug"
### What happened?

after updating quasar app from 3.2.2 to 3.3.3, build command failed:

![2022-02-11_100553](https://user-images.githubusercontent.com/52664193/153565140-5dbfa6ff-17da-40bb-9326-0eea6e0d300a.JPG)

### What did you expect to happen?

build does not fail

### Reproduction URL

https://nolink.com

### How to reproduce?

No link

### Flavour

Quasar CLI (@quasar/cli | @quasar/app)

#

[2022-02-11 09:32] MilosPaunovic commented on #12440
Try with fresh dependency installing by first removing `node_modules` and `package-lock.json` and then running `npm i` command.

[2022-02-11 09:36] fardolieri commented on #7670
In case someone stumbles upon this, I made it work by adding the following lines to my main.ts
[code]

[2022-02-11 10:39] gittrolo commented on #12440
It's OK. Thank you

[2022-02-11 10:39] #12440 closed, assigned to nobody

[2022-02-11 11:05] rstoenescu commented on #9684
This should have been closed. Implemented already (both Qv1 and Qv2)

[2022-02-11 11:05] #9684 closed

[2022-02-11 11:27] lordrepha1980 commented on #7413
I have the same problem, have anyone a solution for this.

[2022-02-11 11:38] TuringJest commented on #12395
@rstoenescu any ideas on how we can improve this?

We still have issues figuring out a way to open the popup immediately on `focus` without getting issues on `click`:
1. on `focus` opens the popup, then on `click` will toggle back to close
2. also hiding the popup will trigger on `focus` opening the popup again. So now the popup opens every time I clear.

I use QSelect inside a table (AG-Grid) and

[2022-02-11 16:52] IlCallo commented on #9455
I'd also note that many upsteam projects are forcing the ecosystem by pushing [Pure ESM packages](https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c)

Due to this, it may be an idea to skip from Node 12 to Node 16 directly, we should check which are the main differences

[2022-02-11 18:40] FlorianMoser opened #12445 "Wrong path for @quasar/extras assets when using vite on URLs other than localhost:3000"
### What happened?

This issue happens when using `@quasar/extras` and `vite` with a development URL (for example `mydevdomain.test`) other than `http://localhost:3000`, for example when working with Laravel and InertiaJS.

The material icon fonts are loaded from the URL `http://mydevdomain.test/node_modules/@quasar/extras/material-icons/web-font/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2`, which re

[2022-02-11 19:54] rstoenescu commented on #12445
Hi,

This has nothing to do with our Vite plugin. Asset handling, bundling etc etc is handled by Vite. So look into your Vite config. Most likely you've set a public path or base to that URL for dev too and Vite is doing what you told.

[2022-02-11 19:54] #12445 closed, assigned to nobody

[2022-02-11 22:34] FlorianMoser commented on #12445
Thanks, @rstoenescu

For future reference: you have to explicitly set the `server.origin` option in `vite.config.js`, if your development URL differs from `http://localhost:3000`:

[code]

[2022-02-11 23:12] rtynski commented on #12434
Smal fix:
https://codepen.io/rafalty/pen/OJOgvKe
`
return [...this.options];
`
And working.
But the bug is still there.

https://codepen.io/rafalty/pen/eYeRrmW

[2022-02-12 04:11] metalsadman commented on #12434
https://quasar.dev/vue-components/select#api--qselect
![Screen Shot 2022-02-12 at 12 16 39 PM](https://user-images.githubusercontent.com/31038838/153696197-3e629f56-92b1-45dc-8371-b4a85eed49e4.png)

https://codepen.io/metalsadman/pen/wvPexOV?editors=1010

[2022-02-12 06:46] aryan1107 opened #12449 "Icon Genie generates icon for cordova but when running cordova app icon doesn't change"
### What happened?

Icon Genie generates icon for cordova but when running cordova app icon doesn't change. It shows default cordova icons.

Even though I can see generated icons inside src-cordova within res folder. When running cordova app it just shows default icons.

### What did you expect to happen?

Instead of default icon it should show generated icons.

### Reproduction URL

.

### How to

[2022-02-12 08:15] #12449 closed, assigned to nobody

[2022-02-12 09:26] rstoenescu commented on #12434
Reopening so I don't forget to look into something.

[2022-02-12 10:39] iXyles commented on #12434
Thanks :) I actually missed this!

[2022-02-13 04:35] gowy222 opened #12451 "Q-table, @row-click not work within body-slot"
### What happened?

see as  title said if useing body-slot in q-table, the event @row-click never work..

### What did you expect to happen?

Im tring to use body-slot manage user clicked row bgc/border color, cuz no api to set this prop. Thus, try to use body-slot :class='is_current_clicked_row', however the api @row-click  never worked.

### Reproduction URL

https://codepen.io/pen?&editors=101

[2022-02-13 06:07] MilosPaunovic commented on #12451
You need to add `@click` event to your `q-tr`.

[2022-02-13 06:52] darkevilmac commented on #8690
I'd definitely be interested in having this supported by default with the CLI, I can get by using the render methods for now but having JSX definitely helps for readability in certain cases.

[2022-02-13 07:59] panmenghan opened #12452 "polyfills not applied for typescript project"
### What happened?

see as title

### What did you expect to happen?

see in the **How to reproduce?** section

### Reproduction URL

...

### How to reproduce?

1. run `quasar create quasar-ts`  to create a **typescript** project

2. edit `src/App.vue`, and add this line `const text = ''.trimEnd()`  somewhere in `<script lang="ts">` to trigger the corejs polyfill

3. edit `babel.config.js` to ena

[2022-02-13 14:27] hawkeye64 commented on #12385
@Kylyi Look at @rstoenescu 's answer here: https://github.com/quasarframework/quasar/discussions/12110

[2022-02-13 14:56] rstoenescu commented on #12385
Valid claim. He IS using mousedown.prevent

[2022-02-13 15:24] fairking opened #12454 "q-toggle @update not working"
### What happened?

Having this doc: https://quasar.dev/vue-components/toggle

The q-toggle is not working as expected. the event @update is not triggered.
https://jsfiddle.net/3dr6n0qv/

### What did you expect to happen?

working `@update` event

### Reproduction URL

https://jsfiddle.net/3dr6n0qv/

### How to reproduce?

Click toggle

### Flavour

Quasar CLI (@quasar/cli | @quasar/app)

### Are

[2022-02-13 15:31] fairking commented on #12454
what? could someone please disable that bot :-)?

[2022-02-13 15:34] fairking commented on #12454
I can see the [function](https://github.com/quasarframework/quasar/blob/4242b46ace45c9a6dc8965ef1fab718b32e09926/ui/src/components/checkbox/use-checkbox.js#L143):
[code]

But I cannot understand what it is doing? on click we trigger update? what if I need to listen to click itself? click and update are two different things I assume. Anyway those were just my thoughts.

[2022-02-13 16:42] gregadro commented on #12454
There is no such event with that name. The correct event name is `@update:model-value`, also seen from the code snippet above. So in your CodePen you should use `@update:model-value="onUpdate"`.

[2022-02-13 16:46] fairking commented on #12454
oh nice, I came from the vuejs2 world. So apologize for any misunderstanding. Closing the issue.

[2022-02-13 16:49] fairking commented on #12454
Comparing the code against f7 or even ionic I can see the Quasar is more mature and focused on vue only 👍. Thanks.

[2022-02-13 21:05] fairking commented on #12454
I'll reopen the issue just for one small question, if you don't mind.

The only small issue I can see with those events. Why do we need `@update:model-value` in a first place instead of just `@update`?
I can see a huge issue if you lets say rename some of the model value name to `@update:model-start-date` all users will have problems without noticing (events will just simply stop working). I guess

[2022-02-14 00:50] tzmartin commented on #12451
this method only returns `PointerClick` event, not `row` or `index`.  `@row-click` is still not working for `q-tr` or `q-table` while using a body-slot.

[2022-02-14 01:08] #12454 closed, assigned to nobody

[2022-02-14 01:11] metalsadman commented on #12451
![Screen Shot 2022-02-14 at 9 10 20 AM](https://user-images.githubusercontent.com/31038838/153784319-1b48398b-52df-4c79-be92-de95a187f87f.png)

follow what Milos suggested.

[2022-02-14 01:11] #12451 closed, assigned to nobody

[2022-02-14 06:50] kamasuPaul commented on #10083
I dont think changing to `"@quasar/app" v3.1.6`. solves the issue. This is still an issue in spa mode

[2022-02-14 08:34] maggie44 opened #12461 "Local storage item value prefixed with: __q_strn"
### What happened?

When creating a local storage item, the value set is prefixed with `__q_strn`. For example:

`$q.localStorage.set('lang', 'test');`

Outputs:

`__q_strn|test`

Maybe related to: https://github.com/quasarframework/quasar/issues/1199

### What did you expect to happen?

Output should be: `test`

### Reproduction URL

I have been unable to replicate local storage behaviour on jsFi

[2022-02-14 08:35] arbisyarifudin commented on #7448
Hi, do you have the solution? I got some errors here.

[2022-02-14 10:20] soulsam480 commented on #12461
I think this is expected as quasar prefixes `__q_strn` to keep track of original value type. You can try to use `$q.localStorage.get('lang')` and it should give you `test`.

[2022-02-14 10:41] maggie44 commented on #12461
It wasn't changing even when I used the .getItem(). Turns out though, I had missed the $q:

Returned a string, but included the prefix:
`localStorage.get('lang')`

Returned the correct string:
`$q.localStorage.get('lang')`

The missing $q was just a typo, but as it didn't error I missed it.

[2022-02-14 10:41] #12461 closed, assigned to nobody

[2022-02-14 11:31] rstoenescu commented on #12385
Enhancement will be available in Quasar v2.5.6.

Correct way to prevent: `@keydown.enter.space.prevent @mousedown.prevent @touchstart.prevent`

[2022-02-14 11:31] #12385 closed, assigned to rstoenescu

[2022-02-14 12:13] pbb72 commented on #11889
Accessibility is a huge subject. And just to shatter a dream; no tool can ever be 100% accessible. (It's even more unattainable than being 100% bug-free.) This also means that people depending on accessibility, already know you're not going to be fully accessible.

So a good place to start documenting, is to list *which* accessibility features Quasar aims to support. Some features can be expected

[2022-02-14 12:21] pbb72 opened #12464 "Links in documentation do no show keyboard focus"
### Description

As part of accessibility requirements, links need to have an indicator to show they have keyboard focus. This is not the case for the Quasar documentation.

The cause of this is simply the `outline: 0` code in the style of `.doc-link` elements.

### Documentation Section URL

_No response_

### Flavour

_No response_

### Areas

Style & Identity (quasar)

[2022-02-14 12:40] pbb72 opened #12466 "Splitter component is not keyboard-accessible"
### What happened?

Keyboard users are not able to control the splitter component.

### What did you expect to happen?

Using the tab key to navigator through the document, the splitter component should receive focus at the appropriate moment. This focus state should in some way be visible. When the splitter has focus, it's position should be controllable using the keyboard, for example using arro

[2022-02-14 13:07] pbb72 opened #12467 "Time picker component is not keyboard accessible"
### What happened?

Keyboard users are not able to control the time picker component.

### What did you expect to happen?

Using the tab key to navigator through the document, the time picker component should receive focus at the appropriate moment. This focus state should in some way be visible. When the time picker has focus, it's value should be controllable using the keyboard, for example usin

[2022-02-14 13:41] rstoenescu commented on #12464
Hi,

This is just the docs website. Does not mean apps built with Quasar will have the custom classes that we wrote for the docs.

[2022-02-14 13:41] #12464 closed, assigned to nobody

[2022-02-14 14:44] MarkofChina commented on #6775
I can't agree more , what you suggest have brought an end to my confusion , I've loved Tailwind for long time, while unfortunately I am frustrated with it's limitation in components, I don't want to cost too much time on designing Vue component , instead, I would like focus on the backend codes.  en... Quasar may have a little more limitation in freely-designing, while Tailwind offers more freedom

[2022-02-14 16:48] kamcnally commented on #5600
I came across this problem using a table with virtual scroll. In the end, I disabled [modifyObstructiveCode](https://docs.cypress.io/guides/references/configuration#modifyObstructiveCode) in the Cypress configuration and the problem was immediately solved.

I'm guessing that something in the virtual scroll code is similar enough to a framebusting technique that Cypress is by default removing it.

[2022-02-15 01:25] maarteNNNN opened #12486 "Warning `[Vue warn]: Invalid VNode type: undefined (undefined)` in `QTable`."
### What happened?

I tried making a Codepen with an example however it's only happening in the Quasar CLI . I'm getting recursive errors of `Vue warn]: Invalid VNode type: undefined (undefined)` on both examples (one is commented). Until finally the a warning pops:

[code]
NOTE: This is done with the Quasar CLI with Typescript. I tried to minimize the problem. The template is an exact copy of [Se

[2022-02-15 07:43] pbb72 commented on #12464
I clearly stated in both the title and the description that this is concerning the documentation.

Why close the issue, is it fixed? Or don't we care about accessible documentation? (Is it not required by law?)

[2022-02-15 08:21] Tofandel commented on #7522
Related https://github.com/quasarframework/quasar/discussions/12278 #4881

[2022-02-15 13:52] Shayan-To opened #12490 "Cannot change the container tag of QBtn"
### What happened?

I'm absolutely positioning a `q-btn` with both `left` and `right` set. It happens that for some reason, `button` tag does not work when both `left` and `right` are set (tested on both Firefox and Edge), and it will just sit on the left (and won't stretch). Changing just the tag to `div` will fix the problem.

I read the source for `q-btn` and there is no way to change the tag,

[2022-02-15 14:45] jra11 commented on #8822
Hi,

Same issue, my BEX is ready but I cannot upload it.

Is there a workaround? Can I modify the manifest.json manually according to the V3 requirements or does V3 have an impact on the compilation or Quasar components?

Many thanks

[2022-02-15 16:05] gregadro commented on #12490
Have you tried to apply `full-width` CSS class to the button? It works on your CodePen.

[2022-02-15 18:57] Pranav-Bobde commented on #5599
@pereslava i'm facing issue implementing the same, can you please share your code (codepen, etc.) how you did it. I really need it ASAP.

[2022-02-15 20:17] thdoan commented on #8822
@jra11 complying to MV3 is more involved than updating manifest.json. The Quasar team will have to go through this checklist: https://developer.chrome.com/docs/extensions/mv3/mv3-migration-checklist/

[2022-02-15 20:28] jra11 commented on #8822
@thdoan Many thanks. So I don't try anything for now, I don't have the needed knowledge to do it.

May I suggest putting a big red warning in the doc to say that current BEXs cannot be published on the Chrome web store?

Some people may develop a BEX for their client, and have a very bad surprise when trying to publish it. Can be really a nightmare to manage. (not my case, fortunately).

I am open

[2022-02-17 03:28] zxqp commented on #8822
I am unable to publish after building it.
Please migrate from v2 to v3

[2022-02-17 07:57] beruic commented on #8206
I vote for re-opening this.

`auto-width` is already available on the low level components `QTh` and `QTd`, and the solution with `q-table--col-auto-width` is both inelegant and (most importantly) undocumented.

Adding `auto-width` to the column definition object solves both, and thus provides an elegant documented solution to a common problem.

[2022-02-17 09:22] piperone commented on #12414
@pdanpdan Sorry for not specifying this in my initial report. This behavior was observed in Firefox (on macOS).

![autogrow2](https://user-images.githubusercontent.com/351744/154446464-7a4388cc-66ad-4281-987f-dd4416843b72.gif)

[2022-02-17 09:33] pdanpdan commented on #12414
Yes, firefox on linux does it too

[2022-02-17 10:05] jra11 commented on #8822
@zxqp I guess it is not "so easy", it's more than a migration.

I reviewed the source code of Qasar to see if I can do it myself. It seems doable, but the main issue is that you'll need two manifest.json, one for v2 and the other for v3. Why? Because Firefox does not support v3 yet!

Quasar devs may want to wait for the support of v3 from Firefox to avoid too much work (eg managing two different c

[2022-02-17 10:21] Shayan-To commented on #12490
@gregadro Not if you have non-zero `left` and `right`. Updated the reproduction URL.

[2022-02-17 13:04] pdanpdan commented on #12490
https://stackoverflow.com/a/7271936

[2022-02-17 15:51] TuringJest opened #12505 "Dialog Plugin: Tab doesn't focus cancel button"
### What happened?

The cancel button is not accessible by forward tabbing (shift + tab works) on a dialog with only a `cancel` and `ok` button and no focusable elements in the body.

### What did you expect to happen?

Hitting `tab` should cycle through `cancel` as well.

### Reproduction URL

https://quasar.dev/quasar-plugins/dialog#example--basic

### How to reproduce?

1. Open the confirm dial

[2022-02-17 16:46] vojvodics commented on #8527
@Daemach or anyone having the same problem. You can easily fix this with CSS:

just add a `desc-first` in headerClasses if you are using 'da' sortOrder for that column.
Then, just add this:
[code]

[2022-02-17 21:05] Shayan-To commented on #12490
@pdanpdan Well, adding `min-width: -moz-available` fixes the problem on Firefox, but the problem still remains on Microsoft Edge (and probably Chrome, as they are both Chromium).

Here's link to the version with `min-width: -moz-available`: https://jsfiddle.net/jfmb8yn3/

[2022-02-17 21:28] pdanpdan commented on #12490
What version of chrome/edge, on what os?

[2022-02-17 22:08] Shayan-To commented on #12490
Microsoft Edge Version 94.0.992.50 (Official build) (64-bit)
Windows 10 Pro 21H1 Build 19043.1387

[2022-02-17 23:11] gregadro commented on #12490
The latest Chrome(98.0.4758.102) and Edge(98.0.1108.56 ) on the Linux Zorin distro works even without min-width property.

[2022-02-18 09:21] capgert opened #12514 "vue-cli-plugin-quasar not working with Vue-cli v. 5.0.1"
### What happened?

I created a new project using Vue-CLI v. 5.0.1 and then installed Quasar with: vue add quasar.
When I run the application I get the warning: Failed to resolve component for each Quasar component found in the page.
Everything was working fine up to Vue-CLI v. 5.0.0-rc.2, this problem surfaced starting from v. 5.0.0-rc.3 and persists with v. 5.0.1
Any idea what causes the problem

[2022-02-18 09:52] vijay-singh-16 opened #12515 "QUploader component's background colour changes slightly when 'text-color' prop is set"
### What happened?

### When 'text-color' prop is NOT set:

![no-text-color](https://user-images.githubusercontent.com/60729120/154657596-4f985598-d8d9-4496-a433-1713f43596db.jpg)

### When 'text-color' prop is set:

![grey-5-text-color](https://user-images.githubusercontent.com/60729120/154657609-55ee9e6e-5aa3-4753-930c-55967fa3035f.jpg)

This happens with any 'color' prop value.

### What did yo