[2022-02-18 15:40] #12514 closed, assigned to nobody

[2022-02-18 15:42] yusufkandemir commented on #12514
Hi, Vue CLI's first stable release [v5.0.1](https://github.com/vuejs/vue-cli/releases/tag/v5.0.1) is released yesterday. So, we don't support it yet. Please open a feature request on https://github.com/quasarframework/vue-cli-plugin-quasar. You can also experience this with other community Vue CLI plugins as well, because of the breaking changes. So, you might also consider waiting for the communi

[2022-02-18 16:09] TonyMale commented on #12486
I have same problem with Quasar

[2022-02-18 22:32] davidreyg opened #12520 "Qtable + grid background 'inherit' fullscreen mode"
### What happened?

I try to toggle fullscreen mode in grid mode
![qtable](https://user-images.githubusercontent.com/19297294/154769392-b4cdd288-6bc9-429f-ba80-33b49c0c9569.png)
But they background is like transparent
BTW in normal style it works
![fullscreen grid](https://user-images.githubusercontent.com/19297294/154769722-d0922b22-a089-4d1b-ab02-7eb468e0c8d6.png)

Ando in Docs i didnt find anyt

[2022-02-19 03:30] CamilleDrapier commented on #8640
Thank you very much for adding this issue/feature :heart_eyes:

Sorry for commenting on a closed issue, please let me know if you would prefer having a dedicated issue for this. Maybe my understanding is odd/wrong, but I feel the documentation for this might be a bit difficult to understand.

According to https://github.com/quasarframework/quasar/blob/quasar-v2.5.5/ui/src/components/stepper/QStepp

[2022-02-19 04:36] KINGER404 opened #12521 "QScrollArea two scrollbars on iOS 12.4 (safari)"
### What happened?

When scrolling in display two scrollbars

### What did you expect to happen?

Expect QScrollArea scrollbar

### Reproduction URL

https://quasar.dev

### How to reproduce?

1. Go to reproduction link on iOS 12.4
2. Open right QDrawer or QScrollArea component
3. See the bug

### Flavour

Quasar CLI (@quasar/cli | @quasar/app)

### Areas

Components (quasar)

### Platforms/Browse

[2022-02-19 05:40] diadal opened #12522 "$q.platform.is.capacitor return undefined on capacitor android"
### What happened?

`$q.platform.is.capacitor return` `undefined` running `quasar d -m capacitor -T android --ide`

### What did you expect to happen?

running test on android studio emulator

### Reproduction URL

not link

### How to reproduce?

quasar d -m capacitor -T android --ide

### Flavour

Quasar CLI (@quasar/cli | @quasar/app)

### Areas

Capacitor Mode

### Platforms/Browsers

Android

[2022-02-19 11:30] TonyMale commented on #12486
I resolve this problem. Your property 'product' is Array. That call recursive update and crashes project in production. You can use function `format` in columns.

For example
[code]

[2022-02-19 11:46] lxmfly123 commented on #12371
In latest Quasar release for now(v2.5.5), this method is `getOptionIndex: (index: number) => void;`, it should be `getOptionIndex: () => number`.

[2022-02-19 15:47] Shayan-To commented on #12490
Here's an screenshot of my Edge: (I just opened the link from my previous comment.)

![image](https://user-images.githubusercontent.com/12458563/154808034-7669447c-3331-426e-8b11-144d7eb11e65.png)

Does Quasar only support latest Chrome and Edge only on Linux Zorin distro?

[2022-02-19 15:57] Quasarman opened #12530 "Wrong docs reagarding <i18n> tag usage in SFC?"
### Description

When I follow the documentation for supporting the <i18n> tag inside a SFC i18n no longer works all together, i.e., I only get displayed the labels that previously worked but no longer the correct translations when using `$t()`. Also the <i18n> tag does not seem to get resolved at all.

[code]

When I remove the config from the webpack chain the `$t()` function calls work as expec

[2022-02-19 16:13] Daemach commented on #8527
@vojvodics Thanks for this suggestion.  I appreciate it!

[2022-02-20 21:54] OneFourFree commented on #12514
Vue CLI has made 'cache-loader' optional.

So you need to install cache-loader as a dev dependency.
`yarn add -D cache-loader`

[2022-02-21 01:28] dbryar opened #12546 "Extras packages in /dist use the full path of their original location, and are ignored by .gitignore"
### What happened?

when building for production, the extras a re-packaged in
[code]
Because the folder contains the keyword `node_modules` in the path, everything below it in the structure is ignored by the standard settings in `.gitignore`.

The workaround at present is to `git add --force /dist/.` but that is not ideal

### Why is this a problem?
Because some old poorly designed deployments req

[2022-02-21 01:31] dbryar commented on #12546
Maybe also program action bot to look at the keyword `N/A`, or not applicable, or don't make it a mandatory item to add a URL

[2022-02-21 06:56] yusufkandemir commented on #12546
Couldn't reproduce.
![image](https://user-images.githubusercontent.com/6266078/154903523-e3dbb5d4-10d8-484d-8d3d-e4de9155e745.png)

The reproduction URL is always applicable. Even if it's a dead-simple fresh Quasar project, you might have some problems with a configuration, maybe about the lock file, etc. So, a repro in any form is always helpful and required. In this case, `quasar info` output, y

[2022-02-21 06:56] #12546 closed, assigned to nobody

[2022-02-21 07:42] AlaaDq opened #12547 "Q-stepper Active-icon problem"
### What happened?

i am trying to follow the docs about using active icon
Icon name following Quasar convention; If **'none'** (String) is used as value, then it will defer to **prefix** or the regular icon for this state; Make sure you have the icon library installed unless you are using 'img:' prefix

when  using none as value to disable default icon it is not showing the prefix and nothing is

[2022-02-21 09:08] MilosPaunovic commented on #12547
You've gotta bind it, like this `:active-icon="none"`
[https://codepen.io/milospaunovic/pen/vYWRMbm?editors=1010](https://codepen.io/milospaunovic/pen/vYWRMbm?editors=1010)

[2022-02-21 09:41] AlaaDq commented on #12547
![image](https://user-images.githubusercontent.com/45366622/154928805-9a83f10d-301e-4cde-9764-3ea95f0cf650.png)

but it looks the same the active  icon still the pen and not none or prefix ="1"

[2022-02-21 10:08] MilosPaunovic commented on #12547
Oh, I didn't understand well. Codepen is edited, for the first step active icon isn't shown anymore
[https://codepen.io/milospaunovic/pen/vYWRMbm?editors=1010](https://codepen.io/milospaunovic/pen/vYWRMbm?editors=1010)

[2022-02-21 10:20] AlaaDq commented on #12547
but as docs they said
Icon name following Quasar convention; If 'none' (String) is used as value,

 **then it will defer to prefix or the regular icon for this state**
but the prefix not appear i need to see the prefix here as  "1" for example when it is active
hope the problem  is clear now

[2022-02-21 10:35] MilosPaunovic commented on #12547
I do understand your requirement now, but I'm afraid that the docs were a bit misleading in that case, if I understand this piece of code which handles active step icon:

[https://github.com/quasarframework/quasar/blob/eb2f1fc491fd11ca4de7509f26714b4b4fa25296/ui/src/components/stepper/StepHeader.js#L58](https://github.com/quasarframework/quasar/blob/eb2f1fc491fd11ca4de7509f26714b4b4fa25296/ui/src/

[2022-02-21 10:37] AlaaDq commented on #12547
Thanks for your time bro

[2022-02-21 11:11] Demivan commented on #7379
With Quasar 2 and Vue 3 there is no way to even hack it.
Are there any plans to support this?

[2022-02-21 15:16] capgert commented on #12514
Hi Yusuf,
thank you very much for your help. I checked the issue with cache-loader
but it doesn't seem to be the culprit.
cache-loader has been deprecated as of Webpack 5 (the version used by
vue-cli 5), and as such trying to install it gives a dependency error.
Looking at the changelog for vue-cli rc.3 actually seems that the only
breaking change added (from rc.2) is making cache-loader optional

[2022-02-21 15:37] obi84 opened #12553 "q-editor bug adding token in latest safari."
### What happened?

When using q-editor and trying to insert token as explained in the docs here:
https://v1.quasar.dev/vue-components/editor#example--using-toolbar-slots

..in Safari Browser, tokens will be added 'empty', also click on 'x' icon will not work.

### What did you expect to happen?

To work like it works in chrome, firefox and edge.
1. the text should be within the token
2. on click

[2022-02-21 15:57] obi84 commented on #12553
this should not be neccessary for bugs that can be recreated in the docs.

[2022-02-21 16:39] hawkeye64 commented on #12521
I am trying several iPhone variants with quasar.dev - I do see an issue with iPhone XS v12.4 (iPhone 8 had no issues with v13). But left and right drawers fail to open. Console errors show this:

![image](https://user-images.githubusercontent.com/10262924/154994953-bb628d48-6bc2-40d9-9bb0-b2b722ec4a87.png)

iPhone XS (v12.4): same issue
iPhone 8 (v12.4): same issue
iPhone 8 (v11): same issue, but

[2022-02-21 22:39] dbryar commented on #12546
FWIW @yusufkandemir

[code]

[code]

![image](https://user-images.githubusercontent.com/20749904/155034096-38bded9a-feca-4226-8c26-de1e59fd05c3.png)

Props for responding inside 24h, probably less than 12!

It still does the same thing on this project which is a very simple landing page product chooser

[2022-02-22 06:17] yusufkandemir commented on #12546
Please upgrade `@quasar/app` from v3.3.0 to at least v3.3.1 to get the related fix, which got released almost a month ago. The latest version at the moment is v3.3.3. In general, when troubleshooting, I would advise taking a look at future versions release notes and upgrading packages to see if that solves anything.

Bonus tip: if the intended dist structure was like that(_it isn't_), and you want

[2022-02-22 10:18] uifox commented on #10814
I agree, it would be really useful if my app didn't need to include styles it never uses. This is an important consideration in apps that must perform very well. Obviously, the smaller the bundle sizes, the faster it will load and run, something respected by search engines a lot. Core Web Vital scores are negatively affected by unused CSS / JS.

[2022-02-22 15:50] AbhimanyuAryan opened #12564 "q-btn doesn't talk about `type` property for navigation"
### What happened?

from docs: https://v1.quasar.dev/vue-components/button#handling-navigation

[code]

the `q-btn` component with `href` doesn't talk about `type= "a"` property to turn the `<button>` attribute into `<a>` attribute. Found it the hard way thanks to @protozoo

The weird part is the examples in docs work without `type= "a"` but in codepen they don't

### What did you expect to happen

[2022-02-22 15:50] AbhimanyuAryan commented on #12564
Should I go ahead and make a pull request?

[2022-02-22 19:09] mncoldsmoke commented on #3623
I can't get the codepens to work. But I am having the same problem. I am using the newest version and when I navigate to a child route of a QRouteTab, it jumps back to my home tab, and doesn't recognize that it is a child of the tab it is on.

I am probably going to just stop using QRouteTab which seems to have years of the same flaw, and spin up my own routing with the generic tab. Very disappoin

[2022-02-23 02:25] dbryar commented on #12546
Just confirming for anyone else that ends up here;

If you built a project with `quasar create <folder_name>` using quasar CLI, it may have `@quasar/app^3.3.0` in the `package.json`

you need to manually run `npm install @quasar/app@latest` to get 3.3.3, which does indeed fix this build behaviour.

[2022-02-23 07:09] joppehoekstra commented on #11402
Same issue here on iOS 15.1.

Fix by @preetamslot seems to resolve the issue (both for dialog & drawer).

Thus far no negative side effects. Though the there is a bit of a strange glitch when scrolling in a maximised dialog (when the Safari menu shrinks & grows), but this is definitely more tolerable than having an empty space there permanently.

[2022-02-23 11:35] muhamadamin1992 opened #12571 "QSelect with options-dense when menu first time opened to top"
### What happened?

if QSelect has prop options-dense when first time menu opened to top with un correct positions

### What did you expect to happen?

Should open with correct positions

### Reproduction URL

https://jsfiddle.net/8ap3k564/

### How to reproduce?

1. Go to provided reproduction link
2. click to test select
3. see un correct positioned menu

### Flavour

Quasar CLI (@quasar/cli | @

[2022-02-23 14:32] alainrc2005 opened #12573 "LoadingBar.isActive reactive property"
### What happened?

isActive reactive property to LoadingBar no working

### What did you expect to happen?

isActive reactive

### Reproduction URL

https://codepen.io/alainrc2005/pen/KKyeBrM?editors=1111

### How to reproduce?

1. View demo in CodePen

### Flavour

Quasar CLI (@quasar/cli | @quasar/app)

### Areas

Plugins (quasar)

### Platforms/Browsers

_No response_

### Quasar info output

[2022-02-23 15:27] cmcleese opened #12575 "Focusout (focusout.js) doesn't always work for canvas elements. Works ok with Quasar v1.x"
### What happened?

Focusout doesn't always work for canvas elements. Quasar v2x

Something different happening with `src/utils/private/focusout.js` specifically with Chrome/Chromium. The **focusin** trigger event fires differently depending on which browser (chromium, FF) . This is when for example a menu or dropdown is to closed on click away.

ex: https://codesandbox.io/s/test-quasar-cesium-vue

[2022-02-23 21:02] pdanpdan commented on #12575
The cesium code stops/prevents the mousedown and touchstart events (with capture at document level)
So clickOutside cannot receive neither the two events not a focus event on the canvas because by preventing the events cesium code also prevents the canvas getting focus

[2022-02-24 00:10] firibz opened #12581 "Quasar variables are undefined if use @use instead of @import in app.scss file"
### What happened?

If try to split app.scss into smaller files and use them in the app.scss with @use sass partials, you will get an error if you have used any quasar sass variable in it.
Is there any way to include them with @use and access quasar variables or do we have to use @import?

<img width="596" alt="Screen Shot 2022-02-24 at 3 39 05 AM" src="https://user-images.githubusercontent.com/79

[2022-02-24 01:31] kolliss opened #12582 "Unable to install Capacitor v3 build (signed .apk) on Android devices."
### What happened?

I created new quasar app (quasar create my-app), then change capacitor version to 3.

When I run app in dev mode everthing is fine - build was succesfuly and app running in dev mode without any problems.
Next step, build app for production (quasar build -m capacitor -T android), sign it, and finally, run the zip align. Then I try install this app on real android device but an e

[2022-02-24 02:33] KINGER404 commented on #12582
Try the first command to write:
zipalign -v 4 .\dist\capacitor\android\apk\release\app-release-unsigned.apk .\dist\capacitor\android\apk\release\my-app.apk
And second command:
apksigner sign --ks /path/to/your/release-key.keystore --ks-key-alias alias_name .\dist\capacitor\android\apk\release\my-app.apk

[2022-02-24 08:02] kolliss commented on #12582
Thanks, this signing method works as expect.

[2022-02-24 08:02] #12582 closed, assigned to nobody

[2022-02-24 15:17] mvalero commented on #8513
We are experiencing the same problem on our Quasar based VueJS application.

Our vue app is deployed on the cloud where several instances for different customers sit behind an ambassador (envoy proxy) which adds a prefix to each customer's instance. i.e `https://a.b.com/customer1/anyRouteInMyVueApp`.

For that reason we need all static resources linked in our index.html to have relative paths like

[2022-02-24 17:00] dobbbri opened #12588 "Notify not show close icon with ionicons-v5/v6"
### What happened?

Notify not show close icon with ionicons-v5/v6, show only close text

### What did you expect to happen?

Notify show close Icon (ionicons-v5/v6)

### Reproduction URL

https://codepen.io/sldobri-1471376302/pen/wvPxyzr

### How to reproduce?

1 - Click in NOTIFY button

### Flavour

Vite Plugin (@quasar/vite-plugin)

### Areas

Plugins (quasar)

### Platforms/Browsers

Chrome

[2022-02-24 18:20] dobbbri commented on #12588
in main.js

[code]

[2022-02-24 18:20] #12588 closed, assigned to nobody

[2022-02-25 09:22] Tofandel commented on #1958
I made a plugin with a directive for it

`vAutoGrow.js`
[code]

Usage

[code]

[code]

[2022-02-25 14:36] DouglasCalora opened #12599 "App Extension doc error for npm offline link"
### Description

When workin with npm instead of yarn, the only way of link is with `npm add --dev file://path/to/our/app/ext/root` and not with `npm add --dev link://path/to/our/app/ext/root`. It happes in v1 docs too.

### Documentation Section URL

https://quasar.dev/app-extensions/development-guide/introduction

### Flavour

_No response_

### Areas

App Extension API

[2022-02-25 22:19] flesser commented on #5609
With current Quasar (v2) you can set your custom dark mode colors in `src/css/app.sass`:
[code]

[2022-02-26 08:01] iliubinskii opened #12605 "Fix type for QTableProps.pagination.sortBy, should be "string | null""
### What happened?

QTableProps.pagination.sortBy is defined as string, but null is emitted

### What did you expect to happen?

Either define sortBy as "string | null" or do not emit null.

### Reproduction URL

https://codepen.io/ilyalyu/pen/qBVMVyj

### How to reproduce?

See codepen

### Flavour

Quasar CLI (@quasar/cli | @quasar/app)

### Areas

Components (quasar)

### Platforms/Browsers

_N

[2022-02-26 23:08] Nisgrak opened #12609 "QSelect input-class dont work"
### What happened?

The prop `input-class` dont work, the class dont apply to the input.

### What did you expect to happen?

The input has the class thats is given in the input-class prop

### Reproduction URL

https://codepen.io/Nisgrak/pen/jOavdzz

### How to reproduce?

1. Create a QSelect
2. Add the input-class prop
3. See any of the internal elements have the class given

### Flavour

Quasar

[2022-02-27 00:25] davidreyg opened #12610 "QTable in grid mode Not displaying correctly"
### What happened?

I try to toggle fullscreen mode in grid mode
![qtable](https://user-images.githubusercontent.com/19297294/154769392-b4cdd288-6bc9-429f-ba80-33b49c0c9569.png)
But they background is like transparent
BTW in normal style it works
![fullscreen grid](https://user-images.githubusercontent.com/19297294/154769722-d0922b22-a089-4d1b-ab02-7eb468e0c8d6.png)

### What did you expect to hap

[2022-02-27 00:26] #12520 closed, assigned to nobody

[2022-02-27 00:44] hinogi opened #12611 "🐛 [BUG]: date.formatDate does not allow [ ] in format string"
### What happened?

So the token matcher hits on [ ] and [ ] alone, ( ) and { } are a lot in a format string only [ ] does not work.
![image](https://user-images.githubusercontent.com/4602609/155863615-41690d1d-6326-4f68-97c5-8d1154529dba.png)

https://github.com/quasarframework/quasar/blob/82adfbd8997066bec2fcee09d3435f027eafe30e/ui/src/utils/date.js#L13

### What did you expect to happen?

If th

[2022-02-27 00:48] hinogi opened #12612 "🐛 [BUG] GitHub Actions False Positive on jsfiddle reproduction url"
### What happened?

Adding a valid jsfiddle url reports as invalid
https://jsfiddle.net/hfnrvo61/
![image](https://user-images.githubusercontent.com/4602609/155863699-25d638e7-f0fb-4f17-9072-d93f0d331fa1.png)

### What did you expect to happen?

Added a valid reproduction url and github action report it as invalid

### Reproduction URL

https://jsfiddle.net/hfnrvo61/

### How to reproduce?

Add ht

[2022-02-27 12:26] pdanpdan commented on #12611
Wrap what you want to escape (`[|]`) in `[]`
[code]

[2022-02-27 14:35] OneFourFree opened #12613 "Vitest and the $q object"
### What happened?

Running tests on a project using Quasar v2, Vue 3, Vite, and Vitest produces the following error.
[code]

### What did you expect to happen?

The tests to run successfully.

### Reproduction URL

https://github.com/OneFourFree/quasar-vitest

### How to reproduce?

Run `yarn test:unit` on the repo.

### Flavour

Vite Plugin (@quasar/vite-plugin)

### Areas

Plugins (quasar)

###

[2022-02-27 17:34] MilosPaunovic commented on #12609
In order for `input-class` prop to make sense you first have to tell your `QSelect` to use the input itself, by adding the `use-input` prop.
[https://codepen.io/milospaunovic/pen/BamqogM](https://codepen.io/milospaunovic/pen/BamqogM)

[2022-02-27 18:53] yusufkandemir commented on #12613
Just calling `mount(...)` of `@vue/testing-utils` straight doesn't and can't install/configure Vue plugins like Vue Router, Vuex, and most importantly Quasar here. So, it's not a Quasar-related issue, but more about how to install Vue plugins or make configurations when using `@vue/testing-utils`.

You can take a look at how it's being handled in Quasar Jest Unit Testing App Extension:
https://git

[2022-02-27 18:53] #12613 closed, assigned to nobody

[2022-02-28 07:45] #12609 closed, assigned to nobody

[2022-02-28 08:39] OneFourFree commented on #12613
Thanks, adding a similar function for vitest did the trick

[2022-02-28 08:50] Getz85 opened #12615 "QInfiniteScroll setIndex should have an index parameter"
### Description

When using the setIndex method on a InfiniteScroll ref with an argument, I've got a TS2554: Expected 0 arguments, but got 1.

[code]

### Documentation Section URL

https://quasar.dev/vue-components/infinite-scroll#qinfinitescroll-api

### Flavour

Quasar CLI (@quasar/cli | @quasar/app)

### Areas

Components (quasar)

[2022-02-28 13:14] Tofandel commented on #8002
The editor gets the q field style applied to it with QField, which sadly isn't desirable behavior (it's all primary basically)

A quick way is just

[code]

[2022-02-28 14:28] supermonkeybrainz opened #12616 "Bug in template used to generate `date.d.ts` causes compilation errors."
### What happened?

Getting a compilation issue due to [this line](https://github.com/quasarframework/quasar/blob/31fd14a0e3d461f8f4ab6aad2500c47a75773a03/ui/types/utils/date.d.ts#L55).

[code]

Note that "unit?: `${DateUnitOptions}s`" part.

### What did you expect to happen?

Not to get a compilation issue.

### Reproduction URL

https://github.com/quasarframework/quasar/blob/quasar-v1.18.5/ui/t

[2022-02-28 15:11] hinogi commented on #12611
That is probably the most odd way to escape something that I have seen :D

[2022-02-28 15:11] #12611 closed, assigned to nobody

[2022-02-28 15:12] hinogi commented on #12611
We shall call it the headphones escape

[2022-02-28 15:26] pdanpdan commented on #12611
We had to use some markers (start/stop) that escape (do not parse) the content, and these are `[` and `]`
But that means these 2 chars need to be escaped when you want to show them.

If you want to have an output like `[23.12.2022] in DD.MM.YYYY form` you need to use `[[]DD.MM.YYYY[]] [in DD.MM.YYYY form]`

What is between `[` and `]` is output as is, without parsing, all else is tokenized/replace

[2022-02-28 17:51] eyedean commented on #8513
@mvalero
1. Why do you need to have individual CSS files for each customer? (i.e. `./file1.css` for `https://a.b.com/customer1/anyRouteInMyVueApp`)

2. I just looked at my code and `publicPath` is set to `/foo` in dev environment for me, and `https://cdn.domain.com/artifacts/v1/` in production.  I don't use empty or `.`.  However `appBase: ""` is something I have.

3. I believe https://github.com/

[2022-02-28 19:18] MilosPaunovic commented on #12612
Hey Yusuf, sorry for barging in on an issue you've assigned to yourself, but I was curious about the topic so I wanted to investigate a bit more.

Anyway, what seems to be the problem here is the Regex which parses the pathname:
[https://github.com/quasarframework/quasar/blob/dev/.github/workflows/process-created-issue.yml#L114](https://github.com/quasarframework/quasar/blob/dev/.github/workflows/

[2022-02-28 19:18] hinogi commented on #12611
That is totally fine, it would be in the docs 😁

[2022-02-28 19:24] pdanpdan commented on #12611
Until you mentioned I was convinced it is somewhere in the docs.  I'll check and make a PR if it is missing.

[2022-02-28 19:26] yusufkandemir commented on #12612
Hey Milos, no problem at all. The problem is exactly that. I wasn't aware of this one-level URL form, and I aimed for being highly precise to avoid more possible invalid URLs. But, now that we noticed that it's a legit thing, we should adjust the regex to respect that. Thanks for the extra pair of eyes.

So, since you also noticed that and proposed a solution, why don't you make the PR? 🙂

[2022-02-28 19:26] hinogi commented on #12611
organizational blindness, we all been there. Much appreciated the explanation

[2022-02-28 19:35] yusufkandemir commented on #12616
Hi @supermonkeybrainz. It's not a "bad" type, it is called a [Template Literal Type](https://www.typescriptlang.org/docs/handbook/2/template-literal-types.html). You need TypeScript v4.1+. If you are using `@quasar/app` v2.2.0+, you should have TypeScript 4.2+. Just make sure your package versions are correct.

[2022-02-28 19:35] #12616 closed, assigned to nobody

[2022-02-28 19:38] supermonkeybrainz commented on #12616
Oh, my bad.  Didn't know that was a thing.  Apologize for the confusion.  Thanks!

[2022-02-28 19:46] MilosPaunovic commented on #12612
Sure thing 🙂

[2022-02-28 20:39] #12612 closed, assigned to yusufkandemir

[2022-02-28 22:40] jclaveau commented on #11654
Having the same issue, as a workaround, I re-imported it in my component using variables:
[code]

I'll let you know, if I find a good config.
This https://dev.to/yemolai/using-storybook-with-quasar-3090 looks inspiring (sharing webpack configuration between Storybook and Quasar) but it seems to remake what `css` configuration https://quasar.dev/quasar-cli/quasar-conf-js#property-css is meant for.

[2022-03-01 09:58] jannhama opened #12621 "Quasar Tabs (q-tabs) are not accessible using keyboard"
### What happened?

Quasar tabs (q-tabs with q-tab or q-router-tab) are not accessible by keyboard. If you try to move between the following things happen:

* When moving forward on the page using the TAB key, the focus goes only to the first tab, and the rest of the tabs are skipped.
* When moving backward on the page using SHIFT + TAB only the last tab is focused and the rest are skipped

### Wh

[2022-03-01 12:31] jannhama commented on #12621
Updated URL

[2022-03-01 14:54] mvalero commented on #8513
@eyedean thanks for the response.

It is not that we need individual CSS files for each customer. In our case each customer has its completely separate instance of the app for both front-end and back-end. All of these instances are running inside a Kubernetes cluster and we use an envoy proxy (ambassador) in charge to route incoming requests (i.e `a.b.com/customer1/`) to the respective kubernetes

[2022-03-01 18:25] sebastien-prudhomme commented on #9830
Resolved at least in Quasar v2.5.5

[2022-03-01 18:25] #9830 closed, assigned to nobody

[2022-03-01 20:29] eyedean commented on #8513
@mvalero based on what I'm hearing, it's a bigger architectural discussion than a quasar bug.  I'm sorry that I cannot be more helpful.  I hope other developers can respond to you here, but at the same time maybe if you post it in Stackoverflow, folks over there can also provide suggestions.  Good luck!

PS. If you posted it on SO, please send a link here. I'd be happy to take a look at it there.

[2022-03-02 08:18] mvalero commented on #8513
@eyedean I don't completely agree on that, the architectural context was provided to depict the use case where we are facing that issue. But regardless from the architectural context there is a mismatch in the behavior from vuejs cli and quasar cli where quasar seems to be explicitly avoiding relative public paths.

See https://cli.vuejs.org/config/#publicpath where its stated `publicPath` can als

[2022-03-02 13:44] jannhama commented on #12621
Fixed URL again since Quasar examples seemed to be empty after sharing.

[2022-03-02 17:59] pdanpdan commented on #12621
Inside tabs list the navigation is done with arrow keys.

[2022-03-02 22:47] EricDunaway opened #12637 "Accessibility: Pagination Control"
### What happened?

The pagination control lacks accessible names for the buttons. When a button doesn't have an accessible name, screen readers announce it as "button", making it unusable for users who rely on screen readers.

### What did you expect to happen?

I expect the pagination control to provide accessible names for the buttons or provide a way to set them through props or other means.

[2022-03-02 23:08] euphemism opened #12638 "QInput with mask incorrectly caching modelValue and not updating when prop changes"
### What happened?

Using a `QInput` with a mask, I am attempting to transform the input value to an uppercase string before updating the model value. When using a mask, the text in the input field does not correctly reflect the now uppercase model value.

The last example in the reproduction CodePen binds its `modelValue` to the `QInput`'s `key`, forcing a re-render of the component when the valu

[2022-03-03 06:45] #12621 closed, assigned to nobody

[2022-03-03 07:59] petegriffith commented on #12451
Wait, so is there any way to grab row data from @click on q-tr?

If I'm using body slots, is there any way to get row data on click?

[2022-03-03 08:46] pdanpdan commented on #12638
Just as a quick solution:
- use `A` or `X` instead of `N` for mask value (remove the code that does the external conversion to uppercase)

[2022-03-03 09:16] MilosPaunovic commented on #12451
Just pas down the props from body slot.
[https://codepen.io/milospaunovic/pen/yLPGxPm?editors=1011](https://codepen.io/milospaunovic/pen/yLPGxPm?editors=1011)

[2022-03-03 13:10] jclaveau commented on #11654
We must use css variables as explained here https://quasar.dev/style/color-palette#dynamic-change-of-brand-colors-dynamic-theme-colors-

@badsaarow replied here giving an example https://github.com/badsaarow/quasar2-storybook-boilerplate/issues/47#issuecomment-1057931751

[2022-03-03 14:46] iliubinskii opened #12648 "QField "autofocus" prop does not work"
### What happened?

QField "autofocus" prop does not focus QField, even if I put focusable HTML element inside.

### What did you expect to happen?

QField "autofocus" prop should do something.
There should be some documentation on how to use "autofocus" prop inside QField.

### Reproduction URL

https://codepen.io/ilyalyu/pen/WNXLWLB

### How to reproduce?

1. Click button here https://codepen.io

[2022-03-03 16:00] diviman opened #12651 "q-knob reverse (counterclockwise) direction quirks"
### What happened?

As stated in the documentation, the QKnob component inherits all the properties of the QCircularProgress ancestor. The QKnob API does not specify an inherited reverse property, but it is possible to use it. When using a component with a reverse orientation, it renders correctly, but the mouse controls this one in "clockwise" mode.

### What did you expect to happen?

When using

[2022-03-04 23:14] iliubinskii opened #12661 "m-form: @validation-success and @validation-error are not triggered"
### What happened?

@validation-error is not triggered though validation fails and error message shows.
@validation-success is also not triggered.

### What did you expect to happen?

My goal is to enable reset button only when something changes, i.e. when either:
1. User input changes or
2. Validation state switches to invalid

I expect to receive @validation-error whenever form becomes invalid a

[2022-03-04 23:38] MilosPaunovic commented on #12661
As per docs, `@validation-success` and `@validation-error` events are emitted after a validation was triggered.

[2022-03-04 23:56] iliubinskii commented on #12661
Ok, but in this case how can I track validation state in my codepen example?
It seems there is no way.

[2022-03-05 19:04] froschi123 commented on #4642
still not released? Its not working in 2.5.5.

[2022-03-05 19:46] jimzrt opened #12668 "Elements wrapped in q-intersection are remounted on toggeling disable-prop"
### What happened?

Docs for QIntersection > disable:

in v1 toggeling the disable property did not cause a umount/mount of the currently visible elements, but now it does, even though the DOM representation is identical for those elements.

### What did you expect to happen?

Currently visible elements to not remount on disable-property change

### Reproduction URL

https://codesandbox.io/s/prod-

[2022-03-05 22:14] Tofandel commented on #5909
Any updates on this? Still surprised there isn't any CI tools, at least just to show the validity of PR's and commits, it takes 3 minutes to setup on github actions

[2022-03-06 11:42] rstoenescu commented on #10917
Implemented this for Quasar v2 with the upcoming Quasar CLI on Vite (unreleased as of writing these lines though). Will be available through: quasar.config.js > bex > extendBexManifestJson (json)

However, you can change it manually or through quasar.conf.js > build > afterBuild -- where you'd read the output file and make the necessary adjustments.

[2022-03-06 11:42] #10917 closed, assigned to nobody

[2022-03-06 11:44] rstoenescu commented on #9124
Implemented this for Quasar v2 with the upcoming Quasar CLI on Vite (unreleased as of writing these lines though). Will be available through: quasar.config.js > bex > contentScripts: [ 'my-first-content-script', 'my-second-content-script', ... ]

[2022-03-06 11:44] #9124 closed

[2022-03-06 11:45] rstoenescu commented on #8822
Implemented this for Quasar v2 with the upcoming Quasar CLI on Vite (unreleased as of writing these lines though).
When spawning the BEX mode it will ask you which manifest version you'd like.

[2022-03-06 11:45] #8822 closed

[2022-03-06 11:46] rstoenescu commented on #8664
Implemented this for Quasar v2 with the upcoming Quasar CLI on Vite (unreleased as of writing these lines though).
Apart from taking care of this automatically (should the "name"/"version"/"description" is missing from the bex manifest), there will also be available: quasar.config.js > bex > extendBexManifestJson (json)

[2022-03-06 11:46] #8664 closed

[2022-03-06 12:38] rstoenescu commented on #9405
Fix will be available through q/app-webpack v3.4.0

[code]

[2022-03-06 12:38] #9405 closed

[2022-03-06 14:49] leafiy opened #12678 "Q-Select dropdown menu over size"
### What happened?

<img width="848" alt="image" src="https://user-images.githubusercontent.com/870449/156928295-542404be-3aeb-4b72-ab30-663c3e5e6e84.png">

### What did you expect to happen?

caption should break

### Reproduction URL

https://codepen.io/leafiy/pen/eYeXKwv

### How to reproduce?

with long description

### Flavour

Quasar CLI (@quasar/cli | @quasar/app)

### Areas

Components (qu

[2022-03-06 14:52] MilosPaunovic commented on #12678
[https://github.com/quasarframework/quasar/discussions/12617](https://github.com/quasarframework/quasar/discussions/12617)

[2022-03-06 15:09] rstoenescu commented on #4642
@froschi123 lol. Of course it works. But did you load the material icons variant?  (check docs, it's easy)

[2022-03-06 15:39] hawkeye64 commented on #4642
You can see a good representation of it working here: https://iconexplorer.app

[2022-03-07 10:34] beruic commented on #8206
@hawkeye64 would you consider reopening based on the reasoning above?

[2022-03-07 15:22] froschi123 commented on #4642
Thanks for the fast answer ... i found the trick :-) But.

In my application, the result of switching to oc_... is quite disturbing ...

I set the extras to:
[code]

and i am using q-icon in this way:
`<q-btn dense flat icon="oc_save" :label="$t('buttons.save')"></q-btn>`

With this result:
![image](https://user-images.githubusercontent.com/46695287/157060565-64e38111-750e-4264-a3ed-06e754d45264.p

[2022-03-07 15:27] pdanpdan commented on #4642
Any special reason to add the extra `c` char in the prefix?

[2022-03-07 17:32] pbkompasz commented on #12678
You need to set the width of the QSelect and the width of the QItem to be the same.
Like [this](https://codepen.io/pbkompasz/pen/LYOvzoe).

[2022-03-07 18:26] dmitriyzhuk opened #12694 "Linear-progress component doesn't render with rounded corners on Mobile (iOS)"
### What happened?

When using the linear-progress component with rounded prop it doesn't render with rounded corners. On desktop it renders. this is visible even on the Documentation

https://quasar.dev/vue-components/linear-progress
Desktop
<img width="875" alt="Screen Shot 2022-03-07 at 8 20 35 PM" src="https://user-images.githubusercontent.com/24543836/157094386-b741cb74-56ce-4baf-8828-d2c4bc0

[2022-03-07 20:21] johanna-herrmann opened #12696 "quasar -m electron --devtools starts application with empty localStorage (no items in it)"
### What happened?

TL;DR:
using ```quasar dev -m electron --devtools``` causes application to start with an empty localStorage.
If ```quasar dev -m electron``` (without --devtools) is used on next start, all items created before are restored
(the items of previous ```quasar dev -m electron``` are restored,
not the items from previous ```quasar dev -m electron --devtools``` start).
--> Seems like

[2022-03-08 11:03] iliubinskii opened #12699 "QField, QInput: append slot position relative to clearable and error icons"
### What happened?

Append icon shows before error icon and clearable icon

### What did you expect to happen?

Append icon is permanent.
Error icon and clearable icon are temporary.
They should not shift permanent icons.

I think that right order is the following (from let to right): Error icon, clearable icon, append icons.

It can be achieved by adding additional slot that will appear after err

[2022-03-08 12:54] hawkeye64 commented on #8206
Sure, sounds reasonable. I am going to let @rstoenescu weigh in.
Seems like having an `auto-width` prop could certainly add the `q-table--col-auto-width` class where appropriate.

[2022-03-08 12:58] hawkeye64 commented on #4642
@pdanpdan is correct. The prefix for Material Outline is just `o_`

[2022-03-08 20:23] pdanpdan commented on #12699
I think it makes sense for icons.

The problem I see is for appended text, where it is more frequent to want something like the text directly after the input, but that should be covered by `suffix`.

I cannot find any such case in the material documentation :(

[2022-03-08 23:46] rstoenescu commented on #12564
@AbhimanyuAryan yes, definitely. please go ahead.

[2022-03-09 00:19] pdanpdan commented on #12530
Isn't this just a case of needing the next branch?
`$ yarn add -D @intlify/vue-i18n-loader@next`

https://github.com/intlify/bundle-tools/tree/main/packages/vue-i18n-loader

[2022-03-09 05:26] #12661 closed, assigned to nobody

[2022-03-09 05:39] Quasarman commented on #12530
Hey @pdanpdan ,

Turns out the issue was me confusing the `<i18n>` and `<i18n-t>` tags...
Sine the i18n syntax changed in v9 I still had some `<i18n>` tags inside a template section of components, this messed things up.

Thanks for your help tho.

[2022-03-09 06:15] iliubinskii commented on #12699
There can be two slots: one directly after the input and one after clear/exclamation icons.
So everybody will be satisfied.
OR
The position of the slot can be determined by additional prop.

[2022-03-09 08:28] dirkhe1051931999 opened #12713 "$q.notify not support free drag"
### What happened?

$q.notify not support free drag

### What did you expect to happen?

$q.notify support free drag

### Reproduction URL

not have url

### How to reproduce?

write code

### Flavour

Quasar CLI (@quasar/cli | @quasar/app)

### Areas

Plugins (quasar)

### Platforms/Browsers

Chrome

### Quasar info output

_No response_

### Relevant log output

_No response_

### Additional con

[2022-03-09 08:54] MilosPaunovic commented on #12530
Dan, do you think it would be a good idea to add the version to the docs, `@intlify/vue-i18n-loader@4` (version 4.x.x is marked as next on `npm`, but it will probably become stable in the future.

[https://www.npmjs.com/package/@intlify/vue-i18n-loader](https://www.npmjs.com/package/@intlify/vue-i18n-loader)

[2022-03-09 08:56] pdanpdan commented on #12530
I think it's too late for this. With the migration of vue3 to stable/default I would say everybody will change soon

[2022-03-09 08:59] MilosPaunovic commented on #12713
Nowhere in the docs is stated that `Notify` plugin supports any kind of drag behaviour.

[2022-03-09 10:48] maggie44 commented on #11952
Can it be specified through the quasar.conf.js config for the loading bar too?

[code]

[2022-03-09 13:53] rstoenescu commented on #12699
Fix will be available in Quasar v2.6.0 and v1.18.6

[2022-03-09 13:53] #12699 closed, assigned to nobody

[2022-03-09 13:54] rstoenescu commented on #12694
Fix will be available in Quasar v2.6.0 and v1.18.6

[2022-03-09 13:54] #12694 closed, assigned to nobody

[2022-03-09 13:55] rstoenescu commented on #12651
Fix will be available in Quasar v2.6.0 and v1.18.6

[2022-03-09 13:55] #12651 closed, assigned to nobody

[2022-03-09 13:56] rstoenescu commented on #12638
Fix will be available in Quasar v2.6.0 and v1.18.6

[2022-03-09 13:56] #12638 closed, assigned to nobody

[2022-03-09 14:05] rstoenescu commented on #11952
@maggie0002  No, because quasar.conf.js runs in a Nodejs context, and that function should be part of your UI code.
Use the setDefaults() in a boot file instead.

[2022-03-09 20:29] Skhonsari opened #12735 "Localized digits in QDate"
### What happened?

im creating an app that has QDate with persian calendar but all day numbers are using english digits and there is no way to use  localized digits for day numbers.

### What did you expect to happen?

somehow be able to use localized digits.

### Reproduction URL

https://codepen.io/rstoenescu/pen/MWKpbNa

### How to reproduce?

1. Go to the provided reproduction link (docs exam

[2022-03-10 03:34] dirkhe1051931999 commented on #12713
sometimes the notify is aways show , user want to drag it，it is a feature right?

[2022-03-10 08:29] romain130492 commented on #2285
any response to this? , thanks

[2022-03-10 17:43] rstoenescu commented on #12573
Fix will be available in Quasar v2.6.0 and v1.18.6

[2022-03-10 17:43] #12573 closed, assigned to nobody

[2022-03-10 17:52] rstoenescu commented on #12383
Improvement will be available in Quasar v2.6.0.

[2022-03-10 17:52] #12383 closed, assigned to nobody

[2022-03-11 05:39] Grawl opened #12746 "HMR is broken when SSR is enabled"
### What happened?

After update to Quasar v2, HMR is not working for me.

### What did you expect to happen?

HMR should work when SSR is enabled.

### Reproduction URL

https://github.com/Grawl/quasar-2-ssr-hmr

### How to reproduce?

1. Set up reproduction repository: `git clone`, `yarn`
2. Run `yarn dev-ssr`
3. Open `http://localhost:8080/` in browser and open browser dev tools console
4. Type

[2022-03-11 06:04] tannert44 opened #12747 "QChatMessage does not completely work with custom color added to Quasar Color Palette"
### What happened?

Add below to app.scss:

`.text-primary-dark {
  background: $primary-dark  !important;
}

.bg-primary-dark {
  background: $primary-dark  !important;
}`

Create a QChatMessage using that custom color:

`<q-chat-message
          :name="'John Doe'"
          :avatar="'https://cdn.quasar.dev/img/avatar5.jpg'"
          :text="['some text']"
          :sent="true"
          text-c

[2022-03-11 06:30] pdanpdan commented on #12747
Hello, I don't understand what is your request.
The codepen has some errors: https://codepen.io/pdanpdan/pen/mdpbrpo

[2022-03-11 06:37] rstoenescu commented on #12747
The `text-*` classes need to declare "color", not "background" or "background-color".

[2022-03-11 06:37] #12747 closed, assigned to nobody

[2022-03-11 06:55] z245094616 opened #12748 "How to to use jsx?"
### Description

The project generated directly by vue-cli can use tsx directly using the @vue/babel-plugin-jsx plugin, but the project I generated in quasar-cli cannot be used. The plugin has been added to babel.config.js

### Documentation Section URL

_No response_

### Flavour

Quasar CLI (@quasar/cli | @quasar/app)

### Areas

Plugins (quasar)

[2022-03-11 07:02] pdanpdan commented on #12748
duplicate of https://github.com/quasarframework/quasar/issues/7672, https://github.com/quasarframework/quasar/issues/8503, https://github.com/quasarframework/quasar/issues/8690

@IlCallo can you please check how https://github.com/quasarframework/quasar/issues/8503 was closed? It links to the same issue

[2022-03-11 07:04] rstoenescu commented on #12713
Why is this marked as a bug?

[2022-03-11 07:05] rstoenescu commented on #12713
Either way, we can't make it draggable as it will break all the animations. Sorry.

[2022-03-11 07:05] #12713 closed, assigned to nobody

[2022-03-11 07:30] z245094616 commented on #12748
Solved, thanks!

[2022-03-11 07:30] #12748 closed, assigned to nobody

[2022-03-11 07:34] tannert44 commented on #12747
Thanks. Copy and paste is the devil sometimes

[2022-03-11 12:25] Evertvdw commented on #11331
@Dodobibi I just ran into the same issue, I found a workaround though. You can call `	app._router.stack.unshift(app._router.stack.pop());` after the `app.use()` call to move the middleware that was just added to the first position in the stack.

[2022-03-11 13:49] MtDalPizzol opened #12753 "QFile is throwing an error when file selection is canceled"
### What happened?

QFile is throwing an error on this scenario:

1. Select a file
2. Click the q-file again to select another file
3. Click the Cancel button on the File selection window

[code]

### What did you expect to happen?

Nothing should be thrown when canceling the file selection.

### Reproduction URL

https://codepen.io/mtdalpizzol/pen/mdpbqLp?editors=1111

### How to reproduce?

1. G

[2022-03-11 15:19] rstoenescu commented on #12753
Fix will be available in Quasar v2.6.0 and v1.18.7

[2022-03-11 15:19] #12753 closed, assigned to nobody

[2022-03-11 16:37] IlCallo commented on #12748
Apparently I self linked the issue by mistake, fixed it to link to the one actually containing the workaround, #8690, thanks for the heads up

[2022-03-11 23:23] rstoenescu opened #12762 "QTree feature - expose more inner methods"
### Discussed in https://github.com/quasarframework/quasar/discussions/12761

<div type='discussions-op-text'>

<sup>Originally posted by **flowt-au** March 11, 2022</sup>
Hi. I made a small feature request here: [12125](https://github.com/quasarframework/quasar/discussions/12125) a few months ago and since there has been no comment or response I thought I would mention it here in the hope someone

[2022-03-12 02:08] ramicohen303 opened #12763 "Version 1.18.6 is tagged as latest"
### What happened?

Today's release of 1.18.6 is tagged as latest.

### What did you expect to happen?

v2.5.5 should be tagged as latest

### Reproduction URL

https://www.npmjs.com/package/quasar/v/1.18.6

### How to reproduce?

Go to link

### Flavour

Vite Plugin (@quasar/vite-plugin)

### Areas

Components (quasar)

### Platforms/Browsers

Chrome

### Quasar info output

_No response_

### Re

[2022-03-12 08:34] rstoenescu commented on #12763
Done. Thanks for the ticket and sorry for the mixup.

[2022-03-12 08:34] #12763 closed, assigned to nobody

[2022-03-12 16:56] eyedean commented on #7337
Another idea:

If your project is not huge (or it has used to work in the past), then chances are high that you are linting/compiling the folders that are not supposed to. (e.g. `/dist` or any folder that has compiled artifacts.)

I would recommend running `tsc` and `eslint` individually (preferably with `- debug` option) to see if they are doing their job properly and only compiling/linting the s

[2022-03-13 07:31] romain130492 opened #12771 "await data from the DB to set up the meta data (meta plugin)"
### Description

Hey
im simply trying to set up meta data using the meta() quasar plugin.
im using quasar v1, with SSR.
i want to await for a call in my DB and then set up the meta data with some data, any clear explanation of how to achieve this?

thanks!

### Documentation Section URL

_No response_

### Flavour

_No response_

### Areas

Plugins (quasar)

[2022-03-13 18:22] rulrok commented on #11716
See if this can help you:

I was setting up a project with two files not following the standard name.

![image](https://user-images.githubusercontent.com/3097987/158073461-b1c91e9e-7f23-449e-9762-e038aecda994.png)

The gotcha was that the `fork-ts-checker-webpack-plugin` used in the project is yet in the version `4.1.6`,
so I had to check its documentation instead of the current one.

https://gith

[2022-03-13 18:42] asdrubalp9 opened #12775 "Quasar build get stuck at 18%"
### What happened?

I'm running Running @quasar/cli v1.2.2 AND @quasar/app v3.2.3 in an EC2 server at AWS
and for some reason, after duplicating the folder where the app is to a folder called front-qa, I get into the folder and run the command

    quasar build

and it get stuck at 18% and is not advancing at all
keep in mind that this was working when I only had one folder of the app.

### What d

[2022-03-13 18:56] asdrubalp9 commented on #12775
Solved it
just needed to add more memory and swap to the EC2.

[2022-03-13 18:56] #12775 closed, assigned to nobody

[2022-03-14 06:33] maddogcz opened #12779 "QSelect: 'required' attribute - unexpected behaviour"
### What happened?

When I use `required` attribute on QSelect, the behaviour is very unexpected:

- When used with `useInput`, the `required` attribute is passed to the input and the form cannot be submitted due to automatic HTML form validation
- When used without `useInput`, `required` is passed to some wrapper div and it doesn't affect the form at all

### What did you expect to happen?

Make

[2022-03-14 07:10] OfekA-IAI opened #12780 "QDialog throws unhandled exception in test suite, making tests fails"
### What happened?

https://github.com/quasarframework/quasar/blob/b51370f8099cef5eee590568b115c89e26ef92f4/ui/src/components/dialog/QDialog.js#L255

This line throws an unhandled exception when testing with vitest, and thereby makes the test suite fail.

Changing it to

[code]

fixes the issue.

### What did you expect to happen?

This code shouldn't throw an unhandled exception and make the test

[2022-03-14 08:52] onurkose opened #12782 "Quasar CLI Vite - localhost not reachable but LAN ip works"
### What happened?

Hello,
I'm trying the new vite version, here is the steps I've take:

- yarn create quasar

[code]
- cd quasar-project
- quasar dev

http://localhost:9000/ throws host not found error.
http://192.168.2.109:9000/ works fine.

### What did you expect to happen?

http://localhost:9000/ accessible.

### Reproduction URL

[cannot be reproduced over codepen](https://codepen.io/rstoen

[2022-03-14 09:02] diadal commented on #12782
@onurkose

check your `devServer`

[code]

this work for me

[2022-03-14 09:38] AlaaDq opened #12783 "getDayOfWeek util doesn't respect the active language pack"
### What happened?

[code]
return Sunday(7) even when I set the default to Saturday(6) in a boot file like below
[code]

### What did you expect to happen?

Return Saturday instead of Sunday by respecting the active language pack's `firstDayOfWeek` option.

### Reproduction URL

.

### How to reproduce?

overwrite default lang-pack to have its first day as
[code]

### Flavour

Quasar CLI (@quasar/

[2022-03-14 09:40] pdanpdan commented on #12783
Sorry, can you explain how the first day of the week would change the current day of the week?

[2022-03-14 09:56] onurkose commented on #12782
Thanks, https with certificate settings solved this one.

[2022-03-14 09:56] #12782 closed, assigned to nobody

[2022-03-14 09:57] AlaaDq commented on #12783
@pdanpdan
date.getDayOfWeek(new Date()) return 1; =>{ 0  =>sun ,1=>mon}
but it should became =>{ 0  =>sat,1=>sun,2=>mon}

[2022-03-14 09:57] AlaaDq commented on #12783
@pdanpdan
hope it is clear now

[2022-03-14 10:42] MilosPaunovic commented on #12783
@AlaaDq You can pass custom locale object with your `firstDayOfWeek` property.
[https://v1.quasar.dev/vue-components/date#custom-ad-hoc-locale](https://v1.quasar.dev/vue-components/date#custom-ad-hoc-locale)

Dan, I've managed to reproduce the issue - if you try to change the `locale` object in the way as OP, like this:
[code]

The `datetime.js` mixin at this line:https://github.com/quasarframewor

[2022-03-14 10:46] AlaaDq commented on #12783
![image](https://user-images.githubusercontent.com/45366622/158156848-bf694198-fdd5-4bfb-a21a-612726f4e986.png)

no this is not the case i am looking for , i have locale defined and the QDate component taked the change i need
but the date utils doesn't  and still consider sunday as first day

[2022-03-14 10:49] AlaaDq commented on #12783
i just need to achive first day of week is saturday  in date utils too and not only in QDate component

[2022-03-14 10:51] pdanpdan commented on #12783
The return value is always (and should be) the same from Date.getDay (0 - Sunday)
Else you would not be able to use it anywhere because all js localization functions use that convention.

[2022-03-14 10:53] pdanpdan commented on #12783
When I get to my computer I'll post a conversion function

[2022-03-14 10:54] AlaaDq commented on #12783
what if i do something like this ,

[code]

is this going to work?

[2022-03-14 11:22] onurkose opened #12784 "Quasar CLI Vite - quasar dev command not detecting inside yarn workspace"
### What happened?

When using yarn workspaces, after installing a quasar project with `yarn create quasar`, running `quasar dev` inside the project folder throws this error:

`App • ⚠️  Error. This command must be executed inside a Quasar v1+ project folder.`

On the other hand, `yarn quasar dev` works fine and initiates the dev server.

### What did you expect to happen?

`quasar dev` detects th

[2022-03-14 11:37] smolinari commented on #12784
@onurkose

Did you install the (new) global CLI? From the `quasar info` it looks like it is missing.

[code]

Scott

[2022-03-14 11:38] smolinari commented on #12784
Hmm... wait. How did you get `quasar info`...??? :thinking:

Scott

[2022-03-14 11:49] onurkose commented on #12784
Yes, I've installed the @quasar/cli.
For another project outside of workspace shows `quasar info` like this:

[code]

But inside the yarn workspace, quasar commands can run only with yarn at the beginning: `yarn quasar info`

[2022-03-14 13:04] HannesOberreiter opened #12786 "Quasar CLI Vite - .json from asset folder does not render correctly🔝"
### What happened?

Importing `.json` file do not render correctly inside template.

![example](https://user-images.githubusercontent.com/16878981/158176735-9e9e2a76-7a7f-4994-8683-23b4de7e840f.png)

### What did you expect to happen?

The import should parse the json and work as it is inside the template (works with Quasar CLI webpack ).

### Reproduction URL

https://codepen.io/

### How to repr

[2022-03-14 13:18] rstoenescu commented on #12786
Cannot reproduce. Seems to work just fine.
Please provide a reproduction repo.

[2022-03-14 13:32] HannesOberreiter commented on #12786
Hi @rstoenescu,

thanks for your quick service. Here is a small repo, hope it works.

The first time I created a repo directly from GitHub:

https://codesandbox.io/s/friendly-butterfly-spijuw?file=/src/pages/Index.vue

Cheers
Hannes

[2022-03-14 13:34] pdanpdan commented on #12783
Ok, I've checked the code.
I'm not very sure which is the point of how it works, because it does not match the getDay behaviour and it does not count using the defined start of week day.

What it does now: it returns `getDay` value except for Sunday for which it returns 7.

@rstoenescu Should we change it to return the 1-indexed position of the day in the week as defined by the locale?

[2022-03-14 13:38] vandelpavel opened #12788 "scss v-bind variables not working inside q-dialog SFC"
### What happened?

Hi, i'm trying to use v-bind css variables for SFC.
While this feature works on normal components it won't work while using q-dialogs.

### What did you expect to happen?

The dialog should have a red background.

### Reproduction URL

https://codesandbox.io/s/laughing-agnesi-ctskso?file=/src/components/MyDialog.vue

### How to reproduce?

Here it is the same component using `<

[2022-03-14 13:40] HannesOberreiter commented on #12786
Oh sorry completely forgot that I changed the javascript code into `<script setup>` this is probably the reason .... need to make a few more tests!

[2022-03-14 13:43] AlaaDq commented on #12783
That is what I was need actually
Because in Asia the week start from Saturday not Sunday 😁

[2022-03-14 14:09] rstoenescu commented on #12786
Seems to me that it has to do with TS rather than anything else. The `resolveJsonModule` option is not being picked up.

[2022-03-14 14:27] rstoenescu commented on #12786
@IlCallo @yusufkandemir can one of you take a look pls? Seems to happen only with TS. The "resolveJsonModule" does not seem to be picked up from tsconfig.json

[2022-03-14 17:03] Dodobibi opened #12790 ""Unexpected token 'export'" when importing @quasar/extras with @quasar/app-vite in SSR mode"
### What happened?

in SSR mode :
SyntaxError(500)
Unexpected token 'export'

### What did you expect to happen?

No error.

### Reproduction URL

https://github.com/Dodobibi/QuasarViteSsrRepro

### How to reproduce?

npm create quasar (With TS & Vite)
quasar mode add ssr

Add an Icon from @quasar/extras in App.vue:
[code]

quasar dev -m ssr

### Flavour

Quasar CLI with Vite (@quasar/cli | @quasa

[2022-03-14 17:07] Dodobibi commented on #12790
Updated with repro link.
[https://github.com/Dodobibi/QuasarViteSsrRepro](https://github.com/Dodobibi/QuasarViteSsrRepro)

[2022-03-14 17:26] m00nk opened #12791 "Can not run dev server after update"
### What happened?

I can run dev server with `quasar dev -m ssr` on versions `quasar@2.5.5` and `@quasar/cli@1.2.2`

When I have updated packages to `quasar@2.6.0` and `@quasar/cli@1.3.0` I have got the error:

[code]

### What did you expect to happen?

The devr server has to work

### Reproduction URL

https://codepen.io/rstoenescu/pen/xxEvBLR

### How to reproduce?

I don't know how to reprodu

[2022-03-14 17:39] rstoenescu commented on #12791
<img width="805" alt="image" src="https://user-images.githubusercontent.com/4665641/158229296-70e765e5-65d0-4b51-b4bb-2bd18ad02649.png">

<img width="1007" alt="image" src="https://user-images.githubusercontent.com/4665641/158229507-29c8e4da-ff47-426b-9624-d43fb6da4728.png">

[2022-03-14 17:39] #12791 closed, assigned to nobody

[2022-03-14 17:49] rstoenescu commented on #12790
@Dodobibi  **Temporary** workaround (emphasis on "temporary"):

[code]

[2022-03-14 17:59] Evertvdw opened #12792 "Vite production build warning for app-vite"
### Description

When using the app-vite cli, there is a warning when building for production, documented here: https://quasar.dev/start/vite-plugin#warning-when-building-for-production

This section should also be mentioned/moved to the `app-vite` specific section of the docs.

### Documentation Section URL

_No response_

### Flavour

Quasar CLI with Vite (@quasar/cli | @quasar/app-vite)

### Ar

[2022-03-14 18:00] m00nk commented on #12791
@rstoenescu where I can read this explanations (google did not help)? How can I be informed about the breaking changes you will make in future versions?

[2022-03-14 18:03] MilosPaunovic commented on #12791
Watch Release notes on the docs page [https://quasar.dev/start/release-notes](https://quasar.dev/start/release-notes) or the GH repo.

[2022-03-14 18:05] m00nk commented on #12791
@MilosPaunovic thank you.

[2022-03-14 18:18] rstoenescu commented on #12790
Remove the temporary workaround. Upgrade to "@quasar/extras v1.13.1

[2022-03-14 18:27] rstoenescu commented on #12790
Aaah, something is still not right. Reopening.

[2022-03-14 18:28] rstoenescu commented on #12792
Yes, we are well aware of it. It's an external issue. Please ignore for now as it won't break anything.

[2022-03-14 18:28] #12792 closed, assigned to nobody

[2022-03-14 19:02] Dodobibi commented on #12790
Same problem when setting `lang` or `iconSet` in quasar.config.js

[code]

19:56:03 [vite] Error when evaluating SSR module /.quasar/quasar-user-options.js:
C:\Users\...........\node_modules\.pnpm\quasar@2.6.0\node_modules\quasar\lang\fr.js:1
export default {
^^^^^^

SyntaxError: Unexpected token 'export'
    at Object.compileFunction (node:vm:352:18)
    at wrapSafe (node:internal/modules/cjs/loa

[2022-03-14 19:09] onurkose opened #12793 "Quasar CLI Vite - use store in boot files"
### What happened?

`app.use(store, storeKey)` called after boot files initiated in `client-entry.js`
When plugins used with Pinia, they are initiated after `app.use(store, storeKey)` called.
The store parameter passed into the boot files can be used to initiate store modules but they don't provide plugins at this stage.

In this particular problem, the plugin is `pinia-plugin-persistedstate-2`

#

[2022-03-14 19:10] rstoenescu commented on #12790
Yes. Working on it. Will push a fix later this evening.

[2022-03-14 19:14] Evertvdw commented on #12786
I also ran into this with i18n translation files, paste from Discord:
I'm having an issue with importing .json files in my project. I had to add `resolveJsonModule` to `tsconfig.node.json` but now I get this:
<img width="905" alt="image" src="https://user-images.githubusercontent.com/5757159/158244442-d3dc9e9a-849e-4679-b92c-461e176fc4d0.png">
However, adding an include to tsconfig.node.json break

[2022-03-14 19:42] Dodobibi commented on #11331
@Evertvdw Thanks !
Also, the new @quasar/app-vite solves this problem, because we have direct access to server.js

[2022-03-14 19:42] #11331 closed, assigned to nobody

[2022-03-15 04:19] customautosys opened #12796 "Cannot start project without ESLint selected"
### What happened?

I just tried to create a new project without ESLint and it didn't work due to undefined lintConfig.

### What did you expect to happen?

Project is created

### Reproduction URL

https://github.com/quasarframework/quasar/issues/12796

### How to reproduce?

npm init quasar, do not select ESLint

### Flavour

Quasar CLI with Vite (@quasar/cli | @quasar/app-vite)

### Areas

Quas

[2022-03-15 04:36] hobeas opened #12797 "Skip optional ESLint during init quasar will throw error"
### What happened?

Skip optional ESLint during init quasar will throw error

### What did you expect to happen?

Go to the next step

### Reproduction URL

None

### How to reproduce?

1. Run `pnpm init quasar`
2. Uncheck ESLint when check features
3. See the error

![220315_122809](https://user-images.githubusercontent.com/41267951/158306602-0140d997-0ae5-4b03-a102-5a3a3a2318e9.jpg)

### Flavour

[2022-03-15 04:45] alainrc2005 commented on #12573
Thank you very much!!!

[2022-03-15 08:09] yusufkandemir commented on #12797
Duplicate of #12796.

[2022-03-15 08:09] #12797 closed, assigned to nobody

[2022-03-15 08:24] diadal opened #12800 "TypeError: _ctx.$t is not a function"
### What happened?

migrate to vite   `vue-i18n` not working

### What did you expect to happen?

calling `$t` give error ` _ctx.$t is not a function`

### Reproduction URL

no link

### How to reproduce?

enable vue-i18n on fresh installed  then call `$t` from your component

### Flavour

Quasar CLI with Vite (@quasar/cli | @quasar/app-vite)

### Areas

SPA Mode

### Platforms/Browsers

Chrome

#

[2022-03-15 08:30] diadal commented on #12796
try `npm create quasar`

[2022-03-15 09:13] rstoenescu commented on #12796
Thanks for reporting.
Fixed it.

[2022-03-15 09:13] #12796 closed, assigned to nobody

[2022-03-15 09:55] Evertvdw commented on #12800
Hi there! You should add `globalInjection: true` to the `createI18n` options to make this work.

[2022-03-15 10:03] Evertvdw opened #12803 "App-vite SSR does not inject the styles at initial render in development"
### What happened?

The first HTML send to the client with SSR does not contain `style` tags, which causes a flash of unstyled content. This is related to https://github.com/vitejs/vite/issues/2282 and https://github.com/vitejs/vite/issues/2013. I think there are workarounds possible but I think those should be handled by Quasar internally.

This only happens when in development but that leads to

[2022-03-15 10:09] diadal commented on #12800
@Evertvdw  worked

[2022-03-15 10:10] #12800 closed, assigned to nobody

[2022-03-15 10:21] diadal opened #12804 "index.html vendor.js file not found in assets folder"
### What happened?

when `quasar build ` `vendor.*.js` files not found in assets

the asset folder contains each component file in js formate

[code]

### What did you expect to happen?

`dist/spa/index.html` should contain the right js  files to avoid white page

### Reproduction URL

no link

### How to reproduce?

run `quasar build `

### Flavour

Quasar CLI with Vite (@quasar/cli | @quasar/app

[2022-03-15 10:28] diadal commented on #12804
deleting `dist` folder fixed

[2022-03-15 11:40] rstoenescu commented on #12804
Please provide a reproduction repo.
The dist/* folders are deleted before each build anyway.

[2022-03-15 11:42] rstoenescu commented on #12803
This is a limitation of dev SSR. We cannot inject the styles because we'd need to continuous build the whole project in order to extract the critical css paths, which would defeat the whole purpose of having a very fast dev DX.
However, the production output will inject the styles.

[2022-03-15 11:42] #12803 closed, assigned to nobody

[2022-03-15 11:46] diadal commented on #12804
I guess it is a folder permission issue while copying from app folder to app-vite but when I delete dist and  run `quasar build` work as expected

[2022-03-15 11:46] #12804 closed, assigned to nobody

[2022-03-15 11:46] Evertvdw commented on #12803
It seems they fixed this at nuxt side, in this PR https://github.com/nuxt/vite/pull/195. I dont really get what they are doing there but maybe we can do something similar or approach them how/if they fixed this?

[2022-03-15 12:13] rstoenescu commented on #12803
They might be doing what I said above (building and rebuilding), otherwise I currently see no option other than keep on rebuilding the whole project --- which would essentially work like the webpack variant (NOT what we want). I could build the project only once and at startup but then whatever changes are done to the styles (like adding new style files) will not be picked up. In any case, will in

[2022-03-15 12:16] diadal opened #12805 "Qfile crashes on simulator when used capture"
### What happened?

simulator don't allow camera access the option to pick file should worked without crashing the app

[code]

### What did you expect to happen?

bring the option to select  or capture if the device has a camera

### Reproduction URL

no link

### How to reproduce?

test Qfile in a simulator

### Flavour

Quasar CLI with Vite (@quasar/cli | @quasar/app-vite)

### Areas

SPA Mode

[2022-03-15 13:56] diadal opened #12806 "TypeError: Failed to fetch dynamically imported module"
### What happened?

Unable to cache `pwa-camera-modal.entry.js`

TypeError: Failed to fetch dynamically imported module:

`yarn add @ionic/pwa-elements`

`boot/capacitor.ts`
[code]
`https://127.0.0.1:8008/node_modules/.q-cache/vite/spa/pwa-camera-modal.entry.js`

### What did you expect to happen?

able to use capacitor camera on the web

### Reproduction URL

no link

### How to reproduce?

insta

[2022-03-15 14:24] mncoldsmoke commented on #7920
andrekociuba - Your answer might work for those phone numbers, but won't work for US zip codes ##### : #####-#### because when then 6th numeral is typed in, the cursor stays where it is at, but the last digit moves right one so the user's 6th character ends up being the 10th once it is all typed in.

[2022-03-15 14:52] bestlong opened #12807 "quasar upgrade: npm devDependencies install/uninstall option incorrect"
### What happened?

[code]

### What did you expect to happen?

npm install devDependencies option should be: `--save-dev`

### Reproduction URL

https://github.com/bestlong/quasar/tree/bestlong-patch-1

### How to reproduce?

1. quasar upgrade -i

### Flavour

Quasar CLI with Webpack (@quasar/cli | @quasar/app-webpack)

### Areas

Quasar CLI Commands/Configuration (@quasar/cli | @quasar/app-webpa

[2022-03-15 16:35] #12807 closed, assigned to nobody

[2022-03-15 16:35] rstoenescu commented on #12807
Fix will be available in "@quasar/cli" v1.3.1

[2022-03-15 16:46] ImSeaWorld opened #12811 "QDrawer breakpoint doesn't respect greater width once triggered"
### What happened?

Shrink window to smaller than the breakpoint specified, open the q-drawer. Once you full screen again, it will keep the q-drawer in it's breakpoint state.

### What did you expect to happen?

Q-drawer reset to it's original state once larger than the breakpoint.
This: https://codepen.io/imseaworld/pen/JjMYxNN

### Reproduction URL

https://quasar.dev/
https://codepen.io/imseawo

[2022-03-15 18:17] diadal opened #12812 "capacitor ios dev not working"
### What happened?

run `quasar d -m capacitor -T ios` open Xcode but page stocked at
![Simulator Screen Shot - iPhone 13 - 2022-03-15 at 10 13 02](https://user-images.githubusercontent.com/19895516/158444789-6c9549c0-a410-4974-9905-56a90237772e.png)

### What did you expect to happen?

working normally able to access the app

### Reproduction URL

no link

### How to reproduce?

run `quasar d -m

[2022-03-15 22:36] rstoenescu commented on #12812
Fix will be available in q/app-vite 1.0.0-beta.4

[2022-03-15 22:36] #12812 closed, assigned to nobody

[2022-03-16 01:37] ramicohen303 commented on #12395
Might be related, but tabbing into QSelect does not show the popup, while mouse-clicking the QSelect does show it. This is inconsistent behavior, the popup should show, no matter how the control got the focus.

[2022-03-16 04:13] znbang opened #12814 "Quasar CLI Vite - build SPA with axios and vue-i18n result in TypeError: le.version.split is not a function"
### What happened?

When I build SPA with axios and vue-i18n, the sample page is not displayed
and the DevTools console shows:
TypeError: le.version.split is not a function at axios.fcba7966.js:2:10803s

There is no problem if build with only axios or vue-i18n.

### What did you expect to happen?

The sample page is displayed in the browser.

### Reproduction URL

no link

### How to reproduce?

1

[2022-03-16 04:45] diadal commented on #12812
in addition after running `quasar build -m capacitor -T android/ios`  then not possible to run `quasar d ` again a lot of errors not being able to find files

` [ERROR] [plugin vite:dep-scan] ENOENT: no such file or directory, open '/opt/homebrew/var/www/Sites/test/src/assets/index.e5d2c312.js'`

All the index.html files below need to be deleted before `quasar d` could run again

`src-capacitor/an

[2022-03-16 07:12] pdanpdan commented on #12395
@ramicohen303 there is nothing inconsistent about that. Click is not focus, click is focus and enter or space.

[2022-03-16 08:02] Grawl commented on #12814
SSR too.

It's Axios bug. I removed this package and everything works good.

[2022-03-16 12:04] Rolanddoda opened #12818 "Error [ERR_REQUIRE_ESM]: require() of ES Module from quasar-config-file.js"
### What happened?

I am converting my app to Quasar CLI with Vite. Vite leverages ESM and thus it makes sense to use ESM for  `quasar.config.js`.

So I added `"type":"module"` in package.json and converted the `require` to `import` e.g. this:

[code]

to this:

[code]

### What did you expect to happen?

I thought this could work when using Quasar CLI with Vite but it doesn't work and errors show

[2022-03-16 12:26] rstoenescu commented on #12790
Fixes will be available through Quasar v2.6.1 and q/extras 1.13.2
Also make sure that you stay on latest q/app-vite beta.

[2022-03-16 12:26] #12790 closed, assigned to rstoenescu

[2022-03-16 12:27] rstoenescu commented on #12818
Hi,

Do NOT add `"type":"module"` to your package.json and leave quasar.config.js with cjs syntax.
Please report back if it still happens

[2022-03-16 12:27] #12818 closed, assigned to nobody

[2022-03-16 12:51] smolinari opened #12819 "CLI Vite - using ViteConfig breaks building the app"
### What happened?

I have a Rush monorepo and using `quasar dev` I was getting 403s returned for some resource URLs. After investigating, I found the solution in adding a path to `server.fs.allow` of the Vite config object.

quasar.config.js
[code]
This fixes the 403s, however, when I go to build the SPA, I get the following error:

[code]

### What did you expect to happen?

No error during the

[2022-03-16 12:58] Rolanddoda commented on #12818
@rstoenescu I see that `"type":"module"` might not be needed but if you have some scripts in your app and want to use ESM, `"type":"module"` is required.

However, this issue is not about `"type":"module"` but about the ability to use ESM in `quasar.config.js`.

[2022-03-16 13:11] rstoenescu commented on #12818
In order to use ESM in quasar.config.js the whole q/app-vite CLI needs to be ESM too, because that's the one loading this file. Due to time constraints, it's not yet there. However, it will be in the future.

[2022-03-16 13:20] JokerMartini opened #12822 "Violation error Added non-passive event listener to a scroll-blocking"
### What happened?

Created a new project and noticed that it produces tons of errors 'Added non-passive event listener to a scroll-blocking'. I'm not sure why this would be. I'm using the latest version of quasar for this project as of today it's the latest.

### What did you expect to happen?

I dont expected to see so many errors.

### Reproduction URL

Not applicable

### How to reproduce?

1.

[2022-03-16 14:14] rstoenescu commented on #12819
Props in viteConf are not ensured. Different stuff happens based on what you are doing: dev or prod, what Quasar mode etc.

I can't stub all these because the presence of some objects changes the behavior of Vite in unwanted ways.

[code]

[2022-03-16 14:14] #12819 closed, assigned to nobody

[2022-03-16 14:31] rstoenescu commented on #12812
This was handled already. Maybe something changed in the newer Vite versions since then. Will investigate.

[2022-03-16 14:34] diadal commented on #12812
ok

[2022-03-16 14:40] smolinari commented on #12819
Ok. So, I've put that line of code in an if statement based on the env.

[code]

And building is now working.

Scott

[2022-03-16 15:04] robfordww commented on #12822
![image](https://user-images.githubusercontent.com/24738409/158621171-1fd7651b-8fd2-453e-b10e-d5cf32d6608d.png)

I can confirm the same issue on a pretty new and basic app:
 » Dev mode............... spa
 » Pkg quasar............. v2.6.0
 » Pkg @quasar/app-vite... v1.0.0-beta.3
 » Browser target......... edge99|chrome99

[2022-03-16 15:06] rstoenescu commented on #12812
I see now. Some architecture changes broke this.
Fix for dep-scan will be available in q/app-vite beta.4

[2022-03-16 15:06] tony-gm commented on #8690
Does this class and style attributes already solved?

[2022-03-16 15:24] diadal commented on #12812
@rstoenescu is it possible beta.4 come with a fix for https://github.com/quasarframework/quasar/issues/12806

[2022-03-16 15:55] jmunckhof commented on #7272
I don't think so, same issue here 🙋🏻‍♂️, Any updates on this?

[2022-03-16 16:01] rstoenescu commented on #7272
I think I explained it clearly the first time. https://github.com/GoogleChrome/workbox/issues/1790
It's kind of out of our reach. Just ignore it as it will not break anything. @jmunckhof

[2022-03-16 17:19] jmunckhof commented on #7272
Oh Okay, Is there a way to suppress these warnings?

[2022-03-16 17:49] sheldonbaker commented on #11457
This has been happening to me too. It seems like any of the requests that 404 (for `vendor.js`, for example), are actually being treated as a full routing request (triggering boot files, etc.).

[2022-03-16 18:41] MilosPaunovic commented on #12822
Might come in handy:

[https://chromestatus.com/feature/5745543795965952](https://chromestatus.com/feature/5745543795965952)
[https://rbyers.github.io/scroll-latency.html](https://rbyers.github.io/scroll-latency.html)
[https://github.com/WICG/EventListenerOptions/blob/gh-pages/explainer.md](https://github.com/WICG/EventListenerOptions/blob/gh-pages/explainer.md)

[2022-03-16 18:55] Rolanddoda commented on #12818
Great, thanks @rstoenescu for the amazing work!

[2022-03-16 22:57] rstoenescu commented on #12814
Here's the correct way to add vue-i18n:

[code]

The `include` is absolutely necessary otherwise it will mess with a lot of other things.

Will do the corrections in the scaffolding app. But you'll have to do the changes above manually into an already scaffolded app.

PS: there's also "quasar serve" command, so you don't need caddy etc.

[2022-03-16 22:57] #12814 closed, assigned to nobody

[2022-03-16 23:12] rstoenescu commented on #12806
Hi,

Please try again with q/app beta.4
And if it is still reproducible, post a reproduction repo here and I'll reopen.

[2022-03-16 23:12] #12806 closed, assigned to nobody

[2022-03-16 23:13] rstoenescu commented on #12811
Hi,

If it opens as mobile is stays as mobile until you close it. This is by design to not mess up drawer state completely.

[2022-03-16 23:53] ImSeaWorld commented on #12811
I don't see how it would do that since the functionality already exists, it's just not working as intended.

This does not happen. It will remain mobile till the breakpoint is activated again. I've fixed the issue of the button disappearing(like what happens on quasar.dev), but why would it reset itself after the breakpoint is activated again to go back to desktop?

![chrome_c6LpaJp1fD](https://us

[2022-03-17 00:36] rstoenescu commented on #12793
Valid point. Will do it tomorrow.
In fact, Pinia will be ready even before router is instantiated in order to allow use of the stores there too.

[2022-03-17 01:52] znbang commented on #12814
Hi, with new scaffolding and the IndexPage.vue:
[code]
the error message is:
[code]

[2022-03-17 08:59] tiltec opened #12831 "deep extend() turns Date objects into empty objects since v2.6.0"
### What happened?

[code]

### What did you expect to happen?

Until v2.6.0, deep clone worked fine with Date objects.

I think this commit broke it: https://github.com/quasarframework/quasar/commit/75ffaa28f1b68c9be65be0992823d7edc9f7f463

Non-deep clone is not affected by this.

### Reproduction URL

https://codepen.io/tiltec/pen/OJzMLKe

### How to reproduce?

HTML result is `{ "d": {} }`, sho

[2022-03-17 10:09] enpasos opened #12832 "Problem resolving icon set mdi-v6 (v2.6.1)"
### What happened?

I just did un upgrade

![grafik](https://user-images.githubusercontent.com/9622808/158784484-9b9230c5-88a8-4c40-9f95-c207f3d48878.png)

Reported error on 'quasar dev'

![grafik](https://user-images.githubusercontent.com/9622808/158784789-36806511-2891-4cb0-afa3-58d58dc8bcc1.png)

### What did you expect to happen?

No such error before update.

### Reproduction URL

-

### How

[2022-03-17 10:15] rstoenescu commented on #12832
Move to latest q/app-webpack, like in the release notes.

[2022-03-17 10:15] #12832 closed, assigned to nobody

[2022-03-17 11:09] diadal commented on #12806
still not able to make this work  node_modules delete fresh install still the error keep coming

<img width="708" alt="Screen Shot 2022-03-17 at 4 08 22 AM" src="https://user-images.githubusercontent.com/19895516/158796563-da070622-b8e0-44b9-b5cf-3d26f5c066dd.png">

[code]

[2022-03-17 11:29] rstoenescu commented on #12806
Please post a bare-minimum reproduction repo.

[2022-03-17 11:49] ram-you commented on #8578
Hi @rstoenescu
I dont understand why is this issue is closed when is still not resolved? Issue with QTabs and RTL still persists. Quasar v2.6.0

[2022-03-17 12:10] maggie44 commented on #8578
I haven't tested it recently, but I did in 2.1.5 and it was fixed.

[2022-03-17 12:41] diadal commented on #12806
https://github.com/diadal/tester.git

[2022-03-17 13:17] rstoenescu commented on #12793
Enhancement will be available in q/app-vite beta.5

[2022-03-17 13:17] #12793 closed, assigned to rstoenescu

[2022-03-17 13:35] rstoenescu opened #12833 "q/extras - Vite cannot determine type of package (CJS or ESM)"
### What happened?

Vite reporting:

### What did you expect to happen?

Not report anything. Be able to determine script type.

### Reproduction URL

https://quasar.dev

### How to reproduce?

Use q/extras under any form with q/app-vite

### Flavour

Quasar CLI with Vite (@quasar/cli | @quasar/app-vite)

### Areas

Quasar Extras (@quasar/extras)

### Platforms/Browsers

_No response_

### Quasar

[2022-03-17 13:36] rstoenescu commented on #12833
Fix will be available in q/extras v1.13.3

[2022-03-17 13:36] #12833 closed, assigned to nobody

[2022-03-17 13:53] rstoenescu commented on #8578
@ram-you this is fixed. you may have not enabled RTL mode in quasar.conf.js (if using the q/app or q/app-webpack) and/or may not be using a RTL quasar language pack. Please provide a bare minimum repo for reproduction so I can help.

[2022-03-17 14:21] TuringJest commented on #12395
@pdanpdan it can lead to annoyances with keyboard navigation. Did you have time to look at the sandbox?  I could not solve the issue. Now the table cells with a q-select without an input need one `enter` event to focus the q-select and another one to open the popup. Every other cell takes one `enter` to input something or make a selection. On the other hand it takes one `click` in both cases to do

[2022-03-17 14:22] enpasos commented on #12832
Thanx for the hint.
I upgraded to ... (from my package-lock.json):

      "dependencies": {
        "@quasar/app-webpack": "^3.4.2",
        "@quasar/cli": "^1.3.1",
        "@quasar/extras": "^1.13.3",
        "axios": "^0.21.4",
        "core-js": "^3.6.5",
        "docsearch.js": "^2.6.2",
        "ndarray": "^1.0.19",
        "ndarray-ops": "^1.2.2",
        "ndarray-resample": "^1.0.1",

[2022-03-17 14:59] enpasos commented on #12832
I changed the iconset value in quasar.config.js and now it works.

quasar.config.js ...
...
    extras: [
      'roboto-font',
      'material-icons',
      'mdi-v6'
    ],
...
    framework: {
      iconSet: 'mdi-v6',
...

However, in quasar/docs source code I see

    extras: [
      'material-icons'
    ],
...
    framework: {
      iconSet: 'svg-mdi-v6',

Shouldn't that work?

[2022-03-17 15:00] ram-you commented on #8578
@rstoenescu
I'm sorry, it was my fault.
Throughout the application, I manage the RTL Mode manually by always leaving the rtl mode to false in quasar.conf.js.
There is no problem with most of the components except for the Qtabs I think it's because of the js processing for the RTL mode.

[2022-03-17 15:55] rstoenescu commented on #12832
`@quasar/app-webpack` should be in devDependencies. And make sure that you don't have "@quasar/app" there too. Also, what's `@quasar/cli` doing in your project's deps? That a global package. And you still have v1.2.1 of it. Upgrade it to latest. @enpasos

Best would have been to `yarn global add @quasar/cli@latest` or `npm i -g @quasar/cli@latest` then run `quasar upgrade -i` command. It would hav

[2022-03-17 16:09] rstoenescu commented on #12831
Fix will be available in Quasar v2.6.2.

[2022-03-17 16:09] #12831 closed, assigned to nobody

[2022-03-17 16:28] rstoenescu commented on #12806
Thanks for supplying the repo.

Your problem is more related to Vite itself or the way that you are supposed to use the ionic stuff, but can't tell without extensive research. This is a very unusual way to use Capacitor stuff without Capacitor mode itself (not that you need it; I get what you're trying to achieve). Unfortunately, can't afford to invest this large amount of time on an unproven Quas

[2022-03-17 17:07] VictorLNoCapInc opened #12834 "Fontawesome Pro v6 is not working"
### What happened?

I tried to install fontawesome-pro v6 following that guide :
https://quasar.dev/options/installing-icon-libraries#using-fontawesome-pro

But when I try to display simple icon such as :
`
    <q-icon name="fa-regular fa-bell" />
`

The icon shows a small cube.

### What did you expect to happen?

I expect to get fontawesome v6 pro icons

### Reproduction URL

https://codesandbox

[2022-03-17 17:19] enpasos commented on #12832
Thanx a lot. Very helpful. Now works ... and I learned something :-)

[2022-03-17 17:46] ram-you commented on #8578
Please, Can you help me with this : how to disable all RTL CSS but leave JS RTL support with RTL option set to true in config? Thank in advance.

[2022-03-18 03:52] ImSeaWorld commented on #12811
@rstoenescu I could understand how my issue could have been misinterpreted, but this is a REAL edge case that's very obvious on the documentation.

![chrome_NNLYzuaE2I](https://user-images.githubusercontent.com/20188588/158934150-e22554b2-8dba-4140-83e3-1a45b00e5086.gif)

It's not detecting when the width grows after the breakpoint has been triggered, only when the window is shrinking again. Very

[2022-03-18 04:54] KINGER404 opened #12837 "QCheckbox with fontawesome icon bug"
### What happened?

The icon placed in the q-checkbox is 24x24, but the wrapped area is 20x20. This is especially noticeable on q-checkbox with props dense

### What did you expect to happen?

Icons and wrapped area were expected to be the same size

### Reproduction URL

https://codesandbox.io/s/hardcore-rui-5p6v71?file=/src/pages/Index.vue

### How to reproduce?

1. Go to the reproduction URL
2.

[2022-03-18 05:33] diadal commented on #12806
but this work fine with webpack i guess like you said the issue may be with vite

also, it will be nice if quasar will have its own module for file input and camera option

but have used a different approach

[2022-03-18 06:31] charloai commented on #12834
Me too.
How to deal with this?

[2022-03-18 09:06] pdanpdan commented on #12395
I changed it so it works: https://codesandbox.io/s/winter-wind-mnbhwk?file=/src/components/Wrapper.vue

[2022-03-18 10:21] selaimanh commented on #12814
### The i18n make a global function $t available for all the components :
 file boot i18n.js add `globalInjection: true`.

[code]

[2022-03-18 10:50] Dodobibi opened #12838 "SASS variables are not prepended on vue files in SSR mode"
### What happened?

SASS variables (or quasar variables : $primary...) cannot be used in vue files in SSR mode. No issue in SPA mode.

[code]

### What did you expect to happen?

Correctly prepend quasar variables

### Reproduction URL

https://github.com/Dodobibi/TestSsrSass

### How to reproduce?

Create a clean Quasar project, with

- Typescript
- @quasar/app-vite

Add SSR mode

[code]

Run : `

[2022-03-18 11:10] TuringJest commented on #12395
@pdanpdan thank you for looking into it.

Unfortunately, this is not possible because the wrapper where you added the code would be a library/ 3rd party package (Ag-Grid) component in this case, so we can't modify the wrapper (hence the comment on the top of the component).

I still don't see how we can solve this with the q-select the way it works now.
Might only affect a few quasar users but it

[2022-03-18 11:17] TuringJest commented on #12395
Why? AG-Grid is table component they render all the cells and add navigation etc., the cells are like the wrapper in the sandbox. We can tell Ag-Grid to render our custom components (e.g. q-select) inside the cell and it will then query for a focusable element inside the custom comp and focus it when we want to interact with it (e.g. edit...).
Can't add our logic to that. They do supply event hand

[2022-03-18 11:20] TuringJest commented on #12395
So far I see only one way to do it, have an invisible input together with the q-select which acts as a target for the query and focus of the grid and there call methods to open the q-select. But that's some MacGyver hacking I want to avoid.

Edit: split into comments for better readability, sorry for many edits :))

[2022-03-18 12:02] Daemach opened #12839 "Side slot does not invert icon color for dark backgrounds"
### What happened?

I'm using icons in a list item's side and avatar slots.  When used in the avatar slot, if the background is dark, the icon is white, and vice-versa.  In the side slot, this doesn't happen.  Why might be the first question, but how do I make the behavior match?

https://discordapp.com/channels/415874313728688138/415937071014739968/954080510915780629

### What did you expect to h

[2022-03-18 12:05] Daemach opened #12840 "Please add this example to the documentation for list/list-items"
### Description

@pdanpdan rocks.

Please add this to the examples for both v1 and v2 for the benefit of other users.

https://codepen.io/daemach/pen/jOYOBwN?editors=1010

### Documentation Section URL

https://v1.quasar.dev/vue-components/list-and-list-items

### Flavour

Quasar CLI with Vite (@quasar/cli | @quasar/app-vite)

### Areas

Components (quasar)

[2022-03-18 12:05] abraxxa opened #12841 "Convert project to Quasar CLI with Vite: PWA related section incorrect"
### Description

As discussed with @yusufkandemir on discord, the PWA-related section is incorrect.
The instructions on the first point need to be swapped.
So, it would be "Move quasar.config.js > manifest to /src-pwa/manifest.json" for Webpack to Vite guide.

### Documentation Section URL

https://quasar.dev/quasar-cli-vite/convert-to-quasar-cli-with-vite#6-pwa-related

### Flavour

Quasar CLI wi

[2022-03-18 12:10] pdanpdan commented on #12839
Tell QItem that it is `dark`

[2022-03-18 12:30] #12841 closed, assigned to yusufkandemir

[2022-03-18 12:31] yusufkandemir commented on #12841
Thanks for reporting! 👏

[2022-03-18 12:40] pdanpdan commented on #12395
Updated pen to also listen for `@popup-hide="wrapper1?.$el?.focus()"`
I think you should use a simplified (without tab navigation, ...?) version of the wrapper in the pen to what your QSelect in AgGrid cell, maybe it works

If you can make a pen with a very simple AgGrid it would help

[2022-03-18 13:19] #12839 closed, assigned to nobody

[2022-03-18 16:58] rstoenescu commented on #12838
Hi,

Thanks for reporting.
Will submit a fix later this evening or tomorrow morning next thing.

[2022-03-18 17:00] rstoenescu commented on #12811
Reopening for explanation and a bit of investigation on docs.

[2022-03-18 17:39] rstoenescu commented on #12838
Was a problem in our vite plugin.
Just yarn install again. It should pick the latest `@quasar/vite-plugin` through `@quasar/app-vite`. If it doesn't and you still have the issue, just delete node_modules and yarn.lock and install again.

[2022-03-18 17:39] #12838 closed, assigned to rstoenescu

[2022-03-18 19:20] iliubinskii opened #12845 "@click does not work inside <q-th>"
### What happened?

@click does not work inside <q-th>

### What did you expect to happen?

It should work

### Reproduction URL

https://codepen.io/ilyalyu/pen/vYpGyBy

### How to reproduce?

1. Open https://codepen.io/ilyalyu/pen/vYpGyBy
2. Try to click <q-th> - it does not work.
3. Try to click <q-td> - it works norm.

### Flavour

Quasar CLI with Webpack (@quasar/cli | @quasar/app-webpack)

##

[2022-03-19 06:47] vieruuuu opened #12851 "quasar@2.6.1 on vite plugin - language packs error prevent the app from working"
### What happened?

quasar@2.6.1 with @quasar/vite-plugin@1.0.7

this is the full error:
`The requested module '/node_modules/quasar/lang/en-US.js?v=c9d0fee1' does not provide an export named 'default'`

nothing too special, just the default configuration, i downgraded quasar to 2.6.0 and it all works fine

### What did you expect to happen?

on quasar@2.6.0 its working fine, its the latest bug fi

[2022-03-19 12:08] rstoenescu commented on #12851
Do not explicitly use the extension.

[code]

[2022-03-19 12:08] #12851 closed, assigned to nobody

[2022-03-19 12:42] hooman-mirghasemi opened #12852 "ssr not working"
### What happened?

quasar build -m ssr

 Build mode........ ssr
 Pkg quasar........ v2.6.1
 Pkg @quasar/app... v3.3.3
 Pkg webpack....... v5
 Debugging......... no
 Publishing........ no

 Configured browser support (>= 87.51% of global marketshare):
 · Chrome for Android >= 99
 · Firefox for Android >= 96
 · Android >= 99
 · Chrome >= 90
 · Edge >= 96
 · Firefox >= 89
 · iOS >= 12.2-12.5
 · Oper

[2022-03-19 12:45] hooman-mirghasemi commented on #12852
I just ceate a new project and try to run it with ssr. so i see this error:
(node:36914) UnhandledPromiseRejectionWarning: Error: Cannot find module 'quasar/dist/ssr-directives/index.js'

I try it with : quasar dev -m ssr, have same result.

it was a very new project and i dont change any line of code

[2022-03-19 13:33] rstoenescu commented on #12852
@hooman-mirghasemi Except the new project is using q/app instead of q/app-webpack, which means it's not new. Upgrade the global installation of '@quasar/cli' and run "quasar upgrade -i" in it to auto update everything that's necessary.

[2022-03-19 13:33] #12852 closed, assigned to nobody

[2022-03-19 15:02] suleimanas opened #12853 "can't setup mode: quasar mode add electron/pwa"
### What happened?

Can't add mode after upgrading to the latest version, if you create quasar using Quasar App CLI with Webpack (stable) selecting npm, it uses yarn. and since i don't use yarn i get the error: Command "yarn" failed with exit code: 1

### What did you expect to happen?

install the packages using npm

### Reproduction URL

https://quasar.dev/quasar-cli-webpack/developing-electron-

[2022-03-19 15:57] rstoenescu commented on #12434
Fix will be available in Quasar v2.6.2

[2022-03-19 15:57] #12434 closed, assigned to nobody

[2022-03-19 16:45] #12853 closed, assigned to yusufkandemir

[2022-03-19 17:31] alexrififi opened #12857 "QBtnDropdown has no loading slot"
### Description

**QBtnDropdown** has `loading` props with description

But I can't override by this code:
[code]

Cause **QBtnDropdown** has no loading slot (it's also missing in the docs)

### Documentation Section URL

https://quasar.dev/vue-components/button-dropdown#qbtndropdown-api

### Flavour

Vite Plugin (@quasar/vite-plugin)

### Areas

Components (quasar)

[2022-03-19 18:31] maggie44 opened #12859 "Vite: Dev env error: Failed to load source map for /node_modules/..."
### What happened?

When starting a Vite development environment on a Raspberry PI the following message are displayed from Vite.

[code]

The fact it is a Raspberry pi must raise a bunch of questions, especially as I can't seem to reproduce this on my Mac. Not sure if that is a speed or a architecture difference, or if there are errors on other systems that just aren't displayed but are relevant.

[2022-03-19 20:10] kevingermain commented on #12786
I got the same issue when I converted my project and I have no idea after spending a day, where it came from.

[2022-03-19 20:40] kevingermain commented on #12786
OMG I found the culprit, in quasar.conf.js, if you dont have `include: path.resolve(__dirname, './src/i18n/**'),` inside this part :
[code]

Somehow, the json imported was behaving like the property `forceStringify` of this plugin.

[2022-03-19 23:35] BenJackGill opened #12860 "Pinia stores are created with the wrong folder structure"
### What happened?

Creating a new Pinia store with the Quasar CLI command `quasar new store cats` will create a store with this incorrect folder structure.

It creates a store that looks like this (seems to be using the old Vuex folder structure):

[code]

### What did you expect to happen?

The [docs say](https://quasar.dev/quasar-cli-vite/state-management-with-pinia#introduction) it should have

[2022-03-20 05:04] rstoenescu commented on #12859
Hi,

Thanks for reporting, but this is outside of our reach as it's a feature of Vite. You might want to report this to Vite.
PS: boot files are not special at all; they're just .js/.ts files importing and exporting "stuff".

[2022-03-20 05:04] #12859 closed, assigned to nobody

[2022-03-20 10:10] maggie44 commented on #12859
Some had noted that adding in all the dependencies helped, which is what lead me to query how it was importing dependencies: https://github.com/nuxt/vite/issues/198#issuecomment-1000347231

After a few days of running it, it now seems to be an intermittent issue, so almost certainly a Vite thing.

Thanks for the time.

[2022-03-20 14:58] oneeoote opened #12864 "q-select q-select shows values ​​instead of labels after adding"
### What happened?

When v-model is an object, use use-input and new-value, and q-select the label value to display instead of label after adding

### What did you expect to happen?

You want q-SELECT to display labels after you add them

### Reproduction URL

https://codepen.io/oneeoote/pen/vYpKGqW

### How to reproduce?

[code]

[code]

### Flavour

Quasar CLI with Vite (@quasar/cli | @quasar/ap

[2022-03-20 15:04] pdanpdan commented on #12864
you don't add the new option in the list of options (neither in stringOptions nor in this.options)

https://codepen.io/pdanpdan/pen/bGaeeQG?editors=1010

[2022-03-20 15:10] oneeoote commented on #12864
Yes, thank you very much, my development environment is much more complicated than the example. According to your answer, it should take a long time after adding it. I will try adding a setTimeout to the done method.
thanks again

[2022-03-20 15:12] oneeoote commented on #12864
There is another question, my initial value is a value that does not exist in options, can it not be displayed in q-select? Do not display the value that does not exist in options

demo:
[https://codepen.io/oneeoote/pen/vYpKGqW](https://codepen.io/oneeoote/pen/vYpKGqW)

[2022-03-20 15:25] #12864 closed, assigned to nobody

[2022-03-20 18:10] maggie44 opened #12866 "Vite: The resource at X preloaded with link preload was not used within a few seconds."
### What happened?

Since switching to Vite, I had been getting the following errors in FireFox browsers:

`The resource at X preloaded with link preload was not used within a few seconds. Make sure all attributes of the preload tag are set correctly. - https://github.com/vitejs/vite/issues/4051`

The fix is to use `polyfillModulePreload: true`:

https://github.com/vitejs/vite/issues/4051
https://

[2022-03-20 18:38] maggie44 opened #12867 "Vite: "@charset" must be the first rule in the file"
### What happened?

When building using Vite, the following message displays:

[code]

There is a proposed fix to consider as default: https://github.com/vitejs/vite/issues/6333#issuecomment-1003318603

### What did you expect to happen?

No need for these error messages to display.

### Reproduction URL

Not applicable

### How to reproduce?

Run `quasar build` on a new Quasar project using Vite

[2022-03-20 19:45] smolinari commented on #12867
@maggie0002 - See here: https://quasar.dev/start/vite-plugin#warning-when-building-for-production

Scott

[2022-03-20 19:45] #12867 closed, assigned to nobody

[2022-03-20 20:59] qxygene commented on #12514
We couldnt install cache-loader to Vue CLI's [v5.0.1] > Conflicting peer dependency: webpack@4.46.0, so it is not working with it, any updates?

[2022-03-20 21:14] robfordww opened #12868 "Unexpected TS problem with q-table"
### What happened?

Creating a project from scratch with the quasar CLI and adding:

[code]

The problem emerges in VS Code when I add the "align" field to the column data object:
[code]

This might be a Volar issue, I don't know.

### What did you expect to happen?

I expected no problems by adding the `align` field

### Reproduction URL

n/a

### How to reproduce?

create an app with vite and ty

[2022-03-20 21:24] yusufkandemir commented on #12868
We will also create other means of documenting this stuff. But, here is the related [pinned message](https://discordapp.com/channels/415874313728688138/807654245640962059/949981798811729980) from #v2-typescript channel on [Quasar Framework Discord Server](http://chat.quasar.dev/):

**Question**
- How do I strong-type `columns` for `q-table`(`QTable`)?
- I get errors on `columns` when I hover it sa

[2022-03-20 21:24] #12868 closed, assigned to nobody

[2022-03-20 22:43] robfordww commented on #12868
@yusufkandemir   Thanks for your answer, but I don't think it addresses this problem:
[code]

But why.  'align' is perfectly fine according to documentattion, and even type def files as far as I can see.

[2022-03-20 23:01] robfordww commented on #12868
solved it:
[code]

[2022-03-20 23:49] TuringJest commented on #12395
@pdanpdan codesandbox kept freezing, here is a github repo https://github.com/TuringJest/quasar_aggrid

There are two QSelect customComponents which are used in the header (AgGrid floatingHeader for filtering) only. We also use them in table cells, but the headers combine all the QSelect edge cases.

One component uses the idea of sibling inputs to intercept the focus from Ag-Grid... it was very c

[2022-03-20 23:59] mirkofisic opened #12870 "Quasar dev -m ssr reload inject html content in js and css files"
### What happened?

I use SSR mode in which I set ssr middleware, every change inside ssr middleware quasar watch changes and try to reload server and build/compile new files, but every **.js** and **.css** file is **injected with index.html content**, this is happend only if something is changed in **ssr-src** folder, if I change something in src folder everything is reloaded without problem.

So

[2022-03-21 06:53] gwynncausing opened #12871 "Cannot tab forward on Quasar Plugin cancel button"
### What happened?

when tabbing continuously in the Dialog, it will not focus in the cancel button.

### What did you expect to happen?

It should be able to focus

### Reproduction URL

https://codepen.io/gwynncausing/pen/popNjpX

### How to reproduce?

1. Open the reproduction link or visit this [link](https://quasar.dev/quasar-plugins/dialog#predefined), this is from quasar website.
2. Open an

[2022-03-21 09:48] maggie44 commented on #12859
Just for reference, got this today on the Mac. So definitely intermittent and not hardware specific:

`[vite] Failed to load source map for /node_modules/.q-cache/vite/spa/vue-i18n.js?v=b7f12d18.`

[2022-03-21 10:03] Davo911 commented on #5288
Same

[2022-03-21 12:49] zim32 opened #12872 "Error bootstraping new project"
### What happened?

Erro while bootstraping new quasar app

I was just trying to install fresh quasar app using npm init quasar and got this error

[code]

### What did you expect to happen?

No errors during npm init quasar
Ready to use fresh project

### Reproduction URL

https://codepen.io/pen?&editors=101

### How to reproduce?

1. npm init quasar
2. Select Standart linter

### Flavour

Quasar

[2022-03-21 14:37] HannesOberreiter commented on #12786
I resolved my issue by using the standard tsconfig.json from vitesse template https://github.com/antfu/vitesse/blob/main/tsconfig.json

So far this TypeScript settings work perfectly fine with my Quasar build.

Cheers
Hannes

[2022-03-21 18:58] jeangomes commented on #7884
Hello, i did it this way, im quasar 1, but I miss the animations on progress, and other features.
how to get around?

[2022-03-22 01:47] kim-on opened #12880 "In combination with q-Popup-proxy and Q-Input, clicking on the text in popup causes q-Input to lose focus"
### What happened?

In combination with q-Popup-proxy and Q-Input, clicking on the text in popup causes q-Input to lose focus

### What did you expect to happen?

What I want to achieve is when q-input gets focus, q-popup-proxy shows forever and q-popup-proxy doesn't disappear when q-popup-proxy is clicked or text in q-popup-proxy is selected.
q-popup-proxy that does not belong to itself disappear

[2022-03-22 10:19] geoffsmiths opened #12887 "@quasar/app relies on minimist 1.2.5 but should be 1.2.6 due to security issues"
### What happened?

After an `npm audit`:

[code]

### What did you expect to happen?

That `@quasar/app` should use `minimist@1.2.6`

### Reproduction URL

https://github.com/quasarframework/quasar/blob/dev/cli/package.json

### How to reproduce?

1. `npm init`
2. `npm install @quasar/app` and then you get `2 high severity vulnerabilities`
3. `npm audit`

Step 3 shows:

[code]

### Flavour

Quasa

[2022-03-22 16:45] wea141619 commented on #12368
Hello, what is the command to downgrade the version of quasar my friend?

[2022-03-22 18:30] vykimo commented on #12834
Mee too. Need to use FontAwesome Pro v6 asap with Amazing Quasar ! ;)

[2022-03-22 20:35] rstoenescu commented on #12887
Will be available in q/app v2.2.12

[2022-03-22 20:35] #12887 closed, assigned to nobody

[2022-03-22 20:48] rstoenescu commented on #12834
ping @hawkeye64

[2022-03-22 21:01] rstoenescu commented on #12368
@wea141619 why downgrade? everything works fine now... Downgrading is a bad strategy for multiple reasons.
In any case, I'd suggest you do the exact opposite and run "quasar upgrade -i" instead.

[2022-03-23 06:40] smriti-akridata opened #12901 "QSelect multiple closes on every user action (selection/deselection)"
### What happened?

Application uses vue3 + ts + quasar-v2. QSelect with multiple is used, but as soon as the user selects any option, the dropdown closes and each time user has to open it and make the selection.

The array associated with multiple has all the options, but QSelect being closed on every selection is the problem.

This is only happening in projects created with this particular packa

[2022-03-23 06:46] osarhan commented on #8822
Any insight on release dates?

[2022-03-23 08:09] rstoenescu commented on #8822
@osarhan It's already released as mentioned. Use Quasar CLI with Vite and add bex mode with it. It'll ask which version of manifest you want.

[2022-03-23 10:07] philippedasilva-orizone commented on #12385
@rstoenescu I believe the changes made to solve that issue introduced back some validation errors with: "non-passive event listenter to a scroll-blocking 'touchstart' event"
You can clearly see it when going to the QBtn component page in the documentation (console warnings)
![image](https://user-images.githubusercontent.com/77384971/159674925-6373f7c7-1c5f-4e32-bd2a-7fcb79e7f337.png)

[2022-03-23 12:31] customautosys opened #12904 "Tree shaking not working when template, script and style are separated into different files"
Dear Razvan,

I like to separate my code into scss, html and ts files like this in my Vue files:
[code]
Previously, I used importStrategy: 'all', but I notice this has been removed. Auto-import doesn't work when I do this.

Is there any way to get the auto-import working when my styles, templates and scripts are separated in this way? I feel this is a bug because Vue does allow for template, scrip

[2022-03-23 12:40] yusufkandemir commented on #12904
Let's keep the discussion at the original _discussion_ thread. #12319

[2022-03-23 12:40] #12904 closed, assigned to nobody

[2022-03-23 13:51] JokerMartini commented on #12860
I agree this method for creating stores when using pinia is broken. it places it inside a subfolder. please fix this

[2022-03-23 14:42] philippedasilva-orizone commented on #12822
Hi, I'm getting this same issue and its repro is so simple to see: just open QBtn component page in the official Quasar documentation and you'll see a bunch of them in the console (verbose required).

From my quick research, I believe it has been introduced after this bug was reported: https://github.com/quasarframework/quasar/issues/12385
And @rstoenescu solved it with this commit: https://github

[2022-03-23 15:05] pdanpdan commented on #12822
So many comments and not even one that specifies OS/Browser + version

[2022-03-23 15:43] AbhimanyuAryan commented on #12564
@rstoenescu I can't figure out where are examples for `dev` branch. Docs Github logo takes me to https://github.com/quasarframework/quasar/tree/dev/docs/src/examples/QBtn/Links.vue

Example is available on v1 branch: https://github.com/quasarframework/quasar/blob/v1/docs/src/examples/QBtn/Links.vue

should I change at v1? Or the location for example is changed in dev?

[2022-03-23 16:21] philippedasilva-orizone commented on #12822
In my case, I noticed it on my Macbook Air M1 running MacOS Monterey 12.3 on Chrome 99.0.4844.74

[2022-03-23 16:29] pdanpdan commented on #12822
Because I cannot reproduce it on chrome dev  on Linux and windows.
And on desktops it should not listen for touch events.

[2022-03-23 16:51] yusufkandemir commented on #12564
@AbhimanyuAryan please use Docs Report instead of Bug Report next time, as this is not a bug.

Since this applies to examples of both Qv1 and Qv2, you need to create 2 separate PRs, for `dev` and `v1` branches. Here are the file locations for both branches:
`dev`(Qv2): https://github.com/quasarframework/quasar/blob/dev/docs/public/examples/QBtn/Links.vue
`v1`(Qv1): https://github.com/quasarframewo

[2022-03-23 17:03] AbhimanyuAryan commented on #12564
@yusufkandemir thanks I'll do that. Is it possible to move this docs report now?

[2022-03-23 17:04] yusufkandemir commented on #12564
@AbhimanyuAryan it's not that important, don't worry. I've adjusted the labels to reflect the situation, so there is no problem.

[2022-03-23 17:07] philippedasilva-orizone commented on #12822
I'm sorry but I just tried on Chrome 99.0.4844.82 on Windows (11) and I get the same warnings on the console (make sure to enable Verbose logging in the console to see them). If not, try a quick full refresh on the page as sometimes, I noticed that on first load, they do not appear somehow...

[2022-03-23 17:13] AbhimanyuAryan commented on #12564
added for v1: https://github.com/quasarframework/quasar/pull/12909
added for dev: https://github.com/quasarframework/quasar/pull/12910

[2022-03-23 17:37] maggie44 opened #12911 "Unable to import Quasar language packs in Vite"
### What happened?

In Webpack, I would use the following to import languages from the quasar node_modules folder are per the Quasar docs:

[code]

It looks like `import.meta.glob` is the best proposed alternative but it isn't compatible with node_module imports: https://github.com/vitejs/vite/issues/5728.

At the moment there doesn't seem to be a good way to import these languages from the node_m

[2022-03-23 18:11] JokerMartini commented on #8206
Yeah this would be ideal to have an option to set this on the top level `<q-table auto-width .../>`

[2022-03-23 18:15] JokerMartini commented on #12822
I get this on windows desktop
Operating System - Windows_NT(10.0.19042) - win32/x64
NodeJs - 14.17.0

[2022-03-23 19:00] pdanpdan commented on #12822
Ok, I found it, it's just on Qv2 because on Qv1 the listener is only attached when the device has touch.

But this is just a cosmetic difference, the main problem is that in order to allow preventing the touch event the listener must not be passive.

Maybe a way would be to check if there is a listener attached on QBtn and only the use non passive.

[2022-03-23 19:29] rstoenescu commented on #12564
Hi,

Thanks for contributing.
But you're using Quasar v1.4.4... There's a huge difference between 1.4.4 and 1.18.6. Can't remember when I added this feature (of NOT needing type="a" when you already have href), but it definitely wasn't in v1.4.4.

[2022-03-23 19:29] #12564 closed, assigned to nobody

[2022-03-23 19:45] rstoenescu commented on #12911
First of all, for anyone reading, this is not a Quasar issue.
Secondly, I'll try to find some time to add instructions to the docs on how to achieve the same effect with q/app-vite.

[2022-03-24 07:45] bryancurran opened #12916 "Child components do not load if routed by "name" instead of "path""
### What happened?

Given the following route:

`  {
    name: 'user',
    path: '/user',
    component: () => import('layouts/PrimaryLayout.vue'),
    children: [{ path: '', component: () => import('pages/User.vue') }],
  },`

This code **will** work correctly:

`router.push({ path: '/user'});`

However this code **will not** load the child element _pages/User.vue_, only the Layout is loaded:

`r

[2022-03-24 09:34] yusufkandemir commented on #12916
This is related to Vue Router, and it's not an issue. It's an expected behavior https://github.com/vuejs/router/issues/1254#issuecomment-998720621

[2022-03-24 09:34] #12916 closed, assigned to nobody

[2022-03-24 11:46] oleksandr-vynnyk opened #12917 "Examples are not working"
### Description

All of links to code example at https://quasar.dev are pointed to incorrect address. E.g. https://quasar.dev/vue-components/table#basic-usage -> "view on github" is pointed to https://quasar.dev/vue-components/table#basic-usage that is not available.

### Documentation Section URL

_No response_

### Flavour

_No response_

### Areas

Components (quasar)

[2022-03-24 12:31] yusufkandemir commented on #12917
It's working, maybe you got stuck in an old docs version? You can try in another browser or in a private window to confirm that it's working.

[2022-03-24 12:31] #12917 closed, assigned to nobody

[2022-03-24 13:07] oleksandr-vynnyk commented on #12917
@yusufkandemir sorry, "view on github" is pointed to https://github.com/quasarframework/quasar/tree/dev/docs/src/examples/QTable/Basic.vue. The directory "docs/src/examples" does not exist

[2022-03-24 13:12] MilosPaunovic commented on #12917
You should try from another browser or private window, as Yusuf suggested. It works fine for me, as the link points to [https://github.com/quasarframework/quasar/blob/dev/docs/public/examples/QTable/Basic.vue](https://github.com/quasarframework/quasar/blob/dev/docs/public/examples/QTable/Basic.vue)

[2022-03-24 13:12] yusufkandemir commented on #12917
@oleksandr-vynnyk no, it used to point to there, but it now points to `/public/examples` instead of `src/examples`:
https://github.com/quasarframework/quasar/blob/8e252753129207d521d176f27bf2648dde70e8ec/docs/src/components/DocExample.vue#L185

That's why I said you might get stuck with an old version.

[2022-03-24 15:08] h2jose opened #12923 "The link to Layout Builder is broken"
### What happened?

![Screen Shot 2022-03-24 at 11 07 12 AM](https://user-images.githubusercontent.com/1481933/159947232-8bb29738-86bc-471a-8aae-6b75e197fc7a.png)

### What did you expect to happen?

Open the layout builder

### Reproduction URL

https://quasar.dev/layout/layout-builder

### How to reproduce?

1. clic en "Layout Builder" button (blue and red)

### Flavour

Quasar CLI with Webpack

[2022-03-24 18:19] yusufkandemir commented on #12923
Hi 👋 that link is not working because it's wrong. The menu item redirects to the correct page. If it's not working, then you might somehow get stuck in a half-cached version where the link is wrong, but the actual route is updated. You can try in another browser or in a private tab to confirm that it's working.

![image](https://user-images.githubusercontent.com/6266078/159983828-64030fb0-0387-49d

[2022-03-24 20:56] hawkeye64 commented on #12834
@VictorLNoCapInc
Can you also try the old way?
[code]
Can you tell me if that also works or does not?

[2022-03-24 20:59] #12923 closed, assigned to nobody

[2022-03-24 21:48] hawkeye64 commented on #12834
I don't seem to be having an issue with this. I got the free version of Pro, so not allowed to download it, but put it into index.template.html instead:

![image](https://user-images.githubusercontent.com/10262924/160015994-0b747f93-2122-4472-8a8a-21d0493aef85.png)

and

![image](https://user-images.githubusercontent.com/10262924/160016070-183450f4-cd59-4a58-9c47-92486b41df45.png)

[2022-03-24 22:26] VictorLNoCapInc commented on #12834
I don't have the issue too with FontAwesome V6 regular. I only have it with FA v6 PRO.
If you want I can provide you my Secret Key by PM for you to test. Just ping me a message if needed.

[2022-03-24 22:26] VictorLNoCapInc commented on #12834
And old way is working well.

[2022-03-25 00:11] Daemach commented on #8527
I tried implementing this today, but get the following error. Where am I going wrong?

![image](https://user-images.githubusercontent.com/12553953/160029840-7587474c-00fa-4c53-bf0d-2c67b19f3434.png)

[2022-03-25 04:41] geomatix-au opened #12929 "Adding a Pinia Store creates a VUex store"
### What happened?

As per the docs to create a Pinia store using the command line: quasar new store <store_name>

This creates a vuex store instead of a pinia store

### What did you expect to happen?

Expected a Pinia store to be created

### Reproduction URL

?

### How to reproduce?

In a quasar project with no stores, open up a terminal and enter $ quasar new store <store_name>

### Flavour

[2022-03-25 06:29] dirkhe1051931999 opened #12930 "q-expansion-item attribute active-class not active"
### What happened?

q-expansion-item tag set active-class like this
[code]
![image](https://user-images.githubusercontent.com/22389976/160066502-9558c525-4f87-4c75-b787-b6f8fb512bce.png)

but render html not have any class
![image](https://user-images.githubusercontent.com/22389976/160066434-8a0da8e7-2d11-4566-9a50-b7f49084e61e.png)

### What did you expect to happen?

active attribute

### Reprod

[2022-03-25 06:33] dirkhe1051931999 commented on #12930
but other item active-class is active
same code and not do anything!!!

[2022-03-25 08:03] thoasty-dev commented on #12872
For a hotfix: set ``eslint-config-standard`` to ``^17.0.0-0`` in your package.json:

[code]

[2022-03-25 08:23] MilosPaunovic commented on #12930
If prop `active-class` of one item works correctly and the other ones doesn't, seems like the issue is in the implemented logic and not Quasar itself. Try checking out the condition on which you base your class selection.

[2022-03-25 08:28] philippedasilva-orizone commented on #12822
Hi @pdanpdan could you point out where we should look at in the code so we can eventually submit a PR ? ;) thanks

[2022-03-25 08:30] MilosPaunovic commented on #8527
Have you tried pasting it exactly as @vojvodics suggested?

[code]

[2022-03-25 08:41] MilosPaunovic commented on #12929
Are your Quasar related dependencies up to date? Can you provide output of `quasar info` command?

[2022-03-25 09:27] vojvodics commented on #8527
@Daemach Sorry, initially I pasted the version for scss, so either copy the latest code, or just add `<style lang="scss">` instead of `<style>`

[2022-03-25 10:15] Daemach commented on #8527
Using your updated code worked.  Thanks again for following up!

[2022-03-25 10:20] Daemach commented on #8527
@rstoenescu this is an elegant, low-overhead solution.  Can this be added to the code base so I don't have to manually add it everywhere?

[2022-03-25 12:58] ptc-tonyo opened #12932 "QFab API - active-icon is ignored and forced to load material icons"
### What happened?

However, the QFAB no longer displays the active-icon.  It will also only display the "close" icon if "material-icons" is included in "extras" setting in `quasr.conf.js`. This was not the case in the past. I didn't need to load "material-icons" at all.

I've attempted to use iconMap to convert "close" icon to "las la-times-circle" but that also failed to map the icon!!
So in sum

[2022-03-25 13:28] hawkeye64 commented on #12834
Yes, thank you. That would be helpful to me. Just ping me on Discord.

[2022-03-25 13:31] philfontaine opened #12933 "Quasar CLI Vite multiple page reloads on cold start (no .q-cache)"
### What happened?

When running quasar dev for the first time (no cache), the page will reload multiple times for no apparent reason. I'm pretty sure that this impacts the cold start time of my project. These reloads don't happen on subsequent `quasar dev`.

This is happening on all the projects that I migrated to the new CLI.

The below is a typical scenario. You can see that it took about 30 se

[2022-03-25 13:55] jhx-zc opened #12934 "exportFile util encoding bug"
### What happened?

I am trying to export data to csv with utf-8 encoding.But it is not work.
This is my code:
![image](https://user-images.githubusercontent.com/52167297/160132679-fcc71b5b-43c9-47e0-83a4-a13d4ac1ce39.png)

And i can not find any useful doc for exportFile util encoding arg usage.

### What did you expect to happen?

If it my wrong,please tell me how to write the right code.
Or fix

[2022-03-25 13:59] MilosPaunovic commented on #12934
Check out that functions documentation:
[https://github.com/quasarframework/quasar/blob/56dd9651d7295819b9f0981157d6dd01b12abb6d/ui/src/utils/export-file.js#L10](https://github.com/quasarframework/quasar/blob/56dd9651d7295819b9f0981157d6dd01b12abb6d/ui/src/utils/export-file.js#L10)

[2022-03-25 14:07] Bosphoramus opened #12936 "Vue warn when using the router inside of a Pinia store"
### What happened?

Since @quasar/app-webpack version 3.4.3 we get a Vue Warn when using the router from Pinia stores, this is the warn: [Vue warn]: Avoid app logic that relies on enumerating keys on a component instance. The keys will be empty in production mode to avoid performance overhead.

This is caused because the router we provide to the store in the default boot file is not wrapped by Vue

[2022-03-25 14:28] hawkeye64 commented on #12834
Quasar (QIcon) needs an update, but I am now able to do this:

![image](https://user-images.githubusercontent.com/10262924/160140188-0a429791-ba65-4ac6-a289-07987dc4db5a.png)

[2022-03-25 14:30] hawkeye64 commented on #12834
This is a better representation:

![image](https://user-images.githubusercontent.com/10262924/160140695-a7fb9eab-46b7-45fb-b2ba-1646075033f2.png)

[2022-03-25 14:31] hawkeye64 commented on #12834
[code]

[2022-03-25 14:35] #12936 closed, assigned to nobody

[2022-03-25 14:36] hawkeye64 commented on #12834
I have pushed the commit and will be in the next Quasar release.

[2022-03-25 14:38] hawkeye64 commented on #12834
@VictorLNoCapInc Also, please update your @quasar/cli

[code]

[2022-03-25 14:57] hawkeye64 commented on #12834
Here is my boot file if anyone is interested:

[code]

And, you have to do this before adding the package to your package.json:

[code]
As specified here: https://fontawesome.com/docs/web/setup/packages#set-up-npm-token-for-all-projects
and Quasar docs: https://quasar.dev/options/installing-icon-libraries#using-fontawesome-pro

[2022-03-25 16:10] roberttolton commented on #7006
@hawkeye64 Adding the `--debug` flag, along with the second half of @lmm-git 's solution was what seems to have worked for me.

[2022-03-25 21:14] pdanpdan commented on #12822
In here: https://github.com/quasarframework/quasar/blob/4a52a371e23a6519afe962f422068b4c7f715e39/ui/src/components/btn/QBtn.js#L87

But I don't understand the root cause of the problem, because in Qv1 I don't get the warnings.

[2022-03-25 23:01] jaybo commented on #11582
I seem to be experiencing this issue with mapbox geocoder results within a `q-card-section`.  Only on iOS/PWA the click handler for autocompletion results fails to fire.  This link implies that `needsclick` should to be added to each result:
https://github.com/mapbox/mapbox-gl-geocoder/issues/49#issuecomment-619263907

Update:  Added `needsclick` as in the referenced link fixed my issue!

[2022-03-26 02:35] jhx-zc commented on #12934
It is work when i set truly opt arg:

the key word is: `byteOrderMark:'\uFEFF',`

![image](https://user-images.githubusercontent.com/52167297/160221558-6a9f0b60-b941-4ad6-a166-1666b9634aec.png)

[2022-03-26 02:36] #12934 closed, assigned to nobody

[2022-03-26 02:47] rstoenescu commented on #12934
There is no need to look at the code. The function is described in detail at https://quasar.dev/quasar-utils/other-utils#export-file

[2022-03-26 03:16] jhx-zc commented on #12934
If not look at the source code. It's deceptived that parameter `byteOrderMark` have a default value :`\nFEFF`
![image](https://user-images.githubusercontent.com/52167297/160222664-ed78b378-2b1e-45d0-8333-c1f6046ce2e2.png)

[2022-03-26 06:33] smolinari opened #12944 "Quasar Vue/Cli plug-in does not work"
### Discussed in https://github.com/quasarframework/quasar/discussions/12943

<div type='discussions-op-text'>

<sup>Originally posted by **murugappanrm** March 26, 2022</sup>
I using vue/cli version 5.0.1 and quasar/cli version 1.3.2. I install quasar using the vue/cli option. The install was successful but when i run "npm run serve" the page created is messed-up:

![Screenshot1](https://user-ima

[2022-03-26 06:46] dirkhe1051931999 commented on #12930
I have use other method to instead it

[2022-03-26 10:11] yusufkandemir commented on #12944
Closing in favor of https://github.com/quasarframework/vue-cli-plugin-quasar/issues/52

[2022-03-26 10:11] #12944 closed, assigned to nobody

[2022-03-26 10:16] smolinari commented on #12944
@yusufkandemir - Thanks Yusuf.

Scott

[2022-03-26 17:10] rstoenescu commented on #12934
It doesn't say anywhere that that is the default value. It's just an example to get a feel of what it means.

[2022-03-27 01:23] philippedasilva-orizone commented on #12822
I don't know either but I strongly believe it is related to the commit I mentioned previously in order to solve a bug: it seems to me that it shows that we are replacing `OnTouchstartPassive` to `OnTouchstart`

[2022-03-27 07:27] customautosys opened #12948 "Icongenie does not add name="android" and name="iOS" to platform tags"
### What happened?

After generating icons, the tags added to config.xml for cordova are only `<platform>` rather than `<platform name="android">` or `<platform name="ios">`

### What did you expect to happen?

Platform names are added

### Reproduction URL

https://github.com/quasarframework/quasar/tree/dev/icongenie

### How to reproduce?

Try it with a fresh project
npm init quasar
quasar mode

[2022-03-27 09:24] oneeoote opened #12949 "Can QSelect add all option slots?"
### What happened?

Hope all option slots of QSelectTree, this should control more friendly to create QSelectTree component, I will now create the first option of QSelectTree.
While it looks fine, the looping of options in QSelect is completely unnecessary

### What did you expect to happen?

Hope all option slots of QSelectTree

### Reproduction URL

https://codepen.io/oneeoote/pen/qBprzeO

### H

[2022-03-27 12:50] rstoenescu commented on #12948
I've tested it and it works fine?

The only thing that I can think of is that you haven't yet added the Cordova iOS or Android platform.
"quasar mode add cordova" just creates the `src-cordova` folder, but it doesn't yet add iOS or Android to it. This comes after a quasar dev/build command where you also need to specify the platform (eg. quasar dev -m cordova -T ios).

Please feel free to comment

[2022-03-27 13:21] rstoenescu commented on #12932
Hi,

Thanks for reporting!
Fix will be available in Quasar v2.6.2 and v1.18.7

[2022-03-27 13:21] #12932 closed, assigned to nobody

[2022-03-27 13:27] rstoenescu commented on #12930
It doesn't makes any sense to check if the route is the one active inside of `active-class` definition. The active-class is used only when the route is actually active. It's not being used if the route is not active, so doesn't matter what value you're supplying to it in this case.

Please provide a reproduction of your issue so we can help further (https://codesandbox.quasar.dev or https://codepe

[2022-03-27 13:27] #12930 closed, assigned to nobody

[2022-03-27 13:28] rstoenescu commented on #12834
Fix will be available in Quasar v2.6.2

[2022-03-27 13:28] #12834 closed, assigned to hawkeye64

[2022-03-27 15:29] therealcoder1337 opened #12952 "Boot files don't get passed "store" object when using vuex"
### What happened?

`store` is not available in boot files when creating a new Quasar v2 (Vue 3) project with vuex.

This seems to be an issue since `@quasar/app-webpack` version `3.4.*`. Version `3.3.3` still seems to pass `store`, at least in existing projects.

### What did you expect to happen?

Boot files should have `store` available when using vuex.

### Reproduction URL

https://example.co

[2022-03-27 15:55] yusufkandemir commented on #12952
Couldn't reproduce it, works correctly:
![image](https://user-images.githubusercontent.com/6266078/160289531-7442c2a5-38ce-48f7-96ce-55fbb2d85e98.png)

Full list of options I've used. I tried both npm and yarn, with Node v12, v14, and v16.
[code]

Make sure you've actually selected Vuex by pressing "space" first, then press enter to continue.
![image](https://user-images.githubusercontent.com/6266

[2022-03-27 15:55] #12952 closed, assigned to nobody

[2022-03-27 16:50] therealcoder1337 commented on #12952
@yusufkandemir You are right. With Node 16.x it works, I was on Node 17.x before and that seems to have caused this weird issue.

[2022-03-27 16:55] yusufkandemir commented on #12952
For reference:

https://nodejs.org/en/about/releases/#releases

Here are the NodeJS versions that are properly supported:
For `@quasar/app-webpack`: Node v12, v14, and v16
For `@quasar/app-vite`: Node v14 and v16

[2022-03-27 17:03] gh81997167 opened #12953 "When using Qbtn in Qcard. The routing cannot be redirected"
### What happened?

The routing cannot be redirected

### What did you expect to happen?

I want the route to jump

### Reproduction URL

https://codepen.io/gh81997167/pen/oNpWbyw

### How to reproduce?

![image](https://user-images.githubusercontent.com/10526983/160292124-c22f2a2c-bf32-425b-8f26-c718f2868228.png)

<template>
  <q-page class="flex flex-center">
    <div class="row justify-start gu

[2022-03-27 17:21] pdanpdan commented on #12953
Please make the codepen work

[2022-03-27 18:41] rstoenescu commented on #12936
Fix will be available in q/app-vite 1.0.0-beta.9 and q/app-webpack v3.4.6

[2022-03-27 18:41] #12860 closed, assigned to yusufkandemir

[2022-03-27 18:43] rstoenescu commented on #12860
Enhancement will be available in q/app-vite 1.0.0-beta.9

[2022-03-27 18:45] rstoenescu commented on #12784
@yusufkandemir ping. u got time for this?

[2022-03-27 19:35] yusufkandemir commented on #12784
- `quasar dev`, `yarn quasar dev`, and `yarn dev`(_custom package.json script_) all work fine in Yarn workspaces(v1.22.17). We've been using it on different projects for a long while. I migrated a project to Vite recently as well, so I know that one works too.
- `quasar info` correctly detects packages and their versions.
- The packages are living inside the root `node_modules` and not the project

[2022-03-27 19:46] hawkeye64 commented on #12784
I'm also having no issues with yarn workspaces. All of my app extensions use yarn workspaces and the docs are quasar projects.

[2022-03-27 19:51] hawkeye64 commented on #7006
I am closing this (again) but tagging @rstoenescu to see if it should be reopened.

[2022-03-27 19:51] #7006 closed

[2022-03-27 21:08] CharlieBrownCharacter opened #12954 "Pinia store loses typing in vite SSR setup"
### What happened?

Whenever we create a new store (or even the default one) in Pinia and import it, the types are lost. Actions, getters and state are completely lost.

### What did you expect to happen?

The Pinia store when imported should still have it's typing just like it has when creating a project via Vue's CLI

### Reproduction URL

?

### How to reproduce?

Create a store:

[code]

Now w

[2022-03-27 21:30] rstoenescu commented on #12872
Should be fixed now.

[2022-03-27 21:30] #12872 closed, assigned to nobody

[2022-03-27 21:58] rstoenescu commented on #12953
@gh81997167 You are probably upgrading from Qv1. The behavior changed.
Instead of `e.navigate = false` just call `e.preventDefault()`.

[2022-03-27 21:58] #12953 closed, assigned to nobody

[2022-03-28 00:02] rstoenescu commented on #12948
Also, make sure that you're not running multiple "quasar dev"s simultaneously. Or at all. Issue the icongenie command when no "quasar dev" command is running.

[2022-03-28 00:03] rstoenescu commented on #12948
Other than this, I tested this multiple times and really nothing changed in a long time on Icongenie that could introduce bugs :/

[2022-03-28 00:07] rstoenescu commented on #12929
We've tested this thoroughly. You're either on an old version or else we need more info like @MilosPaunovic requested above.

My first bet would be that you're still on "@quasar/app" instead of switching to "@quasar/app-webpack" (or even "@quasar/app-vite"). And q/app only knows about Vuex so it's natural to create a Vuex store.
My second bet would be that you still have /src/store along with /src

[2022-03-28 00:07] #12929 closed, assigned to nobody

[2022-03-28 00:39] Daemach commented on #8527
@pdanpdan

[2022-03-28 05:09] gh81997167 commented on #12953
I tried to use it but it still couldn't jump through the route.

[2022-03-28 05:10] gh81997167 commented on #12953
You can try running my sample code

the package.json
![image](https://user-images.githubusercontent.com/10526983/160330445-3f2c626e-89f1-48d6-a760-f8828ffb7a02.png)

[2022-03-28 10:20] Teddir commented on #6566
how to add in react native expo

[2022-03-28 11:39] rstoenescu commented on #12784
@yusufkandemir Not sure what the OP is referring to, but I'm specifically looking into node-packager.js at the hardcoded paths in `isUsed()` method. I might be wrong, but shouldn't a recursive lookup be used instead (just like I'm doing with the quasar.config.js file). If I'm missing something and indeed everything's ok then please close this ticket.

[2022-03-28 12:35] yusufkandemir commented on #12784
@rstoenescu the OP is referring to `quasar dev` not detecting the project folder(_i.e. `lib/app-paths.js > getAppDir()`_). So, it's not about using the correct package manager. `Quasar v1+ project` part in the message is old, it's now referred to as just `Quasar project`, so it might just be about using an old CLI version. So, I am closing this issue, if we get a repro, we can reopen the issue.

A

[2022-03-28 12:35] #12784 closed, assigned to yusufkandemir

[2022-03-28 13:37] rstoenescu commented on #12944
Released vue-cli-plugin-quasar v5.0.1 which has support for Vue CLI v5. https://github.com/quasarframework/vue-cli-plugin-quasar/releases/tag/v5.0.1

[2022-03-28 15:18] CharlieBrownCharacter commented on #12954
@yusufkandemir Let me know if I can do anything else to help you out on this issue

[2022-03-28 15:26] yusufkandemir commented on #12954
@CharlieBrownCharacter I can't reproduce the issue. A repro is always helpful and saves everybody's time as stated in the issue template and the bot's message. You can use a GitHub repo in this case. Logically, I wouldn't expect such an error to be related to Quasar, but we'll see if you provide a repro.

[2022-03-28 16:11] #12954 closed, assigned to yusufkandemir

[2022-03-28 17:29] yusufkandemir opened #12961 "Expose a QNotifyOptions interface for the Notify plugin similar to QDialogOptions"
### Discussed in https://github.com/quasarframework/quasar/discussions/12877

<div type='discussions-op-text'>

<sup>Originally posted by **Basaingeal** March 21, 2022</sup>
The Dialog plugin has a nice `QDialogOptions` interface that I can use if I want to abstract dialog creation into different Vue hooks.

The options for `notify(opts)` are just defined as part of the notification function type,

[2022-03-28 21:52] Richard-Walter commented on #12929
Sorry for the late reply but ive been away the last few days.  As requested here is the output of quasar info:

$ quasar info

Operating System - Windows_NT(10.0.22000) - win32/x64
NodeJs - 14.17.6

Global packages
  NPM - 6.14.15
  yarn - Not installed
  @quasar/cli - 1.3.2
  @quasar/icongenie - Not installed
  cordova - 11.0.0

Important local packages
  quasar - 2.5.5 -- Build high-performance

[2022-03-28 22:08] Richard-Walter commented on #12929
Running this command: quasar new store test  produces this output:

![image](https://user-images.githubusercontent.com/47770368/160495242-321db490-7f7e-4987-9afa-c53f4190aad2.png)

[2022-03-28 22:13] Richard-Walter commented on #12929
As per your docs, the command line to create a pinia store and vuex store are the same:

quasar new store <store_name> [--format ts]
quasar new store <store_name> [--format ts]

How does one differetiate between the two?

[2022-03-29 00:45] TobyMosque commented on #12929
as Razvan said, u would replace your @quasar/app by the @quasar/app-webpack

If u don't wanna do that manually, just run:

[code]

[2022-03-29 02:07] Richard-Walter commented on #12929
Thanks Toby.  That did the trick.   Is @quasar/app-webpack not the default option when creating a quasar project using the cli?

[2022-03-29 04:49] rstoenescu commented on #12929
@Richard-Walter Use the new scaffolding method through:

[code]

Also, make sure that your global installation of `@quasar/cli` is up to date.

It goes without saying, but reading the [release notes](https://quasar.dev/start/release-notes) is very important.

[2022-03-29 04:53] rstoenescu opened #12968 "BEX v3 manifest: "_locale" folder"
### Discussed in https://github.com/quasarframework/quasar/discussions/12928

<div type='discussions-op-text'>

<sup>Originally posted by **ajaxe** March 25, 2022</sup>
Thanks for adding support for v3 manifest when using CLI with vite. I do notice the BEX build does not copy over "_locale" folder. "_locale" folder contains i18n json files required by chrome.i18n API.

Is there a way to extend the

[2022-03-29 05:25] swtanggara opened #12969 "app-webpack error when "quasar build -m bex" after upgrading to @quasar/app-webpack-v3.4.6"
### What happened?

Yesterday I was upgrading to [@quasar/app-webpack-v3.4.6](https://github.com/quasarframework/quasar/releases/tag/%40quasar%2Fapp-webpack-v3.4.6) and [quasar-v2.6.2](https://github.com/quasarframework/quasar/releases/tag/quasar-v2.6.2).

Before upgrading I was able to build BEX and the `dist` directory contains `Packaged` subdirectory which is contains `chrome` and `firefox` sub

[2022-03-29 05:51] rstoenescu commented on #12969
Please downgrade to 3.4.5 until I release the next q/app-webpack version.

[2022-03-29 05:57] rstoenescu commented on #12969
Fix will be available in q/app-webpack v3.4.7

[2022-03-29 05:57] #12969 closed, assigned to rstoenescu

[2022-03-29 06:03] rstoenescu commented on #12871
Shift-tab would do the trick. The "OK" button is set as default go-to for focus.
But I see your point. Will exchange positions of OK with Cancel.

[2022-03-29 06:14] rstoenescu commented on #12871
Fix will be available in Quasar v2.6.3 and v1.18.8

[2022-03-29 06:14] #12871 closed, assigned to nobody

[2022-03-29 06:25] rstoenescu commented on #12968
Thanks for reporting.
Fix will be available in q/app-vite beta.10

[2022-03-29 06:25] #12968 closed, assigned to rstoenescu

[2022-03-29 06:33] rstoenescu commented on #12933
Vite decides these reloads while it discovers your deps. It's outside of our reach.
However, I'll soon update q/app-vite to use Vite 2.9 (it's currently in beta, so when it gets out of the beta). One of the highlights of this release is that they improved the deps management quite significantly, so it'll solve your problem.

PS: I'm on a Mac with M1. Takes about 2.5s to cold start your project wit

[2022-03-29 06:33] #12933 closed, assigned to nobody

[2022-03-29 06:52] swtanggara commented on #12969
Thanks @rstoenescu , will downgrade to 3.4.5 first....

[2022-03-29 06:57] pdanpdan commented on #12871
I've never seen a dialog with the cancel button in the primary position.
https://material.io/components/dialogs#anatomy

[2022-03-29 09:07] jdheeter commented on #6968
I'm seeing the same issue. I'm using Volar (Vetur extension is not installed). Is there a solution for this? maybe copy the .tsconfig.js file to a different directory? How do others in the community solve this issue?
<img width="1233" alt="image" src="https://user-images.githubusercontent.com/2530957/160576181-66da895a-6981-4b78-a927-bec68280c803.png">

[2022-03-29 09:44] rstoenescu commented on #12845
Fix will be available in Quasar v2.6.3.

[2022-03-29 09:44] #12845 closed, assigned to nobody

[2022-03-29 10:47] iliubinskii commented on #12845
Thx for the fix

[2022-03-29 11:20] rstoenescu commented on #12837
Thanks for reporting!
Fix will be available in Quasar v2.6.3 and v1.18.8

[2022-03-29 11:20] #12837 closed, assigned to nobody

[2022-03-29 11:27] rstoenescu commented on #12779
Hi,

There are a thousand attributes that you can specify for any component. When you have an input (like when using `use-input` prop) developers have requested that all the non-props to be passed on to the inner input -- which is what we did. When you're not using an input, it doesn't makes any sense to use "required" (as in "required" applied to what?).
But the main point: if you want validation

[2022-03-29 11:27] #12779 closed, assigned to nobody

[2022-03-29 12:05] rstoenescu opened #12974 "Send message not working: content-script <---> dom (Manifest v3)"
### Discussed in https://github.com/quasarframework/quasar/discussions/12947

<div type='discussions-op-text'>

<sup>Originally posted by **mdedirudianto** March 27, 2022</sup>
I tried new version of Quasar CLI BEX using manifest v3. It looks like that connection between content-script and dom has broken. Working fine with older version of Quasar webpack and BEX manifest v2. Please find my codes b

[2022-03-29 12:19] rstoenescu commented on #9405
I now realize that the initial code was correct. The `payload` is a MessageEvent and it is an Object with number keys and from key too. It wasn't a mistake. Reverting changes as it broke communication completely.

<img width="355" alt="image" src="https://user-images.githubusercontent.com/4665641/160609540-2f8f7f98-7bcc-4acd-80cd-770e0a2eae08.png">

[2022-03-29 12:22] rstoenescu commented on #12974
Fix will be available shortly in q/app-vite 1.0.0-beta.10 and q/app-webpack 3.4.7

[2022-03-29 12:22] #12974 closed, assigned to rstoenescu

[2022-03-29 12:54] Shinigami92 commented on #2105
@cdnrg-rt There is no `content-class` anymore
Do you have a new working example?
I need an arrow-left

[2022-03-29 13:44] customautosys commented on #12948
For real it had the same problem again. This time I explicitly did a cordova platform add android before running icongenie.

![bildo](https://user-images.githubusercontent.com/14951259/160625180-64fbac00-c470-49ef-a5e7-eea75f03fb2f.png)

Not sure if this is a Quasar CLI Vite specific problem or whether it is to do with the options I passed in: --theme-color 1D1D1D --skip-trim

Was not running dev

[2022-03-29 13:48] onurkose commented on #12784
@rstoenescu @yusufkandemir

I found the problem, though I'm not sure if it's a bug or not.

Somehow, running the quasar commands in a vite project folder was using `@quasar/app`, instead of `@quasar/app-vite`.

I have two legacy projects within the same workspace that uses `@quasar/app` project rather than `@quasar/app-webpack`, and since its `lib/app-path.js` was trying to find `quasar.conf.js`,

[2022-03-29 15:08] namespace-github opened #12976 "QSelect - Popup opens when chips deleting with removeAtIndex() in multiple-mode"
### Description

Using Quasar 2.6.2

The  "removeAtIndex"-method in the following example triggers the opening of the popup.

[code]

If i remove this method with only "@click.stop" then the click-action do not trigger the popup

### Documentation Section URL

https://quasar.dev/vue-components/select#qselect-api

### Flavour

_No response_

### Areas

Components (quasar)

[2022-03-29 16:34] qxygene opened #12977 "Select filter no result label"
### What happened?

https://user-images.githubusercontent.com/2819611/160661185-6876d43a-5def-43f3-87ef-f9f319b4e08c.mp4

When clicked on no result and blur, input didnt removed.

### What did you expect to happen?

input should be removed.

Code

[code]

### Reproduction URL

https://codepen.io/rstoenescu/pen/xxEvBLR

### How to reproduce?

i uploaded a video

### Flavour

Quasar CLI with Webpack

[2022-03-29 16:42] MilosPaunovic commented on #12977
Nowhere it says it's clickable, so it kinda isn't a bug. You can utilize `no-option` slot and clear input yourself on click.

[2022-03-29 17:58] qxygene commented on #12977
so the filter keyword should be removed on blur if there is no match.

[2022-03-29 18:01] qxygene commented on #12977
https://user-images.githubusercontent.com/2819611/160675811-b8142bc9-754f-4c65-a105-bdb56c269f4d.mp4

when you click no result and blur it is still there so is it a bug i think.

[2022-03-29 18:04] MilosPaunovic commented on #12977
You can achieve all that by utilizing the `no-option` slot.

[2022-03-29 18:06] qxygene commented on #12977
https://vuetifyjs.com/en/components/autocompletes/ Can't you fix it like it is in here ?

[2022-03-30 00:46] yahao87 opened #12981 "Virtual scroll must have activated and deactivated states."
### What happened?

If you scroll slightly from the top of the screen while virtual scroll is deactivated keep-alive, the scrolling behaves strangely.
I found it in Quasar v1 and so is v2.

### What did you expect to happen?

When deactivated, there should be no events.

### Reproduction URL

https://codesandbox.io/s/quasar-virtual-scroll-bug-1owlfk?file=/src/pages/Index.vue

### Flavour

Quasar C

[2022-03-30 02:21] gh81997167 commented on #12953
OK，Thanks

[2022-03-30 06:41] pdanpdan commented on #12981
Very good catch, thank you.

[2022-03-30 06:48] rstoenescu commented on #12981
Fix will be available in v2.6.3 and v1.18.8

[2022-03-30 06:48] #12981 closed, assigned to nobody

[2022-03-30 07:47] hendrik-schneider commented on #12976
I can limit the Problem to the fact, that the popup opens only if the last of all chips being removed.

Here is an example of the Problem.

[https://codepen.io/2425273039/pen/mdpMewZ?editors=101](https://codepen.io/2425273039/pen/mdpMewZ?editors=101)

[2022-03-30 08:27] tzah commented on #12433
Try to install it manually.
run in project root this command:
npm i autoprefixer

[2022-03-30 08:53] jornhd opened #12986 "Error in getting started doc - config not set"
### Description

In the Getting started page, under Vite plugin for Quasar:
When following the exact instructions, you'll get the error: `Cannot read property 'config' of undefined` when trying to use a component.
After hours of googling, trying and failing I discovered that I needed to add an empty config object in the app.Use Quasar option.
So instead of having this in main.js:
[code]
It should

[2022-03-30 09:36] pdanpdan commented on #12976
Also add .prevent
https://codepen.io/pdanpdan/pen/MWrvyGa?editors=1000

[2022-03-30 09:41] hendrik-schneider commented on #12976
That works! Thank you.

[2022-03-30 09:42] #12976 closed, assigned to nobody

[2022-03-30 12:37] mariopries commented on #11120
the same problem here

[2022-03-30 16:13] paya-cz commented on #7522
This would be a great feature. Many competing frameworks support this:

- [Vuetify](https://vuetifyjs.com/en/components/data-tables/#multi-sort)
- [Buefy](https://buefy.org/documentation/table#sorting-multiple)
- [PrimeVue](https://www.primefaces.org/primevue/#/datatable/sort)

I particularly like how the Buefy implementation allows the user to easily remove a particular column from the sort by cl

[2022-03-30 17:12] rstoenescu commented on #12986
Not sure what you tested, but you don't need that.
I just tested it. Then I also look at the code again. You don't need it...

Attaching a project folder which follows the guide on https://quasar.dev/start/vite-plugin to the letter.
Your problem must come from somewhere else.

[my-vue-app.zip](https://github.com/quasarframework/quasar/files/8382667/my-vue-app.zip)

[2022-03-30 17:12] #12986 closed, assigned to nobody

[2022-03-30 17:32] rstoenescu commented on #12948
Will test this one more time, but not very confident I can reproduce what you're saying :(

[2022-03-30 19:06] syldman opened #12993 "q-popup-edit. v-slot:title isn't working"
### What happened?

**title** slot on q-popup-edit doesn't work.

The docs show an example with **title** slot, and the **title** slot doesn't work there too (check 'Calcium' column)
https://quasar.dev/vue-components/popup-edit#with-qtable

### What did you expect to happen?

trying to use v-slot:title to edit title class/style

### Reproduction URL

https://quasar.dev/vue-components/popup-edit#wi

[2022-03-30 20:17] kalvenschraut opened #12994 "Fixed header with reveal prop doesn't reshow itself on page navigation while loading plugin is active"
### What happened?

When scrolled down on a page with the fixed header hidden due to the reveal prop and clicking on a link that navigates to another page. If the page has a q loading plugin active then the header will not reappear. This is occuring do the fact the q loading plugin sets qScrollPrevented to true. If qScrollPrevented is true when the onPageScroll function is called in QLayout via th

[2022-03-30 20:27] kalvenschraut commented on #12994
Stack blitz should be an allowed place for a repro.... exported it to github I Guess

[2022-03-30 20:40] kalvenschraut commented on #12994
My solution would be adding the data.position.top !== scroll.value.position to the if check OR just remove document.qScrollPRevented !== true completely, but I don't know what this all would affect. I can make a PR if needed

[code]

[2022-03-30 22:34] metalsadman commented on #12993
@syldman there's no slot `title` but a prop, nor other slot other than the `default`.

[2022-03-30 22:40] metalsadman commented on #12977
@qxygene working fine in these examples https://quasar.dev/vue-components/select#example--filtering-options

please provide a reproduction.

[2022-03-30 23:01] #12949 closed, assigned to nobody

[2022-03-30 23:05] #12880 closed, assigned to nobody

[2022-03-31 06:47] danbars opened #13001 "vue-demi inside app-extension dependency does not work"
### What happened?

I'm building a Quasar app extension.
Everything worked fine, until I added dependency on `@vuelidate/core` which depends on `vue-demi`.

When I try to run the dev-folder, I get the error:
`Module not found: Can't resolve imported dependency "@vue/composition-api/dist/vue-composition-api.mjs"`

I'm using quasar2 / vue3 so I'm not supposed to install that dependency.
When using V

[2022-03-31 07:23] qxygene commented on #12977
No it is same issue there, type to filter 123 then click at no
result once then click outside.

On Thu, 31 Mar 2022 at 01:41, Aldrin Marquez ***@***.***>
wrote:

[2022-03-31 07:24] qxygene commented on #12977
https://pasteboard.co/8A3QnoVp0yEe.png

On Thu, 31 Mar 2022 at 10:22, Serkan Tosun ***@***.***> wrote:

[2022-03-31 07:40] qxygene commented on #12977
https://user-images.githubusercontent.com/2819611/161003318-e438c54a-bd24-439e-be2a-aa790b8590c1.mp4

[2022-03-31 07:41] qxygene commented on #12977
it acts like i selected an option.

[2022-03-31 08:35] MilosPaunovic commented on #12977
[https://codepen.io/milospaunovic/pen/ExovBYm?editors=1011](https://codepen.io/milospaunovic/pen/ExovBYm?editors=1011)

[2022-03-31 10:57] #12961 closed, assigned to yusufkandemir

[2022-03-31 12:10] HannesOberreiter commented on #12786
Problem seems to fixed with https://github.com/quasarframework/quasar/pull/12978

Thanks!

[2022-03-31 12:10] #12786 closed, assigned to nobody

[2022-03-31 12:15] rstoenescu commented on #12993
@syldman

Thanks for reporting the error in the docs example. The "title" slot was removed in Qv2 but somehow this example wasn't updated fully. Fixed it and will be available in next docs deployment.

Main idea is: write your custom title directly in the default slot or use the "title" prop. For reference:

[code]

[2022-03-31 12:15] #12993 closed, assigned to nobody

[2022-03-31 12:16] rstoenescu commented on #12786
@HannesOberreiter indeed. forgot to mention it here too.

[2022-03-31 13:17] damms005 opened #13007 "Error on launch of Electron app"
### What happened?

After finishing development and everything working fine, I built for Windows and Linux. However, both executable throw the same exceptions at launch: **Uncaught Exception: Error: Cannot find module 'semver'**

It seems it is an Electron issue though, so I [opened an issue there too](https://github.com/electron/electron/issues/33558)

However, I am putting it here too, perhaps I

[2022-03-31 14:34] Elvirarp92 commented on #6569
Bumping this again to agree with the posters who consider a default `q-autocomplete` component to be essential. Could we make our our wrapper components? Sure, we could. But autocompletes are very common and it baffles me that we have to reinvent the wheel individually, particularly when most frameworks and component libraries include their own autocomplete components.

The "we can't cater to each

[2022-03-31 14:37] pdanpdan commented on #6569
It is niche - in what are you searching (do you use an object, a simple string, ...), case sensitive/insensitive, search from start or anywhere - you already need a function that has at least 6 branches

[2022-03-31 14:39] Nisgrak commented on #12871
This change needs to be a MAJOR version, this is almost a breaking change...

Anyway this not looks good in a Dialog, even the Material spec says the accept button must be in rigth like @pdanpdan says:
![image](https://user-images.githubusercontent.com/19597708/161081757-d8d9570c-068e-4bfa-87cb-8ea07c1eac33.png)

[2022-03-31 14:56] Elvirarp92 commented on #6569
Yeah, I think I understand your perspective. You're saying that accounting for every scenario can result in a bloated component, while my argument hinges in the ubiquity of autocompletes as an UX pattern. So, we're arguing about different things, in a way.

A cursory googling doesn't show me app extensions for autocomplete components, which I find surprising. There's [this](https://github.com/hear

[2022-03-31 14:59] qxygene commented on #12977
nice solution

[2022-03-31 16:55] vandelpavel opened #13012 "q-chips can't react to @click event"
### What happened?

Created a q-chip and tried to do something when clicked

### What did you expect to happen?

Execute the function

### Reproduction URL

https://codesandbox.io/s/rough-dust-0g9i6n?file=/src/pages/Index.vue

### How to reproduce?

Gust declare a q-chip, and try to execute a function reacting to the @click event

### Flavour

Quasar CLI with Webpack (@quasar/cli | @quasar/app-web

[2022-03-31 16:57] rstoenescu opened #13013 "q/app-vite: Report when lint error/warning has been fixed"
### Discussed in https://github.com/quasarframework/quasar/discussions/12982

<div type='discussions-op-text'>

<sup>Originally posted by **jdheeter** March 30, 2022</sup>
During development while running the Vite Dev server it's normal for the dev server to pick up some invalid code and throw an error like `vite] Internal server error: Transform failed with 1 error:`

The problem is that after th

[2022-03-31 16:59] #13013 closed, assigned to nobody

[2022-03-31 17:00] rstoenescu commented on #13013
Will be available in q/app-vite beta.12

[2022-03-31 17:02] rstoenescu commented on #13012
`<q-chip clickable @click="...`
You forgot about the "clickable" prop.

[2022-03-31 17:02] #13012 closed, assigned to nobody

[2022-03-31 20:19] Razi91 commented on #8350
Okay, now I need it for V2, so I did it for V2. I just need some tips, about design and code style.
First, the example `data-table-part8-expanded` (https://github.com/quasarframework/quasar/blob/dev/ui/dev/src/pages/components/data-table-part8-expanded.vue)
In my branch it looks like this:
[code]
Props are the same as for `v-slot:body`.

About QTable.js, in `getTBodyTR`:

[code]
I'm not sure if it

[2022-03-31 21:30] damms005 commented on #13007
Deleting node_modules, package.json, and running `npm i` fixed this

[2022-03-31 21:30] #13007 closed, assigned to nobody

[2022-04-01 06:32] frodronn opened #13019 "QEditor: Uncaught TypeError: Cannot read properties of null (reading 'contains')"
### What happened?

In QEditor, when the input field is focused and editor is unmounted e.g., by a click outside, an error occurs:

![image](https://user-images.githubusercontent.com/58413819/161206714-154a6f2d-e1b0-43ea-9c8c-d1631fd8ac63.png)

Related / similar problem? -> https://github.com/quasarframework/quasar/issues/11272

Tested latest on quasar@2.6.4

### What did you expect to happen?

Ex

[2022-04-01 07:51] vandelpavel commented on #13012
Missed that, thanks!

[2022-04-01 09:30] rstoenescu commented on #12871
Working on another fix rather than switching buttons order, but in the meantime we can't leave out important functionality.

[2022-04-01 10:33] Diesmo opened #13021 "Q-Table grid mode styling bug with selection enabled"
### What happened?

Selecting an grid item (clicking the checkbox) in a Q-Table in gridmode with enabled selection-model makes the selected grid items wider.

### What did you expect to happen?

The grid item to not get wider after selecting it.

### Reproduction URL

https://codepen.io/Diesmon/pen/dyJVgRO

### How to reproduce?

1. Go to the codepen
2. Click any checkbox of a card/grid-item
3. Se

[2022-04-01 10:35] Diesmo commented on #13021
Forgot to add that the codepen is running Quasar v2.6.4, which should be the latest.

[2022-04-01 11:04] onursezn commented on #12887
[code]
Currently I am using "@quasar/app": "^3.0.0". Fix says to install 2.2.12. When I downgrade quasar/app to 2.2.12, I get way more vulnerabilities. Are there any versions newer than 3.0.0 does have minimist 1.2.6?

Thanks.

[2022-04-01 11:26] MilosPaunovic commented on #12887
Package `@quasar/app` diverged to `@quasar/app-vite` and `@quasar/app-webpack`. Run commands below for the CLI to handle updates for you.

[code]

[2022-04-01 11:38] onursezn commented on #12887
Hi Milos,

I have run the suggested commands. Quasar, quasar cli, quasar extras are updated however I still get the **minimist** error when I run `npm audit`. It still suggests downgrading the quasar/app to  2.2.12.

Below is my `npm list`
[code]

[2022-04-01 12:03] rstoenescu commented on #12887
@onursezn run `quasar upgrade -i` inside of your q/app v3 folder. it'll upgrade it to the newer q/app-webpack. You're definitely not running q/app-webpack.

[2022-04-01 12:04] #13019 closed, assigned to nobody

[2022-04-01 12:05] rstoenescu commented on #13019
Fix will be available in Quasar v2.6.6

[2022-04-01 12:05] #13021 closed, assigned to nobody

[2022-04-01 12:06] rstoenescu commented on #13021
Fix will be available in Quasar v2.6.6

[2022-04-01 14:31] jumpapex opened #13023 "tree component: tick checkbox not show with lazy loading if no leaf loaded"
### What happened?

A tree component combine both tick strategy(leaf) and lazy loading, when no leaf node loaded, the checkbox will not be shown.

### What did you expect to happen?

the checkbox will be shown anyway if tick strategy is enabled

### Reproduction URL

https://codepen.io/jumpapex/pen/zYpEXKa

### How to reproduce?

just browse Reproduction URL

### Flavour

Vite Plugin (@quasar/vite

[2022-04-01 15:20] GregorioLopezO commented on #3360
Hi, Hamedamz.

Did you find the solution for adding common funcionality to the `preFecht `hook of several route components?

[2022-04-01 15:54] kael-k opened #13025 "QSelect breaks Content-Security-Policy, forcing to use `style-src "unsafe-inline"`"
### What happened?

Clicking on `QSelect` component (and probably many more which use `useVirtualScroll`) will generate an error on CSP.

Reversing the code I understood that when the user click on QSelect,
it will trigger `useVirtualScroll` from `quasar/src/components/virtual-scroll/use-virtual-scroll.js` which eventually
will trigger `setOverflowAnchor`.

`setOverflowAnchor` will add a `style` e

[2022-04-01 18:27] softbeehive opened #13027 "@quasar/vite-plugin@1.0.8 vite:css Undefined variable $primary"
### What happened?

### Conditions
I've just upgraded to latest `@quasar/vite-plugin@1.0.8`.
SCSS variables in `index.scss` that worked in 1.0.7 are not defined now.

### Error
[code]

**vite.config.ts**
[code]

**index.scss**
[code]

**main.scss**
[code]

### What did you expect to happen?

SASS/SCSS variables loaded automatically. I downgraded to 1.0.7 and tested it, sass variables are injected

[2022-04-01 19:32] Daemach opened #13029 "wrapCsvValue fails for exportTable if format function uses a row in the calculation."
### What happened?

One column definition for my table looks like this:

[code]

It's important that the row element be there for display purposes.  But because the row isn't passed to wrapCsvValue, it fails with the error below when trying to export to a spreadsheet.  I suspect this affects Qv2 as well.

![image](https://user-images.githubusercontent.com/12553953/161329186-8ebf1852-b741-430c-aeca

[2022-04-01 23:31] rstoenescu commented on #13029
Hi,

This is not a Quasar issue, so it should have rather been a discussion on "how to adapt one example from Quasar docs to my specific use-case".

So that's what you need to do. Adapt the example to your needs:

[code]

And then call `wrapCsvValue()` with an additional param: the `row` that you need:

[code]

[2022-04-01 23:31] #13029 closed, assigned to nobody

[2022-04-01 23:40] rstoenescu commented on #13027
For performance reasons, we check if the initial scss/sass file contains any variables. And then and only then we inject the variables, otherwise we'd need to inject the variables for all the files whether they use it or not, which degrades performance. And unfortunately, we can only inspect the initial scss/sass file -- and not follow the chain of what other files are imported and if those use th

[2022-04-01 23:59] pdanpdan commented on #13025
Do you know of any solution for this? The css is dynamic and cannot be pre-generated.

[2022-04-02 03:56] therealcoder1337 commented on #12933
thank you for your work!
this issue improved somewhat with the latest releases, but it still exists. the DX is just much slower compared to the webpack variant.  sure, starting the dev server is much quicker, but navigating the app is overall slower and more annoying.
does quasar plan to support webpack long term? because i am thinking about switching back from vite to webpack, if so.

[2022-04-02 08:45] BenJackGill opened #13036 "When a QTable `columns` prop has the `align` set to `'left'` or `'right'` or `'center'` it throws a TypeScript error"
### What happened?

When a QTable `columns` prop has the `align` set to `'left'` or `'right'` or `'center'` it throws this TypeScript error:

[code]

The `align` property of `QTableProps.columns` is typed as `align?: "left" | "right" | "center" | undefined;` which looks correct. So I have no idea why this is happening.

### What did you expect to happen?

No TypeScript error should be showing.

##

[2022-04-02 09:53] MilosPaunovic commented on #13036
Check if this can help you: [https://github.com/quasarframework/quasar/issues/12868](https://github.com/quasarframework/quasar/issues/12868)

[2022-04-02 13:25] Daemach commented on #13029
I appreciate your taking the time to show me this.  I'm likely not the only person that is going to run into this situation, and you lose nothing by making this change centrally.  Why not include this in the codebase to prevent the next guy from having to puzzle through or seek out this solution?

[2022-04-02 16:02] rstoenescu commented on #12933
@therealcoder1337 yes, q/app-webpack and q/app-vite are both long term packages.

[2022-04-02 16:10] rstoenescu commented on #13029
@Daemach done. would appreciate some help PRing stuff like this as it allows us to focus on the core things.

[2022-04-02 16:21] Daemach commented on #13029
@rstoenescu you make a good point.  I'll do that next time.

[2022-04-02 18:14] rowild commented on #6775
If I may add my 2 cents:
There are some videos and tutorials out there that add style attributes to components (e.g. `style="max-width: 700px"`). I find this very confusing since over the past decade we all were drilled to NOT using the style attr. (At least not manually, instead leave it to JS.)
It would be a whole lot nicer to add a class attribute and utility classes, for which tailwind is exce

[2022-04-02 18:20] yusufkandemir commented on #13036
#### Explanation of the TS behavior

If you hover over `columns` in your definition, you will see that it shows `align` as `string` instead of a specific string. TypeScript narrows down regular strings unless you use a const assertion(e.g. `'center' as const`).
[code]

### Solution

See https://github.com/quasarframework/quasar/issues/12868#issuecomment-1073351910 for details.
[code]

[2022-04-02 18:20] #13036 closed, assigned to nobody

[2022-04-02 19:21] kael-k commented on #13025
The problem is that the CSS is dynamically generated. The CSP rules are made to force the browser to load trusted sources (css/js and more) only. So if you try to generate CSS and inject it in the DOM with a new `<style>` you are breaking the very purpose the rule is made for.

One possible solution is to store the rule in a class and then on `setOverflowAnchor` you remove the class from the previ

[2022-04-03 00:07] BenJackGill commented on #13036
Hi thanks for the help.

Unfortunatley this did not work for me, it was showing the same error as before:
[code]

But this other solution did work, which was found in the comment you linked:
[code]

[2022-04-03 08:26] Liwoj commented on #13027
Hi there!
I'm not sure I fully understand the issue or the response but I'm also affected...just in different way.
I'm not getting any compilation error. Instead my app is rendering as if there were no Quasar variable overrides (and I'm still able to use Quasar variables in Vue SFC `<style>` blocks)

I'm using (as far as I understand) standard Vite setup described in the [docs](https://quasar.dev/

[2022-04-03 12:04] cayaner opened #13045 "Building for production starts with "Cleaned build artifact: dist/spa""
### What happened?

When building build process it starts with deleting all pervious build files and folders, if build fails for some reason app will be down until the next successful build.

### What did you expect to happen?

dist folder remain untouched when build starts, my be building new build in temp folder then moving it's content inside dist folder once build is successful.

### Reproduct

[2022-04-03 12:07] rstoenescu commented on #13027
Hmm, rather than seeing the pain above, decided to always include the variables regardless if they are needed or not.
Will publish q/vite-plugin v1.0.9 in a few minutes.

[2022-04-03 12:07] #13027 closed, assigned to nobody

[2022-04-03 12:08] Hashen110 commented on #13025
One solution is to set the [nonce](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/nonce) attribute

[2022-04-03 12:16] mila76 commented on #6775
Simple Unocss example of a preset that can make some quasar utility class

`

    theme: {
      colors: {},
      size: {
        xs: '4px',
        sm: '8px',
        md: '16px',
        lg: '24px',
        xl: '48px',
      },
    },
    rules: [
      ['no-shadow', { 'box-shadow': 'none' }],
      ['q-ma-auto', { margin: 'auto' }],
      ['q-pa-auto', { padding: 'auto' }],
      [/^q-m[xy]-(\d

[2022-04-03 12:16] pdanpdan commented on #13045
It's not expected to serve live files from the build folder :)
copy the files in production when all is well.

[2022-04-03 12:35] rowild commented on #6775
@mila76 How do you get unocss working in quasar at all? (I mean with the new vite feature of the quasar cli.) Where do you import unocss and define presets and attributify?

[2022-04-03 14:48] danbars commented on #13001
Is there anything that I can do to help reproducing it?
I know that git link is not ideal, but I couldn't make a codepen for this due to the nature of the project.

[2022-04-03 15:01] kael-k commented on #13025
I do not think is a viable way: as the docs you linked says:

For SPA and PWA, it is not possible to generate without adding some "somewhat-hacky" layer to generate the nonce, dynamically inject it into the already-built project and send the CSP header per-request.

Edit: why you should change the nonce for every request https://stackoverflow.com/a/65769444

[2022-04-03 15:49] mila76 commented on #6775
Yes i just do it (my previous test is with the vite plugin only)
Here a quick guide:
`npm i -D unocss`
`quasar new boot unocss`
in src/boot/unocss.js `import "uno.css";`
in quasar.config.js `boot: ["unocss"]` and under build section `vitePlugins: [["unocss/vite", {}]]`

[2022-04-03 16:14] MilosPaunovic commented on #13001
You could create a minimal reproduction repo and make it public, so someone could investigate a bit further.

[2022-04-03 16:46] rowild commented on #6775
@mila76 Thank you for your quick response! I tried that, but `unocss` does not seem to work. At least a standard class like `ma4` does not generate any CSS, when looking into Chrome's devTools

I'm also trying to understand how to implement `themes`(as you post them) and how to activate `attributify`. I put this in quasar.config.js > build options:

[code]

but nothing happens. This is definitely

[2022-04-03 17:22] mila76 commented on #6775
I make a simple [repo](https://github.com/mila76/quasar-vite) for you
I'm not sure how to fully expand because you can't put inport on config file

[2022-04-03 17:58] rowild commented on #6775
@mila76 Signore, sei fantastico, grandioso e molto gentile!!! I create y "my-border" class to check, whether it works - and it does!

Most important question: How can I buy you a coffee??? I didn't find anything! If there is a link where I can do so, please post it or send it to robertwildling@gmail.com - really, please do so!

So many questions, though:
- "attributify" is not yet activated - do y

[2022-04-03 18:36] mila76 commented on #6775
update my [repo](https://github.com/mila76/quasar-vite) to use Attributify Mode
default preset have windi/tailwind
`import "uno.css"` is the main entry for unoCss (view unoCSS docs) where the generated css go

[2022-04-03 18:42] rowild commented on #6775
@mila76 Again thank you very much! I learned a lot thanks to you!
As mentioned before: Please let me know how I can buy you a coffee!

[2022-04-03 19:17] janjas92 commented on #12449
@aryan1107  do you resolve this problem?

[2022-04-03 19:40] janjas92 commented on #12449
For everyone who has this problem. I add param name to the platform param in config.xml which is located in src-cordova.
![obraz](https://user-images.githubusercontent.com/16246374/161445179-1078e05f-1bee-47c4-8f9e-4a29bb601030.png)

 I think this problem is with icongenie?

[2022-04-03 19:51] janjas92 commented on #12948
I was the same problem. I was created two example projects (first on vite cli and second on webpack). On this two projects i had the same problem . So to resolve this i added param name="android" to param platform
![obraz](https://user-images.githubusercontent.com/16246374/161445516-69aee6b6-0e98-4298-8172-b90da46da157.png)

[code]

[code]

[2022-04-03 22:00] rstoenescu commented on #13045
Hi,

The way this generally gets done is to build the project in one place then copy over the distributables to the live server. And not serve directly from the folder where the project is being built. Even if, for some strange reason, we don't clean up the dist folder before a build, you'll end up with lots of unused files over time (as file hashes keep on changing where files were modified). But

[2022-04-03 22:00] #13045 closed, assigned to nobody

[2022-04-04 01:25] Apollo314 opened #13053 "Qtable wrongly appends q-table__grid-item--selected class"
### What happened?

When you select rows in grid mode, quasar appends selected class without space. which breaks col-lg-3 class and itself.

![image](https://user-images.githubusercontent.com/29009961/161457976-5e430191-6959-482b-a28c-232fffeeea39.png)

### What did you expect to happen?

the class should be appended with a space in between.

### Reproduction URL

https://codesandbox.io/s/boring-p

[2022-04-04 05:14] MilosPaunovic commented on #13053
Duplicate [https://github.com/quasarframework/quasar/issues/13021](https://github.com/quasarframework/quasar/issues/13021).

Fix will be available in Quasar v2.6.6

[2022-04-04 08:55] #13053 closed, assigned to nobody

[2022-04-04 13:08] pdanpdan commented on #13025
Don't ask for the same thing for morph :)

[2022-04-04 13:27] petr-panek commented on #12486
I had a same problem.
Thank you @TonyMale for solution.

[2022-04-04 17:01] rstoenescu commented on #13025
Fix will be available in Quasar v2.6.6

[2022-04-04 17:01] #13025 closed, assigned to nobody

[2022-04-04 17:22] #12486 closed, assigned to nobody

[2022-04-04 20:29] paya-cz commented on #11090
If I try this with the [example from documentation](https://quasar.dev/vue-components/uploader#example--custom-header), I am still seeing typescript errors for other scope properties such as:

- queuedFiles
- uploadedFiles
- isUploading
- canAddFiles
- canUpload

The error I am seeing reads:
`Property 'canUpload' does not exist on type 'QUploader'.`

quasar - 2.6.5

[2022-04-04 23:25] KINGER404 opened #13063 "QCheckbox with icon placed in QBtn"
### What happened?

The icon in the Qcheckbox that is placed in the QBtn becomes very large

### What did you expect to happen?

Standard icon size

### Reproduction URL

https://codepen.io/kinger404/pen/oNppJyJ?editors=101

### How to reproduce?

Just open link

### Flavour

Quasar CLI with Webpack (@quasar/cli | @quasar/app-webpack)

### Areas

Components (quasar)

### Platforms/Browsers

_No re

[2022-04-04 23:32] KINGER404 commented on #13063
The same problem for the QRadio, the solution is the same as for the QCheckbox

[2022-04-05 14:54] yusufkandemir commented on #11222
First-party Pinia support is released in [@quasar/app-vite-v1.0.0-beta.1](https://github.com/quasarframework/quasar/releases/tag/%40quasar%2Fapp-vite-v1.0.0-beta.1) and [@quasar/app-webpack-v3.4.0](https://github.com/quasarframework/quasar/releases/tag/%40quasar%2Fapp-v3.4.0). It's been available for almost a month now, so I am closing this issue. Thanks for the feature request!

[2022-04-05 14:54] #11222 closed, assigned to nobody

[2022-04-05 21:23] dev31337 opened #13088 "Quasar v1.18.9 QDialog focus bug"
### What happened?

Hi,

The change you made in v1.18.9 for QDialog messes up the focus for my app.

When a QDialog is shown the first QInput is no longer focused anymore but the close button (X) of the QDialog is focused instead.

Let me know if you need more information from me.

Regards.

### What did you expect to happen?

Leave the focus as it was before v1.18.9.

### Reproduction URL

https:

[2022-04-05 23:12] dev31337 commented on #13088
Sorry I tried to reproduce it in Codepen and I'm unable to do it.

Here is the link to the code:

https://codepen.io/Zikey/pen/WNdMdjb?editors=101

In my app the close button is focused (instead of the qinput) when the dialog opens, while it does not in v1.18.8.

The solution would be to make the close button non-focusable (tabindex="-1") but in that case the dialog could not be closed with the ke

[2022-04-05 23:20] dev31337 commented on #13088
I found the commit, currently working on it, please leave this issue opened until I finished analyzing it.

(https://github.com/quasarframework/quasar/commit/3766aab473e212911de177121acacfe6ad748aed)

[2022-04-05 23:45] dev31337 commented on #13088
I found the issue but I need some help to understand why it happens.

The issue happens because of this change:

[ui/src/components/dialog/QDialog.js](https://github.com/quasarframework/quasar/commit/3766aab473e212911de177121acacfe6ad748aed#diff-2fe072bf8a98d216be2be8e5b6de0016c65a93fa233cab03a32d674b46f2775b)

-      this.focus()
+      this.focus('[tabindex]:not([tabindex="-1"])')

This change m

[2022-04-05 23:54] dev31337 commented on #13088
Sorry for this long thread I will summarize it for the sake of clarification.

The change in v1.18.9 about the selection of the focused element in a QDialog has a side effect when the QDialog has a close button.

The side effect is that the close button becomes focused instead of the first element with "autofocus" in the QDialog.

[2022-04-06 00:00] dev31337 commented on #13088
I was able to overcome the issue while respecting the idea behind the initial commit/modification by doing the following change that I would like to submit:

[ui/src/components/dialog/QDialog.js](https://github.com/quasarframework/quasar/commit/3766aab473e212911de177121acacfe6ad748aed#diff-2fe072bf8a98d216be2be8e5b6de0016c65a93fa233cab03a32d674b46f2775b)

line 162:
 node = node.querySelector(selec

[2022-04-06 08:04] rstoenescu commented on #13063
QCheckbox/QRadio in QBtn makes no sense. Use them separately.
Or if you actually want a button, then make the icon dynamic (`:icon="condition ? 'this_icon' : 'that_icon'`)

[2022-04-06 08:04] #13063 closed, assigned to nobody

[2022-04-06 08:13] rstoenescu commented on #13088
Hi,

The main point was to try the to focus on the first autofocusable element when opening the dialog, then when TABBing through to allow reaching every element.

Your changes not only won't allow this, but they contain problems. `'[autofocus], [data-autofocus]' || selector` will always evaluate to the first string, so the "or" operation is worthless. But more than this, when the dialog is spawne

[2022-04-06 09:00] Sotiris-Bekiaris opened #13093 "QCheckbox/QToggle/QRadio not rendering label element"
### What happened?

When testing a Quasar project, with the Web Accessibility Evaluation tool (WAVE), that contains QCheckbox/QToggle/QRadio components, fails with **Missing form label** errors.

### What did you expect to happen?

Using the components and their attributes correctly it should pass the test without errors.

### Reproduction URL

https://codesandbox.io/s/qradio-demo-for-wave-error-y

[2022-04-06 09:01] Sotiris-Bekiaris commented on #13093
@pdanpdan

[2022-04-06 12:17] yusufkandemir opened #13095 "Editing a QInput with a mask forces the cursor to move to the end"
### What happened?

When editing a QInput that has `mask` prop set, entering valid input forces the cursor to move to the end, making it really hard to edit inputs.

### What did you expect to happen?

It should not force move the cursor to the end, but move the cursor one by one as it does in v1 and v2.5.5.

### Reproduction URL

https://codepen.io/yusufkandemir/pen/MWrQxqN

### How to reproduce?

[2022-04-06 12:48] dev31337 commented on #13088
You do realize that your modification [this.focus('[tabindex]:not([tabindex="-1"])')] implies that the focus is given to the first item with a tabindex not equal to -1 and thus implicitly ignores/overrides the item with autofocus attribute ?

It's your code and I can not argue with it but I strongly believe that this is a mistake. (not respecting the HTML autofocus attribute)

For us we will simpl

[2022-04-06 12:53] pdanpdan commented on #13093
Ty, I'll take a look at this

[2022-04-06 19:06] CurryAyam commented on #8513
any solution for this problem? i'm getting the same issue with the vite version!

[2022-04-06 19:20] rstoenescu commented on #13088
@dev31337

I feel compelled to explain the algorithm given your comments above, because I think that you are missing one key point. You may see focus(tabindex) but you need to understand in which case this is run.

When the dialog gets shown, the default focus() is called without any params, **so it does what it has always done**, which is use the autofocus selector. Then, when user is TABBing thr

[2022-04-06 19:33] rstoenescu commented on #13088
You can zip a project folder (without node_modules in it) or fork https://codesandbox.io/s/github/quasarframework/quasar-codesandbox/tree/legacy-v1

[2022-04-06 20:01] dev31337 commented on #13088
Thank you for your very detailed explanation, I understand now the point of your modification, its important purpose and when it is supposed to happen.

I can assure you that for a reason I can not find this code is executed when my QDialog is shown and the result is that the close button gets the focus instead of the QInput with an "autofocus" attribute.

I wish I could be able to reproduce it in

[2022-04-06 21:38] dev31337 commented on #13088
Yes!  I was able to reproduce it here is the CodePen:

https://codepen.io/Zikey/pen/WNdMdjb?editors=101

If you click on the first button "DIALOG" you will see that it does not produce the bug.

But if you click on the second button "MENU" then on the menu item "DIALOG" then you will see it happen. (the close button will be focused/selected)

So the issue happens when the QDialog is instanced by a

[2022-04-07 10:05] rstoenescu opened #13113 "[SSR] Options for manual store state serialization & ssrContext.state injection"
### Discussed in https://github.com/quasarframework/quasar/discussions/12999

<div type='discussions-op-text'>

<sup>Originally posted by **yahao87** March 31, 2022</sup>
I'm using Quasar v1.
It works only as a PWA in the user's browser. Basically, we have a lot of data to store in common, so we're caching this data with localstorage.
And using SSR, it only responds to search engine bots.
Therefor

[2022-04-07 12:36] rstoenescu commented on #13113
New options for quasar.config.js > ssr:

[code]

Will be available in:
* q/app-vite v1.0.0-beta.14 (Quasar v2 with Vue 3)
* q/app-webpack v3.5 (Quasar v2 with Vue 3)
* q/app v2.3 (Quasar v1 with Vue 2)

[2022-04-07 12:36] #13113 closed, assigned to rstoenescu

[2022-04-07 13:17] rstoenescu commented on #13088
Great! Thank you!
Reopening for assesment.

[2022-04-07 13:29] rstoenescu commented on #13088
QMenu has an accessibility feature where the focus is restored to the element that had it before the menu was shown. This is triggered as the menu closes and the dialog opens. QMenu refocuses on the QBtn, which is outside of the dialog, then the dialog's __onFocusChange() is called, so your focus ends up being on the first focusable element.

Will try something out, but until then, you can disable

[2022-04-07 14:19] rstoenescu commented on #13088
Fixed the new issue in Qv2 (link above). Will backport to Qv1 later this evening.
Tomorrow is release day.

[2022-04-07 15:47] mlesin opened #13119 "QTableProps.rows typing shoud be Readonly to be able to use lists recieved from GraphQL"
### What happened?

I'm getting rows contents to display in a table this way (using @vue/apollo-composable api):
[code]
This construct returns the following type: `Readonly<ref<Readonly<{id:string;name:string}[] | undefined>>>`
But after i set this value to q-table rows property, Volar (in vscode) shows the following warning:
[code]

### What did you expect to happen?

No type warning should appea

[2022-04-07 15:53] Nicolana commented on #11495
Is there a way to solve it?

[2022-04-07 17:00] rstoenescu commented on #13088
Please upgrade to v1.18.10 (releasing it tomorrow).
And big thanks for providing the Codepen!

[2022-04-07 17:00] #13088 closed, assigned to rstoenescu

[2022-04-07 17:09] mlesin commented on #13119
To go further and allow better type-checking support is to introduce generic in `QTableProps` type, like the following:
[code]
and so on, which can be easily defaulted to old behavior by supplying `QTableProps<any>`, but when exact type is supplied, it will provide much better user experience.

[2022-04-07 18:32] stefanvanherwijnen commented on #9157
I've spent a few hours looking into this.

By default, Rollup does not tree shake modules. However, @rollup/plugin-node-resolve looks for the `sideEffects` property in package.json and applies `moduleSideEffects: false` to the resolved module.
The problem here is that when building from src (e.g. for SSR support), the easiest workaround is to alias the package to `src/index.all.js` folder and in t

[2022-04-07 19:13] rstoenescu commented on #12911
Long story short (extract from my additions to the docs below). The examples are with boot files, but I think you can infer how to use in vue files also.

1. Non-SSR

[code]

2. SSR
Mostly same thing, only that Quasar.lang.set requires a second parameter. `Quasar.lang.set(lang.default, ssrContext)`

[2022-04-07 19:13] #12911 closed, assigned to rstoenescu

[2022-04-07 19:17] rstoenescu commented on #12911
https://github.com/quasarframework/quasar/commit/e5323882b779e7f28e447b8979c0574f355a83cf

[2022-04-07 19:24] rstoenescu commented on #9157
Hi,

Like I said, this is a non-issue. Tree-shaking is handled automatically, unless you are doing something that we don't officially support anyway (like totally custom build system etc).

If using Quasar CLI, our Vite plugin or our Vue CLI plugin and it does not works, please post a repo with minimal reproduction, or directly attach a .zip file here.

Can't change to sideEffects because it will

[2022-04-07 20:01] stefanvanherwijnen commented on #9157
Thanks Razvan,

It would be nice to have better support for e.g. unplugin-vue-components, but if that breaks existing setups that's obviously a no-go.
Maybe it can be added to the road map for a a future version.

The vite plugin has its limitations at the moment (no SSR)  so unfortunately that's not a solution for everyone that wants to use their own vite configuration. (which understandingly has

[2022-04-08 05:47] joelwat opened #13123 "@quasar/app-vite - Trailing comma breaks imports from quasar"
### What happened?

A trailing comma in a quasar import statement results in a build error.

### What did you expect to happen?

The app to build and run

### Reproduction URL

https://github.com/joelwat/quasar-import-bug

### How to reproduce?

1. `git clone https://github.com/joelwat/quasar-import-bug`
2. `npm install`
3. `npx quasar dev`

### Flavour

Quasar CLI with Vite (@quasar/cli | @quasar

[2022-04-08 07:57] NicoP-S commented on #9419
I would love to see this in quasar.
At the Moment there is no monthpicker in quasar and something external like vue-month-picker has to be used...

@MilosPaunovic  is working on an PR for this #13116

[2022-04-08 10:36] gh81997167 opened #13126 "I found an error when I used pinia state management to request the network in the Prefetch hook"
### What happened?

1.Directly accessed by the browser, the network request will be pre-executed in the Prefetch hook, and the link record of the network request will not be found in the console
2.By clicking the route to jump to the specified page, the network request is not executed ahead of time in the Prefetch hook, and the link record of the network request is displayed in the console

### Wh

[2022-04-08 10:48] Grawl opened #13127 "Rejected request on boot falls into infinite loop on SSR"
### What happened?

I have to request some information at application boot phase, before something is rendered: I want this information in my templates. When server is unavailable, I mock this information. So I do not care if request fulfilled or rejected.

So, I do something like this in my `boot/axios.ts`:

[code]

Note: `baseURL` is the same host as my app because I use some cookies. Server is

[2022-04-08 12:05] vandelpavel opened #13128 "Remove margin left thumbnail not working"
### Description

If you check [this example](https://quasar.dev/vue-components/list-and-list-items#qitemsection) of using thumbnail images you can see that the image is shifted even if inside the template you were trying to remove that effect by assigning "q-ml-none".
Probably a specificiy problem.
You may consider to remove that class from the example or lower the specificity of the negative marg

[2022-04-08 14:53] dev31337 commented on #13088
You changes fixed the issue, thank you so much for your quick fix :)

[2022-04-08 16:18] ryanwpb opened #13131 "Should not have to click twice on mobile to activate menu or side drawer when another menu is active."
### What happened?

When on a mobile device I noticed that when a menu is active or true one has to click another menu or side drawer twice in order to see the current selection.

### What did you expect to happen?

Expected behavior is when one menu is active on single click of another menu or side drawer the previous menu should close and the current selection should show.

### Reproduction URL

[2022-04-08 21:06] philfontaine opened #13132 "[Slider] Vertical: Keyboard edit (up/down keys) has very weird logic"
### What happened?

The issue is that the default vertical slider is pointing down instead of pointing up. When using the arrow keys, pressing the up key increments the slider value (as expected) but the thumb is actually going down, which is weird.

![image](https://user-images.githubusercontent.com/16233697/162529582-4f46664f-e87a-4bf3-b0d0-b165b632a34a.png)

My actual use case is that I want a

[2022-04-09 00:27] darkclip commented on #5840
@pdanpdan actually, if use 'insertHTML' instead of 'createLink', you could add anything.

[2022-04-09 05:05] cyril2day commented on #11424
I had this same problem with Vue 3 + Quasar 2.6.5 + Vitest.

This solved for me: https://github.com/quasarframework/quasar-testing/blob/5a761b2d8f25656d09d237a525e96cf60e5401ae/packages/unit-jest/src/helpers/install-quasar-plugin.ts

In addition, instead of this:

[code]

I did like:

[code]

EDIT:
@ts-ignore can be eliminated by creating module declaration like:
[code]

[my repo](https://github.c

[2022-04-09 12:07] hooman-mirghasemi commented on #13095
same problem for me
and also problem is avalable on document  demo: https://quasar.dev/vue-components/input#mask

[2022-04-09 13:16] mirkofisic commented on #12870
As I see this seems to be resolved in version 2.6.6, thank you very much :)

[2022-04-09 15:43] #12870 closed, assigned to nobody

[2022-04-09 15:45] yusufkandemir commented on #12870
It is fixed in [@quasar/app-webpack-v3.5.0](https://github.com/quasarframework/quasar/releases/tag/%40quasar%2Fapp-webpack-v3.5.0)

[2022-04-09 21:03] qxygene commented on #9450
Any update??

[2022-04-09 21:03] qxygene commented on #9597
Any update??

[2022-04-10 10:42] lopugit opened #13136 "[0.17] Quasar build command doesn't exit after running"
### What happened?

I'm trying to deploy a quasar project to netlify, but it does this locally too. When I run `quasar build` it just finishes building and displays the tips messages, but doesn't exit the process. So the netlify deployment can't complete

<img width="1314" alt="Screen Shot 2022-04-10 at 8 36 51 pm" src="https://user-images.githubusercontent.com/13629190/162614278-df40c020-8dec-4f9

[2022-04-11 06:40] lopugit commented on #13136
bump, sorry

[2022-04-11 08:36] cmcleese commented on #12575
I created a codesandbox using quasar v1x with the exact same code and cesium version.
With quasar v1x click events are handle correctly and dropdowns can close.

https://codesandbox.io/s/test-quasar-cesium-vue2-1nwu95
_If for some reason the codesandbox doesn't start, just open a new terminal `yarn start`, and refresh the mini browser._

This leads me to believe that perhaps along the way somethin

[2022-04-11 15:16] swtanggara opened #13141 "`quasar build -m bex` can't produced `dist/bex/Package` directory on @quasar/app-webpack-v3.5.0"
### What happened?

This issue is related to #12969. Sorry if I'm late testing and reporting it with [@quasar/app-webpack-v3.4.7](https://github.com/quasarframework/quasar/releases/tag/%40quasar%2Fapp-webpack-v3.4.7) release and just report this on [@quasar/app-webpack-v3.5.0](https://github.com/quasarframework/quasar/releases/tag/%40quasar%2Fapp-webpack-v3.5.0). But I found that the error still e

[2022-04-11 16:43] rstoenescu commented on #13141
Fixed in q/app-webpack v3.5.1 -- just released it

[2022-04-11 16:43] #13141 closed, assigned to nobody

[2022-04-11 17:42] cmcleese commented on #12832
I've always only done `quasar upgrade -i` and did not have `@quasar/app-webpack` included in my dev dependencies.
Must have missed the manual step in a release notes post but regardless this explanation fixed everything.
Many thanks

[2022-04-12 05:16] pratik227 opened #13148 "QTable row value doesn't update after any change in the columns array"
### What happened?

After updating the columns value field key the table body doesn't update the value accordingly.

### What did you expect to happen?

It should update the body after anything changes in the column value

### Reproduction URL

https://codepen.io/Pratik__007/pen/popZKeo

### How to reproduce?

1. Got to the reproduction link and click on the Update Column Field button.
2. It's not

[2022-04-12 05:17] pdanpdan commented on #13148
Your columns variable is not reactive

[2022-04-12 05:17] #13148 closed, assigned to nobody

[2022-04-12 05:57] pratik227 commented on #13148
@pdanpdan  Is there any way we can achieve this ? I want this in the QGrid extension

[2022-04-12 06:02] pdanpdan commented on #13148
https://vuejs.org/guide/extras/reactivity-in-depth.html#how-reactivity-works-in-vue

https://codepen.io/pdanpdan/pen/gOojjON?editors=1010

[2022-04-12 06:02] pratik227 commented on #13148
Thanks I will check

[2022-04-12 06:29] pratik227 commented on #13148
Thanks @pdanpdan  it works !!

[2022-04-12 08:08] eladcandroid opened #13151 "QuasarPluginOptions iconSet and lang property types are incorrect"
### What happened?

I'm using QuasarPluginOptions type for setting Quasar config object, but got this error:

Property 'set' is missing in type 'QuasarIconSet' but required in type 'GlobalQuasarIconSet'.ts(2741)

[code]

Although the doc says that we can just have iconSet:
https://quasar.dev/options/quasar-icon-sets#quasar-vite-plugin-way

### What did you expect to happen?

No TS errors

### Repr

[2022-04-12 11:03] ryanwpb commented on #13131
I locally solved the issue... in node_modules > quasar > src > components > menu > QMenu.js on  line 210 `stopAndPrevent(e)` I commented it out and now the menus are working as expected.

[2022-04-12 11:13] waldi opened #13154 "Bug in Vue v3.2.32/33 | Build Runtime Error | Cannot read properties of undefined (reading 'accessCache')"
### What happened?

As a developer that uses quasar using the **Vite plugin**
When **building** a project that contains a quasar input component
And previewing the build using `npm run preview`
Then Vue throws an error `Cannot read properties of undefined (reading 'accessCache')`

You can find a codesandbox with the final build assets here:
https://codesandbox.io/s/frosty-thunder-gxs0pt?file=/inde

[2022-04-12 11:54] koernchen02 commented on #13154
I just noticed the same.

This is related to https://github.com/vuejs/core/pull/5417
and the release of vue v3.2.32  https://github.com/vuejs/core/releases/tag/v3.2.32

Relevant Log Output in debug mode:

[code]

[2022-04-12 11:58] koernchen02 commented on #13154
And its not vite related, same behaviour in webpack

[2022-04-12 12:10] MilosPaunovic commented on #13154
Every `vue` dependency in project is added with a caret, meaning if you run `npm i vue` it should, technically, install proper patch version and fix problem.

[https://stackoverflow.com/a/22345808](https://stackoverflow.com/a/22345808)
[code]

[2022-04-12 12:13] waldi commented on #13154
@MilosPaunovic that's not the solution, that's the problem in this case. the latest patch version breaks the build.

[2022-04-12 12:14] MilosPaunovic commented on #13154
Ohh, sorry, ignore my comment from above in that case.

What you could to is downgrade Vue version manually until they release a fix with a `npm i vue@3.2.31` or last one that worked for you.

[2022-04-12 14:57] obi84 commented on #12553
Will anyone take a look at this at some point?

[2022-04-12 15:00] obi84 commented on #13095
can confirm the problem and really need a fix.

[2022-04-12 15:15] maggie44 commented on #12911
Looks good, an adapted version using the same method seems to be working for me. Thanks.

[2022-04-12 17:51] onursezn commented on #12887
@rstoenescu thank you it worked after upgrading the @quasar/app to 3.3.3 and running your suggested command.

[2022-04-13 07:19] jonathanpmartins commented on #13154
Same problem here, thanks for the fix instruction. Fixing the npm version of vue to `3.2.31` solved the problem!

[2022-04-13 07:37] YukhymchukVolodymyr commented on #13154
I have the same problem on prod, but on localhost quasar dev and quasar build works fine - no error

@MilosPaunovic thank you, downgrade to vue 3.2.31 solved the problem.

[2022-04-13 08:49] flesser opened #13163 "frameDebounce() is missing a type declaration"
### What happened?

When using Typescript, I get the error message _"Module '"quasar"' has no exported member 'frameDebounce'"_ (from Vetur, I guess?):
![image](https://user-images.githubusercontent.com/510681/163136419-1f69f312-48fc-473b-bfdb-49151c8d9b07.png)

I was able to reproduce it in [Codesandbox](https://codesandbox.io/s/framedebounce-ts-bug-q2phhk?file=/src/components/BrokenTypescript.vu

[2022-04-13 09:32] devidw commented on #810
Since the last shared docs link in the thread does land on the front page of the docs, here is the current one: https://quasar.dev/vue-components/table#pagination

[2022-04-13 10:29] modemb opened #13166 "My site has a problem since i updated to 2.66"
### What happened?

all form disappeared, so request not working

### What did you expect to happen?

it is supposed to work as usual

### Reproduction URL

https://suguffie.com/

### How to reproduce?

 login register

### Flavour

Quasar CLI with Vite (@quasar/cli | @quasar/app-vite)

### Areas

Quasar CLI Commands/Configuration (@quasar/cli | @quasar/app-webpack | @quasar/app-vite)

### Platfor

[2022-04-13 10:33] MilosPaunovic commented on #13166
You're gonna need to provide more details for this to make sense; from which version you've updated to 2.6.6, where the forms are supposed to appear etc.

[2022-04-13 13:40] modemb commented on #13166
What king of browser are you using? It is working the link, if not try to refresh it, once you go on the site will will see the issues I am talking about

[2022-04-13 13:41] modemb commented on #13166
The version was 2.6.5

[2022-04-13 13:42] MilosPaunovic commented on #13166
Run `npm i vue@3.2.31` to fix the issue for now.
Related https://github.com/quasarframework/quasar/issues/13154

[2022-04-13 13:43] modemb commented on #13166
Larasar.modemb.com was broke also once I updated to 2.6.6, but I did not upload it

[2022-04-13 13:43] modemb commented on #13166
Check my comments please

[2022-04-13 14:02] modemb commented on #13166
That did not fix it

[2022-04-13 14:21] IlCallo opened #13169 "Project styles not inlined anymore in SSR"
### What happened?

Quasar used to inline used styles and having `extractCss` to false
This was done by attaching into the header tag any style collected by `vue-style-loader`, which exposed it through `ssrContext.styles`

https://github.com/quasarframework/quasar/blob/e9103e550a9031f1df32325d05b32708d6ff03bc/utils/ssr-helpers/create-renderer.js#L106

At some point, probably with Vue3, something m

[2022-04-13 14:47] oomisaki commented on #13154
I have the same problem! thank you!!

[2022-04-13 15:39] LefterisMavrakis opened #13171 "All of my custom directives doesnt working for ssr builds after quasar and vue upgrade"
I upgraded my quasar v2 app today and also vue3 and vue router 4. All of my directives doesnt working for ssr builds.

src/boot/click-outside-directive.js

[code]

src-ssr/directives/click-outside.js

`export default (clickOutside) => {
  return {
    props:[],
    getSSRProps(){
      return {}
    }
  }
}`

I still get
 [Vue warn]: Failed to resolve directive: click-outside
ssr error TypeError: