[2021-11-07 06:04] rstoenescu commented on #10470
Hi,

Thank you both for reporting.
This is a two-parter: first one I enhanced the error reporting; then by seeing the actual problem in your cases I could take care of your usage in index.template.html (the productName and productDescription needed to be escaped before injecting into the html file).

Improvement + Fix will be available in "@quasar/app" v3.1.11

[2021-11-07 06:04] #10470 closed, assigned to nobody

[2021-11-07 07:55] rstoenescu commented on #9442
Will be available in Quasar v2.3.1 + "@quasar/app" v3.1.11 (both are required).
There is also another way to avoid this behavior, which is to directly change the Quasar Sass variables in /src/css/quasar.variables.[sass|scss]

[2021-11-07 07:55] #9442 closed

[2021-11-07 09:13] tmikaeld commented on #9010
@rstoenescu Still, should update the [Quasar docs](https://quasar.dev/options/app-internationalization#introduction) on how to use it, since this is where people check first. And it doesn't mention the composable API, but it's mentioned on most other places.

[2021-11-07 09:36] MilosPaunovic commented on #11234
There was no problem using `question_mark` in the exact way you've described.
[https://codepen.io/milospaunovic/pen/BadrqMK?editors=101](https://codepen.io/milospaunovic/pen/BadrqMK?editors=101)

If you're still having problem, please provide Codepen reproduction.

[2021-11-07 10:10] Ammamon commented on #6813
Add :breakpoint  behaviour to your drawer. This will keep it under header.

[2021-11-07 10:15] heyingjie opened #11239 "q-toolbar dark didn't work"
**Describe the bug**

use code like below to set dark mode,but have no effect on q-toolbar.
`$q.dark.set(true);`

**Expected behavior**
q-toolbar change to dark mode,black background,white text.

**Screenshots**
![image](https://user-images.githubusercontent.com/11901953/140640965-fee0b8e6-2e80-4c67-afcb-9a5f6c941354.png)

**Platform (please complete the following information):**
Quasar Version:
@

[2021-11-07 10:42] MilosPaunovic commented on #11239
Please provide a Codepen reproduction of your problem, or at least the code you've written for `QToolbar`.

[2021-11-07 10:51] heyingjie commented on #11239
`<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>

        <q-toolbar-title> Quasar App </q-toolbar-title>

        <q-btn push label="Toggle Dark Mode" @click="toggleDarkMode" />

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-page-container>
    </q-page-container>
  </q-layout>
</template>

<script>
import { useQuasar }

[2021-11-07 10:52] heyingjie commented on #11239
<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>

        <q-toolbar-title> Quasar App </q-toolbar-title>

        <q-btn push label="Toggle Dark Mode" @click="toggleDarkMode" />

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-page-container>
    </q-page-container>
  </q-layout>
</template>

<script>
import { useQuasar }

[2021-11-07 10:54] rstoenescu commented on #9010
@tmikaeld There you go. Improved docs. Will be available in next docs deployment.
Took the opportunity to also PR the vue-i18n docs with references to Quasar CLI usage :)

[2021-11-07 11:05] heyingjie commented on #11239
`<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>

        <q-toolbar-title> Quasar App </q-toolbar-title>

        <q-btn push label="Toggle Dark Mode" @click="toggleDarkMode" />

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-page-container>
    </q-page-container>
  </q-layout>
</template>`

`<script>
import { useQuasar

[2021-11-07 11:06] heyingjie commented on #11239
[code]

[code]

[2021-11-07 11:13] MilosPaunovic commented on #11239
You need to bind background class to `QToolbar`, like this:
[code]

[https://codepen.io/milospaunovic/pen/yLoKGGN?editors=101](https://codepen.io/milospaunovic/pen/yLoKGGN?editors=101)

[2021-11-07 11:24] heyingjie commented on #11239
tks，it works

[2021-11-07 11:24] #11239 closed, assigned to nobody

[2021-11-07 11:35] tianhuat opened #11240 "cypress extension error"
Hi I am getting the following error when doing quasar run
![image](https://user-images.githubusercontent.com/12793956/140643204-ae815069-a936-44ad-bc5a-c233f5b01050.png)
Here's the some content of my package.json
[code]

[2021-11-07 12:04] tianhuat commented on #11240
It's due to I am not adding typescript support (I am using typescript), with typescript support added during cypress, the issue gone.

[2021-11-07 12:04] #11240 closed, assigned to IlCallo

[2021-11-07 13:27] daxiongYang commented on #11221
@rstoenescu Thank you very much for your hint, the problem has been solved.
After that, I will go to discussions to discuss any questions.

[2021-11-07 17:05] Smrtnyk opened #11246 "`@update:model-value` event fired twice in `q-input` type "number""
**Describe the bug**
When using q-input with type number and increment button is clicked, @update event is fired twice
then the value gets incremented twice
HAPPENS ONLY WHEN DEVTOOLS OPEN!

**Codepen/jsFiddle/Codesandbox (required)**
https://codepen.io/Smrtnyk93/pen/PoKRrEp

**To Reproduce**
Steps to reproduce the behavior:
1. Go to linked codepen
2. Open dev tools so debugger can stop on breakpo

[2021-11-07 18:08] hawkeye64 commented on #11246
Indeed, this is an interesting bug. Possibly a reactivity issue.

[2021-11-07 18:28] DrakoPOD commented on #10567
@rstoenescu  Socket.io can use the same port that the host page, but I need the server instance of quasar in ssr mode. Doesn't need a repo for that:
[code]

[2021-11-07 19:18] hawkeye64 commented on #11234
The latest (released usually every Sunday) can be found here: https://github.com/quasarframework/quasar/releases/tag/%40quasar%2Fextras-v1.11.5

[2021-11-07 19:18] #11234 closed, assigned to nobody

[2021-11-07 21:20] AlexDaniel opened #11247 "Jumping QTable pagination menu"
Any table in the official documentation can be used to reproduce:
https://quasar.dev/vue-components/table#basic-usage

![Peek 2021-11-07 23-14](https://user-images.githubusercontent.com/5507503/140662103-0ebc4aa8-d633-4025-9aae-72fc4dc28a70.gif)

**Steps to reproduce the behavior:**
1. Look at any QTable with “Records per page:” option available
2. Click on the number
3. The menu will appear, and

[2021-11-08 07:55] rstoenescu commented on #11229
`stream`, `assert` etc are Nodejs native. DON'T npm install the equivalent packages.
In any case, if Plotly is a client-side lib then why does it imports Nodejs stuff?

## Extract from docs:

Webpack v5 removed the Nodejs polyfills for the web client builds. If you are using packages for the web client that rely on Nodejs API (they shouldn't!), you will get errors saying that some packages are mis

[2021-11-08 07:55] #11229 closed, assigned to nobody

[2021-11-08 08:18] webfansplz commented on #11165
@rstoenescu Same issue, do we have any plans to support Nuxt3 ? thanks

[2021-11-08 08:59] webfansplz commented on #11165
![image](https://user-images.githubusercontent.com/22515951/140712830-19041604-37af-4da8-9a41-8136a9669ab4.png)
Looks like a limit. Is there a support plan ?

[2021-11-08 09:35] piscis commented on #11165
Looking at the type-definitions of the vite plugin I could find that a `ssr-server` and `ssr-client` mode could be available at some point:

Source: https://github.com/quasarframework/quasar/blob/3311a20827c4858e2a9f794ad262308b5068eac1/vite-plugin/index.d.ts#L24-L31

But I'm confused if that means that Quasar + Vite + SSR could eventually work with SSR / SSG frameworks like nuxt?

[2021-11-08 11:07] susnux opened #11250 "QSlider is not reacting to model value change"
**Describe the bug**
If you change the model value of a QSlider by sliding and after that by changing the model-value programmtically it does not react to the latter one.
So after using the slider the model-value is not reactive anymore.

See the example below.

**Codepen/jsFiddle/Codesandbox (required)**
[sandbox](https://codesandbox.io/s/lucid-bassi-0ij5t?file=/src/pages/Index.vue)

**To Reprodu

[2021-11-08 13:51] hawkeye64 commented on #11165
https://github.com/quasarframework/quasar/issues/11231

[2021-11-08 14:58] cristian-swf opened #11254 "QInput - when type=number, mask and maxlength is not working"
When a QInput type is number, the mask, for example (######) and maxlength is not working. If type is set to text, they work ok.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a QInput wity type=number, mask ###### and maxlength=6
2. Check in browser to see if the mask and maxlength is respected
3. See error

**Expected behavior**
Qinput type=number should respect maxlenght and/or mask

[2021-11-08 15:01] MilosPaunovic commented on #11254
That is correct behaviour.

Check out `Warning` banner on the official docs:
[https://quasar.dev/vue-components/input#mask](https://quasar.dev/vue-components/input#mask)

![Screenshot 2021-11-08 at 16 00 35](https://user-images.githubusercontent.com/62475782/140765492-4f93515f-ada8-4471-b74e-720ab053554c.png)

[2021-11-08 15:09] cristian-swf commented on #11254
Oups, missed that one :(
But still, the issue with maxlength is still present. I know the native input type number does not support it, only min and max, but can this be implemented in a future release in the component?

[2021-11-08 15:13] MilosPaunovic commented on #11254
I don't see it implemented as `Quasar` follows web standards.

What you could do is implement custom validation for that field:
[https://quasar.dev/vue-components/input#validation](https://quasar.dev/vue-components/input#validation)

[2021-11-08 17:36] rstoenescu commented on #11231
Will be available through "@quasar/app" v3.2.0.
Haven't written the docs yet (todo tomorrow), but will tag this ticket when I do.

[2021-11-08 17:36] #11231 closed, assigned to rstoenescu

[2021-11-08 17:40] rstoenescu commented on #10567
Will be available through "@quasar/app" v3.2.0.
Haven't written the docs yet (todo tomorrow), but will tag this ticket when I do.

There's a caveat though. It will be possible ONLY for production and NOT for dev builds, due to how we are forced to use webpack-dev-server. HOWEVER, this week I'm starting to work on the new Quasar CLI with Vite which will lift a LOT of the current restrictions (but h

[2021-11-08 17:40] #10567 closed, assigned to rstoenescu

[2021-11-08 17:44] nseb opened #11255 "Error with vue-class-component"
Hello ,
from quasar/app-v3.1.9 with vue 3.2.21 , I think this dependency create blocking issue with vue-class-component , I have this error for my all componenst :
Class extends value # is not a constructor or null

if i go back to vue 3.2.20 i feel like it works.

I created an issue on the vue-class-component side :
https://github.com/vuejs/vue-class-component/issues/576

[2021-11-08 17:58] rstoenescu commented on #11255
This has nothing to do with Quasar... Please follow the Vue ticket.
Hope we don't go the same route of waiting for me to fix external libs (as recently happened), because Quasar itself needs my attention too and we're quite busy preparing awesome new stuff :)

[2021-11-08 17:58] #11255 closed, assigned to nobody

[2021-11-08 18:00] rstoenescu commented on #11255
Did you mean Vue 3.2.1 & 3.2.0 or actually 3.2.21 & 3.2.20 ? @nseb

[2021-11-08 18:01] nseb commented on #11255
sorry 3.2.21 error , 3.2.20 works
@rstoenescu I know it's an external dependency, it's mostly to alert those who updated like me.

[2021-11-08 18:02] rstoenescu commented on #11255
I will temporarily downgrade Vue to 3.2.20 in q/app v3.2.0 -- to be released tomorrow with a huge new feature (SSR-related).

[2021-11-08 18:03] nseb commented on #11255
@rstoenescu thx
I prepare un code example CodePen to fill issue for vue

[2021-11-08 18:08] rstoenescu commented on #11231
@Seanitzel Will you be around tomorrow (Tuesday) to help me with some tests before I release the new q/app version? Would like to be 110% sure everything will work as smooth as possible. Can we connect through Discord to speed things up?

[2021-11-08 18:54] hawkeye64 commented on #9455
This will likely come with the Vite support that @rstoenescu is working on. When creating a new project, you will be asked if you want Webpack or Vite.

[2021-11-08 19:03] CrawfordW opened #11256 "Q-select: Focus remains on invalid content"
This is a minor issue (now I know how to avoid it), but I wasted days chasing it down...
When using Q-select in 'text autocomplete' mode, tabbing out of the q-select when an invalid entry has been typed causes the q-select to **remain focused**, unless it includes a no-option slot!
Since I didn't want the no-option slot, I spent days trying to solve the stuck focus problem.
The work-around is to a

[2021-11-08 19:28] Evertvdw commented on #10281
@zeroinformatique I had this same problem but I believe this is happening due to subpixel window heights. I have it for instance on certain heights when using a 4k monitor with 150% zoom (in windows desktop settings). Are you using a zoom at desktop level also?

[2021-11-08 19:29] hawkeye64 commented on #11256
The q-select still has the blue underline, indicating focus...
![image](https://user-images.githubusercontent.com/10262924/140805453-335a7fc0-19fc-45de-ac06-54f374811b5e.png)

[2021-11-08 19:31] hawkeye64 commented on #10281
I also have seen this when using a zoomed of 200% and 125%

Once I removed the zoom, the issue went away. This is indeed a sub-pixel issue with the browsers.

[2021-11-08 21:01] Seanitzel commented on #11231
To be honest tomorrow is the worst day possible for that since i'm having a surgery 😅😂

But I still might be able to, i'll hit you up on discord when i'll be back

And thanks for addressing this issue so quickly!

[2021-11-08 21:17] yusufkandemir commented on #11246
It also happens with regular HTML input, created a Codepen based on your example: https://codepen.io/yusufkandemir/pen/zYdjMVQ
So, it's about how browsers are handling things, not specific to Quasar, Vue, or anything else.

[2021-11-08 21:17] #11246 closed, assigned to nobody

[2021-11-08 21:44] zeroinformatique commented on #10281
@Evertvdw  I use 125% DPI for my screens, yes.

[2021-11-08 22:32] NicoP-S commented on #8956
Is there any workaround for this problem? I need it too

[2021-11-08 22:49] ukik opened #11259 "Error when SSR is runing to cpanel node.js"
i got error like this from log in cpanel. my app work well on localhost but on ndoe.js server my server-side-rendering app got error like this:

BROWSER
500 | Internal Server Error

LOG FILE
(node:28456) UnhandledPromiseRejectionWarning: Error [ERR_HTTP_HEADERS_SENT]: Cannot set headers after they are sent to the client
    at ServerResponse.setHeader (_http_outgoing.js:470:11)
    at ServerRespon

[2021-11-09 01:17] #11254 closed, assigned to nobody

[2021-11-09 08:10] nicojmb commented on #11226
Hi, where can i find a full example how integrate Pinia in quasar v2 with TypeScript?

[2021-11-09 11:32] kostyfisik commented on #11229
@rstoenescu  Thank you a lot, work fine with polyfill plugin now!

I will move your answer to docs where I missed it, I hope you don't mind.

![Screenshot from 2021-11-09 14-29-44](https://user-images.githubusercontent.com/5239997/140916388-e6de92f7-120b-4394-b33b-377b22468c9a.png)

[2021-11-09 12:38] rstoenescu commented on #10567
Long story short, with "@quasar/app" v3.2.0 create a file named "/src-ssr/production-export.js" and inject this into it:

[code]

[2021-11-09 12:39] rstoenescu commented on #11231
Hope all goes well!! Don't worry about me.

[2021-11-09 16:34] CynthiaBlue commented on #8402
it seems this cannot be used on a number field, a q-input with  mask="##"
Any solutions for a number input?
Thanks.

[2021-11-09 18:14] MilosPaunovic commented on #8402
Input type `number` does not support mask prop, check warning card:
[https://quasar.dev/vue-components/input#mask](https://quasar.dev/vue-components/input#mask)

Without mask, this solution still works just fine:
[https://codepen.io/milospaunovic/pen/eYEKeVr?editors=101](https://codepen.io/milospaunovic/pen/eYEKeVr?editors=101)

[2021-11-09 20:06] tomers opened #11262 "Running 'quasar dev' from a non-standard node_modules directory"
I couldn't figure how it is possible to run `quasar dev` when `yarn` runs from a non-standard `node_modules` directory.

[code]

Any help would be appreciated.

[2021-11-09 20:20] rstoenescu commented on #11229
Not at all. Thanks for the PR!

[2021-11-09 20:45] ghost opened #11263 "vueLoaderOptions details missed in doc"
I needed to access vue app parameters because I wanted to change delimiters in templates
I couldnt find any description about `vueLoaderOptions` in `quasar.conf.js` docs.
It's currently only documented in https://quasar.dev/start/upgrade-guide#quasar-app-cli and has no description other then the self descriptive name

[2021-11-09 21:14] hawkeye64 commented on #11246
@yusufkandemir Good to know! Thanks for following up on this and finding it is NOT a Quasar issue. Seems this is only happening in Chromium-based browsers. It does not happen with Firefox. I am curious if this happens with Safari.

[2021-11-09 21:36] MilosPaunovic commented on #11246
@hawkeye64 Safari `Version 14.1.1 (16611.2.7.1.4)` on MacOS BigSur `11.4 (20F71)` goes nuts with initial Codepen example from this issue [https://codepen.io/Smrtnyk93/pen/PoKRrEp](https://codepen.io/Smrtnyk93/pen/PoKRrEp).

https://user-images.githubusercontent.com/62475782/141008733-00774fca-fc9e-4d06-a588-180ef16742ac.mov

[2021-11-09 22:11] rstoenescu commented on #11263
Like the name implies, you can set whatever the `vue-loader` params supply (quasar.conf > build > vueLoaderOptions). Example: `{ compilerOptions: {..} }`.
Indeed, it should be added to quasar.conf.js doc page. Somehow this was missed.

[2021-11-09 22:43] rstoenescu commented on #11263
Will be available on next docs deployment.

[2021-11-09 22:43] #11263 closed, assigned to nobody

[2021-11-10 01:08] metalsadman commented on #11262
@tomers  you are using an experimental version of node `NodeJs  17.0.1` (odd version number), use even numbered LTS version.

[2021-11-10 01:08] #11262 closed, assigned to nobody

[2021-11-10 06:48] silberGuy opened #11269 "adding own colors missing !import"
Hey :)
I tried to add a custom color to the app, as explained here:
https://quasar.dev/style/color-palette#adding-your-own-colors

but none of the components were affected, because their inner stylings is overriding my own `text-brand`.
For instance, the example shown does not work because `.q-btn` defines color as with "inherit" and wins against the `text-brand`.

I saw that the framework defines

[2021-11-10 08:27] rstoenescu commented on #11269
Thanks for catching this. Update will be available on next docs deployment.

[2021-11-10 08:27] #11269 closed, assigned to nobody

[2021-11-10 08:36] rstoenescu commented on #11259
Hi,

This has nothing to do with Quasar. It's related to your code or your deployment infrastructure. But no details have been supplied. Put yourself in our shoes: you get a ticket with a thrown-out error message (stack not even showing any Quasar or Quasar CLI files). How can this be investigated.. at all?

Please supply a reproduction repo and detail as much as possible how and where you deploy

[2021-11-10 08:36] #11259 closed, assigned to nobody

[2021-11-10 09:00] leonbuild opened #11272 "Uncaught TypeError: Cannot read properties of null (reading 'contains') at refocusTarget"
**Describe the bug**
Within a radio button, I'm putting a button that jumps to another page.
When click that button to jump, the error happens:
![image](https://user-images.githubusercontent.com/71315684/141078421-4073ee53-26ac-4783-b584-99d790d6e691.png)
![image](https://user-images.githubusercontent.com/71315684/141082318-e67845d1-176b-4bcd-b472-d429241453e1.png)

https://github.com/quasarframew

[2021-11-10 09:12] rstoenescu commented on #11256
Thanks for reporting!
Fix will be available in Quasar v2.3.1.

[2021-11-10 09:12] #11256 closed, assigned to nobody

[2021-11-10 09:22] rstoenescu commented on #11272
Thanks for reporting!
Fix will be available in Quasar v2.3.1.

[2021-11-10 09:22] #11272 closed, assigned to nobody

[2021-11-10 10:09] rstoenescu commented on #11250
It's related to the focus state. Has nothing to do with the model reactivity.
Fix will be available in Quasar v2.3.1.

[2021-11-10 10:09] #11250 closed, assigned to nobody

[2021-11-10 10:29] J3m5 commented on #11210
I don't know if it's related or if it can help but I'm facing the same issue as @Smrtnyk but with vite and script setup on q-btn props.

EDIT
Versions used:
[code]

[2021-11-10 10:49] Smrtnyk commented on #11246
@MilosPaunovic  is it like that with the codepen from @yusufkandemir ?

[2021-11-10 10:56] MilosPaunovic commented on #11246
It's kinda same. The input goes to `5`, but only as that's max value.
When I change `max` to any larger number, it goes up unitl it.

https://user-images.githubusercontent.com/62475782/141100679-627ba1a7-e215-4b2d-b2fb-2f5b764d0e30.mov

[2021-11-10 10:59] pdanpdan commented on #11246
It doesn't matter. It's just something related to stopping the execution in debugger. You'll see also bugs where it you stop before a console.log the execution would break when it executes the log

[2021-11-10 11:12] mirkofisic opened #11275 "Meta does not work on server side"
**Describe the bug**
I want to use Meta plugin on server side to change head title and description during render, but on server env I got error and it only works when page comes to the client mode:

Also I have to note that I use SSR and PWA

[code]

So tried to use the meta inside <script setup> I also tried to use inside the setup () function when defining the component the error is always the s

[2021-11-10 11:38] rstoenescu commented on #11275
I have to ask: did u follow the Meta plugin install instructions?

[2021-11-10 11:42] sullyD64 commented on #11210
I am facing the same problem shown in the video (HMR not working when adding props/attributes to elements). I am using TS with composition API without script setup, with @quasar/app v3.1.10.

[2021-11-10 11:57] rstoenescu commented on #11275
Yeah, you haven't installed it.

<img width="454" alt="image" src="https://user-images.githubusercontent.com/4665641/141108834-f3fb968e-6f44-4bb5-a8f3-811816ec5e5c.png">

[2021-11-10 11:57] #11275 closed, assigned to nobody

[2021-11-10 12:01] mirkofisic commented on #11275
I was sure that I installed it, sorry i make mistake. thank you very much

[2021-11-10 12:11] Smrtnyk commented on #11246
anyways, related to multiple events
can anyone tell me why dialog is created two times if I type something in the input field
Here is the repo
https://github.com/Smrtnyk/quasar-event-repro

[2021-11-10 13:21] tohagan commented on #11226
1. Upgrade Quasar CLI to the latest version.
2. Create a new Quasar project
2. `yarn add pinia`
3. Compare and copy files from https://github.com/TobyMosque/quasar-v2-ssr-pinia

Use this as base.  I'd say Quasar CLI create command now really needs both Pinia and Vuex options.

I use [TreeComp](https://lploeger.home.xs4all.nl/TreeComp.htm) on Windows compare files for a "careful" upgrade like this

[2021-11-10 13:52] Lowxorx commented on #11226
Hello,
With the quasar cli, you can use the "quasar clean" command which solved the problem for me.

[2021-11-10 16:49] gnieser commented on #10062
Hello,

I am facing the same issue hence I am not using dsb-norge/vue-keycloak-js, but keycloak-js directly from keycloak.org.
I have a reproducer here: https://github.com/gnieser/quasar-keycloak with some basic explanation in README.md
The reproducer works in history mode, when switched to hash mode, it will fail.

[2021-11-10 18:05] rstoenescu commented on #10062
@gnieser

Took a look at it and it's exactly what I expected. Vue Router v4 (in hash mode) + keycloak-js !== LOVE. Has nothing to do with Quasar. Again, routing is handled exclusively by Vue Router.

If anyone is still stubborn to understand this, I can create an equivalent project (to this one from above, https://github.com/gnieser/quasar-keycloak ) without Quasar in it.

[2021-11-10 18:10] laferte-tech commented on #10929
Hello, thanks for your answer and sorry for not have made a codepen :/
I am currently switching to V2 so i think i can close this for the moment. If i still have the trouble with V2 i will make a codepen.

[2021-11-10 18:10] #10929 closed, assigned to nobody

[2021-11-10 20:23] melroy89 opened #11280 "Q-Btn Support active router link (router-link-exact-active)"
**Is your feature request related to a problem? Please describe.**

The Q-Btn ([Quasar Button](https://quasar.dev/vue-components/button)) support router links via `to=..`, which is very helpful. However, when I press the link normally the link should contain the class `router-link-exact-active` when the route is active (user pressed the link), allowing you to give it another color.

**Describe the

[2021-11-10 20:52] jlucaso1 opened #11281 "Quasar, Nuxt3 SSR: window is not defined"
**Describe the bug**
The bug occurs when I try to implement any Quasar plugin.

**Codepen/jsFiddle/Codesandbox (required)**
[StackBlitz Sandbox](https://stackblitz.com/edit/nuxt3-quasar)

**Expected behavior**
Use Quasar plugins on client only.

**Example**
`nuxtApp.vueApp.use(Quasar, {
    plugins: ["Notify"]
  });`

**Full Error**
`window is not defined
  at $id_66d0eb88 (file:///D:/nuxt3-app/.n

[2021-11-11 03:08] leteu opened #11282 "q-input hide-bottom-space not working when failed to rules prop"
**Describe the bug**
q-input hide-bottom-space not working when failed to rules prop

**Codepen/jsFiddle/Codesandbox (required)**
https://codepen.io/leteu-the-sasster/pen/porZpaO

**To Reproduce**
Steps to reproduce the behavior:
1. focus input
2. focus out input
3. check bottom space

**Expected behavior**
hide bottom space when failed to rules prop

**Screenshots**
![image](https://user-images.g

[2021-11-11 03:37] panhezeng opened #11283 ""@quasar/app": "3.2.0", TypeError: injectMiddleware is not a function"
update "@quasar/app": "3.2.0" dev server error； build ok；

rollback "@quasar/app": "3.1.10" ok

node_modules/@quasar/app/lib/dev-server-ssr.js:141
            return injectMiddleware({
                   ^

TypeError: injectMiddleware is not a function
    at /node_modules/@quasar/app/lib/dev-server-ssr.js:141:20
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (node:internal/pr

[2021-11-11 03:41] renzocastillo commented on #7925
Hi! I'm currently facing the same issue, I imported capacitor plugins my quasar vue page but it doesn't find them. However, when I try to do the andriud buld like @Nisgrak  it does work. Is there a way to point to this plugins over web, without creating this boot file ?

[2021-11-11 03:57] renzocastillo commented on #7925
@Nisgrak  which link you mean?
![image](https://user-images.githubusercontent.com/21372177/141234421-6b15792d-23ac-4031-ab11-21431dfb0041.png)

BTW. I'm trying to implement background geolocation using capacitor with quasar. Could you please recommend me a good library/ plugin for that ?

[2021-11-11 04:07] renzocastillo commented on #7925
Just for the record I solved it by pointing to src-capacitor this way:
import { Geolocation } from "../../src-capacitor/node_modules/@capacitor/geolocation"
import { Device } from '../../src-capacitor/node_modules/@capacitor/device';

not sure if its the "right" way to do it though

[2021-11-11 05:16] rstoenescu commented on #11283
Fix is available in "@quasar/app" v3.2.1

[2021-11-11 05:16] #11283 closed, assigned to nobody

[2021-11-11 08:10] MilosPaunovic commented on #11280
Have you considered binding class to button based on route?

[code]

[2021-11-11 08:11] metalsadman commented on #11282
it's working fine per docs description.
![image](https://user-images.githubusercontent.com/31038838/141261710-bee3acda-cfed-46f8-9bd5-918c752c2d94.png)

since you are using `rules`, you can just hide the error message slot generated when there's an error in your validation using a class.
https://codepen.io/metalsadman/pen/wvqxXmN

alternative is to use external validation and set `error` prop of q

[2021-11-11 08:11] #11282 closed, assigned to nobody

[2021-11-11 09:39] gnieser commented on #10062
Agreed. Let me demonstrate this for you: https://github.com/gnieser/vue-keycloak
The issue boils down to keycloak fragment response mode and vue-router hash history mode.

[2021-11-11 11:27] sschneider-ihre-pvs opened #11286 "prevent scroll issues an error in spa in jest test"
**Describe the bug**
TypeError: Cannot read property 'ios' of undefined

      at apply (node_modules/quasar/dist/quasar.cjs.prod.js:6:155837)
      at preventScroll (node_modules/quasar/dist/quasar.cjs.prod.js:6:157237)
      at preventBodyScroll (node_modules/quasar/dist/quasar.cjs.prod.js:6:157340)
      at node_modules/quasar/dist/quasar.cjs.prod.js:6:161781
      at callWithErrorHandling (nod

[2021-11-11 12:19] melroy89 commented on #11280
No, but still looks like a workaround. Thank you anyway for this alternative.

[2021-11-11 15:48] CrawfordW opened #11289 "Q-select menu problem"
Getting a weird looking drop-down menu from Q-select.
I'm trying to build a custom component based on Q-select with autofill. I need to make several forms with tables containing combo-box entries, and want to consolidate all the filtering, etc. code in my custom component called MySelect.

The options passed down to MySelect will be an object with key-value pairs where the key represents an ID, an

[2021-11-11 16:19] hawkeye64 commented on #11289
@CrawfordW  Looks like a legit bug to me. The virtual scrolling is getting turned on for some reason.

[2021-11-11 16:21] stefanocarraro-centropaghe opened #11292 "Setting color for clearable icon in qipunt"
**Is your feature request related to a problem? Please describe.**
On q-input there's the property clearable. It would be nice to be able to specify the color for the clearable icon.

**Describe the solution you'd like**
A String property that can set the clearable icon color or class/style.

[2021-11-11 16:33] hawkeye64 commented on #11292
@stefanocarraro-centropaghe Quasar v1 is in LTS mode, which means no more changes or updates unless it's a bug or security issue.

[2021-11-11 16:33] #11292 closed, assigned to nobody

[2021-11-11 16:43] pdanpdan commented on #11289
The component uses the best worst practices :))))

https://codesandbox.io/s/q-select-menu-problem-forked-9mof0?file=/src/components/MySelect.vue

[2021-11-11 16:43] #11289 closed, assigned to nobody

[2021-11-11 16:49] pdanpdan commented on #11292
add a class on QInput and style the clearable icon as you need
or use the slot, Luke
https://codepen.io/pdanpdan/pen/eYEjqyQ

[2021-11-11 16:59] stefanocarraro-centropaghe commented on #11292
@pdanpdan nice idea, thanks.

[2021-11-11 17:49] CrawfordW commented on #11289
Thanks - that fixed it! I'm still learning the ropes and appreciate your help.

[2021-11-11 18:03] pdanpdan commented on #11289
- pass model-value (modelValue) from parent to component
- emit update:modelValue from child to notify the parent that the component has changed the model
- try not to keep internal state if you don't need it (you'll have a lot of fun with syncing modelValue with your internal value)
- use computed if you can

- in the specific case of that component in the example I'm not sure I understand why yo

[2021-11-11 22:07] Excel1 commented on #10062
@rstoenescu so we need to open a ticket for keycloak-js to fix the compatibility problems with Vue Router v4, right?

[2021-11-11 23:08] hawkeye64 commented on #10062
Yes

[2021-11-12 02:22] ozelotdev opened #11297 "select clearable is not working (on a dialog)"
**Describe the bug**
`q-select`'s clearable is not working. (on a dialog)

**Codepen/jsFiddle/Codesandbox (required)**
Editor: https://codesandbox.io/s/inspiring-stallman-ji8nt?file=/src/pages/Index.vue
Viewer: https://ji8nt.sse.codesandbox.io

**To Reproduce**
1. Open the page in mobile view.
2. Select "Example Selector" (a dialog should appear)
3. Select some items.
4. Select the clear button in

[2021-11-12 09:13] nicojmb commented on #11222
Hi, i successfuly integrated pinia in quasar 2!!!

in quasar.conf.js add pinia boot file
[code]

in /src/boot, create a pinia.ts
[code]
create a store file: /src/stores/user.ts
[code]

use the store in any vue component/page/layout:

[code]

and you can also use in routes to protect with router guards, example /src/router/index.ts

[code]

and /src/router/routes.ts

[code]

[2021-11-12 13:49] duclet opened #11309 "LooseDictionary type not good enough"
**Describe the bug**
Looks like a recent update started using the type `LooseDictionary` for things like the `field` property of a column in QTable. If we already have our own type for what each row would be, we would lose the ability to use that more specific type which provides better type hinting and validation support.

**Expected behavior**
We should be able to use our own type as before.

**

[2021-11-12 14:04] sheecegardezi commented on #5378
This worked like a charm for me:
https://dev.to/composite/how-to-apply-auto-routes-like-nuxt-js-on-quasar-v2-5mb

[2021-11-12 18:46] rorgonas commented on #10391
This is still a bug, perfectly defined at the end by @rstoenescu in this article:
https://githubmemory.com/repo/quasarframework/quasar/issues/11057

"Hi All,

Very good catch! Fix will be available in Quasar v2.2.4.

v-model is syntactic sugar for model-value="myModel" @update:model-value="val => { myModel = val }" Now when using v-model AND @update:model-value what Vue compiler does is it's setti

[2021-11-12 20:00] joshuavachon25 opened #11312 "FontAwesome Pro and uploaded icons with 'fak' prefix"
In the documentation for how to install FontAwesomePro (https://quasar.dev/options/installing-icon-libraries), there is one thing missing: how to use custom uploaded icons (https://fontawesome.com/v5.15/how-to-use/on-the-web/using-kits/uploading-icons) ?

Can someone help with that?

Thank you!

[2021-11-12 20:10] possibility-of-offense opened #11313 "QScrollArea prop issue"
**QScrollArea prop "content-active-style" is not being applied even if I remove "content-style" prop.**

** https://codepen.io/conscience90/pen/xxLaQMj **

Steps to reproduce the behavior:
1. Hover over the content area and the new color is not being applied (I've tried with a computed property; the styles are not being applied as well).

[2021-11-12 22:31] hawkeye64 commented on #11297
@ozelotjp Hi, thanks for finding this! I have been working on it most of the day and have a fix. I just need more testing to make sure there are no side effects with such a large component.

https://user-images.githubusercontent.com/10262924/141554173-dddc8581-f75d-4faa-9729-dc42c191b0a7.mp4

[2021-11-12 23:34] tianhuat opened #11318 "Side bar keep flicking"
In this page https://quasar.dev/layout/page-sticky#expanded
The side bar here keep flicking
![image](https://user-images.githubusercontent.com/12793956/141595339-1f45235c-83bb-4d1a-b868-120220ce5567.png)
What is the issue here?

[2021-11-13 05:19] pdanpdan commented on #11318
~~#7822~~

[2021-11-13 05:19] #11318 closed, assigned to nobody

[2021-11-13 05:42] tianhuat commented on #11318
@pdanpdan Why is this closed? the issue is still there..

[2021-11-13 05:45] tianhuat commented on #11318
@pdanpdan

[2021-11-13 05:48] tianhuat opened #11319 "Documentation bug - side bar keep flickering"
In this page https://quasar.dev/layout/page-sticky#expanded
The side bar here keep flicking

![2021-11-13_13-46-30](https://user-images.githubusercontent.com/12793956/141607511-15c95909-1585-44fe-bcaa-c2efc5a7b71f.gif)

[2021-11-13 08:26] pdanpdan commented on #11175
Please make a codepen to show the problem

[2021-11-13 08:29] pdanpdan commented on #11318
Sorry, I mixed up the duplication label:
duplicate of https://github.com/quasarframework/quasar/issues/10281
duplicate of https://github.com/quasarframework/quasar/issues/11169
Also:
https://github.com/quasarframework/quasar/issues/8469

[2021-11-13 08:31] pdanpdan commented on #11319
duplicate of https://github.com/quasarframework/quasar/issues/10281
duplicate of https://github.com/quasarframework/quasar/issues/11169
duplicate of https://github.com/quasarframework/quasar/issues/11318
Also:
https://github.com/quasarframework/quasar/issues/8469

[2021-11-13 08:31] #11319 closed, assigned to nobody

[2021-11-13 12:34] CrawfordW commented on #11175
Sorry, I don't know how to build a Quasar codepen. I tried to make a codesandbox but it keeps showing stupid linting errors for legitimate code and won't run correctly. For some reason it doesn't like the line :rows="rows" so the table doesn't show.
You can see it here...
https://codesandbox.io/s/quasar-table-scroll-problem-e36ee

[2021-11-13 13:57] hawkeye64 commented on #11312
It appears uploaded icons in Pro use `fak` prefix. QIcon needs to recognize this during parsing so the right icon can be used.

I can add the parsing later today.

[2021-11-13 14:17] hawkeye64 commented on #11175
@CrawfordW go to any example in docs that is close to what you want and click the CodePen link. It'll build you a CodePen. Then modify the code to create your example. Bear in mind, you can't use self-closing tags on CodePen.

Also, have you checked the width/height of your QScrollArea in dev tools?

[2021-11-13 14:39] CrawfordW commented on #11175
Thanks for the codepen tip. Looks like I'll have to learn composition API in order to integrate my code into the Quasar template (I've been avoiding this!).
My scroll-area has class="full-height" and lives in a column with class="full-height full-width". Always worked before.
I need this because the page is loaded into a splitter pane (either horizontal or vertical) so needs to adapt.

[2021-11-13 14:48] hawkeye64 commented on #11175
`full-height` is just `height: 100%`, but even in regular CSS that doesn't work unless the parent has a fixed height.

[2021-11-13 15:02] CrawfordW commented on #11175
Tried to make a codepen at https://codepen.io/crawfordw/pen/xxLywmW?editors=1111
but the table's not showing for some reason.
Because any page can be in a horizontal splitter, I need scroll-area to handle that. Up until recently it's been working perfectly on many pages I've built.

[2021-11-13 15:24] rstoenescu commented on #11312
Will be available in Quasar v2.3.2.

[2021-11-13 15:24] #11312 closed, assigned to nobody

[2021-11-13 15:49] CrawfordW commented on #11175
To show what I need, you can see my prototype app built with Q1 at https://www.soapmaker.ca/SM4proto
1. Log in with your own email and password 'earlyTester21'
2. Click the 'Recipes' icon on the left vertical toolbar
3. Expand Solid Soap/ Soap bases and right-click 'Soy Base'. Choose 'Edit recipe content...'
4. Click OK and then expand the Ingredients expansion item to see the table.
5. On the top

[2021-11-13 16:16] hawkeye64 commented on #5378
Possible reference: https://github.com/hawkeye64/QPublisher-RFCS

[2021-11-13 19:56] d-kurchenko opened #11330 "Error with icon while building electron app for linux"
**Describe the bug**
I get error `⨯ stat path/quasar-test-app/src-electron/icons/icon: no such file or directory` while building electron app for linux.

**To Reproduce**
Steps to reproduce the behavior:
1.` quasar create quasar-test-app`
2. `quasar mode add electron`
3. `open quasar.conf.js`
4. change bundler mode from "packager" to "builder"
5. `quasar dev -m electron -T linux`

**Screenshots**

[2021-11-13 20:02] hawkeye64 commented on #11330
This only happens for Linux builds (which are currently broken). I have a PR here to fix all that: https://github.com/quasarframework/quasar/pull/11163

[2021-11-13 21:38] rstoenescu commented on #11313
Fix will be available in Quasar v2.3.2.

[2021-11-13 21:38] #11313 closed, assigned to nobody

[2021-11-13 22:15] rstoenescu commented on #11297
This is due to an underlying Vue breaking change.
Updated our code to Vue's latest specs.

Will be available in Quasar v2.3.2.

[2021-11-13 22:15] #11297 closed, assigned to hawkeye64

[2021-11-13 22:50] rstoenescu commented on #11330
Fix will be available through "@quasar/app" v3.2.2

[2021-11-13 22:50] #11330 closed, assigned to nobody

[2021-11-13 22:56] rstoenescu commented on #11281
We do not (yet) offer Nuxt support.

[2021-11-13 22:56] #11281 closed, assigned to nobody

[2021-11-13 23:42] ozelotdev commented on #11297
Thanks for this and other contributions!

[2021-11-14 00:33] Dodobibi opened #11331 "Possibility to externalize StaticServe Middleware (SSR)"
Because the `staticServe` middleware is registered before `injectMiddlewares`, these latter middlewares cannot be applied on static files (ex: compression or helmet middlewares)
[Line 57 of ssr-prod-webserver.js](https://github.com/quasarframework/quasar/blob/8ffd04e223829f36af1e549b8006bfbfa6002799/app/templates/entry/ssr-prod-webserver.js#L57)

It would be nice if it can be possible to extract t

[2021-11-14 06:59] tianhuat commented on #11210
Hi @hawkeye64  @rstoenescu, I have updated to @quasar/app v3.1.10, the above problem seems to be resolved, but I faced another hot reloading problem:
https://www.loom.com/share/4afe701837a4481b9120d83f49a9d0ee

I attached the code here for your testing convenient:
[code]

[2021-11-14 10:43] rstoenescu commented on #10391
@rorgonas Do you mean that you are you still encountering this in Quasar v2.3.2? If so, can you post a codepen reproducing the issue pls?

[2021-11-15 01:40] disarticulate opened #11335 "Dialog plugin fails in mounted hook, requires $nextTick before use"
**Describe the bug**
Dialog plugin fails to work in mounted () hook.

**Codepen/jsFiddle/Codesandbox (required)**
https://github.com/disarticulate/QuasarTestDialogv2.3.2.git

**To Reproduce**
clone the repo, run quasar dev, observe which dialogs popup. Only dialogs in $nextTick wrapper fire.

**Expected behavior**
after boot, $q.dialog and Dialog.create should be available in mounted

**Platform (

[2021-11-15 02:13] LiHDong commented on #10312
I met the same issue either.And I found that I invoke the `Notify.create()` method before the plugin was installed.After changing the import order, the function could run normally.

[2021-11-15 09:17] iliubinskii opened #11340 "Feature request: Add --plain-text-output switch to "quasar inspect" command"
**Is your feature request related to a problem? Please describe.**

I am saving "quasar inspect" output to file using this command:
[code]

As a result I get color markup in inspect.txt:
[code]

**Describe the solution you'd like**

Add command line switch to output plain text without color markup.

**Describe alternatives you've considered**

I tried to view it directly.
But it is inconvenient be

[2021-11-15 09:38] possibility-of-offense commented on #11313
I've fixed it locally but I don't know how to make a pull request to the repo.

[2021-11-15 10:32] maddogcz opened #11341 "QPagination ellipsis slot"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
Add an ellipsis slot to modify its default behaviour e.g. to show QPopupEdit to set page number instead of just go directy to next page.

**Describe alternatives you've considered**
The 'input' pagination variant works but excludes the page buttons and somehow it's not very intuitive nor ple

[2021-11-15 12:33] keinagae commented on #9612
Did you managed to solve this as i am also looking for its solution

[2021-11-15 14:59] thisisgpy opened #11344 "Invoking custom component in dialog of Quasar, close dialog can not remove dom"
I encapsulated a component named GDialog which base on QDialog, codes shows below

    import {QBtn, QCard, QCardActions, QCardSection, QDialog, useDialogPluginComponent} from "quasar";

    export default {
      name: "GDialog",
      components: {
        QBtn,
        QCard,
        QCardActions,
        QCardSection,
        QDialog,
        useDialogPluginComponent
      },
      props: {

[2021-11-15 15:06] zzy1136660162 opened #11345 "Questions about "q-select""
How to not display "fullscreen Dialog options" in small size "q-select" on mobile terminal

[2021-11-15 15:07] pdanpdan commented on #11345
Hello. Please read the docs and use discord channel or discussions for help requests.

[2021-11-15 15:07] #11345 closed, assigned to nobody

[2021-11-15 15:09] pdanpdan commented on #11344
Hello. Please use the discord channel or the discussions for help requests.
Also in such a case make a codepen.

[2021-11-15 15:09] #11344 closed, assigned to nobody

[2021-11-15 17:32] Craigzyc opened #11350 "Q-table sort not working when using a length as cell content"
**Describe the bug**
This seems to be a bug but I'm probably just doing something wrong.
I am trying to load up a view that shows the counts of occurances in an array using length. The numbers display fine in this way but the sort doesn't work at all.

https://jsfiddle.net/craigzych/jxk8mLbr/3/

Steps to reproduce the behavior:
Open the fiddle
Try to sort by the columns
They don't sort in numerica

[2021-11-15 17:49] pdanpdan commented on #11350
Hello. For help requests please use the discord channels or the discussions.

[2021-11-15 17:49] #11350 closed, assigned to nobody

[2021-11-15 18:07] #8642 closed

[2021-11-15 18:09] rstoenescu commented on #8642
Fix will be available in Quasar 2.3.3

[2021-11-15 19:08] lukegravitt opened #11355 "Selected text on q-editor is not replaced when using plaintext-pasting if selected using ctrl+a"
**Describe the bug**
The underlying selected text in a q-editor is not replaced when using the plaintext-pasting from the docs, if the text is selected using Ctrl + A or if the mouse up event occurs outside of the q-editor control.

**Codepen/jsFiddle/Codesandbox (required)**

It's reproducible in the editor embedded in the docs here:
https://v1.quasar.dev/vue-components/editor#plaintext-pasting

[2021-11-15 20:00] stefanvanherwijnen commented on #11165
I am having the same issue with quasar-app-vite and it is caused by defining quasar in [noExternal](https://vitejs.dev/guide/ssr.html#ssr-externals), which bundles quasar.esm.prod.js which in turn is a browser build.

[2021-11-15 20:40] aggroot opened #11357 "Latest Quasar CLI installs capacitor v2 by default, even if capacitor v3 is officially supported"
**Is your feature request related to a problem? Please describe.**

When adding support for capacitor mode using Quasar v2 latest version via Quasar CLI, the default installed version is 2.5.0, even if version 3 of capacitor is supported. There is a manual capacitor v3 upgrade guide described in the docs (https://quasar.dev/quasar-cli/developing-capacitor-apps/capacitor-version-support#capacitor-v

[2021-11-16 03:26] zouyaoji opened #11359 "When the mouse clicks on the canvas container, the q-menu cannot be hidden."
**Describe the bug**
I use quasar in the map app. I have a problem, it may be a bug.

When the menu is in the shown state, click the map container, it cannot be hidden.

**Codepen/jsFiddle/Codesandbox (required)**
https://codesandbox.io/s/nostalgic-hill-ybq8c?file=/src/layouts/main-layout.vue

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/nostalgic-hill-ybq8c?

[2021-11-16 05:17] pdanpdan commented on #11359
Sorry, canvas shoes not pass events to parent registered handlers, so it's not much we can do.

[2021-11-16 05:17] #11359 closed, assigned to nobody

[2021-11-16 06:28] ap91484 opened #11360 "Using script setup and 'component is' with component names defined external, tree shaking removes the imports of the components"
**Describe the bug**
The project is set up with Quasar CLI and Webpack

I have a page which uses dynamic components with `<component :is=.../>`
The list of component names and logic which component to use are in the store.
`<script setup>` is used and all possible components are imported
After `quasar dev` or `quasar build` tree shaking removes the imports, because it is not detecting them used on

[2021-11-16 13:11] hawkeye64 commented on #9712
https://github.com/vuejs/vue-next/issues/4817

[2021-11-16 14:40] eladcandroid opened #11372 "SSR new project failed to run - Invalid value used as weak map key"
**Describe the bug**
TypeError (500)
Invalid value used as weak map key

`TypeError: Invalid value used as weak map key
    at WeakMap.set (<anonymous>)
    at normalizePropsOptions (/Users/elad/dev/quasar/check/node_modules/@vue/runtime-core/dist/runtime-core.cjs.js:2654:15)
    at createComponentInstance (/Users/elad/dev/quasar/check/node_modules/@vue/runtime-core/dist/runtime-core.cjs.js:6120:2

[2021-11-16 15:02] rstoenescu commented on #11372
Cannot reproduce.
What options did you pick when creating the project?

[2021-11-16 15:06] rstoenescu commented on #11357
We cannot recommend v3 until we have time to connect with Capacitor team and deal with running app under HTTPS.
Closing this as it's already on our todo list.

[2021-11-16 15:06] #11357 closed, assigned to nobody

[2021-11-16 15:14] eladcandroid commented on #11372
@rstoenescu
Sass with SCSS syntax

ESLint
Vuex
Axios

ESlint Preset:
Prettier

NPM

You can put console.log here and see that there's some problem with router-view component:
node_modules/@vue/runtime-core/dist/runtime-core.cjs.js:2654:15

When I replaced router-view with a simple div, the error was gone (but not with other Vue component).

[2021-11-16 15:16] alex9849 opened #11374 "q-linear-progress strips animation not adjusted to bar animation"
**Describe the bug**
When changing the value of the q-linear-progress-component with enabled stripes, the stripe-moving animation is shorter than the animation of the colored bar.

Codepen:
https://codepen.io/alex9849/pen/JjywPZP

**To Reproduce**
Steps to reproduce the behavior:
1. Go to create a component with q-linear-progress and add the stripe option
2. Change the value
3. https://codepen.io/

[2021-11-16 15:32] eladcandroid commented on #11372
New & important one:
The bug is related to npm (My version: 8.1.0, Both Node 16/17).
With Yarn (1.22.17) everything goes well.

[2021-11-16 15:40] soulsam480 commented on #10943
Hii @rstoenescu , the above PR got merged yesterday and also released under 3.2.22.

[2021-11-16 17:12] hawkeye64 commented on #11372
@eladcandroid Hi. It is advisable to never use an odd-versioned version of Node, as they are considered experimental and highly recommended not to be used for production. Basically, it's a springboard for the next even-versioned version of Node.

![image](https://user-images.githubusercontent.com/10262924/142032212-a9106bec-da54-4eef-ae5f-123f0612c45f.png)

Also, there seems to be a number of issu

[2021-11-16 18:24] aggroot commented on #10934
@yusufkandemir This sounds awesome. It would be great to have a MOBILE + PWA combo and also from consistency pov, your proposal about how to enable it sounds the right way.
+1

[2021-11-16 20:55] Quasarman opened #11375 "q-select applies data-cy multiple times"
The q-select component applies the data-cy attribute not only to the input but also the div containing the actual input element. I am not sure if this is intended or not but it is kind of counter intuitive since when runing cypress it will find 2 elements which will cause issues when trying to cy.type() inside the q-select input.

Possible workarounds include targeting only inputs with the custom

[2021-11-16 21:09] pdanpdan commented on #11375
Please fill the issue template and add a codepen, ~because I cannot reproduce it~:
- official branch: https://codepen.io/pdanpdan/pen/VwzqKRN?editors=101
- my testing branch: https://codepen.io/pdanpdan/pen/GRvPjeK?editors=101

I suppose you meant if `use-input` is set.

[2021-11-16 23:17] #11372 closed, assigned to nobody

[2021-11-17 05:43] Saravanan-TeslaTuring opened #11377 "Changing the position of files"
### Discussed in https://github.com/quasarframework/quasar/discussions/11376

<div type='discussions-op-text'>

<sup>Originally posted by **Saravanan-TeslaTuring** November 17, 2021</sup>
Hi,
I am new to Quasar. We are looking to change the structure of files. Like I want to move the CSS to the assets folder. I can add the path for app.scss but where I should need to change the path for quasar.var

[2021-11-17 07:18] kostyfisik opened #11378 "keyCode is depricated, however it is still used in docs"
According to
https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/keyCode
usage of `keyCode` is deprecated due to know issues with support of layouts for languages other than English

However, it is still used in e.g. https://quasar.dev/vue-components/input#shadow-text and may be in many other places. Are there any good reason to keep it in docs? Or it should be updated with `keyboardEve

[2021-11-17 09:24] panhezeng opened #11379 "update "@quasar/app": "3.1.9" after , quasar dev -m ssr error"
update "@quasar/app": "3.1.9" after ,   quasar dev -m ssr

[Vue warn]: onMounted is called when there is no active component instance to be associated with. Lifecycle injection APIs can only be used during execution of setup(). If you are using async setup(), make sure to register lifecycle hooks before the first await statement.
[Vue warn]: resolveComponent can only be used in render() or setup()

[2021-11-17 09:33] pdanpdan commented on #11378
Code is not a good choice because it returns the physical key.
And for what the code checks (tab, ESC) the keyCode is consistent.
Despite the warning about deprecation that is there for so many years, and the problems with printable or composed characters, keyCode is supported in all browsers and for control characters works as expected.

[2021-11-17 09:33] #11378 closed, assigned to nobody

[2021-11-17 10:27] ovidiuc opened #11382 "Map/Set in store state converted into empty objects on SSR build"
**Describe the bug**
If a store's state has properties of type `Map()` or `Set()`, when running in SSR mode, the values of those properties get converted into an empty object when serialized for Client consumption.

In the background, Quasar uses [serialize](https://github.com/yahoo/serialize-javascript) library to put the state in `window.__INITIAL_STATE__`. For some, probably valid, reason, the

[2021-11-17 11:10] rstoenescu commented on #11379
Vue has been upgraded to v3.2.22 in "@quasar/app" v3.2.3

[2021-11-17 11:10] #11379 closed, assigned to nobody

[2021-11-17 11:11] rstoenescu commented on #10943
@soulsam480 Vue has been upgraded to v3.2.22 in "@quasar/app" v3.2.3

[2021-11-17 13:03] Quasarman commented on #11375
Sorry for not being explicit enough I typed it on my phone since I was no longer on my PC yesterday. But now that I am, I had another look into it. I took the first example from the docs: https://v1.quasar.dev/vue-components/select#filtering-and-autocomplete where the "Filtering and Autocomplete" features of the `q-select` component are described. But you are right I suppose the behavior can be ob

[2021-11-17 13:05] Quasarman commented on #11375
I also had a look at your testing branch and the same thing I described above can be observed without doing any changes to your codepen: https://codepen.io/pdanpdan/pen/GRvPjeK?editors=101

![image](https://user-images.githubusercontent.com/30523269/142206070-6bb8b3fb-c6e5-4178-a441-0805529de2b0.png)

[2021-11-17 13:31] pdanpdan commented on #11375
Yes, I'll try and look on the code, but there is no way I can think of to differentiate the attrs for wrapper div and for input

[2021-11-17 16:26] IlCallo commented on #11286
Closing in favor of https://github.com/quasarframework/quasar-testing/issues/190
The underlying issue is probably the same

[2021-11-17 16:26] #11286 closed, assigned to IlCallo

[2021-11-17 16:29] IlCallo commented on #11286
Another related, probably the same issue: https://github.com/quasarframework/quasar-testing/issues/186

[2021-11-17 16:37] sschneider-ihre-pvs commented on #11286
@IlCallo quasarframework/quasar-testing#190 seem to be something different to me, no teleport, no dialog no backdrop ?

[2021-11-17 18:39] Demivan commented on #7379
This is what we use in our project with v1 Quasar, but it is really hacky. Proper solution would be very nice to have.
[code]

[2021-11-17 18:47] sjones512 opened #11392 "QBtn with loading=true does not hinder form submission"
The [documentation](https://quasar.dev/vue-components/button#controlling-the-button-for-form-submission) implies that setting the :loading prop of a QBtn will disable the form submission while loading is true.

This does not appear to be the case.

Adding `console.log` statements to the `simulateSubmit` handler shows that the handler is called even if loading is true.  The documentation does not m

[2021-11-17 18:53] pdanpdan commented on #11392
Nothing in the docs tells something like this.
Loading disables the button, not the submit method of the form.

[2021-11-17 18:58] sjones512 commented on #11392
It says directly in the docs

" and to prevent the user repeatedly pressing the button"

Which is not the case. The cursor changes from a pointer to an arrow, but
it does not prevent multiple clicks.

On Wed, Nov 17, 2021 at 10:53 AM Popescu Dan ***@***.***>
wrote:

[2021-11-17 20:38] pdanpdan commented on #11392
Hello. My bad, it's not an error in the docs, it's in the implementation, it's a regression from v1
If the button is `type="submit"` the button is not disabled or it's type is not changed to `button` when loading is active, so that a click on it triggers the form submit even if there is no `@click` on the button.

Thank you for insisting on this.

[2021-11-18 05:53] Grawl commented on #4543
Just faced this issue with Quasar v2 / Vue 3 and removing `yarn.lock` is a solution.

[2021-11-18 06:38] Quasarman commented on #11375
Alright. In the mean time for anyone who might also have this issue I simply defined a separate command for dealing with this case like so:

[code]

This will only specifically look at `data-cy` properties that are applied to input element inside the `q-select` and thus ignore the `data-cy` property applied to the wrapper div.

[2021-11-18 10:53] IlCallo commented on #11286
Yeah, issue 186 looks more like it
The underlying issue appears related to me anyway

[2021-11-18 11:11] sschneider-ihre-pvs commented on #11286
ok, at least you have some line numbers that might help and a reproducible scenario

[2021-11-18 13:58] Evertvdw opened #11397 "QFooter and QHeader are always fixed when using containerized QLayout."
**Describe the bug**
When using a QLayout in containerized mode it is currently not possible to have the footer not 'fixed' at the bottom. I would like to have the footer be part of the page, so only visible when you have scrolled all the way down.

Only options currently are having it `fixed` or using the `reveal` proptery of the footer. The same thing applies to the header, there that option is

[2021-11-18 14:12] Evertvdw commented on #8640
I created a PR that should fix this issue: #10671

[2021-11-18 15:12] diadal commented on #8272
this feature is needed

[2021-11-18 16:38] adarshmadrecha opened #11398 "Selection column does not generate data-v- when using scoped style"
**Describe the bug**
Selection column does not generate `data-v-264xyxyx` when using `scoped` style
https://codesandbox.io/s/busy-germain-h2749

**To Reproduce**
Steps to reproduce the behaviour:
1. In table add `selection="multiple"`
2. Add Scoped Style
[code]
3. Check Element Pane in Dev Tools.

**Expected behaviour**
When adding `selection="multiple"` on the Table, it generates new table column

[2021-11-18 17:14] pdanpdan commented on #11398
Please fix the codepen.

[2021-11-19 07:21] ozelotdev opened #11402 "Q-Dialog displays a blank when opened (on iOS 15)"
**Describe the bug**
When displaying a dialog with scrolling, a blank space is displayed.
This happens only on iOS 15, not on iOS 14.

**Codepen/jsFiddle/Codesandbox (required)**
Editor: https://codesandbox.io/s/happy-hamilton-4dgh5?file=/src/pages/Index.vue
Viewer: https://4dgh5.sse.codesandbox.io/

**To Reproduce**
1. Open Codesandbox.
2. Scroll down a little and shrink the address bar in Safari

[2021-11-19 07:32] rstoenescu commented on #11392
Fix will be available in Quasar v2.3.3

[2021-11-19 07:32] #11392 closed, assigned to nobody

[2021-11-19 07:35] rstoenescu commented on #11398
Hi,

This is a limitation of vue-loader in scenarios like this one. Nothing we can do unfortunately.
However, you can apply a class on your QTable and write the appropriate CSS for it.

[2021-11-19 07:35] #11398 closed, assigned to nobody

[2021-11-19 07:39] rstoenescu commented on #11397
This is on purpose, but honestly I can't remember the reason.

This should be tested on a page with multiple QLayout view configurations (including "funky" ones like "lhh LpR ffr" but not limited to) and on:
* Desktop Chrome / FF / Safari
* Mobile browser Chrome / FF / Safari
* Cordova app Android / iOS
* Capacitor app Android / iOS
* PWA (after installing it and launching it): iOS (especially), A

[2021-11-19 07:42] rstoenescu commented on #11377
Creating a ticket AND also a Discussion with same thing is not helpful. It just clutters our Github...
Unfortunately, we do not support such customization. However, css/app.scss can even be deleted or moved elsewhere as long as the quasar.conf.js > css is changed appropriately (referring to the path).

[2021-11-19 07:42] #11377 closed, assigned to nobody

[2021-11-19 07:46] rstoenescu commented on #11374
Fix will be available in Quasar v2.3.3.

[2021-11-19 07:46] #11374 closed, assigned to nobody

[2021-11-19 09:59] amitgur opened #11406 "$q.screen gt and lt seems wrong"
**Describe the bug**
When sceen size is 990px, $q.sceeen.gt.sm is false and $q.screen.lt.sm is false (the last should be true)

**Codepen/jsFiddle/Codesandbox (required)**
[Fork a Codepen (https://codepen.quasar.dev) or a jsFiddle (https://jsfiddle.quasar.dev) or a Codesandbox (https://codesandbox.quasar.dev) and hit save then copy-paste link here.](https://codepen.io/amitgur/pen/yLowegB)

**To Re

[2021-11-19 10:07] MilosPaunovic commented on #11406
Breakpoints [documentation](https://quasar.dev/style/breakpoints#introduction) says:

Window Size | Name | Width treshhold in pixels
-- | -- | --
Extra Small | xs | Up to 599px
Small | sm | Up to 1023px
Medium | md | Up to 1439px

And your code prints :
[code]

If my math is correct, `990px` is neither in the smaller `xs` nor larger `md` catgory, it falls just right into `sm`, so I woud say it pri

[2021-11-19 10:58] amitgur commented on #11406
I guess I don't understand the declaration.
lt.sm is lower than sm=1023, so 900 should give true. Where is my mistake?

[2021-11-19 11:01] MilosPaunovic commented on #11406
Take a look at [this](https://quasar.dev/style/visibility#window-width-related).

`sm` breakpoint is between `xs` and `md`, meaning `sm` is between 600 and 1023 pixels. So `lt.sm` will be true if the width is less than 600px.

[2021-11-19 11:02] pdanpdan commented on #11406
Lt and gt on the same breakpoint are not the opposite of each other.
The opposites are gt a breakpoint and lt the next greater breakpoint.

[2021-11-19 12:32] Aryess opened #11409 "[CLI] Possible typo in `app/bin/quasar-new` helper (and associated doc)"
**Describe the bug**
As a fresh new user, I was going through the docs (which are great btw), and noticed that the documentation for the `new`  command of the CLI ([here](https://quasar.dev/quasar-cli/commands-list#new)) gives the formatting options as such:
[code]

Shouldn't the second one say "TS **_composition_** API" instead of "component API"?

**To Reproduce**
Steps to reproduce the behavior

[2021-11-19 12:38] amitgur commented on #11406
I think what's confusing here is the document statement

sm Up to 1023px

When the meaning here is

sm Between 599px - 1023px

Then speaking about lower than sm and greater than sm will have the meaning you pointed out.

[2021-11-19 13:16] adarshmadrecha commented on #11398
Will use this method for now, but this CSS will be added in common CSS of the APP and will lead to larger common css file.

@rstoenescu FYI, I am using `vite`, so not sure if this is issue of `vue-loader`.

[2021-11-19 13:22] mrabczuk opened #11413 "QTable: slot 'top-selection' not working"
**Describe the bug**
QTable slot 'top-selection' is not working.

**Codepen/jsFiddle/Codesandbox (required)**
https://jsfiddle.net/5nurg1ja/

**To Reproduce**
Steps to reproduce the behavior:
1. Select any row
2. See error: slot 'top-selection' is not shown

**Expected behavior**
After selecting a row, content of slot 'top-selection' should be shown.

**Platform (please complete the following info

[2021-11-19 14:18] rstoenescu commented on #11413
A PR would have been wonderful, but thanks for reporting!
Fix will be available in Quasar v2.3.4

[2021-11-19 14:18] #11413 closed, assigned to nobody

[2021-11-19 14:20] rstoenescu commented on #11409
Thanks for reporting!
Fix will be available in "@quasar/app" v3.2.4

[2021-11-19 14:20] #11409 closed, assigned to nobody

[2021-11-19 15:25] rossity opened #11414 "Upgrade 'sindresorhus/open' to > 8.0"
**Is your feature request related to a problem? Please describe.**
When specifying which browser to open (in devserver of quasar.conf), it is system dependent which is a pain when working in teams.

[From module page](https://github.com/sindresorhus/open#app)

**Describe the solution you'd like**
Version 8.0 and above lets us use `open.apps` which lets us specify based on OS.

[code]

**Describe a

[2021-11-19 19:04] smolinari commented on #11198
Just a quick update, we are almost there. I've asked the Q be made a capital Q. Also, they said because the template is coming from Github, they can't add the "by the Quasar Team" below the name, but they'll be doing some work in the future to make it possible.

![image](https://user-images.githubusercontent.com/3314957/142677460-7daf1377-e00a-4474-bea8-78560937d48b.png)

Scott

[2021-11-19 20:17] rstoenescu commented on #11198
Thanks for taking care of this @smolinari

[2021-11-20 02:52] Aryess commented on #11409
No worries, thanks for the fix. FYI, there's still one more in the corresponding doc: https://github.com/quasarframework/quasar/blob/0e8dc67acc0f1305372555bd2a76e69f9b242b28/docs/src/pages/quasar-cli/commands-list.md?plain=1#L388

[2021-11-20 10:42] dariodepaolis opened #11423 "Q-Input clearable doesn't work if v-model has trim"
**Describe the bug**
Simple q-input with clearable and v-model.trim

**Codepen/jsFiddle/Codesandbox (required)**
https://codepen.io/dariodepaolis/pen/NWvJeao

**To Reproduce**
Create a q-input with clearable, set a vmodel.trim then tap on the icon

**Platform (please complete the following information):**
Quasar Version: v2.3.1

Quasar mode:
  - [X] SPA
  - [ ] SSR
  - [ ] PWA
  - [ ] Electron
  -

[2021-11-20 10:46] MilosPaunovic commented on #11423
Duplicate #10376

[2021-11-20 11:12] rimijn opened #11424 ""Cannot convert undefined or null to object" at installQuasar"
Application uses vue3 + ts + quasar and jest for testing. Getting error "Cannot convert undefined or null to object" at installQuasar when doing localVue.use(Quasar) or plugins: [Quasar] in test file. The config files are as mentioned below

**package.json -**
[code]

**jest.config.js -**
[code]

**babel.config.js -**
[code]

**test file assets.spec.ts-**
[code]
**Error**
[code]

[2021-11-20 22:57] rstoenescu commented on #11406
@amitgur Thanks for taking the time to PR the docs on this one! Much appreciate it.

[2021-11-20 22:57] #11406 closed, assigned to nobody

[2021-11-20 23:35] JeremyPasco opened #11434 "New CLI projects without Vuex don't compile"
**Describe the bug**
Creating a new projetcs with CLI without picking Vuex generates a project that won't compile.

**To Reproduce**
Steps to reproduce the behavior:
1. `quasar create demo`
2. Picking Sass with SCSS syntax
3. Picking ESLint and Axios (no Vuex)
4. Picking Pretiier
5. Picking Yarn
6. `cd demo`
6. `quasar dev`
7. Get the following error:

 App •  ERROR  •  UI  in ./node_modules/@quas

[2021-11-20 23:37] JeremyPasco commented on #11434
Upgrading @quasar/extras didn't help either:
`yarn add @quasar/extras@latest`

[2021-11-21 07:48] MilosPaunovic commented on #11434
You're first try could be to delete `node_modules` folder and  run yarn again to re-install dependecies. If that doesn't work, provide us with the output of `quasar info` command.

[2021-11-21 09:18] JeremyPasco commented on #11434
Removing the node_modules directory and reinstalling dependencies didn't work.
Here is the quasar info:

Operating System - Linux(5.11.0-40-generic) - linux/x64
NodeJs - 14.17.6

Global packages
  NPM - 6.14.15
  yarn - 1.22.11
  @quasar/cli - 1.2.2
  @quasar/icongenie - Not installed
  cordova - Not installed

Important local packages
  quasar - 2.3.3 -- Build high-performance VueJS user interfac

[2021-11-21 09:23] JeremyPasco commented on #11434
The following works:

1. Create a project with Vuex
2. Remove vuex dependecy with yarn remove
3. Remove the src/store directory
4. `quasar dev`
If I create a project with Vuex and I remove it with Yarn then, it can compile.
Note : `quasar info` gives the exact same config

[2021-11-22 08:33] aprog commented on #8272
It would be good to have an option to skip styles completely or per component.

[2021-11-22 09:31] maddogcz opened #11440 "QPagiantion prop 'active-color' doesn't work for bounary number links when ellipses are visible"
**Describe the bug**
'active-color' color property don't apply to boundary number links when ellipses are visible

**Codepen/jsFiddle/Codesandbox (required)**
https://codepen.io/maddogcz/pen/NWvmEVX

**To Reproduce**
Steps to reproduce the behavior:
1. click on any non-boundary link, the color will change to what it should be

**Expected behavior**
active-color property will work independently to

[2021-11-22 10:17] Karnith commented on #9838
watchOptions is still available, just not on devserver. If you're using docker dev containers add the following to your quasar.config.js
[code]
this will set the watcher to polling and make quasar v2 webpack file watcher functional in docker containers.

[2021-11-22 10:18] Karnith commented on #9906
watchOptions is still available, just not on devserver. If you're using docker dev containers add the following to your quasar.config.js
[code]
this will set the watcher to polling and make quasar v2 webpack file watcher functional in docker containers.

[2021-11-22 10:20] Karnith commented on #9825
see this post to fix file watching for quasar v2 in docker https://github.com/quasarframework/quasar/issues/9838#issuecomment-975367150

[2021-11-22 15:49] SerenityCode opened #11445 "Add way to trigger autogrow on a window resize"
I am currently using a textarea QInput with autogrow enabled inside a table and when I resize the page the autogrow isn't triggered, leaving the table cell the wrong height compared to expected.

To see what I mean I created this pen here https://codepen.io/SerenityCode/pen/XWawrJK I've used a black background for the textarea to make it easy to see the height it is currently set to.

When you mak

[2021-11-22 20:12] mbtolou opened #11446 "rtl css not compatible with devextreme dxdatagrid"
I created a repository to test the dxdatagrid

There was no way I could match the dxdatagrid and the rtlcss.
Can you help me solve the problem?

https://github.com/mbtolou/devextreme_rtlcss

[2021-11-22 20:57] jm-sky commented on #5434
We've switched from **Element-UI** to **Quasar 3**, and our users keep asking for _calendar with previus/next month days_

So I give my +1 for this feature

[2021-11-22 21:05] Dokinz commented on #4687
@rstoenescu
How to set the full URL on js file?
Works in nuxt:
https://nuxtjs.org/docs/configuration-glossary/configuration-build/#publicpath
Works in next:
https://nextjs.org/docs/api-reference/next.config.js/cdn-support-with-asset-prefix

[2021-11-22 22:31] hawkeye64 commented on #5434
@jm-sky But, you have this:
![image](https://user-images.githubusercontent.com/10262924/142944759-6c02372d-1796-4e14-9e52-a315df99c4af.png)

https://quasar.dev/vue-components/date#example--basic

[2021-11-22 22:33] hawkeye64 commented on #5434
I am just going to say you can do this now with the QCalendar app-extension, if you are not hung up on Material Design: https://qcalendar.netlify.app/developing/qcalendarmonth-minimode/minimode-multi-month-selection

[2021-11-23 01:15] metalsadman commented on #11446
use the discussions for questions or asking for help. thx.

[2021-11-23 01:15] #11446 closed, assigned to nobody

[2021-11-23 08:55] mamotv2reg opened #11450 "WYSISYG Editor - Link insert, add support toggle of prefix 'https://'"
When using the WSYWIG editor, and wanting to insert a pasted link, one have to delete the "https://" that's already present in the input field, when using the link feature.

One would like an option or maybe the param to be linked to the prefix of "https://" so that it can be disabled.
Making it possible to insert the link directly using copy/paste, without having to delete "https://" first.

[2021-11-23 09:23] laferte-tech commented on #11335
Hello,

same for me.
I made a sandbox to show this also:

https://codesandbox.io/s/romantic-spence-tbhxx?file=/src/App.vue

Dialog should be shown when App.vue is mounted but nothing happen.

Thanks for your help.

[2021-11-23 12:00] aitmamatovmusa commented on #7570
Hello, so what happened to the footer slot? Did you add it?

[2021-11-23 13:50] hawkeye64 commented on #11423
It's because Vue's `trim` doesn't check for null. It's expecting a string. You can raise an issue against Vue or use `update:model-value` and provide your own check for null and trim.

[2021-11-23 13:50] #11423 closed, assigned to nobody

[2021-11-23 13:53] dariodepaolis commented on #11423
Ok thank you, I've noticed this, I opened a bug only because it worked on Qv1, just this ;)

[2021-11-23 14:00] hawkeye64 commented on #11423
We can't fix this from Quasar side as it'd introduce a breaking change.

[2021-11-23 14:10] hawkeye64 commented on #11340
Use a tool that strips the codes. I think `less -R` will also display correctly. Otherwise, use a tool like this one: https://github.com/kilobyte/colorized-logs

[2021-11-23 14:10] #11340 closed, assigned to nobody

[2021-11-23 14:13] pdanpdan commented on #11340
I think it should respect the Unix behavior of only outputting ANSI colors when using the console

[2021-11-23 14:26] dariodepaolis commented on #11423
No problem I understand and thank you for the answer!

[2021-11-24 03:01] lihxhit opened #11453 "Use QSelect with menu-anchor and menu-self"
**Describe the bug**
When i use q-select with menu-anchor and menu-self ,  the select menu show at bottom of the select ,and then show at top of the select.
          <q-select
            :options="[1,2,3]"
            v-model="model"
            menu-anchor="top right"
            menu-self="bottom right"

**Expected behavior**
show at then top of the select directly

**Screenshots**
If applicab

[2021-11-24 05:21] therealcoder1337 commented on #4320
is this feature still on the radar? it would really add value to the ui, since now you cannot scale it easily. by changing the body's `font-size`, some texts get larger and others don't.
one scenario would be where you have the same quasar app, but on different screens: monitor vs. touch screen view would require different sizes of the ui elements and fonts, which seems non-trivial with the curren

[2021-11-24 05:54] SujanKumarK opened #11454 "QSelect hide-selected hiding the selected items in the input textbox instead of hiding in the dropdown list"
**To Reproduce**
select any demo code in document and add hide-selected attribute.

**Expected behavior**
Selected items to be displayed in text box and hidden in dropdown list box.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Platform (please complete the following information):**
Quasar Version: v2.3.1
@quasar/app Version:

Quasar mode:
  - [ ] SPA
  - [x] SSR

[2021-11-24 05:56] pdanpdan commented on #11454
:)
It does the right/expected/desired thing.

[2021-11-24 05:56] #11454 closed, assigned to nobody

[2021-11-24 08:30] SujanKumarK commented on #11454
Please check codepen https://codepen.io/sujan_kolli/pen/OJjeNKe?editors=101
It is not working

[2021-11-24 09:21] alphaelf opened #11455 "[vite-plugin] auto import component not works with pug"
hi,
it seems auto-import mechanism not works with pug templates

[2021-11-24 10:22] mbtolou commented on #11446
asking for help

[2021-11-24 10:41] iliubinskii opened #11456 "QSlider: Add min-value and max-value props in addition to min and max"
**Is your feature request related to a problem? Please describe.**

I want slider to show interval form 0% to 100%.
However, I want selectable interval to be from 30% to 90%.

See screenshot:
![Scheme](https://user-images.githubusercontent.com/70687432/143223019-b68cc99c-a765-4d2d-9612-0a7bff407364.jpg)

The benefit:
Imagine that I change value from 35% to 45%.
With current slider it will look as

[2021-11-24 11:02] dinesh-chander opened #11457 "Any change in server side code in ssr mode causing webpack dev server to return 404 response (with 200 status code) for incremental builds in dev mode"
**Describe the bug**
If any blocking operation (or await for a promise/async operation) is performed in middleware, it causes the webpackdev server to return 404 for CSS and JS assets in successive requests.

**Codepen/jsFiddle/Codesandbox (required)**
https://github.com/dinesh-chander/quasar-ssr-blocking-bug

**To Reproduce**
Steps to reproduce the behavior:
1. Check the compression middleware
2.

[2021-11-24 12:49] dinesh-chander commented on #11457
This is happening without blocking code also. Create a new project and run it in SSR mode. Change code in ssr folder, it should trigger compilation. Now check the app in browser, you will find 404's in response with status code 200 for CSS and js assets

[2021-11-24 13:54] mbilalbakhtawar commented on #9908
Yes facing same issue.  If you paste **index.html** inside **www**, it starts working fine.

![image](https://user-images.githubusercontent.com/34718017/143251298-f44087d3-2a61-4d24-80fc-108b38bb2dc5.png)

[2021-11-24 14:23] chriscena opened #11463 "QDate More Highlight Options"
Imagine that you want to highlight today's date, selected dates and dates that have been previously selected. QDate currently only supports one color on each date in addition to selected dates highlight.

I'd like the possibility to configure more highlight styles and/or colors per date, and each style should have its own set of input data. Or at least be able to highlight today's date separately,

[2021-11-24 15:13] dinesh-chander commented on #11457
@rstoenescu Could you please have a look?

[2021-11-24 18:20] Karnith opened #11465 "Quasar v2 usage with Docker"
In order to get Quasar V2 file watcher to work with Docker, the quasar.config.js file needs to be updated with
[code]
In webpack watchOptions is still available, so in order to get polling working in a Docker container, the watchOptions object needs to be added to the webpack config. The ```aggregateTimeout``` attribute is to add a delay for rebuilding. Webpack instructions found here https://webp

[2021-11-24 18:34] hawkeye64 commented on #11340
Yes, we do the same thing for the build. @rstoenescu can re-open if he wants to add this to his already busy list of activities.

[2021-11-24 23:19] hawkeye64 commented on #11446
Yes, but this is in Issues. Please use the [Discussions](https://github.com/quasarframework/quasar/discussions) or the [Discord](https://chat.quasar.dev/) server.

[2021-11-25 02:12] faxinwang commented on #10470
With the new error reporting, I still can't figure out what it is that caused this problem.

![image](https://user-images.githubusercontent.com/30144486/143365298-5ba8e2fa-201b-4c85-8a87-c437901ea74b.png)

do you have some insight on it?

Note, there is no difference when I comment the productName and productDescription in the `index.template.html` file.

[2021-11-25 03:52] mbtolou commented on #11446
https://github.com/quasarframework/quasar/discussions/11447

i open issue.
can you help me ?

[2021-11-25 04:55] Saravanan-TeslaTuring commented on #11377
Ok Sorry and thanks

[2021-11-25 04:59] naremloa opened #11468 "HMR try to reload many times when the eslint's warn and error occured together"
**Describe the bug**
HMR try to reload too many times when the eslint's warn and error occured together

**To Reproduce**
Steps to reproduce the behavior:
1. Create new quasar project by using quasar-cli
2. code something like 'const error = "error"' to produce a eslint's error(no-unused-vars)
3. code something like 'console.log("warn")' to product a eslint's warn(no-console)

**Expected behavior*

[2021-11-25 05:56] smolinari commented on #11434
I can't reproduce. Worked fine for me.

❯ quasar info

Operating System - Linux(5.10.60.1-microsoft-standard-WSL2) - linux/x64
NodeJs - 14.17.4

Global packages
  NPM - 6.14.14
  yarn - 1.22.5
  @quasar/cli - 1.0.7
  @quasar/icongenie - Not installed
  cordova - Not installed

Important local packages
  quasar - 2.3.3 -- Build high-performance VueJS user interfaces (SPA, PWA, SSR, Mobile and Deskt

[2021-11-25 05:58] smolinari commented on #11434
I'm going to close this as a one-off and since you've found a workaround. If you find the cause of the issue and it has to do with Quasar, please feel free to reopen.

Thanks for reporting the issue at any rate.

Scott

[2021-11-25 05:58] #11434 closed, assigned to nobody

[2021-11-25 06:34] iliubinskii opened #11469 "v-close-popup should close popup earlier"
**Describe the bug**

Consider this sample:
https://codepen.io/ilyalyu/pen/wvqLROy
It has menu with two options: A and B.
Currently selected option is disabled: if you put mouse over it you will see red cursor.

If you click option B the following will happen:
1. Click action will be triggered that will select option B.
2. Option B becomes disabled and you see red cursor (undesired behavior).
3. N

[2021-11-25 07:10] Mr-Geneo opened #11470 "QAvatar component using slot and icon 'img' prefix"
**Describe the bug**
The QAvatar component using slot and icon, the presentation content is not uniform

**Codepen/jsFiddle/Codesandbox (required)**
https://codepen.io/mr-geneo/pen/abygXVm

**Expected behavior**
After using the 'img' prefix, the font size should be the same as that of the slot

**Platform:**
Quasar Version:  v2.3.3
@quasar/app Version: v3.2.3

[2021-11-25 09:08] pdanpdan commented on #11470
https://codepen.io/pdanpdan/pen/yLodwGo?editors=1010

[2021-11-25 09:22] pdanpdan commented on #11469
You can delay setting the selection
https://codepen.io/pdanpdan/pen/BadgEJZ?editors=1010

[2021-11-25 10:29] iliubinskii commented on #11469
I know that I can fix it in every place manually. I posted a link showing the fix in the original message:
https://codepen.io/ilyalyu/pen/WNEqLVg

But I think that good framework is the one where each component works out of the box without fixes and patches.

If it is possible for v-close-popup to act earlier it would eleminate the necesity to patch it in every place where you disable menu item. I

[2021-11-25 10:36] Evertvdw opened #11471 "Enhance types for QSelect `onFilter` and `onNewValue`"
**Is your feature request related to a problem? Please describe.**
The current types don't specify how the `doneFn` should look like, which can be improved.

**Describe the solution you'd like**
From:
[code]
To:
[code]

[2021-11-25 17:50] dsivachenko commented on #11309
+1

[2021-11-25 18:24] phgrund opened #11475 "QSelect does not emit 'virtual-scroll'"
**Describe the bug**
The QSelect component does not emit the 'virtual-scroll' event in the new Composition API, thus triggering a warning.

**Codepen/jsFiddle/Codesandbox (required)**
Codesandbox: https://codesandbox.io/s/lucid-bartik-22k3k?file=/src/pages/Index.vue

**Steps to reproduce the behavior:**
1. Click on a QSelect with the 'virtual-scroll' event listener
2. Scroll the options
3. See war

[2021-11-26 01:28] wuyu8512 opened #11479 "iconMapFn render function support"
**Is your feature request related to a problem? Please describe.**
I want to use `@mdi/js` in Quasar, but I can’t find a good way

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
I temporarily encapsulated the components myself to solve the problem

[2021-11-26 01:50] #11479 closed, assigned to nobody

[2021-11-26 05:50] nicholaszuccarelli opened #11480 "Bug: QInput White box on iOS 15 (Quasar 1)"
The bug which was fixed here on Quasar 2: https://github.com/quasarframework/quasar/issues/11167
Should be applied to Quasar v1

On iOS 15, my Quasar 1 app has a bunch of boxes with a white background
This is also evident when viewing the Quasar 1 Docs on iOS 15.

[2021-11-26 06:02] nicholaszuccarelli opened #11481 "Bug: QSelect with use-input scrolling to top of page on mobile (Quasar 1)"
I notice that this bug has been fixed on Quasar 2 however I cannot find a supporting bug report for this problem.

When using QSelect with the `use-input` prop on mobile, closing/exiting the QSelect will sometimes scroll to the top of the page.
This is evident in the Quasar 1 Docs (and the issue is also happening on my Quasar 1 app).
The bug is also very annoying on long pages as you're forced to

[2021-11-26 06:12] nicholaszuccarelli opened #11482 "Request: QSelect prop to disable auto-focus on input when use-input prop exists"
I'd like the ability to disable automatically focussing on the input box when using QSelect with `use-input` prop on mobile mode

(This video was in reference to a bug but also shows what I mean for this feature request).
On Quasar 2, opening the QSelect popup doesn't automatically focus on the input box, however on Quasar 1 it automatically focuses.
It'd be nice to toggle this functionality (`use

[2021-11-26 06:33] yusufkandemir opened #11483 "Use correct types for component references"
**Is your feature request related to a problem? Please describe.**
Objects that are references to component instances are typed as generic objects using `LooseDictionary`, which doesn't help when interacting with them.

**Describe the solution you'd like**
Those types should be shipped correctly as `QScrollArea`, `QSelect`, etc.

**Describe alternatives you've considered**
Casting them manually.

[2021-11-26 06:46] yusufkandemir commented on #11471
Currently(_Quasar v2.3.3_), the types are like this:
[code]
#11109 generated the function types themselves, and #11347 fixed the required logic. In your example, `afterFn` should be optional too.

So, the only improvement that can be made is to change `LooseDictionary` to `QSelect`. I had that in mind for some time, now created an issue to track it, see #11483. So, thanks for an implicit reminder

[2021-11-26 06:46] #11471 closed, assigned to nobody

[2021-11-26 07:13] Evertvdw opened #11485 "Type 'modelValue' of QSelectProps incomplete"
**Describe the bug**
Currently with typescript it is not possible to have an object as modelValue as it is typed as:
`modelValue: number | string | any[] | null | undefined;`

**Codepen/jsFiddle/Codesandbox (required)**
This causes issues when using the QSelect like this:
https://codepen.io/Mett-codepens/pen/BadXZgj?editors=1010

**Expected behavior**
ModelValue should be typed to include Objects,

[2021-11-26 07:24] pdanpdan commented on #11481
Can you please check here: https://pdanpdan.github.io/quasar-docs/vue-components/select#filtering-and-autocomplete
There are lots of fixes for iOS: https://github.com/pdanpdan/quasar/releases

[2021-11-26 07:36] yusufkandemir commented on #11485
`type` here also needs `"Object"`:
https://github.com/quasarframework/quasar/blob/174f15fd4d29788da9b31f2f9beb79c3baa97af9/ui/src/components/select/QSelect.json#L11

Can you PR it, please? Don't forget to check if the final generated types are correct after running `yarn build js types`, it will output the diff to console.

[2021-11-26 07:49] Evertvdw commented on #11485
Ok, will do!

[2021-11-26 08:09] Smrtnyk commented on #11210
Vue has fixed some stuff regarding hmr in latest release
https://github.com/vuejs/vue-next/blob/master/CHANGELOG.md
not sure if it is something that relates to issues we have mentioned here

[2021-11-26 08:17] J3m5 commented on #11210
I have updated the dependencies and it seems to be fixed now.

[2021-11-26 08:19] Smrtnyk commented on #11468
I have the same issue, eventually sometimes browser crashes

[2021-11-26 10:05] tianhuat commented on #11210
Hi, how do we upgrade to the latest vue version and test in the existing Quasar project?

[2021-11-26 10:30] nicholaszuccarelli commented on #11481
Yep, fixed on that version! Looks fantastic. Can't wait for it!

[2021-11-26 13:13] otatar opened #11491 "Quasar over vue cli type script support"
Hi there,

I have created a Vue3 app with typescript support using vue cli, and after that I have added quasar framework with: vue add quasar.

However when I try nom run dev:
`ERROR in src/main.ts:7:31
TS7016: Could not find a declaration file for module './quasar-user-options'`

is it possible to use quasar with vue 3 typescript without quasar cli?

[2021-11-26 14:49] Evertvdw opened #11493 "QBtnDropdown has prop `modelValue` required while it can be used without"
**Describe the bug**
[QBtnDropdown API](https://quasar.dev/vue-components/button-dropdown#qbtndropdown-api) specifies model-value as required but the first example in there does not specify this. It seems to me that this prop should not be required as the component works fine without it. This causes TS issues with Volar when it is not supplied.

**Codepen/jsFiddle/Codesandbox (required)**
https://

[2021-11-26 14:55] Evertvdw opened #11494 "QBtnToggle dynamic slots are not typed, Volar complains"
**Is your feature request related to a problem? Please describe.**
In a component like this: https://codepen.io/Mett-codepens/pen/porMKBz?editors=1010 Quasar created dynamic slots based on the `slot` property in the options. However these slots are not defined in the API and thus not present on `QBtnToggleSlots` and marked by Volar as invalid.

**Describe the solution you'd like**
In this case a g

[2021-11-26 15:24] Evertvdw opened #11495 "Workaround for `useI18n` is generating warnings in a loop"
The workaround for using `i18n` with composition api currently described here: https://quasar.dev/start/upgrade-guide#vue-i18n-v9 causes some problems for me.

When used it generated the following warning message:
[code]
And on HMR it then ends up in a loop where there is a constant stream of warnings clogging the console.  Using the `useI18n` method exported by `vue-i18n` does not have this issue

[2021-11-26 16:51] Smrtnyk commented on #11210
if you are using quasar cli you don't, you wait for quasar to upgrade
you can add the dependency manually to your package.json but I wouldn't go using that route

[2021-11-26 17:13] eriverosr commented on #10198
The codepen in https://codepen.io/eriveros/pen/qBXeJPa?editors=101 is useful to replicate the problem.

You need to type a composite character with us-intl layout.

For example, to type character á you need to type first the ’ character and then the a character.

In Quasar QInput component, the ’ composite character gets deleted milliseconds after it is pressed, so the character that appears in th

[2021-11-26 18:21] pdanpdan commented on #10198
I'm sorry, but on linux (ubuntu) I cannot reproduce it.
My compose key is SCROLL_LOCK, and in the codepen, docs, whatever:
SCROLL_LOCK + ' + a => á

[2021-11-26 18:28] pdanpdan commented on #11481
I don't think the changes will end up in the official release, so if you need them:

In package.json replace (or add) quasar dependency with:
"quasar": "https://github.com/pdanpdan/quasar#quasar-pdan-v1.16.0-beta.24"

Then do a yarn or npm install and start the app again.

Please report if you find something not working.

[2021-11-26 18:37] pdanpdan commented on #11469
ClosePopup needs to execute in a setTimeout to allow the click to be processed by the component (the target of the click)
Else, if the close is instant, you'll end up with the menu closing and destroying the children components before they were able to process the click.

see here: https://github.com/quasarframework/quasar/issues/3795

[2021-11-26 21:51] hawkeye64 commented on #11210
@quasar/app should be updated/released this weekend
The HMR updates are related to `<script setup lang="ts">`

[2021-11-26 21:55] hawkeye64 commented on #10198
@eriverosr This is your codepen with no issues
![image](https://user-images.githubusercontent.com/10262924/143657470-b570a6e9-c2f7-4faf-94fa-eaaaa8850b6f.png)

I would check for interference from a browser extension. Try Incognito Mode and see if you get the same results.

[2021-11-26 22:21] hawkeye64 commented on #10281
I am also curious if this only happens when you have Chrome Dev Tools opened?

[2021-11-26 22:26] hawkeye64 commented on #9712
@Evertvdw Can you test again? There have been several SSR/hydration fixes in Vue since this issue was added.

[2021-11-26 22:28] hawkeye64 commented on #9706
Closing for inactivity. Feel free to open again if the issue persists.

[2021-11-26 22:28] #9706 closed, assigned to nobody

[2021-11-26 22:30] hawkeye64 commented on #9532
Closing for inactivity. Feel free to open it again if the issue persists.

[2021-11-26 22:30] #9532 closed

[2021-11-26 22:31] hawkeye64 commented on #9308
Closing for inactivity. Feel free to open it again if the issue persists.

[2021-11-26 22:31] #9308 closed

[2021-11-26 22:32] hawkeye64 commented on #9303
Closing for inactivity. Feel free to open it again if the issue persists.

[2021-11-26 22:32] #9303 closed

[2021-11-26 22:37] hawkeye64 commented on #8733
Closing for inactivity. Feel free to open it again if the issue persists.

[2021-11-26 22:40] hawkeye64 commented on #8607
As there have been several workarounds to everyone's issues, I am closing this issue. Feel free to re-open if there are still concerns.

[2021-11-26 22:40] #8607 closed

[2021-11-26 22:49] iliubinskii commented on #11469
I don't know the internals of quasar framework, but I guess the following may work:

Option 1:

If the problem is in destroying menu item then v-close-popup may prevent menu from destroying. It can keep it alive.

Option 2:

1. Let's modify the code:
[code]

2. Let's make v-close-popup trigger "clickclose" event (if q-item is destroyed then v-close-popup can cache "clickclose" handler and call it

[2021-11-26 22:53] hawkeye64 commented on #6509
There was a fix in Vue v3.1.0
[code]
Does anyone care to test further and see if this is still an issue? Otherwise, this ticket will be closed.

[2021-11-26 22:56] hawkeye64 commented on #7499
I am closing the issue for inactivity. If this is still a concern, please create a conversation in the Discussions area.

[2021-11-26 22:56] #7499 closed

[2021-11-26 22:57] hawkeye64 commented on #6678
I am closing the issue for inactivity. If this is still a concern, please create a conversation in the Discussions area.

[2021-11-26 22:57] #6678 closed

[2021-11-26 22:58] hawkeye64 commented on #6545
I am closing the issue for inactivity. If this is still a concern, please create a conversation in the Discussions area until a solution is settled.

[2021-11-26 22:58] #6545 closed

[2021-11-26 23:10] hawkeye64 commented on #7095
I am closing the issue for inactivity. If this is still a concern, please create a conversation in the Discussions area or feel free to reopen.

[2021-11-26 23:10] #7095 closed

[2021-11-26 23:11] hawkeye64 commented on #6593
I am closing the issue for inactivity. If this is still a concern, please create a conversation in the Discussions area or feel free to reopen.

[2021-11-26 23:11] #6593 closed

[2021-11-26 23:12] hawkeye64 commented on #7392
I am closing the issue for inactivity. If this is still a concern, please create a conversation in the Discussions area or feel free to reopen.

[2021-11-26 23:12] #7392 closed

[2021-11-26 23:13] hawkeye64 commented on #2823
I am closing the issue for inactivity. If this is still a concern, please create a conversation in the Discussions area or feel free to reopen.

[2021-11-26 23:13] #2823 closed

[2021-11-26 23:14] hawkeye64 commented on #5893
I believe this has been implemented in Quasar v2 (recently)
I am closing the issue for inactivity. If this is still a concern, please create a conversation in the Discussions area or feel free to reopen.

[2021-11-26 23:14] #5893 closed

[2021-11-26 23:15] hawkeye64 commented on #7722
I am closing the issue for inactivity. If this is still a concern, please create a conversation in the Discussions area or feel free to reopen.

[2021-11-26 23:15] #7722 closed

[2021-11-26 23:18] hawkeye64 commented on #5383
@IlCallo It's been over a year for activity. Can this ticket be closed?

[2021-11-26 23:21] hawkeye64 commented on #6530
I am closing the issue for inactivity. If this is still a concern, please create a conversation in the Discussions area or feel free to reopen.

[2021-11-26 23:21] #6530 closed

[2021-11-26 23:22] hawkeye64 commented on #7979
I am closing the issue for inactivity. If this is still a concern, please create a conversation in the Discussions area or feel free to reopen.

[2021-11-26 23:22] #7979 closed

[2021-11-26 23:24] hawkeye64 commented on #4763
I am closing the issue for inactivity. If this is still a concern, please create a conversation in the Discussions area or feel free to reopen.

[2021-11-26 23:24] #4763 closed

[2021-11-26 23:24] hawkeye64 commented on #8007
I am closing the issue for inactivity. If this is still a concern, please create a conversation in the Discussions area or feel free to reopen.

[2021-11-26 23:24] #8007 closed

[2021-11-26 23:25] hawkeye64 commented on #8031
I am closing the issue for inactivity. If this is still a concern, please create a conversation in the Discussions area or feel free to reopen.

[2021-11-26 23:25] #8031 closed

[2021-11-26 23:25] hawkeye64 commented on #7006
I am closing the issue for inactivity. If this is still a concern, please create a conversation in the Discussions area or feel free to reopen.

[2021-11-26 23:27] hawkeye64 commented on #8009
@ldiebold No traction for over a year. Can this ticket be closed?

[2021-11-26 23:27] hawkeye64 commented on #8206
I am closing the issue for inactivity. If this is still a concern, please create a conversation in the Discussions area or feel free to reopen.

[2021-11-26 23:28] hawkeye64 commented on #7539
I am closing the issue for inactivity. If this is still a concern, please create a conversation in the Discussions area or feel free to reopen.

[2021-11-26 23:28] #7539 closed

[2021-11-26 23:30] hawkeye64 commented on #7729
I am closing the issue for inactivity. If this is still a concern, please create a conversation in the Discussions area or feel free to reopen.

[2021-11-26 23:30] #7729 closed

[2021-11-26 23:32] hawkeye64 commented on #7777
ping... Is this still a bug in v2 or can we close this one?

[2021-11-26 23:33] hawkeye64 commented on #8294
I am closing the issue for inactivity. If this is still a concern, please create a conversation in the Discussions area or feel free to reopen.

[2021-11-26 23:33] #8294 closed

[2021-11-26 23:34] hawkeye64 commented on #7004
ping

[2021-11-26 23:34] hawkeye64 commented on #6456
I am closing the issue for inactivity. If this is still a concern, please create a conversation in the Discussions area or feel free to reopen.

[2021-11-26 23:34] #6456 closed

[2021-11-26 23:38] hawkeye64 commented on #7076
Can this issue be closed?

[2021-11-27 01:17] #8009 closed

[2021-11-27 01:17] ldiebold commented on #8009
Yes, closed ☺️

[2021-11-27 04:28] metalsadman commented on #11454
it's in the docs
![image](https://user-images.githubusercontent.com/31038838/143667991-1f50cc88-6cfb-4c8f-8fff-ce0347a7041f.png)
it's not suppose to do what you've stated in your title.

[2021-11-27 05:49] Evertvdw commented on #10281
@hawkeye64 No, it happens on the PWA installed app om desktop for me too

[2021-11-27 06:44] Junvary opened #11498 "QTree in dense mode and node without children"
![20211127144005](https://user-images.githubusercontent.com/26101389/143671264-cd7923be-9060-4e22-956d-5360418470e2.png)
![20211127144055](https://user-images.githubusercontent.com/26101389/143671266-c7c4d64d-975a-4bd8-bd78-6e9bed20c5c3.png)
![20211127144120](https://user-images.githubusercontent.com/26101389/143671267-56626c55-b0bb-4dcd-a062-bd6b919bce6b.png)
![20211127144751](https://user-images

[2021-11-27 07:05] pdanpdan commented on #11498
Please make a codepen

[2021-11-27 07:08] nothingnewlmao commented on #7777
nobody fixed this :)
it's still a bug and it still appears

[2021-11-27 07:19] Junvary commented on #11498
https://codepen.io/junvary/pen/mdMNNbN?editors=101

[2021-11-27 07:41] lmm-git commented on #7006
We are using a self-implemented fix by extending the webpack config to achieve a similar behavior like requested for Sentry integration. Would be nice if this could get officially supported.

[code]

The workaround @eljefedelrodeodeljefe described does not work for us as there are some changes to the source code/maps which make debugging hard when building it twice.

[2021-11-27 08:24] mstroeve commented on #7006
@lmm-git thanks for the fix. It would we be great if the quasar team would add this source map parameter by default .

The sentry part is not generic enough but this can be added in the project itself.

@hawkeye64 would you reconsider reopening this request using the suggested fix for the source map part?

[2021-11-27 10:18] susnux commented on #8733
Issue still persists, even with Firefox for Android 94.1.2.

[2021-11-27 11:36] lambda0xff opened #11500 "QOptionGroup label slot types are wrong"
**Describe the bug**

![Screenshot 2021-11-27 at 12 04 26](https://user-images.githubusercontent.com/38687176/143679410-8638f2e3-dcea-4f9b-b2bc-5f7fe2a91865.png)

using 'label-0' works

**Platform (please complete the following information):**
Quasar Version:3.2.3
@quasar/app Version: 3.2.3

Quasar mode:
  - [X ] SPA
  - [ ] SSR
  - [ ] PWA
  - [ ] Electron
  - [ ] Cordova
  - [ ] Capacitor
  - [

[2021-11-27 15:29] 625781186 commented on #10111
@rstoenescu
I mentioned this question a long time ago.

[issues/8267](https://github.com/quasarframework/quasar/issues/8267)

You need to know why we use `UMD`?
Because UI libraries belong to scripts that rarely change ,
and it takes up most of the volume after build(as https://github.com/quasarframework/quasar/issues/8267#issuecomment-751926921).

So we need to use` webpack externals` to exclude

[2021-11-27 15:35] 625781186 commented on #10111
@e274426380

[issues/8267](https://github.com/quasarframework/quasar/issues/8267)

The team never seemed to see this as a problem,
So while Quasar was well designed, I abandoned it in favor of Elementui

[2021-11-27 16:41] yusufkandemir commented on #11475
First of all, thanks for the bug report and the PR.

The same can also happen for `virtual-scroll` event for `QVirtualScroll` too and for other events such as `new-value` event for `QSelect`.

This case is normally handled by `onVirtualScroll` prop defined here: https://github.com/quasarframework/quasar/blob/77c9238ce7c074202173183e2e02d6bad87868fd/ui/src/components/virtual-scroll/use-virtual-scro

[2021-11-27 16:41] #11475 closed, assigned to nobody

[2021-11-27 17:11] yusufkandemir commented on #11309
After some investigation and testing, dropping `LooseDictionary` and using `any` instead will likely be the solution. See this [TS Playground](https://www.typescriptlang.org/play?#code/JYOwLgpgTgZghgYwgAgMIFcDOYD2BbAETjDmQG8BYAKGVuRhxwC5lspQBzau5AIzigsyfOAC8WIdHl7RkAX2oKq1APQq06KFAjhkARXRxMA5GACeABwiZq5q8gAyjTBALAEYYDhACzyALzkyADaoAAmEAAeyKCsYOwgHAC6LHAgfnIA3NSgkLCIKHoAKnC8ADYQAApQOBaY5Nx0CDhlUiCY

[2021-11-27 18:08] ThisIsRex opened #11504 "Popup edit doesn't update a value in the table when a virtual scroll enabled"
**Describe the bug**
A clear and concise description of what the bug is.

**Codepen/jsFiddle/Codesandbox (required or your issue may be closed)**
https://codepen.io/rixojow151/pen/WNZexmr

**To Reproduce**
Steps to reproduce the behavior:
Edit the first column field. Value will be left unchanged. Then scroll to hide edited line, and then scroll back. The value will be changed.

**Expected behavior

[2021-11-27 18:20] pdanpdan commented on #11504
It is a pure happening that it updates when you scroll (and I would think it's a bug somewhere).
You are not using ref on rows, so they should not be reactive.
https://codepen.io/pdanpdan/pen/poWzEoe?editors=1010

[2021-11-27 18:20] #11504 closed, assigned to nobody

[2021-11-27 19:13] Evertvdw commented on #6509
@hawkeye64 Just checked this with the latest Quasar version (2.3.3) and this is still an issue:
https://codesandbox.io/s/stupefied-feather-z4xky?file=/src/layouts/MainLayout.vue

Reproduce is still the same:

1. Make sure the browser window in the sandbox is wide enough so that the left drawer is visible.
2. Reload the page and look in the console

[2021-11-27 19:17] Evertvdw commented on #8536
I have a [PR](https://github.com/quasarframework/quasar/pull/11438) open to add documentation on how to implement `vuex-smart-module`. The same will be added for Pinia I believe and that would make two alternatives for a fully typed store. Of course this could be presented as an option in the starter kit but I don't think that is absolutely necessary when there is sufficient documentation on how t

[2021-11-27 19:17] #8536 closed

[2021-11-27 19:26] Evertvdw commented on #9711
I checked to see if this issue still persists, I can still reproduce it. Here is a reproduction example:
https://codesandbox.io/s/async-surf-ftpfs?file=/src/components/AsyncComp.vue

To reproduce:
1. Make sure the browser window in the sandbox is above the `xs` breakpoint
2. Refresh the page, the red input field now has full width (has 'fit' class applied)
3. Click inside the input field, the inpu

[2021-11-27 19:38] Evertvdw commented on #9712
@hawkeye64 Yes, I just did. Issue is still there, the linked issue from the Vue repo is still not resolved either. In any case here is a reproduction link: https://codesandbox.io/s/competent-engelbart-dwfd7?file=/src/pages/Index.vue

[2021-11-27 22:55] nicholaszuccarelli commented on #11481
How come you don't think the changes will become official? These seem like some quite important fixes.

[2021-11-28 00:45] anli-xsigns commented on #5533
This example is unfortunately not working together with stack property: https://codepen.io/anli-xsigns/pen/abLoJbG
You have to add elipsis and full-width to the div.

[2021-11-28 12:16] vneznaikin commented on #10120
why still not fixed?

[2021-11-28 14:23] hawkeye64 commented on #10120
Duplicate: https://github.com/quasarframework/quasar/issues/11169

[2021-11-28 16:47] susnux opened #11509 "Change options for DateUtils getDateDiff"
**Is your feature request related to a problem? Please describe.**
Only `getDateDiff` has other options as the other methods, so it is easy to get confused when to use e.g. `year` and when `years`.
Also the TypeScript interface is annoying by just being set to `string`, so if consolidating the options, you could simply use `DateUnitOptions` as type for the options argument.

**Describe the solutio

[2021-11-28 21:01] ghost opened #11510 "The prop 'hasError' generates a TS error, types that are generated based on the docs are incorrect"
First of all I deeply apologize for my bad English. I wanted to use the internal validation from quasar and my code is below this text also what I've learned is from the docs here :
https://quasar.dev/vue-components/input#example--form-validation
But The prop 'hasError' (that is used for internal validation on inputRef and it gives 'true' if the inputs has error) generates a TS error that says `Pr

[2021-11-29 02:57] eriverosr commented on #10198
I tried to replicate the problem in Chromium and it doesn't happen there :open_mouth: It only happens in Firefox, with or without Incognito Mode. I created a new profile in Firefox to check if my configurations had anything to do with my issue, but it persisted.

Can you test with Firefox Browser and US International or Spanish(Latin American) Layouts? In those layouts, the ' key composes itself b

[2021-11-29 05:18] vneznaikin commented on #11169
is there a way to override the layout calculation? I found the only solution to change the values through "nextTick". but this is a not good solution. more like a temporary crutch

my temporary solution:
[code]
do not forget add qLayout ref
and you also need to add resize listner

UPDATE:
nextTick it's bad solution
[code]
little bit better but still not so good

[2021-11-29 06:11] pdanpdan commented on #10198
Sorry, but I don't find either of the 2 kbd layouts to install.
And in firefox with SCROLL_LOCK it works as expected.

[2021-11-29 06:46] abniyazmv opened #11511 "q-video loop does not work"
q-video loop does not work  firefox

[2021-11-29 07:03] pdanpdan commented on #11511
https://github.com/quasarframework/quasar/issues/8469

[2021-11-29 07:03] #11511 closed, assigned to nobody

[2021-11-29 09:55] IlCallo commented on #5383
Yes, whoever is interested into this can check out progresses into the referenced repo.
I don't see this becoming part of Quasar core anytime soon for now, current implementation need quite some setup and the package still have unresolved performance problems which can be solved only by leveraging Webpack 5 built-in caching mechanism

[2021-11-29 09:55] #5383 closed

[2021-11-29 11:06] ovidiuc commented on #11495
I have the same problem with all the errors you mention, but they don't end in an infinite loop. There are just lots of them. It seems that they are generated only when Vue Dev Tools is activated. Try in an incognito window without opening Vue Dev Tools and see if you have the same problem.
I also use the built-in `useI18n`, as the proposed example doesn't have the `options` param.

[2021-11-29 13:08] yusufkandemir commented on #11510
You can use the return values of `validate()` calls instead of `hasError`.

And the best way to approach this use case is instead of a regular form, using [QForm](https://quasar.dev/vue-components/form). That way, you can call validate on the q-form ref, and it will give you the validation result of the whole form. So, instead of dealing with all the input refs, calling validate on them, etc. you

[2021-11-29 13:48] #11485 closed, assigned to nobody

[2021-11-29 17:47] BrynBerkeley opened #11519 "Programmatic routing with quasar v2 and typescript"
**Describe the bug**
When using the router instance to push routes to history. The URL updates but the router-view does not.

**To Reproduce**
Steps to reproduce the behavior:
1. New quasar project via CLI with: ESLint, Typescript, Axios, Vue-i18n
2. Add @click event to an element calling a function which will navigate
3. use router instance and create navigate function
[code]

3. Click on element

[2021-11-29 17:59] pdanpdan commented on #11519
I don't know what are you doing there, but:

- `useRouter` is not returning a promise
- what is `useRouter({})` (the empty object) doing?
- last but not by far least - `useRouter` (like almost all `use...`) must by called synchronously right inside `setup()`

So in your case you end up with some router instance, nobody knows what instance :)

[2021-11-29 17:59] #11519 closed, assigned to nobody

[2021-11-29 18:12] BrynBerkeley commented on #11519
I named the function poorly when I imported it, this is the `route` variable imported from src/routes/index.ts. The exported `route` variable is a function that expects a params object. To satisfy typescript I passed an empty object. However, I am lost as to how I am supposed to use this. It is not the useRouter function provided by vue-router.

Thanks for the quick reply :)

[2021-11-29 18:18] pdanpdan commented on #11519
Please make a reproduction (codesandbox) and ask for help in discussions.
As you can see what is shown in your code looks like a duck but it's not a duck so somebody has to see all code and understand.

[2021-11-29 18:29] pdanpdan commented on #11355
I cannot reproduce it. What browser / os?
Are there any other steps needed to reproduce?

[2021-11-29 23:03] ghost commented on #11510
Hey @yusufkandemir  Thank you so much for the comment, your guide and the information will help me for sure... Thanks a lot! 🙏
And with all respect ; I wanted to say that in fact the only thing we have from a software is just a documentation.
There is nothing in the documentation other than `hasError` in order to know if a input has error or not.
I respectfully invite you to read this part of the

[2021-11-30 01:07] kapchew commented on #10698
Hi,

Using the same example, but with your recommended solution to add emits: [ 'virtual-scroll' ], it seems to work at first, but when an item is selected, and you try to select again, the same warning will be triggered:

[Vue warn]: Component emitted event "virtual-scroll" but it is neither declared in the emits option nor as an "onVirtual-scroll" prop.

This is the modified example: https://jsf

[2021-11-30 01:11] kapchew commented on #10698
Hi,

Using the same example, but with your recommended solution to add emits: [ 'virtual-scroll' ], it seems to work at first, but when an item is selected, and you try to select again, the same warning will be triggered:

[Vue warn]: Component emitted event "virtual-scroll" but it is neither declared in the emits option nor as an "onVirtual-scroll" prop.

This is the modified example: https://jsf

[2021-11-30 01:35] lukegravitt commented on #11355
Very reproducible on Chrome/OSX by doing the steps -- the behavior seems to be different depending on whether the mouse is still hovering over the editor (bug occurs) or whether its outside of it (does not occur).

If you select all the text with a drag and end the drag outside the editor it also occurs.

Also occurs on Firefox and Safari on OSX.
Also occurs in v2 of Quasar: https://quasar.dev/vue

[2021-11-30 06:08] yusufkandemir commented on #11510
Thanks for the kind comment, I appreciate it. I totally understand you and agree that this is confusing.

Generally, if something is confusing like this, it might end up being a private thing accidentally used somewhere, or just got overlooked with less to no documentation at all. `hasError` example is [3 years old](https://github.com/quasarframework/quasar/commit/e90f65716e805b5786b1b7cc5c328fcb6

[2021-11-30 09:58] omarAbdelhadyok opened #11521 "Quasar importStrategy kebab not working with vue 3 js"
**Describe the bug**
I had a Vue 3 application that was using Bootstrap. I removed bootstrap and added quasar. `vue add quasar`.
The project is working fine, but I keep getting a warning for all components :
`[Vue warn]: Failed to resolve component: q-time`.

It only works when I manually import the components. Any idea what am I doing wrong?

here's
//main.js

[code]

//package.json
[code]

* //q

[2021-11-30 22:33] hawkeye64 commented on #10698
@kapchew Check out the explanation here about a Vue bug related to this: https://github.com/quasarframework/quasar/issues/11475#issuecomment-980692233

[2021-11-30 22:48] hawkeye64 commented on #11360
Can you add example code:
1) How it's being used dynamically with `<script setup>`
2) How the store containing the components looks

[2021-12-01 02:28] HibernantBear opened #11526 "typescript build error with i18n [Excessive stack depth comparing types]"
**Describe the bug**
use quasar with specified version blow, select typescript and i18n support, keep the work as it is and run 'quasar dev', you will see

 Dev mode.......... spa
 Pkg quasar........ v2.3.3
 Pkg @quasar/app... v3.2.3
 Pkg webpack....... v5
 Debugging......... enabled

 Configured browser support (>= 89.37% of global marketshare):
 · Chrome for Android >= 96
 · Firefox for Android

[2021-12-01 07:53] panhezeng opened #11527 "Vue update to 3.2.23 , quasar build -m ssr error"
vue update 3.2.23 , quasar build -m ssr error ?

Why did the quasar compile error report as soon as Vue was upgraded, and it was the same last time. Features
Upgraded Vue to v3.2.22 #11379 #10943

[2021-12-01 08:04] panhezeng commented on #11527
Now you must add "vue": "3.2.22" to the dependencies of your own project's package.json

[2021-12-01 08:40] zknic opened #11528 "quasar V2 SSR mode gzip failed"
**Describe the bug**
A clear and concise description of what the bug is.

**Codepen/jsFiddle/Codesandbox (required or your issue may be closed)**
Fork a Codepen (https://codepen.quasar.dev) or a jsFiddle (https://jsfiddle.quasar.dev) or a Codesandbox (https://codesandbox.quasar.dev) and hit save then copy-paste link here.

**To Reproduce**
Steps to reproduce the behavior:
1. quasar create test
2.

[2021-12-01 09:02] obi84 opened #11529 "Issues setting quasar.lang at runtime as described in the docs."
**Describe the bug**
I cannot set the quasar lang as described in the docs. The import statement always throws an error and says the file (translation file) cannot be found. therefore the quasar.lang never gets set.

Also importing languages in the /src/boot/quasar-lang-pack.js will not work! remove try catch or log error in catch, otherwise you won't even see the error.

**Codepen/jsFiddle/Codesa

[2021-12-01 09:12] pdanpdan commented on #11528
That option (gzip) is only for build - so for static SPA/PWA
When you use SSR you should use something in front (a reverse proxy) to:
- terminate SSL
- compress if you wish
- set cache policies
- route to different backends based on path
- load ballance

**But you have a point that the static resources should respect gzip even in SSR mode.**

[2021-12-01 09:19] pdanpdan commented on #11529
Hello:
- I hope you do not expect it to work like this in codepen :)
- ```const path = `../quasar/lang/${isoLang}`;``` is wrong - you have an extra `../` in front
- https://v1.quasar.dev/options/quasar-language-packs#dynamical-non-ssr-

[2021-12-01 09:19] ap91484 commented on #11360
Sorry, couldn't get this to work at all in a sample with script setup and referring to the component by name.
I moved to defineAsyncComponent which works without problems
You can close this issue.

[2021-12-01 09:21] obi84 commented on #11529
- I hope you do not expect it to work like this in codepen :)
No I didn't, but that's the requirement when creating an issue, isn't it?

as for the path, I tried it like you described, didn't work as well.

[2021-12-01 09:23] obi84 commented on #11529
you can just create a completely new project to reproduce.
also: it doesn't work in the boot file as well.

[2021-12-01 09:24] zknic commented on #11528
but it is correct in quasar v1

[2021-12-01 09:34] obi84 commented on #11529
@pdanpdan please reopen this issue, since it is not finished!
You can see in the screenshot of the error message that is doesn't work with `quasar/lang/${isoLang}` as well;

[2021-12-01 09:36] pdanpdan commented on #11528
Emphasized the part that agrees with you :)
The first part is just about what you should do to not depend on the server for things that can be better handled somewhere else.

[2021-12-01 09:54] panhezeng commented on #11527
ERROR in src/boot/lazy.ts:6:3
TS2321: Excessive stack depth comparing types '{ install(app: App<any>, options?: LazyloadOptions | undefined): void; }' and 'Plugin_2'.
     4 | export default boot(({ app, ssrContext }) => {

       |   ^^^^^^^^^^^^^^^^^^^

       | ^^^^^^^^^^^^^^^^^^^^^^^^

ERROR in src/layouts/Mobile.vue:50:18
TS7006: Parameter 'options' implicitly has an 'any' type.
 async preFet

[2021-12-01 10:11] zknic commented on #11528
i got it, for example: nginx should forwarding a static request to disk-files and  forwarding a dynamic request  to node-server.

[2021-12-01 11:54] Smrtnyk commented on #11527
you updated vue dep manually?
if you are using quasar cli you should wait for quasar to update it, because they also test it and fix issues before shipping the new app with updated deps

[2021-12-01 11:56] rstoenescu commented on #11480
Backported fix from Quasar v2 to v1.16.1 (and released it).

[2021-12-01 11:56] #11480 closed, assigned to nobody

[2021-12-01 12:33] rstoenescu commented on #11527
Please upgrade to "@quasar/app" v3.2.4.
It's not recommended to manually upgrade the vue version yourself.

[2021-12-01 12:33] #11527 closed, assigned to nobody

[2021-12-01 12:46] yusufkandemir commented on #11529
@obi84
For Codepen, you need to use the UMD version, which is used differently, here are the instructions: https://v1.quasar.dev/options/quasar-language-packs#quasar-umd

But, if you are experiencing this issue with Quasar CLI, then you need to create a CodeSandbox by forking [this link](https://codesandbox.io/s/github/quasarframework/quasar-codesandbox/tree/legacy-v1) to be able to reproduce it.

[2021-12-01 13:27] #11360 closed, assigned to nobody

[2021-12-01 13:55] obi84 commented on #11529
@yusufkandemir
I am using Quasar CLI.
I created a CodeSandbox as suggested, and tried to reproduce the error there, but was not able to do so. (On Codesandbox it worked as expected..).

I am therefore not sure what to do to convice you it is an error..
Locally, it always throws an error when trying to import a language from 'quasar/lang/'+whatever..
Might this be a file read problem?
A problem tha

[2021-12-01 14:03] MilosPaunovic commented on #11529
Are you completely sure that the `path` you're trying to importfile from  is correct?

[2021-12-01 14:04] obi84 commented on #11529
pretty sure!

[code]

And as you can see in the error, it also confirms that.
(Cannot find module 'quasar/lang/en-us')

Also I used the exact same code for my local project as for the CodeSandbox. In the CodeSandbox it worked, so why not locally..?

[2021-12-01 14:16] yusufkandemir commented on #11529
This is what Quasar Docs suggest:
[code]
and this is what you are doing:
[code]

They might sound logically the same, but they are not. That's how webpack works, get rid of the `path` variable and use the string directly inside import, and you will see it will work.

I am 100% sure that **the exact same code** is not correct, because of that small but actually big difference.

So, please use this

[2021-12-01 14:34] obi84 commented on #11529
Ok, I will try that. thank you very much for explaining.
The only reason i did extract the string into a "path" variable is because of ESLint telling me it has a problem with dynamic imports..

[2021-12-01 16:28] pepe1atz opened #11533 "no effect after QVirtualScroll.refresh()"
**QVirtualScroll.refresh() has no effect after added new items to list**

[code]

[code]

Maybe I'm not using correctly. Is it possible to add items to the QVirtualScroll later?

[2021-12-01 16:56] pdanpdan commented on #11533
Codepen to reproduce, please

[2021-12-01 20:27] #11533 closed, assigned to nobody

[2021-12-01 21:08] #11529 closed, assigned to nobody

[2021-12-01 21:21] pepe1atz commented on #11533
oh sorry, my fault, need to use reactive

[2021-12-01 22:39] hawkeye64 commented on #11529
Just a side note, but in quasar v2, something like `en-us` has become `en-US` for compliance with the standard.

[2021-12-02 00:02] jimtendo opened #11538 "Q-Loading - Counter for use-case where tasks execute may exec synchronously and asynchronously (e.g. Promise.all)"
**Is your feature request related to a problem? Please describe.**

Hi all, apologies if this has already been discussed (but couldn't see in Github issues).
Is there any interest in q-loading to use a counter system? Generally, when I write functions I wrap them like so:

[code]

This works well - but if I have a mounted/created hook where I want to call these in a Promise.all:

[code]

... the P

[2021-12-02 01:11] panhezeng commented on #11527
I did not install vue by myself, but installed vuex, it should be an internal problem of vuex

[code]

[2021-12-02 01:13] panhezeng commented on #11527
I did not install vue by myself, but installed vuex, it should be an internal problem of vuex
[code]

[2021-12-02 01:16] panhezeng commented on #11527
Is there any way to completely lock the version that quasar can run normally? The current situation is that the priority of vuex seems to be higher than @quasar/app

[2021-12-02 01:21] panhezeng commented on #11527
In fact, not only vuex, but also other libraries, all have similar "peerDependencies": {
     "vue": "^3.0.0"
   }, the dependency statement

[2021-12-02 05:20] #11528 closed, assigned to nobody

[2021-12-02 10:48] Smrtnyk commented on #11527
you shouldn't install vuex yourself
quasar installs it for you
remove vuex from your package.json

[2021-12-02 11:46] Nigui commented on #11526
same error for me ☹️

[2021-12-02 18:07] xlaussel opened #11543 "Components not available to runtime compiler when using importStrategy: 'all' in quasar CLI"
**Describe the bug**
When using the runtime compiler in order to compile vue templates on the fly in the browser (with vueCompiler option set to true into the build section of the quasar.conf.js) with importStrategy: 'all' ,  the compiler cannot resolve the components. They must be registered one by one into the components option.

**Expected behavior**
All the quasar compponents should be availab

[2021-12-03 09:28] lambda0xff opened #11551 "QExpansionItem: ability to remove the toggle icon without disabling component"
A toggle icon is always displayed even when there's not content to show besides the header.

**Describe the solution you'd like**
A prop `display-toggle-icon: Boolean` to control the display of the toggle icon
Or a prop `hide-icon-when-empty` to automatically remove the icon when no content

**Describe alternatives you've considered**
`disabled` : is ok but applies an opacity styling

[2021-12-03 09:32] pdanpdan commented on #11551
Hello.
A QExpansionItem without content is a QItem.
Render a QItem in this case

[2021-12-03 09:32] #11551 closed, assigned to nobody

[2021-12-03 09:34] MilosPaunovic commented on #11551
Or you could simply add a `expand-icon-class="invisible"` if, for some reason, you need it to be `QExpansionItem`.

[2021-12-03 09:37] lambda0xff commented on #11551
Ok thanks, I looks like `expand-icon-class="hidden"` is what I'm looking for.

[2021-12-03 10:39] rstoenescu commented on #11527
@panhezeng That's really unfortunate. Will see what I can do. Thanks for the feedback!

[2021-12-03 14:40] ghost opened #11553 "Uploader error when file name containing unicode character"
with quasar uploader,
if user select turkish named file, uploading proggres is interrupted
and server response 400 error code.
regular named files no error

![image](https://user-images.githubusercontent.com/53820589/144619697-ff8246bf-cdbf-4332-ab11-9cbb2e9b91d2.png)

Chrome and safari no console error. firefox logs "xml parsing error root element not found"

[2021-12-03 14:41] kostyfisik opened #11554 "Quasar and some Drupal web-site CSS conflict"
**Describe the bug**
This has the same origin as #6775
(it might be not only Drupal CMS problem, I'll check it with WordPress later on)

As you add ``` <div id="q-app"></div>``` to html block in web-site, there is a CSS conflict. The problem is two-fold:
1) Website styles randomly change Quasar styles.
2) Quasar randomly change styles of the website.

First is not pleasant, as soon as website can

[2021-12-03 14:42] pdanpdan commented on #11553
Please check the request in the inspector and fix your server

[2021-12-03 14:42] #11553 closed, assigned to nobody

[2021-12-03 14:45] pdanpdan commented on #11554
Hello.

Sorry, but this is adds nothing new to #6775

[2021-12-03 14:45] #11554 closed, assigned to nobody

[2021-12-03 14:55] kostyfisik commented on #11554
@pdanpdan Sorry, but #6775 had a solution - using additional name convention for the external lib. It is not the case when you have access to a single page in CMS and related path to upload the build.... Any ideas how to fix it?

[2021-12-03 15:11] pdanpdan commented on #11554
Not really, sorry. You can try embedding the app in an iframe

[2021-12-03 15:29] kostyfisik commented on #11554
I've already tried this. As soon as my app reactively changes the size of the plot to fit it almost to the whole visible part of the windows, iframe is always coming with a scrollbar. At the moment I just
[code]
For now, it works fine for my set of used Quasar components, not sure how it will go later on.

[2021-12-03 15:31] pdanpdan commented on #11554
https://github.com/davidjbradshaw/iframe-resizer

[2021-12-03 15:35] kostyfisik commented on #11554
Is my hack and iframe-resizer are worth mentioning in https://quasar.dev/quasar-cli/developing-spa/deploying#introduction ?

[2021-12-03 23:23] theosherman commented on #11455
So it appears. I would like to back this up with a stackblitz reproduction.

https://stackblitz.com/edit/vitejs-vite-19mefe

Checking the devtools console after running `npm run dev` in the stackblitz terminal will show the following warning...
`[Vue warn]: Failed to resolve component: q-spinner`

Would love to have support for this. But in the meantime, thank you for providing vite support! It ha

[2021-12-03 23:26] hawkeye64 commented on #11543
https://github.com/quasarframework/quasar/issues/11455#issuecomment-985907013

[2021-12-04 11:07] dumdum7 commented on #7474
Why was this closed? It doesn't seem to be solved.
Tested on latest v2.3.3 on the Material Ripple documentation page. Same behavior as when issue was created.

It really takes away from Quasar mobile apps feeling more like native apps.
Also, pretty much every other material UI framework seems to have this solved: Vuetify, Angular Material, Material UI.

[2021-12-04 11:24] pdanpdan commented on #7474
If you use Qv1 there is a solution. For Qv2 I'm sorry

[2021-12-05 05:45] hspaay commented on #9157
I'm running into this as well using Vite.
For some reason "quasar.esm.prod.js" is included in the bundle when using dialog composable with useDialogPluginComponent in the dialog. This adds about 450K to the bundle. Without it, tree shaking work fine.

[2021-12-06 05:12] husseinjahan opened #11564 "q-pagination not work with server side q-table"
**Describe the bug**
When using q-pagination with a q-table that get data from server, pagination changes not send request to method specified for @request of q-table. I see examples of separate q-pagination in documentation and produce an CodePen so you can see example not work.

**Codepen**
https://codepen.io/husseinjahan/pen/yLzeNdz

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Co

[2021-12-06 08:18] AILazerka commented on #2233
The same is for Cypress 9.1.0.

[2021-12-06 14:56] sullyD64 opened #11566 "QLinearProgress: query state should travel in the opposite direction"
Opening this small issue as requested by @pdanpdan. There are no visual differences between the `query` and `indeterminate` props for QLinearProgress, but as Dan said `query` should go the opposite direction.

Posting no codepen since this can be seen in the docs: https://quasar.dev/vue-components/linear-progress#indeterminate-state

![immagine](https://user-images.githubusercontent.com/26333714/1

[2021-12-06 15:38] rfox12 opened #11567 "Add console warn message (or callback) when icon name is not found (Qv2!)"
**Is your feature request related to a problem? Please describe.**
My problem is that I'm working on a large project with many different icons from many different sources.  In some cases it can be hard to detect if all q-icons will render as needed.  If, for instance, fontawesome 5 is not available, q-icons will fail silently today.

**Describe the solution you'd like**
A simple warning to the bro

[2021-12-06 15:40] rfox12 commented on #11567
As a side note here, I noticed that github automatically attached a "Qv1" tag when I selected "feature request" tag.  Couldn't see how to remove that.  I'm using Quasar v2.

[2021-12-06 16:07] piscis commented on #11165
~~For anyone who is interested.~~

~~https://github.com/piscis/nuxt-quasar-boilerplate/tree/example/quasar-vite-nuxt3-working ~~

~~This branch contains a Nuxt3 + Quasar setup that produces a production build.~~

<details>
~~  <summary>Spoiler:</summary>~~

  ![Screenshot 2021-12-06 at 17 09 18](https://user-images.githubusercontent.com/326163/144880841-b75aa4a8-2374-41b9-add8-798f89b21842.png)
</

[2021-12-06 16:09] pdanpdan commented on #11567
QIcon does not know and cannot know if the text/class of the icon will generate or not a visible icon.

[2021-12-06 16:09] #11567 closed, assigned to nobody

[2021-12-06 17:22] yusufkandemir commented on #11526
Using yarn should solve this problem, it's been discussed and tested on [our community Discord server](https://chat.quasar.dev). Please try removing `package-lock.json` and `node_modules`, then install the dependencies using `yarn` to see if it solves the problem.

[2021-12-06 17:24] yusufkandemir commented on #11526
It's also stated in https://github.com/intlify/vue-i18n-next/issues/795#issuecomment-981107414

[2021-12-06 17:26] rfox12 commented on #11567
I sense your heartfelt empathy for my struggle here. :)  Apparently you've never had a missing icon issue. @pdanpdan let me ask another question... is there an easy way to have Quasar dump the "name="  field on every QIcon encountered at build time?

[2021-12-06 17:46] rstoenescu commented on #11566
Fix will be available in Quasar v2.3.4

[2021-12-06 17:46] #11566 closed, assigned to nobody

[2021-12-06 17:49] rstoenescu commented on #11543
Hi,

There is no `importStrategy` anymore. Treeshaking Quasar is enabled by default.
You will have to manually import the components and feed them to your vue component (which uses the runtime compiler) or register them directly with your Vue app instance or add them to app.use(Quasar, { components: { ... } }).

[2021-12-06 17:49] #11543 closed, assigned to rstoenescu

[2021-12-06 17:51] rstoenescu commented on #11521
Please make a reproduction repo.

[2021-12-06 18:10] xlaussel commented on #11543
OK but note that I tried with app.use(Quasar) without specifying the components option and all the components where available to the runtime compiler

[2021-12-06 18:11] rstoenescu commented on #11498
Fix will be available in Quasar v2.3.4

[2021-12-06 18:11] #11498 closed, assigned to nobody

[2021-12-06 18:14] matthiasmoier commented on #8311
I think having a possibility to do this would be a great addition to the QTable.

Stumbled upon this issue while searching for a way to highlight a full row in a table based on some criteria. In our case, we’d like to highlight a task list based on the due date and / or status.

Since we have quite some custom `<template v-slot:body-cell-name="props">`, this would help a lot.

[2021-12-06 18:16] rstoenescu commented on #11493
Fix will be available in Quasar v2.3.4.

[2021-12-06 18:16] #11493 closed, assigned to nobody

[2021-12-06 18:35] philfontaine commented on #9779
@rstoenescu Hey could this bug be looked at? I think I raised it at a very busy moment for you guys and now it's just far far in the list and does not get any traction. Thanks 👍

[2021-12-06 18:56] pdanpdan commented on #11567
You can use a custom iconMapFn that prints the name on the console and then return undefined
https://quasar.dev/vue-components/icon#custom-mapping

[2021-12-06 19:33] #11483 closed, assigned to yusufkandemir

[2021-12-06 19:34] rstoenescu commented on #11483
Enhancement will be available in Quasar v2.3.4

[2021-12-06 19:35] rstoenescu commented on #11468
This is an external issue in webpack-dev-server.
Should be fixed with the updated webpack-dev-server through "@quasar/app" v3.2.4

[2021-12-06 19:35] #11468 closed, assigned to nobody

[2021-12-06 19:40] rstoenescu commented on #11280
QBtn is one of the most used components in any apps.
We keep on adding features to it, but we must not forget that the runtime speed needs to be as high as possible. For this reason, we will not add the active/exact-active feature to it because the overhead is huge.

The `:class="{ active: $route.name === 'Somewhere' }"` approach is legit.

[2021-12-06 19:40] #11280 closed, assigned to nobody

[2021-12-06 19:54] rstoenescu commented on #8034
Enhancement will be available in "@quasar/app" v3.2.5

[2021-12-06 19:54] #8034 closed

[2021-12-06 20:08] rstoenescu commented on #11469
Both your options are not good.

Option 1 -> not destroying the menu means you end up with memory leak
Option 2 -> first, it means adding a breaking change (which is definitely a no-go); secondly, vue directives interfering with the host nodes and changing event behavior is again definitely a no-go due to the unpredictable behavior

A good framework approach is the one that we have, not trying to

[2021-12-06 20:08] #11469 closed, assigned to nobody

[2021-12-06 22:49] melroy89 commented on #11280
😢  but understandable I think

[2021-12-07 00:47] bigradish opened #11571 "QTabs scrolls to the active tab"
If there are many tabs and some tabs are not in the visible area, when set an invisible tab active by program, QTabs should automatically make the active tab be in the visible area.
Thank you very much.

[2021-12-07 08:04] pdanpdan commented on #11571
If you need it for Qv1 then you can use my branch  https://github.com/pdanpdan/quasar/releases

In package.json replace (or add) quasar dependency with:
"quasar": "https://github.com/pdanpdan/quasar#quasar-pdan-v1.16.3-beta.9"

Then do a yarn or npm install and start the app again.

Please report if you find something not working here: https://github.com/pdanpdan/quasar/issues

[2021-12-07 08:40] SujanKumarK commented on #11454
@metalsadman. Thanks for your reply. Sorry for understanding the functionality in reverse.

[2021-12-07 09:53] kostyfisik commented on #11229
For future reference: the solution is now described in the documentation https://quasar.dev/quasar-cli/handling-webpack#webpack-v5-compatibility-issues

[2021-12-07 10:20] kostyfisik opened #11576 "Router scrollBehavior to.hash is not working"
**Describe the bug**
Router scrollBehavior with to.hash is not working

**Codepen/jsFiddle/Codesandbox (required or your issue may be closed)**
Provided templates to don use Vue Router, which is needed to reproduce the bug

**To Reproduce**
Steps to reproduce the behavior:
1. Using Quasar CLI create new project with Vue Router and typescript
2. Add
[code]
to `src/pages/Index.vue` inside `q-page` t

[2021-12-07 10:25] pdanpdan commented on #11576
Does it work with vue-router?
https://stackoverflow.com/a/79022

[2021-12-07 10:25] #11576 closed, assigned to nobody

[2021-12-07 10:26] romain130492 commented on #2490
damn... thats messy as a solution..

[2021-12-07 10:35] kostyfisik commented on #11576
No, you can use a valid string for an ID in Quasar, it still doesn't work. Note, I used exactly the same ID and vue-router settings for Quasar CLI and Vue CLI, it works fine with Vue CLI and doesn't work with Quasar.

[2021-12-07 11:41] iliubinskii opened #11577 "Feature request: "Forbidden" cursor for v-touch-pan"
**Is your feature request related to a problem? Please describe.**

I want to use v-touch-pan to resize element that has min and max width.

I want to show "Hand" cursor when user moved mouse to allowed position and "Forbidden" cursor for disallowed position.

"preserveCursor" modifier does not help, because it just shows "Pointer" cursor instead of "Hand" cursor, ignoring cursor set for element c

[2021-12-07 12:43] rstoenescu commented on #2490
@channimol @romain130492

Use the "group" feature for Notifications. That's exactly what it's meant for.
No need to save the returned function.

https://quasar.dev/quasar-plugins/notify#grouping

[2021-12-07 12:57] pdanpdan commented on #2490
It was for quasar 0.15 :)

[2021-12-07 13:29] romain130492 commented on #2490
i see, what about the last version then? thanks

On Tue, Dec 7, 2021 at 8:57 PM Popescu Dan ***@***.***> wrote:

[2021-12-07 13:30] FlinSun opened #11581 "Is this how to import code? Why not write it down directly? Will it be more convenient and easy to understand"
import { Platform, Cookies } from 'quasar'
Is this how you import code?It’s not like what I saw on github. The GitHub is displayed like this. Is it set like this?
import Platform from 'quasar/src/plugins/Platform.js';import Cookies from 'quasar/src/plugins/Cookies.js';
Because some novices can't understand this code, but why bother when there is such a simple method?

![image](https://user-images.

[2021-12-07 13:45] pdanpdan commented on #11581
I don't understand what you mean.
Where is this screenshot taken from?
What is the problem, and what is the solution?

[2021-12-07 13:45] #11581 closed, assigned to nobody

[2021-12-07 13:51] pdanpdan commented on #11576
Add a console.log(to.hash) in your scroll function
You use has mode in quasar and history mode in vue
Anyway quasar has nothing to do with that - it's vue-router, so if it's the same version then it should work exactly the same

[2021-12-07 15:22] MatthewSH opened #11582 "FastClick (touchstart) makes double tapping required for Capacitor camera plugin"
**Describe the bug**
FastClick breaks on specific edge cases with capacitor camera. I've spent _way_ too much time tracking this issue down.
If you use [Capacitor camera](https://capacitorjs.com/docs/apis/camera) and you build your app for PWA then on the camera modal it requires you double-tap to hit any of the buttons, however no other elements through the entire app have this issue, and it only

[2021-12-07 17:55] omartb89 commented on #8885
someone got a codepen with a funtional example?

[2021-12-07 18:08] AlexDaniel commented on #8350
Uh, any progress? Coming from vuetify and really missing this feature.

[2021-12-07 19:24] kostyfisik commented on #11576
Thank you for your comment! console.log(to.hash) returns and expected string. The reason for scrollBehavior not working was hash mode. It can be found in comment at https://github.com/vuejs/vue-router/blob/dev/examples/scroll-behavior/app.js#L21

[2021-12-07 19:29] pdanpdan commented on #11577
Can you please make a codepen, so we can play with it?

[2021-12-07 19:46] MatthewSH commented on #11582
Update: upgrades our packages and it's still messing up...maybe this is a capacitor/pwa-elements/plugins issue? Want to get input here first.

Quasar: 2.3.4
@quasar/app: 3.2.5
@capacitor/core: 3.3.2
@capacitor/camera: 1.2.1

I'll probably have to do some nasty DOM workaround since I can't remove fastclick, I can't bypass it, the `needsclicked` doesn't work, etc.

Anyone else experience this?

[2021-12-07 20:13] rstoenescu commented on #2490
Already answered for Qv2

[2021-12-08 00:20] bigradish commented on #11571
@pdanpdan Thank you very much. :)

[2021-12-08 07:03] iliubinskii commented on #11577
Thx for response.

Here is codepen:
https://codepen.io/ilyalyu/pen/wvrGYYV

As you can see, the size of the div is limited between 100 and 300 px.

So, what I want to achieve is that when I drag more than 300 px and less than 100 px cursor should change from "Hand" to "Forbidden".

[2021-12-08 07:25] OfekA-IAI commented on #8607
Here is my Storybook + Quasar v2 configuration that worked with .sass variables:

[code]

[code]

[2021-12-08 07:48] pdanpdan commented on #11577
https://codepen.io/pdanpdan/pen/GRMZwxJ?editors=1010

[2021-12-08 07:48] #11577 closed, assigned to nobody

[2021-12-08 08:44] DaveDisco opened #11585 "Using q-popup-edit on a q-table cell that is being sorted"
When editing a cell using q-popup-edit where the cell's column is the current sorted column, the input updates the model which in turn triggers the sort so the table, behind the popup, is reordered. Your next key input is now affecting a different row so your typing in the popup input is being randomly distributed to different rows.

I found this is my application but the behaviour is reproducible

[2021-12-08 08:46] pdanpdan commented on #11538
Use a wrapper for the promises:
https://codepen.io/pdanpdan/pen/LYzNMjG?editors=0010

It would be outside of the scope of the plugin to decide if you really want to show/hide it

[2021-12-08 08:46] #11538 closed, assigned to nobody

[2021-12-08 14:17] #11090 closed, assigned to yusufkandemir

[2021-12-08 14:17] #11500 closed, assigned to yusufkandemir

[2021-12-08 14:17] rstoenescu commented on #11090
Changes will be available in Quasar v2.3.5

[2021-12-08 14:17] rstoenescu commented on #11500
Changes will be available in Quasar v2.3.5

[2021-12-08 14:31] rstoenescu commented on #11455
Hi,

I can't reproduce it on the stackblitz.com link. Downloaded the project, installed deps, ran yarn dev. Still can't reproduce it.
Please offer more details.

Also, please pin "sass" to v1.32.0. Do not install latest because you will get numerous warnings --- they changed something and we can't use their new syntax without making breaking changes. So pinning the Sass version is required.

[2021-12-08 14:32] rstoenescu commented on #11455
<img width="463" alt="image" src="https://user-images.githubusercontent.com/4665641/145226112-f1cc44b7-57d6-431b-b07d-63df0d7d2e93.png">

<img width="534" alt="image" src="https://user-images.githubusercontent.com/4665641/145226193-48d73101-a327-4419-afe9-36760347740d.png">

[2021-12-08 15:59] sgielen opened #11595 "Allow using `v-show` instead of `v-if` for QMenu visibility"
**Is your feature request related to a problem? Please describe.**
I have a ProgressBar component, which receives a progressBarId prop and uses `mounted()` to start listening for updates. When updates come in, it renders updates to the progress bar, and eventually emits "error" or "finished".

Now, I have a QMenu containing such ProgressBars. When the menu is hidden, the ProgressBars are not in th

[2021-12-08 16:03] pdanpdan commented on #11595
You are holding it wrong :)
Use some sort of store for the state and only render the state in your component.
If you want listen in the badge component, keep the state inside and pass it as prop to the QMenu you are rendering from it.

[2021-12-08 16:03] #11595 closed, assigned to nobody

[2021-12-08 16:12] sgielen commented on #11595
Thanks @pdanpdan for the response. I considered your option (see "alternatives you've considered"), but splitting up Progress Bar code outside of the component seems contraproductive to me. Do you disagree with the problem or with the solution? Should I interpret this as a "hard no" on `v-show` support regardless of argument, or the argument not good enough for you?

[2021-12-08 17:20] theosherman commented on #11455
My apologies @rstoenescu . I had manually imported QSpinner to verify that it works, and I forgot to comment the line.

pug.vue
[code]

You can re-try the stackblitz.

[2021-12-08 17:36] pdanpdan commented on #11595
I'm sorry but it's a `cannot be done`, because the content of QMenu is only rendered when it is open

[2021-12-08 17:51] iliubinskii commented on #11577
Thank you for great and easy solution

[2021-12-08 18:09] #11043 closed, assigned to yusufkandemir, IlCallo

[2021-12-08 18:10] rstoenescu commented on #11043
Enhancement will be available in Quasar v2.3.5

[2021-12-09 00:03] rstoenescu commented on #11455
Thank you for reporting and offering a reproduction repo.
Fix is available in "@quasar/vite-plugin" v1.0.3 -- just published it.

[2021-12-09 00:03] #11455 closed, assigned to rstoenescu

[2021-12-09 00:08] rstoenescu commented on #11455
Donations towards the framework are appreciated: https://donate.quasar.dev

[2021-12-09 03:24] #11397 closed, assigned to nobody

[2021-12-09 05:29] zknic opened #11606 "QInfiniteScroll containerHeight error"
https://github.com/quasarframework/quasar/blob/ae2ab94a1877c9bea835708ab8c45dd760ed5fb2/ui/src/utils/dom.js#L18

in some mobile devices, "el.getBoundingClientRect().height" return the floating number ，it cause QInfiniteScroll can't trigger  "emit('load)".
https://github.com/quasarframework/quasar/blob/ae2ab94a1877c9bea835708ab8c45dd760ed5fb2/ui/src/components/infinite-scroll/QInfiniteScroll.js#L63

[2021-12-09 15:48] stefanvanherwijnen commented on #8432
As stated above, this is definitely an error with multiple vue instances in your app.
If you're using Vite, note that Vite prebundles some dependencies and if one of them use `vue` it might prebundle a different version from the one defined in your `resolve.alias`.
Have a look at `/node_modules/.vite/chunk-*.js` and see if any vue code is prebundled.

To prevent/fix this, add the following to vite

[2021-12-09 15:59] rstoenescu commented on #10191
Fix will be available in next Qv2 and Qv1 versions.

[2021-12-09 15:59] #10191 closed, assigned to nobody

[2021-12-09 16:14] rstoenescu commented on #11606
Fix will be available in Quasar v2.3.5

[2021-12-09 16:14] #11606 closed, assigned to nobody

[2021-12-09 19:17] rstoenescu commented on #8611
Fix will be available in next Qv2 and Qv1 versions.

[2021-12-09 19:17] #8611 closed

[2021-12-10 01:19] ldiebold commented on #6775
UnoCSS released a webpack version that's working with Quasar!

https://youtu.be/SpRfYw1p6bA

[2021-12-10 13:40] RoelRoel commented on #4811
This bug is still occuring in quasar v1.16.0 in Chrome 96

I have a numeric input in a QStep with autofocus. If you open this step sometimes (not all the times) the steps overlap.
The strange thing is that when you move the div in the dom and move it back it looks normal so it seems a bug in Chrome or something.

I now use an (ugly) work-around to focus the field with setTimeOut in the mounted eve

[2021-12-10 17:44] ghost opened #11635 "Quasar testing - jest with typescript can't resolve and import SFC modules"
I installed quasar testing for quasar v1, along with jest for unit testing and typescript.

1) The IDE is unable to resolve SFC modules (though I can suppress the errors).
I saw the following note in the docs:
`TypeScript cannot infer a component type from a SFC, because it cannot understand the content of files which are not JS or TS. To allow correct inference of the component type, you shall se

[2021-12-10 18:38] ruilvo opened #11636 "Hot reload with Docker (+WSL2) not working"
**Describe the bug**
Under the following system environment:

- Windows 10;
- Docker, using WSL2.

I can't get Quasar to hot reload using the development server.

**Reproduction**
Basic project to reproduce on [this repository](https://github.com/ruilvo/quasar-docker-hot-reload-fail).

**To Reproduce**
Steps to reproduce the behaviour:
[Using the mentioned environment]
1. Clone the test repository

[2021-12-10 19:00] ruilvo commented on #11636
![imagem](https://user-images.githubusercontent.com/8402646/145627475-ec2bc4a4-1c22-4a68-8103-31e6ac9fb398.png)

Extra info:
- Using Hyper-V the project works.

[2021-12-10 19:09] pdanpdan commented on #11636
See:
https://github.com/quasarframework/quasar/issues/7359
https://github.com/quasarframework/quasar/issues/11465

[2021-12-10 19:11] pdanpdan commented on #11636
About the link, it's
[code]

If you have time please edit the page and open a PR for the fix, ty.

[2021-12-10 19:15] ruilvo commented on #11636
For completeness, a [working Vue.js example](https://github.com/ruilvo/quasar-docker-hot-reload-fail/tree/demo-vue) has been pushed.

I'll report on findings and maybe fixing the page.

[2021-12-10 19:28] ruilvo commented on #11636
The findings in #11465 do work.

[2021-12-10 22:22] NicoP-S opened #11639 "jarsigner V1 (Jar Signature) not working for android 11+ - switch to apksigner V2 (Full APK Signature)"
I had struggle installing a capacitor apk.
- created a fresh quasar project
- added capacitor v3
- followed the docs https://quasar.dev/quasar-cli/developing-capacitor-apps/publishing-to-store
  - quasar build -m capacitor -T android
  - jarsign it
  - zipalign it
- apk file could not be installed on android 11
- Error message from adb debugging:
  `adb: failed to install testapp.apk: Failure [INS

[2021-12-10 22:44] TobyMosque commented on #11636
`watchOptions` is a workaround what is only needed when u're running from a windows partition (eg: `/mnt/c`, `/mnt/d`), that is needed because linux (WSL2) can't watch a windows partition (as well, the general perfomance is really poor).

in that case, just install the [VsCode](https://code.visualstudio.com) and the [Remote Development](https://marketplace.visualstudio.com/items?itemName=ms-vscode

[2021-12-10 23:18] #11465 closed, assigned to nobody

[2021-12-10 23:18] #11636 closed, assigned to nobody

[2021-12-11 14:28] ruilvo commented on #11636
I use VSCode, but I don't understand what you mean by

So I'd have a basic WSL distro, and run VSCode server inside it, and Docker inside it?

That's some virtualization-ception.

I honestly really like the setup I currently have, with Docker running directly on Windows. (Docker just uses WSL2 APIs for its virtualization).

[2021-12-11 15:45] ajobi commented on #2233
Still having the issue in Cypress 9.1.1

[2021-12-11 21:45] Gnopps commented on #6813
@pdanpdan Could this request be reopened? As for codepen just the standard from the documentation can be used: https://codepen.io/pen/?&editors=101&prefill_data_id=deca9376-d9fb-4516-a4f6-3bd90dd652ba

Compare behaviour with respecting layout header setting (drawer above or below header) when on screen resolution vs. desktop resolution.

For me the use-case is that I would like to use mobile _beha

[2021-12-11 22:02] pdanpdan commented on #6813
It's an empty codepen.
Make a codepen with what you have tried.

[2021-12-11 22:16] hawkeye64 commented on #6813
...and don't forget to save it, then share the link.

[2021-12-12 10:03] HamrerasSlimane opened #11650 "Quasar Language Packs / Dynamical (non-SSR)"
**Dynamical (non-SSR) it only works with the languages "de" and "en-US"**
https://quasar.dev/options/quasar-language-packs#dynamical-non-ssr-
src\boot\quasar-lang-pack.js when run in "Quasar CLI".

why does it work with "de" and "en-US" languages and it does not work with "fr", "ar" ...... .
When used with:
 `import { Quasar } from 'quasar'
export default async () => {
  const langIso = 'fr'
  try

[2021-12-12 10:05] pdanpdan commented on #6813
https://codepen.io/pdanpdan/pen/dyVOXoZ?editors=1100

[2021-12-12 10:07] pdanpdan commented on #11650
duplicate of https://github.com/quasarframework/quasar/issues/11529
you can try reading the example you linked to

[2021-12-12 10:07] #11650 closed, assigned to nobody

[2021-12-12 10:21] HamrerasSlimane commented on #11650
why does it work with "de" and "en-US" languages and it does not work with "fr", "ar" ......

[2021-12-12 18:45] Seanitzel opened #11654 "Provide information how to use Quasar with Storybook"
**Is your feature request related to a problem? Please describe.**
For the past few weeks, I tried multiple times to make my Quasar project work with storybook, to no avail.

It works when no sass variables are used, but storybook fails to compile when it detects that sass variables are used anywhere, with an error about the variable being undefined.

I tried defining them and anything else i coul

[2021-12-13 07:43] iliubinskii opened #11658 "typescript dependency in @quasar/app"
**Is your feature request related to a problem? Please describe.**

@quasar/app uses strict peer dependency:
[code]

This leads to double install of typescript because other packages have "typescript": "^4.4.3" or "typescript": "^4.4.4" dependency.

This leads to the situation when I see no error in VSCode editor, but get error when starting quasar dev app.

**Describe the solution you'd like**

U

[2021-12-13 10:04] Evertvdw opened #11659 "Text in buttons for days in QDate are not centered"
**Describe the bug**
![image](https://user-images.githubusercontent.com/5757159/145790989-a9ad48ac-ffe5-4d91-ad38-4ffdd7b35f9e.png)

Notice the 1 in the selected day is not exactly centered vertically. When inspecting this button has a height of 30px and a line height of `24.01px` coming from the .q-btn style `line-height: 1.715em`.
When disabling this line-height or overriding the line height, th

[2021-12-13 10:23] ayushishah-easternts opened #11660 "QMenu - Limit width as per parent Input field"
**Describe the bug**
How to get width of q-menu same as parent input textfeld? I am trying to create a custom autocomplete type of component here.
**Codepen/jsFiddle/Codesandbox (required or your issue may be closed)**
https://codepen.io/ayushibshah/pen/mdBOGxJ?editors=111

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Search Inpuut'
2. Click on it
3. See the dropdown width is more t

[2021-12-13 10:57] ap1969 opened #11661 "Stepper - first icon is fixed as "edit""
**Describe the bug**
Changing the first icon in the Stepper component's steps doesn't change the displayed icon - it remains as the "edit" icon

**Codepen/jsFiddle/Codesandbox (required or your issue may be closed)**
[https://codepen.io/blakeyuk/pen/MWEbPyP](https://codepen.io/blakeyuk/pen/MWEbPyP)

**To Reproduce**
1. The codepen above is based off the first example at https://quasar.dev/vue-comp

[2021-12-13 11:04] rstoenescu commented on #11659
Fix will be available in Quasar v3.4.0

[2021-12-13 11:04] #11659 closed, assigned to rstoenescu

[2021-12-13 11:08] rstoenescu commented on #11661
Hi,

That is the "active-icon" that gets displayed since user is currently at that step. You can configure this prop on QStepper or individually on each QStep.

[2021-12-13 11:08] #11661 closed, assigned to nobody

[2021-12-13 11:54] #11660 closed, assigned to nobody

[2021-12-13 13:44] Evertvdw opened #11665 "QPopupProxy with date has some background bleeding on top right and left corners"
**Describe the bug**
Using a QInput to model a date with QDate and QTime inside a popup proxy. When viewing this on a darker background you notice a small white edge at the top-left and top-right corner.

**Codepen/jsFiddle/Codesandbox (required or your issue may be closed)**
https://codepen.io/Mett-codepens/pen/QWqGYWa?editors=1010

**To Reproduce**
Change the date or time by clicking on the icon

[2021-12-13 13:55] ap1969 commented on #11661
Ah, thanks so much.

[2021-12-13 15:11] rstoenescu commented on #7689
New slots (icon, active-icon, label) will be available for QFab. Also, new slots for QFabAction (icon, label).
Will land in Quasar v2.4.0

[2021-12-13 15:39] pdanpdan commented on #11665
Unfortunately this is a glitch with the border radius on Chrome.
You can see the same with QDate/QTime in page:
https://codepen.io/pdanpdan/pen/yLzVrYM?editors=1000

You can try and use square borders, or if somebody finds a solution we'll fix it.

[2021-12-13 16:03] Evertvdw commented on #11665
@pdanpdan I have it on Firefox, Chrome and Edge at least, so it's not limited to Chrome. Removing the `border-top-left-radius: inherit` and `border-top-right-radius: inherit` and applying the `background: #fff` on the first child of `.q-menu` instead of `.q-menu` itself solves the problem for me while still keeping the same visual appearance.

[2021-12-13 21:34] pdanpdan commented on #11665
It doesn't look like it's going to be fixed soon:
https://bugs.chromium.org/p/chromium/issues/detail?id=1211455
https://bugs.chromium.org/p/chromium/issues/detail?id=977433
https://bugs.chromium.org/p/chromium/issues/detail?id=805495
https://bugs.chromium.org/p/chromium/issues/detail?id=491574
https://bugs.chromium.org/p/chromium/issues/detail?id=157102

[2021-12-14 06:20] CamilleDrapier opened #11675 "Allow Qselect to auto-open and auto-close on mouse events"
**Is your feature request related to a problem? Please describe.**

We would like to migrate form Quasar v1 to Quasar v2. In our current application, we have "auto-open/close" selects on mouse hover, that we implemented so far with `@mouseenter.native` and `@mouseout.native`, but because in [vue3](https://v3.vuejs.org/guide/migration/v-on-native-modifier-removed.html#_2-x-syntax) we cannot rely on

[2021-12-14 06:24] jmsuresh opened #11676 "Documentation for `build.publicPath` should mention about `vueRouterBase`"
Someone trying to modify `publicPath` to get the SPA deployed using a framework such as django is going to need to modify `vueRouterBase` (most likely set it to `"/"`). It would be helpful if this tip is present in the documentation for `build.publicPath`.

[2021-12-14 07:35] mastamitche commented on #7028
Can we reopen this?

It's happening again.

https://codepen.io/bortomar/pen/wvKxjxN?editors=1010

[2021-12-14 13:16] p3v9d5ui opened #11683 "Sass deprecation warnings emitted during build"
**Describe the bug**

During build (Vite 2.7.1), several deprecation warnings (Dart Sass) are emitted. The warning is:

    Deprecation Warning: Using / for division outside of calc() is deprecated and will be removed in Dart Sass 2.0.0.

**To Reproduce**

Start a Vue3.2.24/Quasar2.3.4/Vite@2.7.1 project using "npm run dev"

**Expected behavior**

No warnings should be emitted. However, these warn

[2021-12-14 13:30] rstoenescu commented on #11683
Sass has decided (in a minor release) to issue this warnings because they changed something that would be a breaking change for Quasar. For stability reasons, we are not going to do any breaking changes, so please go with our recommendations (can be found in docs too) to stick with "sass" v1.32.12.

[2021-12-14 13:30] #11683 closed, assigned to nobody

[2021-12-14 13:36] p3v9d5ui commented on #11683
Thank you. For those looking for the documentation, it is here:

https://quasar.dev/start/vite-plugin

[2021-12-14 17:52] cimpok opened #11687 "Styles of QFabActions are not hot reloaded in Vite"
As the title says, while all other elements' style attributes (color, classes, etc.) are hot updated in Vite dev server, but the q-fab-action elements within a q-fab block are not. Only reloading the whole app makes them update.
Is there some setting we could use in Vite  or would it be a new feature in Quasar to make it happen? Thanks.

[2021-12-14 18:23] sageworksstudio opened #11688 "q-select with multiple and clearable return null instead of empty array when cleared"
q-select with `multiple` and `clearable` return _null_ instead of empty array when cleared

**Codepen/jsFiddle/Codesandbox (required or your issue may be closed)**
https://codepen.io/sageworks/pen/VwMPGWq

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. use `clearable` and `multiple` with q-select menu
2. Select some options and note that q-select is creating an array as the value of

[2021-12-14 18:26] pdanpdan commented on #11688
Works as documented:

[code]

Clearable sets the model to null in all components that have it.

If you need you have the `@clear` event:

[code]

You can listen for the event and change the model to an array

[2021-12-14 18:26] #11688 closed, assigned to nobody

[2021-12-14 18:34] sageworksstudio commented on #11688
Thanks @pdanpdan .

That looks like what I need to get around the issue. I agree It's not a bug and the docs are correct, but maybe it's inconsistent? Maybe it deserves a review as an enhancement? (if clearable, return empty array)

[2021-12-14 18:46] pdanpdan commented on #11688
It's been discussed before and it's not going to change (too many edge cases, mainly because people want to define the value to be set on clear): https://github.com/quasarframework/quasar/issues/8092

But you have some simple solutions: https://codepen.io/pdanpdan/pen/gOGgBgL?editors=1010

[2021-12-14 22:34] rstoenescu commented on #11456
New props for both QSlider and QRange will be available in Quasar v2.4.0: inner-min and inner-max

[2021-12-14 22:34] #11456 closed, assigned to nobody

[2021-12-15 02:37] douglasg14b commented on #11191
@rstoenescu

Can you explain?

**Edit:** *I was a bit frustrated when writing, rewrote to not be so sassy.*

The way I'm experiencing it is that it has to be customized the same as any other framework that doesn't provide many options there. Hunting through HTML, finding CSS classes in the DOM tree, overriding their styles, and praying they don't break next update (ie. class name changes, new stru

[2021-12-15 08:30] pdanpdan commented on #11676
You mean this: https://quasar.dev/quasar-cli/quasar-conf-js#property-build ?
2 rows below publicPath

[2021-12-15 08:30] #11676 closed, assigned to nobody

[2021-12-15 11:57] ayushishah-easternts commented on #7795
+1

[2021-12-15 17:33] ivanjaros opened #11696 "Vue devtools not working"
I have installed the latest Vue devtools 5.3.4 into Firefox 95.0 and I have set up app via quasar cli 1.2.2 and when I run the app via quasar dev, Vue devtools are not detecting Vue.js and simply do not work. This is my first time using quasar so maybe there are some additional steps needed in order for this to work out of the box, like with basic vue cli?

[2021-12-15 17:41] pdanpdan commented on #11696
This is you friendly google robot, thank you for not bothering to type
https://www.google.com/search?q=vue+3+vue+devtools+firefox

[2021-12-15 17:41] #11696 closed, assigned to nobody

[2021-12-15 17:52] ivanjaros commented on #11696
i searched within quasar context and i haven't found anything useful. searching with firefox context now shows some results.

[2021-12-15 23:06] ivanjaros opened #11700 "Adding files to QUploader programatically"
The documentation for QUploader lists `addFiles(FileList | Array) `method which should allow me to add one or more files into the uploader programmatically. Unfortunately the uploader does not work with `v-model` which means I do not have access to its files and I have to use this dedicated method, but I don't know how. I  don't see how I can access the uploader instance in order to call it.

[2021-12-16 00:12] pdanpdan commented on #11700
Set a ref on the element

[2021-12-16 00:12] #11700 closed, assigned to nobody

[2021-12-16 07:43] mrBrownys commented on #8690
any updates? JSX/TSX works with Vite, but types not provide class and style attributes.

[2021-12-16 11:56] sschneider-ihre-pvs opened #11702 "[BUG] QToggle does not updated input status `checked` if it has no name"
**Describe the bug**
The checkbox of QToggle does not update the `checked` state if QToggle does not have a `name` attribute.

**Codepen/jsFiddle/Codesandbox (required or your issue may be closed)**
https://jsfiddle.net/hz0xe9sw/

**To Reproduce**
Steps to reproduce the behavior:
1. Click the first toggle twice
2. Check console // [false, false]
3. Click the second toggle
4. Check console  // [tru

[2021-12-16 12:12] smolinari commented on #11702
@sschneider-ihre-pvs - I believe that is standard procedure. See here: https://quasar.dev/vue-components/toggle#native-form-submit

Scott

[2021-12-16 12:16] pdanpdan commented on #11702
Hello. This is by design. And for the checked attr not being set when name is present there is already a commit for the next release.

[2021-12-16 12:16] #11702 closed, assigned to nobody

[2021-12-16 12:59] #10276 closed, assigned to nobody

[2021-12-16 13:01] rstoenescu commented on #9181
Feature will be available in Quasar v2.4.0 (through new prop for both QSlider/QRange: switch-label-position).
A backport for Quasar v1 will be added shortly.

[2021-12-16 13:01] #9181 closed

[2021-12-16 15:41] ivanjaros opened #11707 "QScrollArea has zero height"
If I don't specify height for the scroll area element, it will always have zero height. This is an example:
[code]

Is this a bug or does it have something to do with the content I am putting into it, ie. does it work with grid? I just want to make **horizontally-scrolled** card.

Quasar 1.2.2

(there are more than one column where the foo bar baz is, this is just an example)

[2021-12-16 15:53] pdanpdan commented on #11707
Read the docs

[2021-12-16 15:53] #11707 closed, assigned to nobody

[2021-12-16 18:27] Rolanddoda opened #11708 "Conflict: Multiple assets emit different content to the same filename img/chart.png"
**Describe the bug**
I just copy-pasted an image into a folder named `chart.png` and I am using it like this:

[code]

Now in another folder, I use a completely different image but with the same name `chart.png`.

[Codesandbox](https://codesandbox.io/s/crimson-grass-bq6bp?file=/src/App.vue)

**To Reproduce**
Steps to reproduce the behavior:
1. Click the Codesandbox link
2. See the error
3. See tha

[2021-12-16 18:31] #11708 closed, assigned to nobody

[2021-12-16 20:22] gratmoAldo opened #11710 "Update event for q-toggle passes different targets"
Greetings!
I've been trying to capture status changes for q-toggle, using @update:model-value, so I can take actions with a custom function.

The problem is that the custom function receives the JS event object, but the 'target' references the toggle 'thumb', rather than the toggle itself.
In the custom function, I need to be able to retrieve the toggle name or id so I know what to do with it.

Co

[2021-12-16 20:47] pdanpdan commented on #11710
To put it in apple's terms, you are holding it wrong :)
https://jsfiddle.net/a3suj25f/
The event is the DOM event that triggered the change.
If you want to do something you don't need the DOM, you have the model.

[2021-12-16 20:47] #11710 closed, assigned to nobody

[2021-12-16 21:42] gratmoAldo commented on #11710
@pdanpdan Thank you! That makes total sense.

[2021-12-17 15:49] hawkeye64 commented on #11707
@ivanjaros typically I use a parent div around QScrollArea. I give that one width and height. Then on the QScrollArea, I use the class `fit`. Because QScrollArea is intended to be a scroll area, it can't make any assumptions about the height based on the content. It needs to know the height, either directly or indirectly via a parent.

[2021-12-18 08:31] iliubinskii opened #11716 "Problem with Quasar compiling test files when running dev server"
**Describe the bug**

1. Compiling test files is bad idea itself. It slows down starting dev server.

2. Dev server reports error in test file:
![Screen](https://user-images.githubusercontent.com/70687432/146634545-054f410d-5d11-4b7a-83c8-14e004d721dd.jpg)
but I see this error NOwhere else including:
a) In VSCode editor
b) When running tsc from command line
c) When running jest tests

Actually, I

[2021-12-18 08:49] iliubinskii commented on #11716
NOTE:

If I edit "options" in tsconfig.ts:
[code]
dev server stops showing error.

So, the problem is that quasar.conf.js somehow ignores configFile option:
[code]

The expected behavior:
When I set ts configuration file quasar should STOP using tsconfig.json and use what I set.

[2021-12-18 16:09] AlaaDq opened #11717 "Adding Vite Support"
add a way to use Vite With Quasar V2

[2021-12-18 16:09] #11717 closed, assigned to nobody

[2021-12-18 16:11] MilosPaunovic commented on #11717
There already is a great `Vite` support.
Check this out: [https://quasar.dev/start/vite-plugin](https://quasar.dev/start/vite-plugin)

[2021-12-18 16:12] 0xBiriyani commented on #11717
https://github.com/quasarframework/quasar/blob/dev/ROADMAP.md#q1-2022

[2021-12-18 16:12] AlaaDq commented on #11717
thanks i just noticed it

can i migrate existing project to use vite?

[2021-12-18 16:41] dumdum7 commented on #7474
Which solution is there for Qv1? As far as I can tell, no solution regarding this issue was merged.

Is there something about Quasar v2 that makes this impossible to resolve?

Anyway, if it's not fixed, and development is still ongoing (commits being added), shouldn't the issue stay open?

[2021-12-18 16:49] pdanpdan commented on #7474
For Q1 you can use my unofficial builds.
https://github.com/pdanpdan/quasar/releases

On your risk :)

[2021-12-18 17:01] carlosaroca opened #11718 "Camera Permission Quasar + Cordova"
When I use the camera I can check if the permission is allow but I cant request in case this permission is not allowed, I use vue-qrcode-reader package for this. Si how I can request the permission?  I just need execute this alert and save

![image](https://user-images.githubusercontent.com/42590499/146649416-1e2d0e75-9295-4a00-a175-d86bc12ccf5e.png)

![image](https://user-images.githubusercontent

[2021-12-18 17:59] #11718 closed, assigned to nobody

[2021-12-18 18:37] dumdum7 commented on #7474
Why isn't the fix also in official builds?

[2021-12-19 05:08] carlosaroca opened #11724 "Use Cordova plugins in Vue File not works"
### Discussed in https://github.com/quasarframework/quasar/discussions/11723

<div type='discussions-op-text'>

<sup>Originally posted by **carlosaroca** December 19, 2021</sup>
When I try to use Cordova in file allways show error **"Uncaught (in promise) ReferenceError: cordova is not defined"** Im use like this with Quasar 2..3 but this not works.

I try other ways but not works any. Please some

[2021-12-19 09:15] pdanpdan commented on #11724
Hello. The code is meaningless, sorry. Wait for help in your discussion thread, and try to add some details there.

[2021-12-19 09:15] #11724 closed, assigned to nobody

[2021-12-19 09:51] iliubinskii opened #11729 "How to add custom scss variable that depends on quasar variable?"
**Is your feature request related to a problem? Please describe.**

I want to add the following custom variable:
[code]

However, when I add it to quasar.variables.scss file I get "SassError: Undefined variable" for $space-lg inside quasar.variables.scss.
So, I can't use quasar variable $space-lg inside quasar.variables.scss.

If I add it to app.scss I get "SassError: Undefined variable" for $page

[2021-12-19 10:01] pdanpdan commented on #11729
`quasar.variables.scss` is loaded before the variables in quasar so that you can change their default value.
You should be able to use all variables and add new variables inside `app.scss`.
Can you show how are you trying to use them?

[2021-12-19 12:55] BenAlbin opened #11730 "QDate: Allow the ability to set editing range based on the currently hovered date."
**Is your feature request related to a problem? Please describe.**
On the QDate date picker, I'd sometimes like to be able to select a range with a defined length, for example the current week. So if a day is moused over it will set the editing range to that day's week. Essentially right now I have a date picker where I'll set my modelValue to a range based on the date emitted in a non-range QDate

[2021-12-19 16:08] joppehoekstra opened #11732 "Color picker: different icon set"
**Is your feature request related to a problem? Please describe.**
Currently, it is not possible to change the icons for the [color picker](https://quasar.dev/vue-components/color-picker) (in the three tabs in the bottom). This is problematic if you use a different icon set and do not want to load the default icon set as well.

**Describe the solution you'd like**
Add the possibility to set custom

[2021-12-19 16:41] yusufkandemir commented on #11732
Hi, you can adjust the icon set, `colorPicker` has `spectrum`, `tune`, and `palette` properties, for adjusting the three tabs you pointed at. You can take a look at this example configuration(`svg-material-icons`):
https://github.com/quasarframework/quasar/blob/dd65e38ed9aa4adaa2197a993b7192d13606aba4/ui/icon-set/svg-material-icons.js#L95-L99

You can use one of the pre-configured `iconSet`s, and

[2021-12-19 16:41] #11732 closed, assigned to nobody

[2021-12-20 01:20] damms005 commented on #6775
I also find this useful: [https://tailwindcss.com/docs/configuration#selector-strategy](https://tailwindcss.com/docs/configuration#selector-strategy)

[2021-12-20 06:04] panhezeng opened #11738 "quasar plugins meta supports array types, guaranteed loading order"
quasar plugins meta supports array types as soon as possible, so as to ensure the loading order, hopefully the same as vue-meta.

[code]

for in object no guarantee of traversal order

[code]
Change to
[code]

refer to

https://vue-meta.nuxtjs.org/api/#script

[code]

[2021-12-20 07:20] grigoreme commented on #2233
Your solution will match each time the error message contains any letter that was not defined in the string 'ResizeObserver loop limit exceeded'
Example: `resizeObserverLoopErrRe.test('i')` will return true because I is contained inside the regex [].
![image](https://user-images.githubusercontent.com/25903855/146727504-54633494-7e3f-46fa-86f6-3b6aead91ded.png)

Also, you should return true in any

[2021-12-20 08:53] iliubinskii commented on #11729
Hi,

I have added reproduction repository:
https://github.com/ilyub/repro-custom-scss

It has 3 commits:
1. In 1st commit I add $my-var variable to quasar.variables.scss and use it in index page.
2. In 2nd commit I am trying to use $space-xl, but it causes error because $space-xl is unavailable.
3. In 3rd commit I am trying to move $my-var to app.scss but it becomes unavailable inside index page c

[2021-12-20 19:59] test4appdev1 opened #11741 "Add file reorder function to "Uploader" for multiple files"
When I choose multiple images, I want to reorder the images. Can you add this function to "Uploader"?

[2021-12-21 02:15] sinbino commented on #11049
QScroller does not support vue3...

[2021-12-21 03:09] maicss opened #11743 "Table sticky header scrollbar"
**Is your feature request related to a problem? Please describe.**
Component `q-scroll-area` provides a consistent style, which is very good.
So I set some global style:
[code]
When I set the component Table a fixed header, there is no scrollbar, and I can't add a `q-scroll-area` to it.
Can we add `q-scroll-area` to a sticky header Table?

**Describe the solution you'd like**
A prop like `sticky-s

[2021-12-21 07:36] bake09 commented on #7541
@pdanpdan @slowaways
Thank you for the codepen Example:
I forked your Pen and try to add a "click-outside to close" functionallity...
- I used a additional div at the bottom
- add z-index to the card and div.
- try to give a dynamic background transistion due rgba

@pdanpdan Can you give a look please?
is this good practice?

https://codepen.io/bake09/pen/jOGLyya

Thanks very much

[2021-12-21 08:02] pdanpdan commented on #7541
LGTM, just a few tweaks: https://codepen.io/pdanpdan/pen/yLzogKq?editors=1010
- hide backdrop when in handler mode
- order backdrop first and drawer second so you don't need zIndex

[2021-12-21 09:53] jmsuresh commented on #11676
Yes. Currently the content is as below:

publicPath | String | Public path of your app. By default, it uses the root. Use it when your public path is something else, like “<protocol>://<domain>/some/nested/folder” – in this case, it means the distributables are in “some/nested/folder” on your webserver.
-- | -- | --

[2021-12-21 09:58] iljaverba00 commented on #6950
This solution doesn't work. There is no lazy property in the quasar project in q-tree.
https://github.com/quasarframework/quasar/commit/300fb92fc396de4ab6f05ea78975a0371291f1b7#diff-387b9b62424fed6c9add037b377c07e02f3deca0d50edeb2a415defd12f0e9bb

[2021-12-21 09:59] MilosPaunovic commented on #11676
| Property   |      Type      |  Description |
|:----------|:-------------|:------|
| publicPath | String | Public path of your app. By default, it uses the root. Use it when your public path is something else, like “<protocol>://<domain>/some/nested/folder” – in this case, it means the distributables are in “some/nested/folder” on your webserver. |
| vueRouterBase |    String   |   Force vue rout

[2021-12-21 13:28] felexkemboi commented on #1901
I got a way out of this, I don't know if it is exactly what you guys are suggesting
`:input-style="{ color: 'white' }"`

[2021-12-21 13:35] firibz commented on #6714
Hello, I tried these and none of them work:
(pkg quasar v2.3.3
pkg @quasar/app v3.2.3)

`build: {
    rtl: { source: 'rtl' },
    }, `

`build: {
    rtl: { fromRTL: true },
    }, `

[2021-12-21 14:53] namespace-github commented on #2709
@rstoenescu This problem I have with Quasar 2.3.4. Can it be that the problem exists again? The next tab is marked as "selected" although the route change was prevented.

[2021-12-21 18:05] rstoenescu commented on #2709
@namespace-github can you create a codesandbox or a codepen or a repo so I can play with your setup pls?

[2021-12-21 23:47] hawkeye64 commented on #11743
First, you can't break a table. It has very consistent usage. You can only add other elements to a cell, but that cell can be the width of a row, etc.

Second, with that in mind this will break SSR during rehydration.

There are ways to target the table's scrollbar, although not so much with Firefox.

[2021-12-21 23:48] hawkeye64 commented on #11049
It does not and will likely be deprecated.

[2021-12-22 01:14] maicss commented on #11743
Yes, but not with consistent style and behavior.

Still thanks.

[2021-12-22 07:59] namespace-github commented on #2709
@rstoenescu Thank you for the quick response.

Here is the behavior in codesandbox: https://codesandbox.io/s/musing-moore-dj725

If you uncheck `Allow route change`, then the route change in the pages becomes prevented in `beforeRouteLeave`  by `next(false)` (https://router.vuejs.org/guide/advanced/navigation-guards.html#in-component-guards). Then the `<q-tabs />` will show the route change, that

[2021-12-22 11:49] maicss commented on #11743
How about use multi `table` elements simulate a table?
Like one for header, one for tbody.
Virtual scroll mode need it too.

[2021-12-22 12:32] Hoppi164 opened #11749 "Disabled buttons still fire v-touch-repeat events"
**Describe the bug**

Disabled buttons still fire v-touch-repeat events
* A button is disabled by `:disable="true"`
* This button has a v-touch-repeat event on it
* This event fires when clicking the button, even though the button is disabled

Expected Behavior:
* Button SHOULD trigger an event if it is ENABLED
* Button SHOULD NOT trigger an event if it is DISABLED

Actual Behavior:
* Button trigg

[2021-12-22 12:34] pdanpdan commented on #11749
Hello. The disabled button does not trigger the click event. You are using a directive that has nothing to do with the button and it's disabled state.
Disable the directive in sync with the button's disable state.

[2021-12-22 12:34] #11749 closed, assigned to nobody

[2021-12-22 12:37] HamrerasSlimane commented on #11650
OK thank you its walking with
/ * webpackInclude: /(ar|fr|en-US)\.js$/ * /

for more consulted
https://webpack.js.org/api/module-methods/#magic-comments

[2021-12-22 13:45] matthiasmoier opened #11753 "Option to add state-based classes to `q-toggle` and `q-btn-toggle`"
**Is your feature request related to a problem? Please describe.**
I’d like to have an easy way to edit/enhance the styling of `q-toggle` and `q-btn-toggle` items based on their current state. The provided possibilities are sufficient for most use cases but are pretty limited (to colors) none the less. I get into the situation that I’d like to have enhanced styling besides the colors for the diffe

[2021-12-22 13:58] Evertvdw opened #11754 "QSelect throws error when using a function for `option-value` and initial model `null`"
**Describe the bug**
An error is thrown when using a function as `option-value` together with a starting model value of `null`. If the initial model is an empty string there is no error and everything works as expected.

**Codepen/jsFiddle/Codesandbox (required or your issue may be closed)**
https://codepen.io/Evertvdw/pen/BawwNMy?editors=1010

**To Reproduce**
Steps to reproduce the behavior:
1.

[2021-12-22 14:15] Hoppi164 commented on #11749
My apologies, there seems to be some confusion..

I've created a codepen to illustrate the issue a bit better.

https://codepen.io/DrewDrew164/pen/bGoodBP?editors=1011

Steps to reproduce:
(On Windows)
* Navigate to `https://codepen.io/DrewDrew164/pen/bGoodBP?editors=1010`
* Set the slider to value 5
* Using the mouse: click and hold the red subtract button
* Notice that the touch-repeat directive

[2021-12-22 14:15] pdanpdan commented on #11754
the function should check what value it gets and return the proper response
https://codepen.io/pdanpdan/pen/MWEEaJr?editors=1010

I agree the example in the docs (API card) is not good :)
[code]

[2021-12-22 14:33] pdanpdan commented on #11749
Yes, it is expected - the directive does not know (and does not care) about the state of the element it works on
You must disable the directive when the button is disabled: https://codepen.io/pdanpdan/pen/jOGGbRz?editors=1011
It is a side effect that when the button is disabled a new click/click+hold with the mouse on the disabled button does not trigger the event - a disabled button does not allo

[2021-12-22 15:26] rfox12 opened #11758 "QTree: Add a slot for "no results""
**Is your feature request related to a problem? Please describe.**
I'd like to customize the "no results" when a QTree filter results in no nodes being selected.  I know we have the `no-results-label` attribute--but that does not allow me to add buttons and such to help my end user.

**Describe the solution you'd like**
Put the existing `no-results-label` into a `no-results` slot as the default co

[2021-12-22 15:51] rfox12 commented on #11758
Nevermind I need to do my own filtering anyway...

[2021-12-22 15:51] #11758 closed, assigned to nobody

[2021-12-22 16:16] tmotagam opened #11759 "Unable to load electron preload script"
**Describe the bug**
The preload script in the electron mode is loading correctly when I am enabling the sandbox mode in the electron

**Electron v 16.0.5**

**Expected behavior**
The preload script should load when the sandbox mode is enabled

**Screenshots**
![Screenshot 2021-12-22 213503](https://user-images.githubusercontent.com/63451837/147122533-2e727eb4-f434-4ef4-aeb6-669673f3201d.png)
![Sc

[2021-12-22 21:26] Hoppi164 commented on #11749
Oh, that's the expected behaviour?
Okay my apologies.

Thanks for your help and clarification Dan.
Have a great day :D

[2021-12-22 21:40] hawkeye64 commented on #11759
@tmotagam This works in this project: https://github.com/hawkeye64/electron-quasar-file-explorer-v2/blob/main/src-electron/electron-main.js#L34
Fork it and see if it builds for you. I am wondering if it has anything to do with your environment?

[2021-12-23 03:29] ghost commented on #7885
hope too

[2021-12-23 06:21] ltbyun opened #11766 "dark mode not work"
**Describe the bug**
dark mode do nothing

**Codepen/jsFiddle/Codesandbox (required or your issue may be closed)**

**To Reproduce**
Steps to reproduce the behavior:
1. create app
[code]
2. edit quasar.conof.js as follows
[code]
3. run, the ui is still in light mode
`quasar dev`

**Expected behavior**
ui change to dark

**Screenshots**

**Platform (please complete the following information):**
Qua

[2021-12-23 06:29] MilosPaunovic commented on #11766
You should pass a `Boolean` value, as stated in the docs:
[https://quasar.dev/quasar-plugins/dark#through-quasar-conf-js](https://quasar.dev/quasar-plugins/dark#through-quasar-conf-js)

[code]

[2021-12-23 07:06] ltbyun commented on #11766
@MilosPaunovic it works, it's my fault

[2021-12-23 07:06] #11766 closed, assigned to nobody

[2021-12-23 07:47] pdanpdan opened #11767 "QSelect's weird bug that would break the focus function (e.g. autofocus directive)"
### Discussed in https://github.com/quasarframework/quasar/discussions/11748

<div type='discussions-op-text'>

<sup>Originally posted by **guogangj** December 22, 2021</sup>
QSelect has a feature that handles the enter key. I found a bug about the enter key. Focus on a QSelect component then press the enter key very quickly, then the QSelect will show and hide the option list very quickly. It see

[2021-12-23 07:50] tmotagam commented on #11759
@hawkeye64 I did what you asked but the error is persisting if I use app.enableSandbox() or sandbox flag in the electron-main.js file during dev mode or production.

But the error is removed if I do not use the sandbox flag or the app.enablesandbox()

[2021-12-23 08:21] hinogi opened #11768 "[Suggestion] Add Quality Gate/Static Analysis to the repo"
Have you thought about adding something like deepsource or sonarqube as a github action to the repo to have some overview about possible shortcomings of the code or development trends of bug amount or so?

[2021-12-23 08:23] hinogi commented on #11768
this is what deepsource is reporting for example. Will also give new contributors a chance to fix some easy stuff ;)
![image](https://user-images.githubusercontent.com/4602609/147210918-7461e06e-aa0d-48d6-beef-6e7c18cc8859.png)

[2021-12-23 08:28] #11768 closed, assigned to nobody

[2021-12-23 09:18] joppehoekstra commented on #11139
I would love to see this in a future release! Google is still working on their web implementation: https://github.com/material-components/material-web

[2021-12-23 14:10] yusufkandemir commented on #8493
Hi, thanks for the issue report 👍 Breaking changes are thoroughly documented. The only concrete example you gave is QLayout's `@scroll`, which has been documented ~1 month before this issue got created, in this commit: https://github.com/quasarframework/quasar/commit/d4cd48b26cbb9b95fbc583bcda7bb661522199ba#diff-64330052e9b5078f86f2422d71439b0a2e639765f3e7c60a38b81d4cedb4a01cR345-R346
So, if you f

[2021-12-23 14:10] #8493 closed

[2021-12-23 15:42] #11494 closed, assigned to nobody

[2021-12-23 16:07] hawkeye64 commented on #11759
@tmotagam I added `sandbox: true` and get the same thing. Yet, the app still works, so the preload script is obviously loaded (from something/somewhere else?) as the app still works.

This is beyond a Quasar issue as I feel there's nothing we can do to resolve this. I would suggest you start a communication with the Electron folks.

[2021-12-23 16:07] #11759 closed, assigned to nobody

[2021-12-23 20:42] birkanucan commented on #11169
I also observe this behaviour on quasar.dev (sections that have q-drawer-container on the right side e.g. https://quasar.dev/vue-components/ajax-bar)
I'm on win 10, 4k, scale: 150%. I see it on chrome and edge when window is maximized and on certain points when I drag and change window size from the corner, doesn't seem to happen on firefox dev edition at all.
It stops blinking when I remove scrol

[2021-12-24 02:21] ltbyun opened #11772 "compile and pack electron main thread js files in order to reduce the size of app.asar"
**Is your feature request related to a problem? Please describe.**
i add nothing to dependencies in  package.json  except render dependencies such as follows:
[code]

after execute `quasar build  -m electron`, all my files in src folder and render dependencies is compiled and repackaged to  `dist/electron/UnPackaged/js` folder. so, just need to add all files in `dist/electron/UnPackaged/js/` to ap

[2021-12-24 02:58] maicss opened #11774 "QForm support dense prop"
**Is your feature request related to a problem? Please describe.**
If I need a dense form, each form item needs a `dense` prop.

**Describe the solution you'd like**
Add a dense prop in QForm, each form item inherit from it's parent -- QForm.

**Describe alternatives you've considered**
No.

**Additional context**
No.

[2021-12-24 14:45] vkurko commented on #4142
This is a very common case when you have multi-line hints, especially in multilingual applications, where the translation of a phrase can be much longer than the English version.

In Vuetify multi-line hints work fine.

Please provide a solution in Quasar.

[2021-12-24 18:36] hawkeye64 commented on #11169
I think you can just remove `scroll`. Does your drawer also contain a QScrollArea?

[2021-12-25 01:01] #10184 closed, assigned to nobody

[2021-12-25 11:43] jra11 opened #11782 "[BEX] Content iFrame injection as described in the docs leads to background hooks executing twice"
Hi,

I am not sure of my report as BEX is not really my taste of tea, so forgive me if I miss something obvious.

Implementing the ["Web Page" part here](https://quasar.dev/quasar-cli/developing-browser-extensions/types-of-bex) leads to unexpected results (tested on the latest version of Quasar, a fresh instance).

The issue seems that by injecting "index.html" in the iFrame, the background-hooks

[2021-12-25 15:23] birkanucan commented on #11169
I'm not working on an application, the comment I've quoted is not mine. 😅 I was just checking the docs (quasar.dev) and came upon it. But yes, it seems it does. https://i.imgur.com/FiINF4L.gif

[2021-12-25 15:41] sinbino opened #11784 "Typescript build error in v2.4.0"
**Describe the bug**
Typescript build error in v2.4.0

**Codepen/jsFiddle/Codesandbox (required or your issue may be closed)**
Due to typescript build error, reproduction by Codepen is not applicable.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the guide below to create a project
    https://quasar.dev/start/vite-plugin
2. Create a production build with "yarn build" command
3. Get

[2021-12-25 15:51] hawkeye64 commented on #11169
What your zoom level for your monitor?
@birkanucan

[2021-12-25 15:53] hawkeye64 commented on #11169
Nvm, I see it above

[2021-12-25 22:13] rstoenescu commented on #11784
Hi,

Thanks for reporting!
Fix will be available shortly (in a few minutes) in Quasar v2.4.1

[2021-12-25 22:13] #11784 closed, assigned to nobody

[2021-12-25 23:07] jra11 opened #11787 "Q-Editor paste event override in the docs not working: each copy-paste is appended twice in the editor"
**Describe the bug**
The "plaintext pasting" code in the docs is not working, either in the included demo in the docs, or in a standalone fresh Quasar installation.

**Codepen/jsFiddle/Codesandbox (required or your issue may be closed)**
Just go on https://quasar.dev/vue-components/editor#plaintext-pasting
Copy-paste a word, the word is added twice in the editor.

**To Reproduce**

1. Go to the Qu

[2021-12-25 23:12] pdanpdan commented on #11787
yep, looks like it's a regression from V1

[2021-12-25 23:14] jra11 commented on #11787
Solved by adding:

[code]

So it seems a docs issue.

[2021-12-26 19:31] Ahriana commented on #9829
just encountered this one on `1.16.3` the style just total breaks when using lt / gt if you fall within that pixel, which is easy to do when you use windows snapping

[2021-12-26 20:30] pdanpdan commented on #9829
I'm sorry, but what kind of broken browsers are you using?
Can you show a screenshot with one of the elements that should not be there visible in the inspector?

[2021-12-26 20:57] githrdw commented on #9829
![image](https://user-images.githubusercontent.com/1455140/147419584-7652a36b-03ea-41e1-b7c5-5a9713f59953.png)
![image](https://user-images.githubusercontent.com/1455140/147419746-d7844af8-d3e1-40fb-8d12-716ecb081737.png)

This is MS Edge and Firefox (latest stable versions for a while).
Not happening in Safari (emulated) though.
In the meantime I discovered that it's only happening when I open my

[2021-12-26 21:54] pdanpdan commented on #9829
Edge 91 is a chrome one or an old trident one?

Can you reproduce it in:
- recent Chrome
- recent Firefox
- recent Edge

Are you using any sort of zoom (in browser, HiDPI or how it is called the scaling in windows)?

All these questions are because:
- I cannot reproduce ir (chrome/edge/firefox on ubuntu and windows 10)
- from the code POV it should not happen (the breakpoint media intervals are co

[2021-12-26 21:57] pdanpdan commented on #9829
Btw, firefox emulation mode is very bad, I would trust more Edge/Chrome/Safari dev tools
Or a firefox without emulation mode (just with inspector opened and sized so that the page has the width you want

And maybe also check in incognito mode with extensions disabled

[2021-12-26 22:04] githrdw commented on #9829
Ah good one! Yes I am using DPI scaling (in Windows 10 and 11), scaled to 125%.
When putting back into 100% this issue disappears, very interesting.
I think some browsermakers / operating system developers should be notified about this lol.

Also;
Reproduced in Chromium-based Edge v96.0.1054.62
Reproduced in Firefox v95.0.2 (64-bits)

Good to know, thanks

[2021-12-26 22:10] githrdw commented on #9829
Just found this in the w3 specs about Media Queries:

https://www.w3.org/TR/mediaqueries-5/#mq-min-max

[2021-12-26 22:15] pdanpdan commented on #9829
ok, we (you) found the problem - I'll take a look at the fix :)
thank you for the help in identification

[2021-12-26 22:16] Ahriana commented on #9829
in my case, the gt- observes this issue also, say you have gt-sm and u sit on that 1px boundary gt- wont work at all, but col-sm functions as normal

i observed this on latest chrome and edge

[2021-12-26 22:47] douglasg14b opened #11788 "[Bug] [Mobile] [v1 & v2] QExpansionItem becomes focus styled on mobile when tapped, it does not on desktop"
**Describe the bug**
The expansion item header becomes focus styled on mobile when tapped, this behavior is not present on desktop.

**Codepen/jsFiddle/Codesandbox (required)**

* https://quasar.dev/vue-components/expansion-item
* https://codepen.io/douglasg14b/pen/OJxzLJQ?editors=101
   * Note: Codepen breaks on mobile for me and doesn't display the behavior... your mileage may vary?)

**To Repro

[2021-12-26 22:49] douglasg14b commented on #11788
This is quite annoying since we don't seem to have control over the `q-item` the header is wrapped in. And the focus opacity styling really messes with the look & feel of expansion items, even moreso on mobile where the styles are more sensitive.

If we had the ability to omit/toggle the  `q-focusable` and `q-hoverable` classes as a prop, that would work well.

[2021-12-26 22:53] pdanpdan commented on #11788
Are you sure you are testing on mobile, or that you refresh after changing the emulation from desktop to mobile?
The platform detection only runs once on load.

[2021-12-26 22:54] #11788 closed, assigned to nobody

[2021-12-27 03:34] rfox12 opened #11792 "Right-click and touch-hold options for QTree"
I'm trying to create a context menu that is dependent on the type of node that the user is activating in my QTree.  Today, however, only a left click can select a tree node.  The QTree "handler" also only works with a left click.

The result is that I cannot customize my context menu in my menu's @before-show method--because the node selection does not occur first.

**Describe the solution you'd l

[2021-12-27 04:50] rfox12 commented on #7561
+1 for this.  Potentially an accessibility issue.

[2021-12-27 05:05] rfox12 commented on #11792
Figured out vue uses @contextmenu to represent right-clicks; but there are still gaps in my click-able spaces when using header and body templates.  The @contextmenu should ideally be higher up in the DOM for each node

[2021-12-27 05:55] vijay-singh-16 opened #11793 "@openid/appauth integration not working when migrating to Quasar v2 from Quasar v1"
Hi! fellow devs. We are using awesome Quasar v1 with capacitor mode to develop Android and IOS apps. Everything is working well. Recently we started migration to Quasar v2. Most things are working as expected with little tweaks here and there but we are not able to make the [@openid/appauth](https://github.com/openid/AppAuth-JS) to work.

Initially it was showing these build errors:

most of which

[2021-12-27 06:12] #11792 closed, assigned to nobody

[2021-12-27 06:49] rstoenescu commented on #11787
Thanks for reporting.
Fixed example will be available on next docs deployment

[2021-12-27 06:49] #11787 closed, assigned to nobody

[2021-12-27 07:11] rstoenescu commented on #4142
@vkurko
<img width="537" alt="image" src="https://user-images.githubusercontent.com/4665641/147445087-3ae15b46-cbd8-4cff-8c80-ef0830cee67f.png">

[2021-12-27 07:58] MilosPaunovic commented on #11793
Have you tried the default solution - to remove `node_modules` and `package-lock.json` and do a fresh dependency install?